<footer class="uk-flex so-footer">
  <div class="so-footer__logo">
    <a href={{macroGetOwnConfig "eGovPortalURL"}} target="_blank" rel="noopener noreferrer">
      <img src="/assets/images/logo-my.so.ch-footer.png" alt={{t "so-footer.e-gov-title"}}>
    </a>
  </div>
  <div>
    <ul class="so-footer__nav">
      <li><a href="https://so.ch/ebau">{{t "nav.faq"}}</a></li>
      <li><a href="https://so.ch/ebau">{{t "so-footer.contact"}}</a></li>
    </ul>
  </div>
</footer>