{{#camac-input 'art-des-vorhabens' instance=model}}
  <h4>Kategorisierung des Vorhabens</h4>
{{/camac-input}}

{{#camac-input 'vorgesehene-nutzung' instance=model}}
  <h4>Vorgesehene Nutzung</h4>
{{/camac-input}}
