/* form
 ******************************************************* */
.form-wrapper {
  margin: 10px 0 0; }

label.name, label.note {
  font-size: 12px;
  padding: 0 0 0 5px;
  display: block; }

label.note {
  padding-top: 5px;
  font-style: italic;
  clear: both; }

.element {
  margin: 5px 0;
  display: flex; }
  .element .column-1 {
    flex: 0 0 275px; }
  .element .column-2 {
    flex: 1 0 380px; }

.wide-column {
  width: 100%;
  padding: 5px;
  float: right;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

input.date {
  width: 70px; }

img.parcelPicture {
  max-width: 100%; }

.element select {
  width: 100%; }
.element textarea, .element input[type=text], .element input[type=password] {
  box-sizing: border-box;
  width: 100%; }

.custom input.text, .custom textarea {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

fieldset {
  padding: 0;
  margin: 0 0 20px 0;
  border: 0; }

.section {
  margin: 20px 0 0;
  width: 100%; }
  .section h2 {
    margin: 0 0 10px; }
  .section legend {
    width: 100%;
    background-color: #92b440;
    color: white;
    font-weight: bold;
    padding: 5px; }

.checkbox {
  margin: 0; }

label input.radio, label input.checkbox {
  margin: 2px 5px 2px 0; }

.form-header label {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0 10px 2px; }

/* error */
.mandatory {
  color: #ff0000; }

ul.errors {
  padding: 0;
  list-style: none;
  color: #ff0000;
  margin: 2px 0; }

.element.error, .element.error:nth-child(2n+1) {
  background: #f0d3d3; }

div#element-no_csrf, dd#no_csrf-element {
  display: none; }

/* button */
.actions, .buttons {
  padding: 10px;
  padding-left: 0;
  margin-bottom: 5px; }

fieldset.buttons {
  width: 100%; }

.button:disabled {
  color: #aaaaaa; }

#fieldset-buttons .element:nth-child(2n+1) {
  background: transparent; }
#fieldset-buttons .element {
  padding: 0; }
#fieldset-buttons .column-2 {
  width: 100%; }

/* form */
#page-label {
  font-size: 14px;
  font-weight: bold; }

#select-pages, #fieldset-page {
  width: 100%;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #CBCBCB;
  line-height: 20px; }
  #select-pages select, #fieldset-page select {
    width: 100%; }

#fieldset-buttons {
  margin: 0 0 5px; }

#fieldset-pages .element {
  background: transparent; }
#fieldset-pages .column-2 {
  padding: 0;
  width: 100%; }

select.multi-select {
  width: 100%;
  height: 120px; }

/* read form */
.read-form dt {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px; }

.radio-icon {
  width: 14px;
  height: 14px; }

/* circulation form */
/* automatic */
.circulation .form-wrapper {
  margin-top: 20px; }
.circulation fieldset {
  margin: 5px 0; }
  .circulation fieldset legend {
    padding: 0;
    font-size: 12px;
    font-weight: bold; }
.circulation fieldset.chapter:last-child {
  margin-bottom: 30px; }
.circulation fieldset.service-group {
  margin: 20px 0 0;
  position: relative; }
  .circulation fieldset.service-group legend {
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #333; }
.circulation fieldset.chapter {
  width: 100%;
  border-bottom: 1px solid #333;
  padding-top: 25px;
  position: relative;
  margin-bottom: 0px;
  float: left;
  position: relative; }
  .circulation fieldset.chapter legend {
    position: absolute;
    top: 3px; }
.circulation .element {
  width: 20%;
  float: left;
  padding: 0;
  min-height: 38px; }
  .circulation .element .column-1,
  .circulation .element .column-2 {
    padding: 0 5px 5px 0; }
  .circulation .element .column-1 label {
    padding: 0; }

.read-circulation .element:nth-child(1),
.read-circulation .element:nth-child(2),
.read-circulation .element:nth-child(3),
.read-circulation .element:nth-child(4) {
  width: 100px; }
.read-circulation .element:nth-child(5) {
  width: 240px; }
.read-circulation .element:nth-child(6),
.read-circulation .element:nth-child(7) {
  width: 74px; }

.edit-circulation .element:nth-child(4),
.edit-circulation .element:nth-child(11) {
  width: 30px;
  float: right; }
.edit-circulation .element:nth-child(6),
.edit-circulation .element:nth-child(7) {
  width: 100px; }
.edit-circulation .element:nth-child(8) {
  width: 240px; }

#element-new_circulation {
  padding-top: 17px; }

#fieldset-pages .form-wrapper {
  margin: 0; }

#element-circulation_page,
#element-new_activation {
  width: 50%;
  float: left; }

#element-circulation_page .column-1 {
  padding: 0; }

#element-new_circulation {
  float: right;
  text-align: right; }

.proposal {
  color: #875e1e;
  background: #f0e75c; }

.proposal-note {
  width: 12px;
  height: 12px;
  margin: 0 5px 0 0;
  float: left;
  background: #f0e75c;
  border: 1px solid #875e1e; }

/* manual */
.circulation table {
  margin-bottom: 40px; }
.circulation h2 {
  margin-bottom: 10px; }
.circulation .actions {
  min-height: 32px;
  line-height: 32px; }

.edit-circulation th.table-column-1,
.edit-circulation th.table-column-4 {
  width: 200px; }
.edit-circulation th.table-column-2,
.edit-circulation th.table-column-3 {
  width: 90px; }
.edit-circulation th.table-column-7 {
  width: 30px; }

tr.proposal td {
  color: #875e1e;
  background: #f0e75c; }

tr:nth-child(2n).proposal td {
  color: #875e1e;
  background: #f0e75c; }

.create-new-circulation {
  float: right; }

.editable-reason {
  width: 100%; }

.read-circulation th.table-column-1,
.read-circulation th.table-column-4 {
  width: 200px; }
.read-circulation th.table-column-2,
.read-circulation th.table-column-3,
.read-circulation th.table-column-5 {
  width: 65px; }
.read-circulation th.table-column-6 {
  width: 160px; }
.read-circulation th.table-column-4 {
  width: 110px; }
.read-circulation #fieldset-pages {
  margin-bottom: 20px; }

/* answer color */
.answer {
  padding: 3px 5px;
  display: block;
  width: auto; }

.answer-id1 {
  background-color: #ADD6FF; }

.answer-id2 {
  background-color: #CCFFCC; }

.answer-id3 {
  background-color: #FFE6B2; }

.answer-id4 {
  background-color: #FFCCCC; }

a.answer:hover {
  text-decoration: underline; }

/* read circulation */
.read-circulation .form-wrapper {
  margin: 0 0 20px; }

/* letter form */
.letter .column-1 {
  width: 100px; }
.letter .column-2 {
  width: 689px; }

/* notice form */
.form-notice #element-reason .column-2 {
  color: red; }
.form-notice .column-1 {
  width: 25%; }
.form-notice .column-2 {
  width: 75%; }
.form-notice .column-2 p {
  margin-top: 0; }
.form-notice .tinymce-readonly {
  height: 320px; }

/* glossary form */
.glossary .column-1 {
  width: 150px; }
.glossary .column-2 {
  width: 639px; }

/* error form */
.form-error table {
  margin-bottom: 40px; }
.form-error h2 {
  margin-bottom: 10px; }
.form-error th.table-column-1 {
  width: 300px; }

a.error-link {
  display: block; }

/* read circulation */
.form-error .form-wrapper {
  margin: 0 0 20px; }

/* login form */
.login label {
  padding: 0; }
.login .column-1 {
  width: 200px; }
.login .column-2 {
  width: 260px; }
.login .actions {
  text-align: right; }

/* tinyMCE */
/* icomoon fix */
.mce-btn-small .mce-ico.mce-i-icomoon {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering */
   * -webkit-font-smoothing: antialiased */
  -moz-osx-font-smoothing: grayscale; }

.mce-i-icomoon.icon-file {
  font-size: 13px;
  padding: 3px 0 0 3px; }

/* wizard */
.wizard #fieldset-buttons {
  width: 100%;
  clear: both;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* captcha */
#element-captcha {
  margin-top: 30px; }
  #element-captcha .column-1 {
    padding: 0; }
  #element-captcha label.name {
    padding: 0;
    font-size: 18px;
    font-weight: bold; }

#captcha-container img {
  display: block;
  margin: 0 0 5px; }

.formmessage {
  color: red; }

.edit-notice .mandatory {
  display: none; }

.edit-notice-button-note {
  color: red;
  padding: 5px; }

.input-prefix {
  display: flex;
  align-items: center;
  width: auto; }
  .input-prefix span {
    flex-basis: 50px;
    border: 1px solid #999;
    border-right: 0;
    background-color: #eee;
    display: flex;
    padding: 0 5px;
    font-size: 13.3333px;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

/* styles only for camac (not for portal)
 ******************************************************* */
.button, input[type=submit], input[type=button] {
  background: url("../images/buttonMiddle.png") 0 -1px;
  color: #555;
  border: none;
  display: inline-block;
  font-size: 11px;
  font-family: Arial;
  font-weight: bold;
  height: 22px;
  margin-right: 7px;
  padding: 0 5px;
  vertical-align: middle;
  line-height: 22px; }

/*# sourceMappingURL=form.css.map */
