<span>
  <UkIcon @icon="file-text" class="uk-margin-small-right" />
  {{@file.name}}
</span>
<button
  type="button"
  class="uk-icon-button"
  uk-icon="trash"
  data-test-remove-attachment
  {{on "click" (fn @removeFile @file)}}
></button>
