.master-data-header {
  overflow: hidden;
  max-height: 700px;
  transition-property: max-height, opacity;
  transition-duration: $animation-duration;
  transition-timing-function: ease-out;
  opacity: 1;

  @media (min-width: $breakpoint-small) {
    max-height: 500px;
  }

  @media (min-width: $breakpoint-medium) {
    max-height: 400px;
  }

  @media (min-width: $breakpoint-large) {
    max-height: 330px;
  }

  &--hidden {
    max-height: 0;
    opacity: 0;
  }
}

.master-data-divider {
  display: flex;
  justify-content: flex-end;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid $border-color;
    transition: border-color $animation-duration ease-out;
  }

  &--hidden {
    &::before {
      border-color: transparent;
    }
  }

  &__toggle {
    text-transform: initial;
    color: $global-primary-background;
    border-bottom: 1px solid $global-primary-background;
    z-index: 1;

    &:hover {
      color: $global-primary-background;
    }
  }
}
