.main-navigation.uk-navbar-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: $main-navigation-background;
  box-shadow: $global-small-box-shadow;

  .uk-navbar-nav {
    > li > a {
      color: white;
    }

    > li.uk-active > a {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  .uk-navbar-right li > a {
    text-transform: initial;
  }

  #locale-dropdown {
    min-width: 100px;
  }

  .uk-logo > img {
    width: 100%;
    max-width: $sidebar-width - ($padding-small-padding * 2);
    max-height: 50px;
  }
}
