<h3 class="uk-text-center uk-margin-large uk-margin-large-top">
  {{t "static-content.not-found.case.title"}}
</h3>

<div class="uk-flex uk-flex-center">
  <a
    href={{@model.link}}
    class="uk-button uk-button-primary"
    {{on "click" this.toCaseList}}
  >
    {{t "static-content.not-found.case.action"}}
  </a>
</div>