<button
  class="uk-button-link uk-flex"
  ratio="0.7"
  uk-icon=""
  type="button"
  title={{if (eq @type "link") (t "cases.miscellaneous.linkInstance") (t "cases.miscellaneous.unLinkInstance") }}
  {{on "click" this.toggle}}>
    <img
      class="attachment-icon"
      src="{{if (eq @type "link") "/assets/images/link-instance.svg" "/assets/images/unlink-instance.svg"}}"
      alt={{if (eq @type "link") (t "cases.miscellaneous.linkInstance") (t "cases.miscellaneous.unLinkInstance") }}
    />
</button>