$global-font-family: "Arial", sans-serif;
$global-font-size: 15px;

// Base colors
$global-primary-background: #0069b4;
$global-secondary-background: black;

// Font colors
$global-color: #222;
$global-emphasis-color: $global-color;
$base-em-color: #222;
$global-muted-color: rgb(100 100 100);
$global-link-color: #3387c3;
$global-link-hover-color: $global-primary-background;
$watermark-background-color: #f0506e;

// increase specificity to override uk-text-muted
span.cf-label__mandatory-asterisk.uk-text-muted {
  color: #f0506e !important;
}

span.subnav-header {
  &__label {
    &--read-only {
      background: rgb(180 134 0 / 20%);
      color: #b48600;
      border: 1px solid #b48600;
    }
  }
}
