@import "variables";

@import "ember-uikit";
@import "ember-ebau-core";
@import "power-select";
@import "ember-alexandria";

@import "modules/work-items";

@import "components/work-item-list";

@import "@projectcaluma/ember-form";
@import "@projectcaluma/ember-distribution";

$main-nav-height: 80px;
$sidebar-width: 180px;
$sidebar-padding: 48px;
$border-color: darken($global-muted-background, 10%);

.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid $border-color;
}

.uk-logo img {
  width: 90px;
}

.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: $main-nav-height;
  width: $sidebar-width;
  padding: 12px;
  border-right: 1px solid $border-color;
  text-transform: uppercase;

  li a {
    padding: 10px 0;
  }
}

.main-content {
  margin-top: $main-nav-height;
  padding-top: 1rem;
}

div.uk-container.with-sidebar {
  padding-left: $sidebar-width + $sidebar-padding;
}

.ca-label {
  text-transform: uppercase;
  color: $global-muted-color;
}

.full-screen-content {
  // Plus twice the padding 12px from .nav-sidebar
  padding-left: calc($sidebar-width + 26px);
  margin-top: $main-nav-height;

  & > div {
    height: calc(100vh - $main-nav-height);
  }
}
