@import "variables";

@import "ember-uikit";
@import "ember-alexandria";

$border-color: darken($global-muted-background, 10%);
$main-nav-height: 80px;
$sidebar-width: 240px;
$sidebar-padding: 48px;
$main-navigation-background: $global-primary-background !default;

@import "a11y";
@import "power-select";

@import "modules/alexandria";
@import "modules/work-items";

@import "components/main-navigation";
@import "components/sub-navigation";
@import "components/subnav-header";
@import "components/header";
@import "components/work-item-list";

@import "@projectcaluma/ember-form";
@import "@projectcaluma/ember-distribution";
@import "ember-ebau-gwr";
@import "ember-ebau-core";

.main-content {
  margin-top: $main-nav-height;
  padding-top: $global-margin;
  padding-bottom: $global-margin;
}

.nav-sidebar + .main-content {
  padding-left: $sidebar-width + $container-padding-horizontal;
}

.ca-label {
  text-transform: uppercase;
  color: $global-muted-color;
}

.full-screen-content {
  margin-left: $sidebar-width;
  margin-top: $main-nav-height;

  & > div {
    height: calc(100vh - $main-nav-height);
  }
}

@media (min-width: $breakpoint-small) {
  .nav-sidebar + .main-content {
    padding-left: $sidebar-width + $container-padding-horizontal-s;
  }
}

@media (min-width: $breakpoint-medium) {
  .nav-sidebar + .main-content {
    padding-left: $sidebar-width + $container-padding-horizontal-m;
  }
}
