<div class="uk-flex uk-flex-column uk-flex-middle">
  <img src={{this.data}} alt={{this.url}} class="uk-box-shadow-medium">
  <a class="uk-margin-top" href="" {{on "click" (perform this.download)}}>{{t "qr-code.download"}}</a>
</div>
