<div class="uk-text-center uk-width-3-5 uk-width-2-5@l uk-margin-auto">
  <h2>{{t "notfound.title"}}</h2>
  <p>{{t "notfound.subtitle"}}</p>
  <p class="uk-text-muted">{{t "notfound.link"}}
    <LinkTo @route="index">{{t "notfound.home"}}</LinkTo></p>
</div>