<div class="uk-text-center">
  <h1 class="uk-heading-2xlarge">{{t "notfound.title"}}</h1>
  <h3>{{t "notfound.subtitle"}}</h3>
  <p class="uk-text-muted">{{t "notfound.link"}} <LinkTo @route="index">{{t "notfound.home"}}</LinkTo></p>
</div>