<div class="uk-flex uk-flex-inline uk-flex-middle uk-width-1-1">
    <h3 class="uk-text-muted uk-text-uppercase uk-text-bold uk-width-expand uk-text-truncate uk-margin-small-bottom">
        {{this.constructionStage.displayName}}
    </h3>
</div>

{{outlet}}