<div class="uk-flex uk-flex-inline uk-flex-middle uk-width-1-1">
  <p
    class="uk-text-muted uk-text-small uk-text-uppercase uk-text-bold uk-width-expand uk-text-truncate
      {{if (is-legacy-app) 'uk-margin-small-bottom' 'uk-margin-remove'}}"
  >
    {{this.constructionStage.displayName}}
  </p>
</div>

{{outlet}}