# frontend containers are built from the root to include workspace references
*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.env
!./ember-camac-ng
!./ember-caluma-portal
!./ember-ebau-core
!./ember-ebau
!./ember
!./nginx
**/*.swp
**/node_modules
**/dist
**/build
