.vagrant
cache/
php/cache
php/data
nbproject
*.vpp~*
camac.vpp.*
tmp
*.swp
*.swo
.sass-cache/
tools/software/
*.css.map
FINJA
class_map.php
.venv/
doc/
*.orig
db_admin/uri_database/*.png
.python-version
export.log
postgres-data
.cache
geckodriver.log
php/logs/mails/
.env
.vscode
.~lock*
