*.css.map
*.orig
*.swo
*.swp
*.vpp~*
.cache
.directory
.env
.python-version
.sass-cache/
.vagrant
.venv/
.vscode
.~lock*
cache/
camac.vpp.*
class_map.php
db_admin/uri_database/*.png
doc/
env
export.log
FINJA
form-export.csv
geckodriver.log
nbproject
php/cache
php/data
php/logs/mails/
postgres-data
staticfiles/
tmp
tools/software/
