{{#if this.notifications.all.length}}
  <div>
    {{#each this.notifications.all as |notification|}}
      {{component (concat "notifications/" this.style)
        notification=notification
        onClick=(fn this.remove notification)
      }}
    {{/each}}
  </div>
{{/if}}
