<div>
  {{#each this.notifications.all as |notification|}}
    <div role="button" class="hinweisbox buttonstyle {{notification.type}}" {{on "click" (fn this.remove notification)}}>
      <span class="text">{{notification.message}}</span>
    </div>
  {{/each}}
</div>
