@font-face {
  font-family: "Frutiger-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/FrutigerRomanRegular.woff") format("woff");
}

@font-face {
  font-family: "Frutiger-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/FrutigerRomanBold.woff") format("woff");
}
