/*
WARNING: This file is used in multiple packages of our workspace. If something
changes, it must be adjusted in all of the following files:

- ember-caluma-portal/app/styles/_a11y.scss
- ember-camac-ng/app/styles/_a11y-be.scss
- ember-ebau/app/styles/_a11y.scss
*/

// indicate active state by making the active item bold since we can't do much
// with the color contrast
.uk-tab > .uk-active > a,
.uk-nav > .uk-active > a,
.uk-navbar-nav > .uk-active > a {
  font-weight: 700;
}

// add a bolder active border
.uk-tab:not(.uk-tab-left):not(.uk-tab-right):not(.uk-tab-bottom)
  > .uk-active
  > a {
  box-shadow: inset 0 -1px 0 0 $global-primary-background;
}

.uk-tab.uk-tab-left > .uk-active > a {
  box-shadow: inset -1px 0 0 0 $global-primary-background;
}

// more padding in tabs since the bold active font looks weird otherwise
.uk-tab > * > a {
  padding: 8px 16px;
}

// bold text and labels should be bold
.uk-text-bold,
.uk-form-label {
  font-weight: $base-strong-font-weight;
}

.uk-button[disabled] {
  cursor: not-allowed;
}
