.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

svg.fa-fw {
  max-width: none;
}

.pointer {
  cursor: pointer;
}

.x-toggle-component > .toggle-text {
  text-transform: none !important;
}
