.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

svg.fa-fw {
  max-width: none;
}

.pointer {
  cursor: pointer;
}

.x-toggle-component > .toggle-text {
  text-transform: none !important;
}

.ebau-gwr {
  .ember-ebau-gwr-title-card,
  .ember-ebau-gwr-quarterly-closure-status {
    svg {
      height: 1em;
    }
  }

  .title-card-text {
    font-size: $global-large-font-size;
  }
}
