.project-be {
  .ember-power-select-trigger {
    border: 1px solid #4a81b6;
  }

  .ember-power-select-dropdown {
    border: 1px solid #4a81b6 !important;
    border-top: none !important;
  }

  .ember-power-select-trigger-multiple-input {
    border: none !important;
  }
}
