@import "ember-uikit/variables-theme";

.uk-table {
  border-right: none;
  border-bottom: none;

  th,
  td {
    border-left: none;
    border-top: none;
    background-color: transparent;
  }
}

hr {
  position: static;
  width: auto;
  display: block;
}

strong {
  color: $global-emphasis-color;
}

a:focus {
  background-color: transparent;
}
