/* ember-uikit */
$global-font-family: Arial, Helvetica, sans-serif;
$global-font-size: 1em;
$global-small-font-size: 0.875em;
$global-medium-font-size: 1.25em;

$base-h1-font-size: 1.6em;
$base-h2-font-size: 1.3em;
$base-h3-font-size: 1.1em;

$global-link-color: #13226e;
$global-link-hover-color: #0026e0;

$base-link-text-decoration: underline;
$base-link-hover-text-decoration: none;

/* ember-power-select */
$ember-power-select-border-color: #4a81b6;
