// Base colors
$global-primary-background: rgb(129, 155, 66);
$global-secondary-background: rgb(30, 30, 30);
$global-success-background: rgb(0, 153, 0);
$global-muted-background: rgb(245, 245, 245);

// Font colors
$global-color: rgb(50, 50, 50);
$global-emphasis-color: rgb(50, 50, 50);
$global-muted-color: rgb(100, 100, 100);
$global-link-color: $global-primary-background;
$global-link-hover-color: $global-primary-background;
$global-font-family: initial;

// Font size
$text-large-font-size: 18px;
$global-small-font-size: 12px;

$base-h2-font-size-m: 2em;
$base-h2-font-size: 2em;
$base-h3-font-size-m: 1.7em;
$base-h3-font-size: 1.7em;
$base-h4-font-size: 1.5em;

// Form
$form-focus-border: $global-secondary-background;

// Misc
$modal-z-index: 1;

$button-disabled-background: $global-muted-background;

// Activation
$activation-warning-nfd: blue;
$activation-warning-due-shortly: #f48707;
$activation-warning-expired: red;
$activation-warning-completed: green;

$ember-power-select-placeholder-color: $global-muted-color;
