#ember-camac-ng {
  @import "variables";
  &:not(.disable-uikit) {
    @import "ember-uikit";
    @import "@projectcaluma/ember-form";
    @import "@projectcaluma/ember-form-builder";
    @import "ember-ebau-gwr";
    @import "reset";
  }

  @import "modules/history";
  @import "modules/journal";
  @import "modules/work-items";
  @import "modules/dossier-import";

  @import "components/context-menu";
  @import "components/filters";
  @import "components/icon-button";
  @import "components/pagination";
  @import "components/work-item-list";
  @import "components/case-table";
  @import "components/ur-gis";
  @import "components/journal-textarea";

  @import "misc";
  @import "power-select";
  @import "x-toggle";
  @import "visibility";
}
