:root {
  --uk-position-margin-offset: 0px;
}

#ember-camac-ng {
  @import "variables";
  @import "ember-uikit";
  @import "@projectcaluma/ember-distribution";
  @import "@projectcaluma/ember-form";
  @import "@projectcaluma/ember-form-builder";
  @import "ember-ebau-gwr";
  @import "ember-ebau-core";
  @import "reset";

  @import "modules/dossier-import";

  @import "components/icon-button";
  @import "components/work-item-list";
  @import "components/case-table";
  @import "components/ur-gis";

  @import "misc";
  @import "power-select";
  @import "x-toggle";
  @import "visibility";
}
