#ember-camac-ng {
  @import "variables";
  &:not(.disable-uikit) {
    @import "ember-uikit";
    @import "ember-caluma";
  }

  @import "modules/history";
  @import "modules/journal";
  @import "modules/work-items";

  @import "components/context-menu";
  @import "components/filters";
  @import "components/pagination";
  @import "components/work-item-list";
  @import "components/case-table";
  @import "components/ur-gis";

  @import "misc";
  @import "power-select";
  @import "reset";
  @import "visibility";
}
