interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://tradosint001.test.cmiag.ch/sts/dij/identity/connect/token
  response:
    body:
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsImtpZCI6IjE2NzREQjU0RDY3QURFODE0QjVGRDU5RTcyQjY3MzU0IiwieDV0IjoiY0RXejZYWU9yQUdrMzZ0VWhQcVNkRE1KdnRvIiwidHlwIjoiSldUIn0.eyJpc3MiOiJodHRwczovL3RyYWRvc2ludDAwMS50ZXN0LmNtaWFnLmNoL3N0cy9kaWovaWRlbnRpdHkiLCJuYmYiOjE3NDcyMTM1MDMsImlhdCI6MTc0NzIxMzUwMywiZXhwIjoxNzQ3MjE3MTAzLCJhdWQiOiJodHRwczovL3RyYWRvc2ludDAwMS50ZXN0LmNtaWFnLmNoL3N0cy9kaWovaWRlbnRpdHkvcmVzb3VyY2VzIiwic2NvcGUiOlsibWV0YXRvb2wiXSwiYW1yIjpbImNtaV9idWlsdGluIl0sImNsaWVudF9pZCI6InRyYWRvcyIsInN1YiI6ImRpaiRkYmM0NzA0N2UwNmU0ZTA1ODU0NTg1YjUwNzBiMzg1MSIsImF1dGhfdGltZSI6MTc0NzIxMzUwMywiaWRwIjoibWV0YXRvb2wiLCJ1c2VyX2lkIjoidHJhZG9zLXN2YyIsIm5hbWUiOiJ0cmFkb3Mtc3ZjIiwibmFtZWlkZW50aWZpZXIiOiJkYmM0NzA0N2UwNmU0ZTA1ODU0NTg1YjUwNzBiMzg1MSIsInVzZXJfZ3VpZCI6ImRiYzQ3MDQ3ZTA2ZTRlMDU4NTQ1ODViNTA3MGIzODUxIiwiZnVsbG5hbWUiOiJ0cmFkb3Mtc3ZjIiwiYXBpX3NlcnZlciI6ImRpaiIsInRlbmFudCI6InRyYWRvcyIsImp0aSI6IjgxMzJFOUQ4QjY4NDc3QTQ5NjBBNUYzQTM5Q0Q3MDgxIn0.t_8zsKAnlQCYsuSam5tdZVdKzf_1tiK5F6KWxU0SnBzh7tKTn0PSVVwbg5inh9Yf_YHQJ5pIenPB8WeclQzhqxH50kpeYtT0JWm_0OMAniagOICTyY8-W5PQGpP-0Q__hl3Kfm8ew-iWG-97WFS4jBadMPPVBvRN3y1uYk2Brfu_bgWBOrEf6Ga8m65r0DG0z5hGUuN59X5beVkhJWPJWcrCMODBnBky7njQhLOLldWerdwEL_tZMneRSK6TwWv6WJTKLpiaS0SeguQGD--vQJZOaqskzghjWjPu5M6yuqt3kiS8_5YeLdfUXDjho-4qc9YV9R28A4uYO24v6Mqwgg","expires_in":3600,"token_type":"Bearer","scope":"metatool"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '"FULLTEXT[*]"'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/Organisationseinheit/Search
  response:
    body:
      string: "[{\"guid\":\"6e2c8f58-f9ec-4a58-b467-c47313e0bf1b\",\"version\":2,\"typeName\":\"Organisationseinheit\",\"name\":\"Trados
        \xDCbersetzungsoe\",\"kurzname\":\"TRADOS\",\"kannUeberweisungenEntgegennehmenUndEmpfangen\":false,\"uebernehmen\":true,\"zuweisen\":true,\"inaktiv\":false,\"kannUeberweisungenVersenden\":true,\"vater\":{\"guid\":\"e59bbb03-d396-40c6-b0f2-61a46862a0fa\",\"url\":\"/Organisationseinheit/e59bbb03d39640c6b0f261a46862a0fa\",\"displayName\":\"Generalsekretariat;
        GS\"}},{\"guid\":\"e59bbb03-d396-40c6-b0f2-61a46862a0fa\",\"version\":2,\"typeName\":\"Organisationseinheit\",\"name\":\"Generalsekretariat\",\"kurzname\":\"GS\",\"kannUeberweisungenEntgegennehmenUndEmpfangen\":false,\"uebernehmen\":true,\"zuweisen\":true,\"inaktiv\":false,\"kannUeberweisungenVersenden\":true,\"vater\":{\"guid\":\"9932175f-69fb-4d6e-9342-d925a53b5779\",\"url\":\"/Gekobereich/9932175f69fb4d6e9342d925a53b5779\",\"displayName\":\"Staatskanzlei\"}}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '"FULLTEXT[*]"'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/CustomAmt/Search
  response:
    body:
      string: "[{\"guid\":\"035641ae-a54a-49f7-bb39-a4e926d17c1e\",\"version\":0,\"typeName\":\"Amt\",\"parentkey\":null,\"bezeichnung\":\"Amt
        f\xFCr Digitalisierungsfragen\",\"inaktiv\":false,\"customKurzzeichen\":\"afd\"}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '"FULLTEXT[*]"'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/CustomRegistraturplan/Search
  response:
    body:
      string: "[{\"guid\":\"582b31c8-32b3-41f2-9fe9-283ad6fbbd8d\",\"version\":0,\"typeName\":\"Ordnungssystem\",\"inaktiv\":false,\"aktenzeichen\":\"4-6-1\",\"begriff\":\"Verf\xFCgungen,
        Fach- und Amtsberichte, Stellungnahmen\",\"parent\":{\"guid\":\"9932175f-69fb-4d6e-9342-d925a53b5779\",\"url\":\"/Gekobereich/9932175f69fb4d6e9342d925a53b5779\",\"displayName\":\"Staatskanzlei\"}},{\"guid\":\"a0eb4580-fb69-4cdc-89c0-0bcb6d859dba\",\"version\":0,\"typeName\":\"Ordnungssystem\",\"inaktiv\":false,\"aktenzeichen\":\"1\",\"begriff\":\"Test\",\"parent\":{\"guid\":\"9932175f-69fb-4d6e-9342-d925a53b5779\",\"url\":\"/Gekobereich/9932175f69fb4d6e9342d925a53b5779\",\"displayName\":\"Staatskanzlei\"}}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"guid": null, "typeName": "Geschaeft", "version": 0, "customArchiviert":
      null, "bemerkung": null, "customGrundbucheintrag": null, "customOrdnungsgemaess":
      null, "customVerfahrensstand": null, "customSachbearbeiter": null, "customGeschaeftsverantwortung":
      null, "customGemeinde": null, "customErledigungsart": null, "customKoordinatenX":
      null, "customKoordinatenY": null, "customHerkunftsNummer": null, "parentkey":
      null, "customRegistraturplan": {"guid": "582b31c8-32b3-41f2-9fe9-283ad6fbbd8d",
      "url": "/CustomRegistraturplan/582b31c8-32b3-41f2-9fe9-283ad6fbbd8d"}, "customVerfahrenseingang":
      "12.05.2025", "customVerfahrensende": "12.05.2026", "customPoststempel": null,
      "customWiedereingang": null, "beginn": "12.05.2025", "titel": "adfinis-test
      2025-05-12T13:15:15", "laufnummer": null, "lifecycleStatus": "InBearbeitung",
      "geschaeftsstatus": "InBearbeitung", "geschaeftseigner": {"guid": "6e2c8f58-f9ec-4a58-b467-c47313e0bf1b",
      "url": "/Organisationseinheit/6e2c8f58-f9ec-4a58-b467-c47313e0bf1b"}, "customFederfuehrendesAmt":
      {"guid": "035641ae-a54a-49f7-bb39-a4e926d17c1e", "url": "/CustomAmt/035641ae-a54a-49f7-bb39-a4e926d17c1e"},
      "customHerkunft": null, "dokumenteExplorer": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/Geschaeft/
  response:
    body:
      string: '"9dea49dc-43ad-4762-9493-0de93a4795a0"'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/Geschaeft/9dea49dc-43ad-4762-9493-0de93a4795a0
  response:
    body:
      string: "{\"guid\":\"9dea49dc-43ad-4762-9493-0de93a4795a0\",\"version\":0,\"typeName\":\"Gesch\xE4ft\",\"parentkey\":null,\"titel\":\"adfinis-test
        2025-05-12T13:15:15\",\"zugriffsteuerung\":\"Offen\",\"ende\":null,\"beginn\":\"12.05.2025\",\"laufnummer\":\"2025-STA-116\",\"signatur\":null,\"lifecycleStatus\":\"In
        Bearbeitung\",\"customRRGeschaeft\":false,\"customDringlVorstoesser\":false,\"customDringlDir\":false,\"customDringlgewaehrt\":false,\"customVorstossBeantwortet\":false,\"customUeberwiesen\":false,\"customVerfahrenseingang\":\"12.05.2025\",\"customVerfahrensende\":\"12.05.2026\",\"geschaeftsstatus\":\"In
        Bearbeitung\",\"customPoststempel\":null,\"customWiedereingang\":null,\"customOrdnungsgemaess\":false,\"customGrundbucheintrag\":false,\"custommitVoranfrage\":false,\"customParzellenNr\":null,\"customKoordinatenX\":null,\"customKoordinatenY\":null,\"customHerkunftsNummer\":null,\"customArchiviert\":false,\"customArchivnummer\":null,\"dokumenteExplorer\":[],\"geschaeftseigner\":{\"guid\":\"6e2c8f58-f9ec-4a58-b467-c47313e0bf1b\",\"url\":\"/Organisationseinheit/6e2c8f58f9ec4a58b467c47313e0bf1b\",\"displayName\":\"Trados
        \xDCbersetzungsoe; TRADOS\"},\"customGeschaeftsverantwortung\":null,\"customGeschaeftsart\":null,\"customRegistraturplan\":{\"guid\":\"582b31c8-32b3-41f2-9fe9-283ad6fbbd8d\",\"url\":\"/Ordnungssystem/582b31c832b341f29fe9283ad6fbbd8d\",\"displayName\":\"4-6-1
        Verf\xFCgungen, Fach- und Amtsberichte, Stellungnahmen\"},\"customFederfuehrendesAmt\":{\"guid\":\"035641ae-a54a-49f7-bb39-a4e926d17c1e\",\"url\":\"/Amt/035641aea54a49f7bb39a4e926d17c1e\",\"displayName\":\"Amt
        f\xFCr Digitalisierungsfragen\"},\"customHerkunft\":null,\"customSachbearbeiter\":null,\"customGemeinde\":null,\"customVerfahrensstand\":null,\"customErledigungsart\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '"FULLTEXT[*]"'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/Gemeinde/Search
  response:
    body:
      string: '[{"guid":"6e43505c-fca7-40ca-ae3b-370d14782f94","version":0,"typeName":"Gemeinde","bezeichnung":"Testgemeinde","inaktiv":true,"bfsNummer":6999,"kantonskuerzel":"TG","name":"string","strasse":"string","plz":9999,"email":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"guid": "9dea49dc-43ad-4762-9493-0de93a4795a0", "typeName": "Gesch\u00e4ft",
      "version": 0, "customArchiviert": false, "bemerkung": null, "customGrundbucheintrag":
      false, "customOrdnungsgemaess": false, "customVerfahrensstand": null, "customSachbearbeiter":
      null, "customGeschaeftsverantwortung": null, "customGemeinde": {"guid": "6e43505c-fca7-40ca-ae3b-370d14782f94",
      "url": "/Gemeinde/6e43505c-fca7-40ca-ae3b-370d14782f94"}, "customErledigungsart":
  [...]
[...]
- request:
    body: '"customHerkunftsnummer[5000-*]"'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/Geschaeft/Search
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
