interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://tradosint001.test.cmiag.ch/sts/dij/identity/connect/token
  response:
    body:
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsImtpZCI6IjE2NzREQjU0RDY3QURFODE0QjVGRDU5RTcyQjY3MzU0IiwieDV0IjoiY0RXejZYWU9yQUdrMzZ0VWhQcVNkRE1KdnRvIiwidHlwIjoiSldUIn0.eyJpc3MiOiJodHRwczovL3RyYWRvc2ludDAwMS50ZXN0LmNtaWFnLmNoL3N0cy9kaWovaWRlbnRpdHkiLCJuYmYiOjE3NDcyMTM2NTUsImlhdCI6MTc0NzIxMzY1NSwiZXhwIjoxNzQ3MjE3MjU1LCJhdWQiOiJodHRwczovL3RyYWRvc2ludDAwMS50ZXN0LmNtaWFnLmNoL3N0cy9kaWovaWRlbnRpdHkvcmVzb3VyY2VzIiwic2NvcGUiOlsibWV0YXRvb2wiXSwiYW1yIjpbImNtaV9idWlsdGluIl0sImNsaWVudF9pZCI6InRyYWRvcyIsInN1YiI6ImRpaiRkYmM0NzA0N2UwNmU0ZTA1ODU0NTg1YjUwNzBiMzg1MSIsImF1dGhfdGltZSI6MTc0NzIxMzY1NSwiaWRwIjoibWV0YXRvb2wiLCJ1c2VyX2lkIjoidHJhZG9zLXN2YyIsIm5hbWUiOiJ0cmFkb3Mtc3ZjIiwibmFtZWlkZW50aWZpZXIiOiJkYmM0NzA0N2UwNmU0ZTA1ODU0NTg1YjUwNzBiMzg1MSIsInVzZXJfZ3VpZCI6ImRiYzQ3MDQ3ZTA2ZTRlMDU4NTQ1ODViNTA3MGIzODUxIiwiZnVsbG5hbWUiOiJ0cmFkb3Mtc3ZjIiwiYXBpX3NlcnZlciI6ImRpaiIsInRlbmFudCI6InRyYWRvcyIsImp0aSI6IjgwRUNFMDdBRTRBRTlEQjJFREIwQjBCRTI2OUY4MDEyIn0.a4x7fWfNjTSzVdj7TYMvlnVEqFKKqhbJKWvR4-yEF-u9icV__qZA_f-jpf-enkU37jJ0DyjPLqww5oi6muZtmQht4iQsncdc2UD5YFMOlFX07wp8bsFYmTHFUgwXSiCbg6rRqEYG4zEJRbc6nrqX7YPbEocfe8A9ZSCVbvzYH7ehO0redHSP2jgoq3YomlU3nSlgei9XFScOQrIQj36Zj3h9EPCe4O7QHx9ZhoD2nge5OU6AqFFjlUSfD9n8W8Wn9SuAFWCuaGjjPGSbXZPfckESJ8zJxEKIX0ADx0csdRA1-D9SZkt_iWPiuVKFzf-xfP_uiJkzRlXwZxORJb3g7g","expires_in":3600,"token_type":"Bearer","scope":"metatool"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '"bezeichnung[Gesch\u00e4ft er\u00f6ffnet]"'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/CustomVerfahrensstand/Search
  response:
    body:
      string: "[{\"guid\":\"500fcc48-e9de-4b17-96d0-85f7dd001613\",\"version\":0,\"typeName\":\"Verfahrensstand\",\"bezeichnung\":\"Gesch\xE4ft
        er\xF6ffnet\",\"inaktiv\":false}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '"bezeichnung[RSTAs]"'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/CustomHerkunft/Search
  response:
    body:
      string: '[{"guid":"52f728f5-9e32-46a2-9d0c-d35098194d34","version":0,"typeName":"Herkunft","bezeichnung":"RSTAs","inaktiv":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"guid": null, "typeName": "Gesch\u00e4ft", "version": 0, "customArchiviert":
      null, "bemerkung": null, "customGrundbucheintrag": null, "customOrdnungsgemaess":
      null, "customVerfahrensstand": {"guid": "500fcc48-e9de-4b17-96d0-85f7dd001613",
      "bezeichnung": "Gesch\u00e4ft er\u00f6ffnet", "inaktiv": false, "typeName":
      "Verfahrensstand", "version": 0}, "customSachbearbeiter": null, "customGeschaeftsverantwortung":
      null, "customGemeinde": null, "customErledigungsart": null, "customKoordinatenX":
      2599941.0, "customKoordinatenY": 1198923.0, "customHerkunftsNummer": "2025-1",
      "parentkey": "ebaube:1", "customRegistraturplan": null, "customVerfahrenseingang":
      null, "customVerfahrensende": null, "customPoststempel": null, "customWiedereingang":
      null, "beginn": "12.05.2025", "titel": "None: BG eBau-Nr. 2025-1 , None None,
      None", "laufnummer": null, "lifecycleStatus": "InBearbeitung", "geschaeftsstatus":
      "InBearbeitung", "geschaeftseigner": null, "customFederfuehrendesAmt": null,
      "customHerkunft": {"guid": "52f728f5-9e32-46a2-9d0c-d35098194d34", "bezeichnung":
      "RSTAs", "typeName": "Herkunft", "inaktiv": false, "version": 0}, "dokumenteExplorer":
      [], "customParzellen": "473,2592", "customMitVoranfrage": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/Geschaeft/?vorlage=Global%5CAGR%5CBauen+eBau+BG+%28Gemeinde%29
  response:
    body:
      string: '"6ec9d8f7-5912-4a35-8a90-ed3ce6e10c64"'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"guid": null, "titel": "1 Baugesuch Parzelle(n) 473, 2592", "children":
      [], "parent": {"guid": "6ec9d8f7-5912-4a35-8a90-ed3ce6e10c64", "typeName": "Gesch\u00e4ft",
      "version": 0, "customArchiviert": null, "bemerkung": null, "customGrundbucheintrag":
      null, "customOrdnungsgemaess": null, "customVerfahrensstand": {"guid": "500fcc48-e9de-4b17-96d0-85f7dd001613",
      "bezeichnung": "Gesch\u00e4ft er\u00f6ffnet", "inaktiv": false, "typeName":
      "Verfahrensstand", "version": 0}, "customSachbearbeiter": null, "customGeschaeftsverantwortung":
      null, "customGemeinde": null, "customErledigungsart": null, "customKoordinatenX":
      2599941.0, "customKoordinatenY": 1198923.0, "customHerkunftsNummer": "2025-1",
      "parentkey": "ebaube:1", "customRegistraturplan": null, "customVerfahrenseingang":
      null, "customVerfahrensende": null, "customPoststempel": null, "customWiedereingang":
      null, "beginn": "12.05.2025", "titel": "None: BG eBau-Nr. 2025-1 , None None,
      None", "laufnummer": null, "lifecycleStatus": "InBearbeitung", "geschaeftsstatus":
      "InBearbeitung", "geschaeftseigner": null, "customFederfuehrendesAmt": null,
      "customHerkunft": {"guid": "52f728f5-9e32-46a2-9d0c-d35098194d34", "bezeichnung":
      "RSTAs", "typeName": "Herkunft", "inaktiv": false, "version": 0}, "dokumenteExplorer":
      [], "customParzellen": "473,2592", "customMitVoranfrage": null}, "geschaeft":
      {"guid": "6ec9d8f7-5912-4a35-8a90-ed3ce6e10c64", "typeName": "Gesch\u00e4ft",
      "version": 0, "customArchiviert": null, "bemerkung": null, "customGrundbucheintrag":
      null, "customOrdnungsgemaess": null, "customVerfahrensstand": {"guid": "500fcc48-e9de-4b17-96d0-85f7dd001613",
      "bezeichnung": "Gesch\u00e4ft er\u00f6ffnet", "inaktiv": false, "typeName":
      "Verfahrensstand", "version": 0}, "customSachbearbeiter": null, "customGeschaeftsverantwortung":
      null, "customGem[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/Geschaeft/6ec9d8f7-5912-4a35-8a90-ed3ce6e10c64
  response:
    body:
      string: "{\"guid\":\"6ec9d8f7-5912-4a35-8a90-ed3ce6e10c64\",\"version\":0,\"typeName\":\"Gesch\xE4ft\",\"parentkey\":\"ebaube:1\",\"titel\":\"None:
        BG eBau-Nr. 2025-1 , None None, None\",\"zugriffsteuerung\":\"Restriktiv\",\"ende\":null,\"beginn\":\"12.05.2025\",\"laufnummer\":\"2025-STA-124\",\"signatur\":null,\"lifecycleStatus\":\"In
        Bearbeitung\",\"customRRGeschaeft\":false,\"customDringlVorstoesser\":false,\"customDringlDir\":false,\"customDringlgewaehrt\":false,\"customVorstossBeantwortet\":false,\"customUeberwiesen\":false,\"customVerfahrenseingang\":\"14.05.2025\",\"customVerfahrensende\":null,\"geschaeftsstatus\":\"In
        Bearbeitung\",\"customPoststempel\":\"14.05.2025\",\"customWiedereingang\":null,\"customOrdnungsgemaess\":false,\"customGrundbucheintrag\":false,\"custommitVoranfrage\":false,\"customParzellenNr\":null,\"customKoordinatenX\":2599941,\"customKoordinatenY\":1198923,\"customHerkunftsNummer\":\"2025-1\",\"customArchiviert\":false,\"customArchivnummer\":null,\"dokumenteExplorer\":[{\"guid\":\"83dc090f-468b-49dc-a95c-f3dce8b24dde\",\"url\":\"/Ordner/83dc090f468b49dca95cf3dce8b24dde\",\"displayName\":\"1
        Baugesuch Parzelle(n) 473, 2592\"}],\"geschaeftseigner\":{\"guid\":\"e59bbb03-d396-40c6-b0f2-61a46862a0fa\",\"url\":\"/Organisationseinheit/e59bbb03d39640c6b0f261a46862a0fa\",\"displayName\":\"Generalsekretariat;
        GS\"},\"customGeschaeftsverantwortung\":null,\"customGeschaeftsart\":{\"guid\":\"5afa4fc5-153d-48e9-b273-89de156faa39\",\"url\":\"/Gesch\xE4ftsart/5afa4fc5153d48e9b27389de156faa39\",\"displayName\":\"14.310
        Baugesuch\"},\"customRegistraturplan\":{\"guid\":\"582b31c8-32b3-41f2-9fe9-283ad6fbbd8d\",\"url\":\"/Ordnungssystem/582b31c832b341f29fe9283ad6fbbd8d\",\"displayName\":\"4-6-1
        Verf\xFCgungen, Fach- und Amtsberichte, Stellungnahmen\"},\"customFederfuehrendesAmt\":{\"guid\":\"035641ae-a54a-49f7-bb39-a4e926d17c1e\",\"url\":\"/Amt/035641aea54a49f7bb39a4e926d17c1e\",\"displayName\":\"Amt
        f\xFCr Digitalisierungsfragen\"},\"customHerkunft\":{\"guid\":\"52f728f5-9e32-46a2-9d0c-d35098194d34\",\"url\":\"/Herkunft/52f728f59e3246a29d0cd35098194d34\",\"displayName\":\"RSTAs\"},\"customSachbearbeiter\":null,\"customGemeinde\":null,\"customVerfahrensstand\":{\"guid\":\"500fcc48-e9de-4b17-96d0-85f7dd001613\",\"url\":\"/Verfahrensstand/500fcc48e9de4b1796d085f7dd001613\",\"displayName\":\"Gesch\xE4ft
        er\xF6ffnet\"},\"customErledigungsart\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '"customHerkunftsnummer[5000-*]"'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tradosint001.test.cmiag.ch/api/dij/groups/ebau/Geschaeft/Search
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
