@use "variables";

header {
  width: 100%;

  .inner {
    max-width: variables.$page-inner-max-width;
    padding: 0 variables.$page-header-margin-horizontal;
    padding-top: variables.$page-header-padding-top;

    hr {
      width: 100%;
      border-top: 1px solid variables.$global-border-color;
    }

    p {
      line-height: 17px;
      letter-spacing: 0.01rem;
      word-spacing: 0.025rem;
      color: #000;
      font-style: normal;
      font-weight: 300;
      margin-top: 19px;
      margin-bottom: 24px;
    }

    .header-logo {
      background-image: url(../img/kanton-bern-logo.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 68.5px;
      width: 150px;
    }

    .title {
      font-size: 0.9rem;
      margin-bottom: 20px;
      margin-top: 45px;
      padding-bottom: 10px;
      position: relative;
      width: 100%;

      h1 {
        font-family: "Roboto", sans-serif;
        font-size: 48px;
        line-height: 56px;
        margin: -9px 0 28px -2px;
        color: #000;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 100;
        letter-spacing: 0.01rem;
        word-spacing: 0.025rem;
      }
    }

    // TODO: mobile, hide menu?
    /* @media screen and (max-width: 1119px) { */
    /*   div.service-nav.login { */
    /*     display: none; */
    /*   } */
    /* } */

    div.service-nav {
      /* position: absolute; */
      /* right: 0; */
      float: right;
      display: flex;
    }

    /* @media screen and (max-width: 1119px) { */
    /*   div.service-nav { */
    /*     display: none; */
    /*   } */
    /* } */

    div.service-nav.login {
      font-size: 14px;


      .language-selector {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--black);
        margin-left: calc(0.25vw + 8px);
        display: flex;

        &:after {
          border-bottom: 2px solid #000;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: transform 100ms ease-in-out;
          transition: transform 100ms ease-in-out;
        }

        :not(:last-child):after {
          content: "|";
          display: inline;
        }

        :last-child .language-tag {
          margin-right: 0px;
        }

        .language {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: var(--black);
          display: flex;
          height: 20px;
          line-height: 1.3;
          letter-spacing: 0.025rem;
          text-decoration: none !important;
        }

        .language .active {
          border-bottom: 2px solid rgba(234, 22, 31, 1);
        }

        .language-tag {
          text-transform: uppercase;
          margin: 0 7px;
        }
      }
    }
  }
}
