@use "variables";

#kc-social-providers-buttons {
  display: flex;

  button {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 767px) {
  #kc-social-providers-buttons {
    button {
      flex-basis: 100%;
    }
  }
}
