@use "variables";

html.login {
  font-size: variables.$global-font-size;
  font-family: variables.$global-font-family;
}

body.login {
  margin: 0px;
}

body.login button,
body.login input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 49px;
  background-color: rgba(78, 78, 78, 1);
  border-radius: 49px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 36px;
  letter-spacing: 0.3px;
  margin: 35px 0px 50px 0px;
  transition: all 0.1s linear;
}

body.login main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.login .login-box {
  height: auto;
  width: 100%;
}

body.login .box-content {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* max-width: 800px; */
  max-width: 1350px;
  color: #797979;
  padding: 70px 30px;
}

body.login .box-content .header {
  width: 100%;
}

body.login .box-content .header-container {
  width: 100%;
  margin-bottom: 100px;
  border-bottom: 1px solid rgba(222, 222, 222, 1);
}

body.login .box-content .header-container p {
  line-height: 17px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  color: #000;
  font-style: normal;
  font-weight: 300;
  margin-top: 19px;
  margin-bottom: 24px;
  max-width: 335px;
}

body.login .kc-logo-text {
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  color: #000;
  font-style: normal;
  font-weight: 400;
  margin-top: 19px;
  max-width: 335px;
}

body.login .box-content .header-container .header-logo {
  background-image: url(../img/kanton-bern-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 68.5px;
  width: 150px;
}

body.login .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body.login .login-helpertext {
  width: 100%;
  margin-bottom: 35px;
}

.login-helpertext-mobile {
  display: none;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.login-helpertext p,
.login-helpertext-mobile p {
  color: #000;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: -2px;
  max-width: 800px;
  font-size: 16px;
  line-height: 26px;
}

.login-helpertext span,
.login-helpertext-mobile span {
  font-weight: 300;
  color: #000;
}

.login-helpertext .german-text {
  color: #5f5f5f;
  margin-right: 5px;
  white-space: nowrap;
}

.login-helpertext .french-text {
  margin-left: 5px;
  word-wrap: unset;
  white-space: nowrap;
}

p.divider {
  color: #000;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: -2px;
  max-width: 800px;
  line-height: 26px;
  margin-bottom: 35px;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

.divider::before {
  margin-right: 19px;
}

.divider::after {
  margin-left: 19px;
}

.divider span {
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.divider .german-text {
  color: #000;
}

body.login .title {
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}
body.login .title h1 {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

#kc-locale {
  position: absolute;
  top: -30px;
  right: -50px;
}

body.login .powered-by {
  color: #595959;
}

body.login .title h1 span {
  font-size: 48px;
  line-height: 56px;
  margin: -9px 0 28px -2px;
  color: #000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
}

body.login .title h1 .german-text {
  color: #5f5f5f;
}

body.login .logo {
  margin-left: 10px;
  margin-bottom: 3px;
  width: 70px;
}

body.login .one-click-login {
  width: 47.5%;
  text-align: right;
  color: white;
  order: 2;
}

body.login .one-click-login-only {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0px 10px;
  height: min-content;
}

body.login .one-click-login button,
body.login .one-click-login-only button {
  color: rgb(112, 112, 112);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background-color: var(--white);
  display: inline-block;
  height: 49px;
  border-radius: 49px;
  border: 1px solid #4e4e4e;
  padding: 0 40px;
  vertical-align: middle;
  margin: 40px 30px 40px -1px;
  transition: transform 250ms ease-in-out;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin: 0px 0px 25px 0px;
}

body.login .one-click-login button:hover,
body.login .one-click-login-only button:hover {
  transform: scale(1.03);
}

body.login .one-click-login-only .button-wrapper {
  flex-basis: 47%;
  flex-grow: 1;
  width: 350px;
}

body.login .sign-in-form {
  width: 47.5%;
  order: 1;
}

body.login .sign-in-form label {
  display: block;
  font-size: 0.6rem;
  font-weight: 700;
  color: #797979;
  padding-bottom: 5px;
  text-transform: uppercase;
}

body.login #kc-register-form {
  width: 100%;
}

body.login .sign-in-form input[name="username"],
body.login .sign-in-form input[name="password"],
body.login #kc-reset-password-form input[name="username"],
body.login #kc-reset-password-form input[name="password"],
body.login #kc-register-form input[name="firstName"],
body.login #kc-register-form input[name="lastName"],
body.login #kc-register-form input[name="email"],
body.login #kc-register-form input[name="username"],
body.login #kc-register-form input[name="password"],
body.login #kc-register-form input[name="password-confirm"] {
  border: none;
  background-color: #fefefe;
  height: 30px;
  border: 1px solid #707070;
  width: 100%;
  border-radius: 3px;
  padding: 3px 10px;
  box-sizing: border-box;
  max-width: 800px;
  height: 59px;
  padding-left: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000 !important;
}

body.login #kc-register-form input[name="firstName"],
body.login #kc-register-form input[name="lastName"],
body.login #kc-register-form input[name="email"],
body.login #kc-register-form input[name="username"],
body.login #kc-register-form input[name="password"],
body.login #kc-register-form input[name="password-confirm"] {
  margin-bottom: 5px;
  margin-top: 5px;
}

body.login .sign-in-form input[name="username"]:focus,
body.login .sign-in-form input[name="password"]:focus,
body.login #kc-reset-password-form input[name="username"]:focus,
body.login #kc-reset-password-form input[name="password"]:focus,
body.login #kc-register-form input[name="firstName"]:focus,
body.login #kc-register-form input[name="lastName"]:focus,
body.login #kc-register-form input[name="email"]:focus,
body.login #kc-register-form input[name="username"]:focus,
body.login #kc-register-form input[name="password"]:focus,
body.login #kc-register-form input[name="password-confirm"]:focus {
  border: 1px solid #000;
  border-left: 6px solid #000;
}

body.login #kc-reset-password-form input[name="username"]:focus-visible,
body.login #kc-reset-password-form input[name="password"]:focus-visible,
body.login #kc-register-form input[name="firstName"]:focus-visible,
body.login #kc-register-form input[name="lastName"]:focus-visible,
body.login #kc-register-form input[name="email"]:focus-visible,
body.login #kc-register-form input[name="username"]:focus-visible,
body.login #kc-register-form input[name="password"]:focus-visible,
body.login #kc-register-form input[name="password-confirm"]:focus-visible {
  outline: none;
}

body.login .sign-in-form input[name="username"] {
  margin-top: 0px;
}

body.login .sign-in-form .passwordField {
  position: relative;
}

body.login #kc-register-form .passwordField {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

body.login .sign-in-form #passwordIcon,
body.login .sign-in-form #passwordIcon.hidePassword {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 31px;
  width: 31px;
  position: absolute;
  top: 35px;
  right: 20px;
  transition: all 150ms ease-in-out;
}

body.login #kc-register-form #passwordIcon,
body.login #kc-register-form #passwordIcon.hidePassword,
body.login #kc-register-form #passwordConfirmIcon,
body.login #kc-register-form #passwordConfirmIcon.hidePassword {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 31px;
  width: 31px;
  position: absolute;
  top: 20px;
  right: 48px;
  transition: all 150ms ease-in-out;
}

body.login .sign-in-form #passwordIcon:hover,
body.login .sign-in-form #passwordIcon.hidePassword:hover,
body.login #kc-register-form #passwordIcon:hover,
body.login #kc-register-form #passwordIcon.hidePassword:hover,
body.login #kc-register-form #passwordConfirmIcon:hover,
body.login #kc-register-form #passwordConfirmIcon.hidePassword:hover {
  transform: scale(1.2);
}

body.login .sign-in-form #passwordIcon,
body.login #kc-register-form #passwordIcon,
body.login #kc-register-form #passwordConfirmIcon {
  background-image: url(../img/password-show-icon.svg);
}

body.login .sign-in-form #passwordIcon.hidePassword,
body.login #kc-register-form #passwordIcon.hidePassword,
body.login #kc-register-form #passwordConfirmIcon.hidePassword {
  background-image: url(../img/password-hide-icon.svg) !important;
}

body.login .sign-in-form input:focus {
  outline: none;
}

body.login .rememberMe {
  margin-left: -3px;
}

body.login .rememberMe input {
  margin-top: 0px;
}

body.login .rememberMe label {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  color: #000;
  text-decoration: none;
  margin-top: 10px;
}

body.login .rememberMe input {
  margin-right: 5px;
}

body.login a {
  text-decoration: none;
  /* font-size: 0.6rem; */
  display: block;
  text-align: right;
  /* margin-top: 4px; */
}

body.login .sign-in-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 49px;
  background-color: rgba(78, 78, 78, 1);
  border-radius: 49px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0px 36px;
  letter-spacing: 0.3px;
  margin: 35px 0px 50px 0px;
  transition: all 0.1s linear;
  border: none;
}

body.login .sign-in-form button span {
  margin-right: 10px;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

body.login .sign-in-form button:hover {
  transform: scale(1.07);
}

body.login .additionalOptions {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

body.login .additionalOptions .rememberMe {
  flex-grow: 1;
}

body.login .additionalOptions .optionLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Roboto";
}

body.login .additionalOptions .optionLinks a {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  margin-top: 10px;
}

body.login .additionalOptions .optionLinks span {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

body.login .additionalOptions .optionLinks span:hover {
  border-bottom: 1px solid rgba(234, 22, 31, 1);
}

body.login .additionalOptions .optionLinks .german-text {
  margin-right: 5px;
  color: #5f5f5f;
}

body.login .additionalOptions .optionLinks .french-text {
  margin-left: 5px;
}

body.login div.supporter-login {
  position: absolute;
  margin-top: -10px;
  margin-bottom: 2px;
  bottom: 10px;
}

body.login div.supporter-login img {
  margin-left: 3px;
  height: 15px;
}

body.login div.supporter-login a {
  display: flex;
  align-items: center;
  color: #797979;
}

body.login p.separator {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}

body.login .alert {
  margin-top: 1em;
  margin-bottom: 0.2em;
  border: none;
  padding: 0;
}

body.login .alert .pficon {
  display: none;
}

#kc-select-try-another-way-form {
  margin-top: 1.3em;
}

a#try-another-way {
  font-size: 0.8rem;
  color: #006666;
}

.header-wrapper {
  display: flex;
  justify-content: flex-start;
}

div.sign-in-icon {
  background-image: url(../img/sign-in-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 25px;
  width: 25px;
}

.button-wrapper {
  width: 100%;
}

.button-wrapper > button {
  align-items: center;
}

.footer-container {
  background-color: rgba(252, 248, 243, 1);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.footer-container p {
  margin: 15px;
}

body.login .back-to-login a,
body.login #kc-form-options a {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  text-align: left;
}

body.login .back-to-login span,
body.login #kc-form-options span {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

body.login .back-to-login span:hover,
body.login #kc-form-options span:hover {
  border-bottom: 1px solid rgba(234, 22, 31, 1);
}

body.login .back-to-login .german-text,
body.login #kc-form-options .german-text {
  color: #5f5f5f;
  margin-right: 5px;
}

body.login .back-to-login .french-text,
body.login #kc-form-options .french-text {
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  body.login .box-content {
    padding: 70px 20px;
  }
  .content {
    flex-direction: column;
  }

  body.login .title {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  body.login .title h1 span {
    font-size: 32px;
    font-weight: 300;
  }

  body.login .first-helpertext {
    text-align: left;
    margin: 10px 0px 30px 0px;
  }

  body.login .sign-in-form {
    order: 2;
  }

  body.login .login-helpertext {
    display: none;
  }

  body.login .one-click-login {
    width: 100%;
    order: 1;
  }

  body.login .one-click-login-only {
    display: block;
  }

  body.login .one-click-login-only .button-wrapper {
    width: 100% !important;
  }

  body.login .sign-in-form {
    width: 100%;
  }

  body.login .login-helpertext-mobile {
    display: block;
  }

  body.login .login-helpertext-mobile .german-text {
    color: #5f5f5f;
    margin-right: 5px;
  }

  body.login .login-helpertext-mobile .french-text {
    margin-left: 5px;
  }
}
