@use "variables";

html,
body.login {
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  font-style: normal;
  line-height: var(--global-line-height);
}

/* Atoms
*  Web-Style-Guide: https://kantonbern.snowflake.ch/styleguides/1/Kanton-Bern/#atoms
*/
h1 {
  color: var(--black);
  font-weight: 100;
  margin: 0 0 44px -3px;
  font-size: 54px;
  line-height: 62px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
}

@media screen and (max-width: 1119px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
    margin: -9px 0 28px -2px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
    margin: 45px 0 24px -1px;
    font-weight: 300;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  margin: 0 0 12px -2px;
  max-width: 800px;
  color: var(--black);
  margin-left: -2px;
}

@media screen and (max-width: 1119px) {
  h2 {
    font-size: 24px;
    line-height: 29px;
    margin: -3px 0 8px -1px;
    margin-left: -1px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 21px !important;
    line-height: 25px !important;
    margin: -2px 0 12px 0px;
    margin-left: 0px;
  }
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 12px -1px;
  max-width: 800px;
  font-weight: 300;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  color: var(--black);
  margin-left: -1px;
}

@media screen and (max-width: 1119px) {
  h3 {
    font-size: 24px;
    line-height: 29px;
    margin: -3px 0 8px -1px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 21px;
    line-height: 25px;
    margin: -2px 0 12px 0px;
    margin-left: 0px;
  }
}

h4 {
  margin: 0 0 12px -1px;
  max-width: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  color: var(--black);
  font-size: 24px;
  line-height: 28px;
  margin-left: -1px;
}

@media screen and (max-width: 1119px) {
  h4 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 21px;
    line-height: 25px;
    margin-left: 0px;
  }
}

p {
  color: var(--black);
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: -2px;
  max-width: 800px;
}

button,
.button {
  line-height: 125%;
  background-color: var(--white);
  color: rgba(112, 112, 112, 1);
  display: inline-block;
  height: 49px;
  border-radius: 49px;
  padding: 0 40px;
  vertical-align: middle;
  margin: 40px 30px 40px -1px;
  transition: transform 250ms ease-in-out;
  text-align: center;
  cursor: pointer;
  border-width: 1px;
}

button:hover,
button:focus {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}

button.primary {
  background-color: var(--anthrazit);
  color: var(--white);
}

button.secondary {
  background-color: var(--white);
  color: rgba(112, 112, 112, 1);
  border: 1px solid #4e4e4e;
}

/* form related */
.form-group {
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .label-wrapper {
    position: absolute;
    top: -5px;
    left: 23px;
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    background-color: #fff;
    padding: 2px 5px;
    opacity: 1;

    label.floating-label {
      font-size: 13px;
      line-height: 17px;
      font-weight: 400;
    }
  }

  .input-wrapper {
    .floating-input {
      height: 59px;
      width: 100%;
      max-width: 800px;
      padding: 3px 10px;
      padding-left: 28px;
      margin-bottom: 20px;
      margin-top: 20px;
      background-color: #fefefe;
      border: 1px solid #707070;
      border-radius: 3px;
      box-sizing: border-box;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #000 !important;

      &:focus {
        border: 1px solid #000;
        border-left: 6px solid #000;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }

  #kc-form-buttons {
    .button {
      margin-top: 0;
    }
  }
}

.form-error-text {
  color: var(--red);
}

.logo-caption {
  line-height: 17px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  font-weight: 400;
  color: var(--black);
  margin-top: 19px;
  max-width: 335px;
}

@media screen and (max-width: 1119px) {
  div.logo-caption {
    margin-top: 12px;
    max-width: 210px;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.01rem;
    word-spacing: 0.025rem;
  }
}

.sand {
  background-color: variables.$global-background-dark-sand;
}

/* Molecules
*  Web-Style-Guide: https://kantonbern.snowflake.ch/styleguides/1/Kanton-Bern/#moleculs
*/

// Service-Menue
// https://kantonbern.snowflake.ch/styleguides/1/Kanton-Bern/#Am4143
a.service-menue {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  display: inline-block;
  text-decoration: none !important;
  height: 18px;
  line-height: 1.5;
  margin: 0 calc(0.25vw + 15px) 0 calc(0.25vw + 15px);
}

a.service-menue:after {
  display: block;
  content: "";
  border-bottom: 2px solid #000;
  transform: scaleX(0);
  transition: transform 100ms ease-in-out;
}

a.service-menue:hover::after,
a.service-menue:focus::after,
a.service-menue:active::after {
  transform: scaleX(1);
}

a.service-menue {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  color: var(--black);
  display: inline-block;
  height: 20px;
  line-height: 1.3;
  margin: 0 calc(0.25vw + 15px) 0 calc(0.25vw + 15px);

  &.active {
    border-bottom: 2px solid rgba(234, 22, 31, 1);
  }
}

a.service-menue:after {
  display: block;
  content: "";
  border-bottom: 2px solid #000;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
}

a.service-menue {
  text-decoration: none !important;
}

a {
  color: var(--black);
}

a:hover,
a:focus {
  color: var(--black);
}

// Infobox
// https://kantonbern.snowflake.ch/styleguides/1/Kanton-Bern/#Am5572
ul.box-beige {
  background-color: variables.$global-background-sand;
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  max-width: 400px;
  padding: 0;

  &:nth-child(odd) {
    margin-right: 0 !important;
  }

  &.open {
    margin-bottom: 30px;
  }

  &.open:nth-child(odd) {
    margin-right: 0 !important;
  }

  @media screen and (max-width: 1119px) {
    &.open {
      margin-right: 2%;
      width: 49%;
      max-width: none;
    }
  }

  @media screen and (max-width: 767px) {
    &.open {
      margin-right: 0;
      width: 100%;
    }
  }

  li {
    list-style-type: none;

    /* Infobox Title */
    .infobox-title {
      position: relative;
      display: block;
      text-decoration: none;
      border: none;
      letter-spacing: 0.01rem;
      word-spacing: 0.025rem;
      padding-top: 25px;
      padding-bottom: 20px;
      padding-left: 25px;
      padding-right: 65px;
      max-width: 800px;
      background-color: variables.$global-background-sand;
      color: var(--black);
      font-size: 24px;
      line-height: 28px;
    }

    .accordion-content {
      padding: 25px;

      /* Line (HR Accordion) */
      hr.accordion {
        border: none;
        background-color: variables.$global-color-light-grey;
        margin-top: -25px;
        margin-right: 0px;
        margin-bottom: 25px;
        margin-left: 0px;
        width: auto;
        height: 1px;
      }
    }
  }

  a.infobox-title[aria-selected="true"] {
    background-color: variables.$global-background-sand !important;
  }

  a.infobox-title[aria-selected="true"]::before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all 250ms ease-in-out;
  }

  a.infobox-title[aria-selected="true"] {
    background-color: rgba(250, 241, 227, 1) !important;
  }

  a.infobox-title[aria-selected="true"]::before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all 250ms ease-in-out;
  }
}

@media screen and (max-width: 1119px) {
  ul.box-beige {
    margin-right: 2%;
    width: 49%;
    max-width: none;
  }
}

@media screen and (max-width: 767px) {
  ul.box-beige {
    margin-right: 0;
    width: 100%;
  }
}

// Arrow-Link
// https://kantonbern.snowflake.ch/styleguides/1/Kanton-Bern/#Mm1169
@media screen and (max-width: 1119px) {
  div.arrow-link {
    margin-top: 1px;
  }
}

@media screen and (max-width: 767px) {
  div.arrow-link {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

span.link-arrow {
  background-image: url("../img/icon-link-arrow.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: auto;
  display: inline-block;
  margin-right: 4px;
  margin-left: -4px;
  width: 15px;
  height: 12px;
}

div.arrow-link > span.link-arrow {
  float: left;
  margin-top: 6px;
}

div.arrow-link > a.text-link-2 {
  margin-top: 0px;
}

a {
  color: var(--black);
}

a:hover,
a:focus {
  color: var(--black);
}

a.text-link-2 {
  text-decoration: none;
  color: var(--black);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  display: inline-block;
  cursor: pointer;
  line-height: 125%;
  vertical-align: top;
  margin-top: 10px;
}

a.text-link-2:hover,
a.text-link-2:focus {
  border-bottom: var(--bottom-line-1px-red);
}

// Feedback Box
// https://kantonbern.snowflake.ch/styleguides/1/Kanton-Bern/#Mm3211
.feedback {
  margin-bottom: var(--page-content-margin-vertical);

  .feedback-icon {
    padding-top: 6px;
    width: 85px;
    height: 85px;
    min-height: 85px;
    display: table-cell;
    vertical-align: top;
    background-color: var(--blue);
    background-image: url(../img/icon-info.svg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: auto;
  }

  .feedback-text {
    display: table-cell;
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 75px;
    max-width: 800px;
    font-weight: 300;
    color: var(--black);
    background-color: variables.$global-color-light-blue;
  }

  @media screen and (max-width: 767px) {
    .feedback-icon {
      background-size: 30px !important;
      width: 40px !important;
    }

    .feedback-text {
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 20px;
      padding-right: 20px;
      max-width: 790px;
      font-size: 15px;
      line-height: 24px;
      padding-right: 60px;
    }
  }
}

.feedback-success {
  .feedback-icon {
    background-color: var(--green);
    background-image: url(../img/icon-success.svg);
  }
  .feedback-text {
    background-color: variables.$global-color-light-green;
    color: var(--black);
  }
}

.feedback-warning {
  .feedback-icon {
    background-color: var(--orange);
    background-image: url(../img/icon-warning.svg);
  }
  .feedback-text {
    background-color: variables.$global-color-light-orange;
    color: var(--black);
  }
}

.feedback-error {
  .feedback-icon {
    background-color: var(--dark-red);
    background-image: url(../img/icon-danger.svg);
  }
  .feedback-text {
    background-color: variables.$global-color-light-red;
    color: var(--black);
  }
}

.feedback-info {
  .feedback-icon {
    background-color: var(--blue);
    background-image: url(../img/icon-info.svg);
  }
  .feedback-text {
    background-color: variables.$global-color-light-blue;
    color: var(--black);
  }
}

/* Layout
*
* The layout of this theme is a mix of the "Detailpage" and "Login V1" layouts. It's
* using the main-column/context-column layout of the "Detailpage" and the button
* arrangement of the "Login V2" layout.
*
* * Detailpage: https://kantonbern.snowflake.ch/styleguides/1/Kanton-Bern/#Gm17
* * Login V2: https://kantonbern.snowflake.ch/styleguides/1/Kanton-Bern/#Gm148
*/

body.login {
  .box-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    header,
    main {
      width: 100%;
      max-width: variables.$page-inner-max-width;
      margin: 0 auto;
    }

    main.content {
      flex-grow: 1;
      margin-top: calc(var(--page-content-margin-vertical) + 7vh);

      /* Aligns child divs including feedback-box */
      & > div {
        margin-left: var(--page-content-margin-horizontal);
      }

      div.main-column {
        position: relative;
        max-width: 800px;
        width: 58%;
        float: left;
        margin-bottom: 65px;
      }

      @media screen and (max-width: 1119px) {
        div.main-column {
          margin-right: var(--page-content-margin-horizontal);
          width: calc(100% - 2 * var(--page-content-margin-horizontal));
        }
      }

      div.context-column {
        width: 30%;
        position: relative;
        top: -100px;
        transition: top 0.3s ease-in-out;
        float: right;
        max-width: 400px;
        margin-left: 0px;
        margin-right: 45px;
        margin-bottom: 36px;
      }

      @media screen and (max-width: 1119px) {
        div.context-column {
          max-width: none;
          position: relative;
          margin-left: 30px;
          margin-right: 30px;
          width: calc(100% - 60px);
          clear: both;
          top: 0;
          margin-bottom: 20px;
          min-height: auto;
        }
      }

      @media screen and (max-width: 767px) {
        div.context-column {
          margin-left: 20px;
          margin-right: 20px;
          width: calc(100% - 40px);
          min-height: auto;
        }
      }
    }

    .js-contact-box {
      display: none;
    }
  }
}
