{{#if forms.isRunning}}
  {{#uk-flex horizontal='center' class='uk-padding uk-animation-fade'}}
    {{uk-spinner ratio=3}}
  {{/uk-flex}}
{{else}}
  <h4 class="uk-text-center">Um welche Art von Gesuch handelt es sich?</h4>

  <div uk-grid class="uk-grid-small">
    {{#each (sort-by 'name' forms.lastSuccessful.value) as |form|}}
      <div class="uk-width-1-1 uk-width-1-2@s">
        {{#uk-button color=(if (eq form.id model.form.id) 'secondary' 'default') width='1-1' class='uk-flex uk-flex-center uk-flex-middle uk-text-center' on-click=(action (mut model.form) form)}}
          {{form.description}}
        {{/uk-button}}
      </div>
    {{/each}}
  </div>

  {{#uk-flex horizontal='right' class='uk-margin-top'}}
    {{#uk-button disabled=(or (not model.form.id) save.isRunning) loading=save.isRunning color='primary' on-click=(perform save)}}
      Weiter
    {{/uk-button}}
  {{/uk-flex}}
{{/if}}
