<CamacForm @instance={{@model.instance}} @meta={{@model.meta}} as |form|>
  <form.input @identifier="grundwasser-warmeentnahme-art">
    <h4>
      Grundwasser
    </h4>
  </form.input>
  <form.input @identifier="grundwasser-verwendungszweck"/>
  <form.input @identifier="grundwasser-geologe"/>
  <form.input @identifier="grundwasser-bohrfirma"/>
  <form.input @identifier="grundwasser-anzahl-erdwarmesonden"/>
  <form.input @identifier="grundwasser-bohrtiefe"/>
  <form.input @identifier="grundwasser-bohrdurchmesser"/>
  <form.input @identifier="grundwasser-bohrverfahren"/>
  <form.input @identifier="grundwasser-sondenrohrdurchmesser"/>
  <form.input @identifier="grundwasser-sondenmaterial"/>
  <form.input @identifier="grundwasser-warmetragerflussigkeit"/>
  <form.input @identifier="grundwasser-totale-fullmenge"/>
  <form.input @identifier="grundwasser-anzahl-energiepfahle"/>
  <form.input @identifier="grundwasser-tiefe-energiepfahle"/>
  <form.input @identifier="grundwasser-durchmesser-energiepfahle"/>
  <form.input @identifier="grundwasser-anzahl-register"/>
  <form.input @identifier="grundwasser-verlegungstiefe"/>
  <form.input @identifier="grundwasser-material-der-anlage"/>
  <form.input @identifier="grundwasser-sondierbohrung-anzahl-bohrungen"/>
  <form.input @identifier="grundwasser-sondierbohrung-koordinaten"/>
  <form.input @identifier="grundwasser-sondierbohrung-zweck"/>
  <form.input @identifier="grundwasser-sondierbohrung-zweck-anderer"/>
  <form.input @identifier="grundwasser-sondierbohrung-tiefe"/>
  <form.input @identifier="grundwasser-sondierbohrung-pumpversuch"/>
  <form.input @identifier="grundwasser-sondierbohrung-bohrfirma"/>
  <form.input @identifier="grundwasser-sondierbohrung-geologe"/>
  <form.input @identifier="grundwasser-sondierbohrung-entsorgung"/>
  <form.input @identifier="grundwasser-deponien">
    <h4>
      Deponien
    </h4>
  </form.input>
</CamacForm>