<iframe name="map" src={{link}}></iframe>
<div class="uk-text-right">
  <small class="uk-text-muted">
    Wird die Karte nicht richtig dargestellt?
    <a href={{link}} target="map">Neu laden</a>
  </small>
</div>