<h4 class="uk-text-center uk-margin-large-bottom">Um welche Art von Dossier handelt es sich?</h4>

<div uk-grid class="uk-grid-small">
  <div uk-margin class="uk-width-1-1 uk-width-1-2@s uk-flex-column">
    <h4 class="uk-text-center">Vorabklärung {{camac-hint-dialog infoCol1}}</h4>
    {{#each forms.lastSuccessful.value.column1 as |form|}}
      {{new-form-grid-entry
        form=form.slug
        label=form.name
        onSetForm=(action (mut selectedForm))
        selectedForm=selectedForm
      }}
    {{/each}}
  </div>
  <div uk-margin class="uk-width-1-1 uk-width-1-2@s uk-flex-column">
    <h4 class="uk-text-center">Gesuche {{camac-hint-dialog infoCol2}}</h4>
    {{#each forms.lastSuccessful.value.column2 as |form|}}
      {{new-form-grid-entry
        form=form.slug
        label=form.name
        onSetForm=(action (mut selectedForm))
        selectedForm=selectedForm
      }}
    {{/each}}
  </div>
</div>

{{#uk-flex horizontal="right" class="uk-margin-top"}}
  {{#uk-button disabled=(or (not selectedForm) save.isRunning) loading=save.isRunning color="primary" on-click=(perform save)}}
    Weiter
  {{/uk-button}}
{{/uk-flex}}