HANA_HOST=<value>
HANA_PORT=<value>
HANA_USER=<value>
HANA_PASSWORD=<value>
HANA_DBNAME=<value>
HANA_SCHEMA=<value>
SOAP_SERVER=<value>
SOAP_USER=<value>
SOAP_PASSWORD=<value>

FILTER=<filtervalue-or-path-to-filter-file>

EBAU_DOCUMENT_CLIENT_BASE_URL=<value>
EBAU_DOCUMENT_CLIENT_USERNAME=<value>
EBAU_DOCUMENT_CLIENT_PASSWORD=<value>

ALEXANDRIA_S3_ENDPOINT_URL=<value>
ALEXANDRIA_S3_ACCESS_KEY=<value>
ALEXANDRIA_S3_SECRET_KEY=<value>
EBAU_S3_MIGRATION_BUCKET_NAME=<value>

