.radio-buttons {
  display: flex;

  &__button {
    display: inline-flex;
    margin-right: -1px;
    border: 1px solid #000000;
    color: #000000;

    > label {
      display: flex;
      padding: 0.5em 1em;
      cursor: pointer;
    }

    > input[type="radio"] {
      display: none;
    }

    > input:checked + label {
      background-color: #dddddd;
    }
  }
}

@import "custom";
