.pagination {
  display: flex;
  padding-top: 5px;

  &__left,
  &__right {
    flex: 1 0 50%;
  }

  &__right {
    text-align: right;
  }
}

.project-be .pagination {
  border-top: 1px solid #4a81b6;

  &__right > a {
    background-image: url(/public/images/ktbe_sprite_30px.svg);
    background-position: right -3895px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: inline;
    padding-left: 0.8em;
    padding-right: 2em !important;
    padding-top: 2px;
    border-left: 1px solid #c8d9e9;

    &:visited {
      color: #13226e;
    }
  }
}
