<h2 class="uk-text-center">
  Willkommen im Bürgerportal für eBau-Gesuche des Kanton Schwyz
</h2>
<h4 class="uk-text-center uk-margin-remove-top uk-margin-large uk-text-muted">
  Was wollen Sie als Nächstes machen?
</h4>

<div uk-grid class="uk-child-width-1-1 uk-child-width-1-2@m">
  {{#uk-flex horizontal='right'}}
    {{#link-to 'instances.new' class='uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-center uk-flex-column'}}
      {{uk-icon 'plus' ratio=3}}
      <br>
      Neues Dossier
    {{/link-to}}
  {{/uk-flex}}

  {{#uk-flex horizontal='left'}}
    {{#link-to 'instances.index' class='uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-center uk-flex-column'}}
      {{uk-icon 'pencil' ratio=3}}
      <br>
      Dossier bearbeiten
    {{/link-to}}
  {{/uk-flex}}
</div>
