<h2 class="uk-text-center">
  Willkommen im Bürgerportal für eBau-Gesuche des Kantons Schwyz
</h2>
<h4 class="uk-text-center uk-margin-remove-top uk-margin-large">
  Was wollen Sie als Nächstes machen?
</h4>

<div uk-grid class="uk-child-width-1-1 uk-child-width-1-3@s">
  <UkFlex @horizontal="center" class="uk-flex-right@s">
    <LinkTo
      @route="instances.new"
      class="uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-column"
    >
      <div class="title-card">
        <UkIcon @icon="plus" ratio={{3}}/>
        <div class="title-card-text">Neues Gesuch</div>
      </div>
    </LinkTo>
  </UkFlex>

  <UkFlex {{did-insert (perform this.fetchWorkItems)}} @horizontal="center" class="uk-flex-center@s">
    <LinkTo
      @route="instances.index"
      class="uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-column"
    >
      <div class="title-card">
        <UkIcon @icon="pencil" ratio={{3}}/>
        <div class="title-card-text">Gesuch bearbeiten
oder
Gesuch einsehen</div>
      </div>
    </LinkTo>
    {{#if this.workItemsQuery.totalCount}}
      <span title="Anzahl von offenen Aufgaben" class="uk-badge uk-position-absolute uk-position-small">{{this.workItemsQuery.totalCount}}</span>
    {{/if}}
  </UkFlex>

  <UkFlex @horizontal="center" class="uk-flex-left@s">
    <LinkTo
      @route="publications"
      class="uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-column"
    >
      <div class="title-card">
        <UkIcon @icon="file-text" ratio={{3}}/>
        <div class="title-card-text">Publikationen</div>
      </div>
    </LinkTo>
  </UkFlex>
</div>
