<div class="uk-text-center">
  <h1 class="uk-heading-hero uk-text-bold">404</h1>
  <h2>Die Seite wurde nicht gefunden.</h2>
  {{#link-to 'index' class='uk-button uk-button-default uk-margin-medium'}}Zurück zur Startseite{{/link-to}}
</div>
