<div class="uk-text-center">
  <h1 class="uk-heading-hero uk-text-bolder">
    404
  </h1>
  <h2>
    Die Seite wurde nicht gefunden.
  </h2>
  <LinkTo @route="index" class="uk-button uk-button-default uk-margin-medium">
    Zurück zur Startseite
  </LinkTo>
</div>