.multi-line-text {
  overflow-wrap: break-word;
  white-space: pre-line;
}

.inline-icon-margin {
  margin-left: 4px;
}

tr[role="link"] {
  cursor: pointer;
}

.uk-table .uk-icon {
  min-height: 16px;
  min-width: 16px;
}

@import "modules/dossier-import";
@import "components/filters/select";
@import "components/additional-demand";
@import "components/billing-table";
@import "components/dropzone";
@import "components/icon-button";
@import "components/gr-gis";
@import "components/saving-indicator";
@import "components/watermark";
@import "link-attachments";
@import "communications-module";
@import "permissions-module";
@import "construction-monitoring";
@import "diff";
