$custom-muted-color-dark: #{darken($global-muted-background, 15%)};
$custom-muted-color-light: #{darken($global-muted-background, 5%)};

.multi-line-text {
  overflow-wrap: break-word;
  white-space: pre-line;
}

.inline-icon-margin {
  margin-left: 4px;
}

tr[role="link"] {
  cursor: pointer;
}

.uk-table .uk-icon {
  min-height: 16px;
  min-width: 16px;
}

.uk-label.uk-label-muted {
  background-color: $custom-muted-color-light;
  color: $text-muted-color;
}

@import "modules/dossier-import";
@import "components/filters/select";
@import "components/additional-demand";
@import "components/billing-table";
@import "components/billing-global-table";
@import "components/dropzone";
@import "components/icon-button";
@import "components/linked-instances";
@import "components/link-instance-button";
@import "components/gis";
@import "components/ag-gis";
@import "components/saving-indicator";
@import "components/watermark";
@import "components/service-content";
@import "link-attachments";
@import "communications-module";
@import "permissions-module";
@import "construction-monitoring";
@import "diff";
