.multi-line-text {
  overflow-wrap: break-word;
  white-space: pre-line;
}

.inline-icon-margin {
  margin-left: 4px;
}

@import "link-attachments";

textarea.communications-message-input {
  resize: vertical;
  border-radius: 10px 10px 0 10px;
}
