.context-menu-container {
  position: relative;
}

.context-menu-trigger {
  background: none;
  border: none;
}

.context-menu {
  width: auto;
  right: 8px;
  left: auto;
  z-index: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);

  ul {
    margin: 0 !important;
    padding-left: 1rem;

    > li > button {
      padding: 0;
      background: none;
      border: none;
      white-space: nowrap;
      cursor: pointer;
    }

    > li:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}
