@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

$border-color: darken($global-muted-background, 10%);
$main-nav-height: 80px;
$sidebar-width: 240px;
$sidebar-padding: 48px;
$main-navigation-background: $global-primary-background !default;

.main-content {
  margin-top: $main-nav-height;
  padding-top: $global-margin;
  padding-bottom: $global-margin;
}

.nav-sidebar + .main-content {
  padding-left: $sidebar-width + $container-padding-horizontal;
}

.ca-label {
  text-transform: uppercase;
  color: $global-muted-color;
}

.full-screen-content {
  margin-left: $sidebar-width + 1px;
  margin-top: $main-nav-height;

  & > div {
    height: calc(100vh - $main-nav-height);
  }
}

@media (min-width: $breakpoint-small) {
  .nav-sidebar + .main-content {
    padding-left: $sidebar-width + $container-padding-horizontal-s;
  }
}

@media (min-width: $breakpoint-medium) {
  .nav-sidebar + .main-content {
    padding-left: $sidebar-width + $container-padding-horizontal-m;
  }
}

.alexandria-container {
  border: none;
}

.main-content > .alexandria-container > div > div {
  > div {
    padding-left: 0;
    padding-right: 0;
  }

  > div:first-child {
    padding-top: 0;

    > div {
      padding: 0;
      border: none;
    }
  }

  > div:last-child {
    padding-bottom: 0;
    border-top: none;
    min-height: 70dvh;
  }
}

.main-navigation.uk-navbar-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: $global-z-index + 5; // modal uses +10
  background-color: $main-navigation-background;
  box-shadow: $global-small-box-shadow;

  .uk-navbar-nav {
    > li > a {
      color: white;
    }

    > li.uk-active > a > span:first-of-type {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  .uk-navbar-right li > a {
    text-transform: initial;
  }

  #locale-dropdown {
    min-width: 100px;
  }

  .uk-logo > img {
    width: 100%;
    max-width: $sidebar-width - ($padding-small-padding * 2);
    max-height: 50px;
  }

  .uk-badge {
    background-color: $global-danger-background;
  }
}

.main-content {
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

select.uk-select.phx-change-loading {
  pointer-events: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><circle cx="25" cy="25" r="20" fill="none" stroke="%23aaa" stroke-width="5" stroke-dasharray="31.415,31.415" transform="rotate(-90 25 25)"><animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="1s" repeatCount="indefinite"/></circle></svg>') !important;
  background-repeat: no-repeat;
  background-position: right 10px center !important;
  background-size: 1em 1em;
}

button.uk-button.phx-click-loading {
  pointer-events: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><circle cx="25" cy="25" r="20" fill="none" stroke="%23aaa" stroke-width="5" stroke-dasharray="31.415,31.415" transform="rotate(-90 25 25)"><animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="1s" repeatCount="indefinite"/></circle></svg>') !important;
  background-color: #ccc;
  color: #666;
  border-color: #bbb;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  background-position: center;
  position: relative;
}

.hidden {
  display: none;
}

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }
