@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
:root {
  --black: black;
  --red: $global-primary-background;
}

header {
  width: 100%;
}
header .header-container {
  width: 100%;
  /* @media screen and (max-width: 1119px) { */
  /*   div.service-nav.login { */
  /*     display: none; */
  /*   } */
  /* } */
}
header .header-container hr {
  width: 100%;
  border-top: 1px solid #DEDEDE;
}
header .header-container p {
  line-height: 17px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  color: #000;
  font-style: normal;
  font-weight: 300;
  margin-top: 19px;
  margin-bottom: 24px;
}
header .header-container .header-logo {
  background-image: url(../img/kanton-bern-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 68.5px;
  width: 150px;
}
header .header-container .title {
  font-size: 0.9rem;
  margin-bottom: 20px;
  margin-top: 45px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}
header .header-container .title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 56px;
  margin: -9px 0 28px -2px;
  color: #000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
}
header .header-container div.service-nav {
  /* position: absolute; */
  /* right: 0; */
  float: right;
  display: flex;
}
@media screen and (max-width: 1119px) {
  header .header-container div.service-nav {
    display: none;
  }
}
header .header-container div.service-nav.login {
  font-size: 14px;
}
header .header-container div.service-nav.login a.service-menue {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  display: inline-block;
  text-decoration: none !important;
  height: 18px;
  line-height: 1.5;
  margin: 0 calc(0.25vw + 15px) 0 calc(0.25vw + 15px);
}
header .header-container div.service-nav.login a.service-menue:after {
  display: block;
  content: "";
  border-bottom: 2px solid #000;
  transform: scaleX(0);
  transition: transform 100ms ease-in-out;
}
header .header-container div.service-nav.login a.service-menue:hover::after,
header .header-container div.service-nav.login a.service-menue:focus::after,
header .header-container div.service-nav.login a.service-menue:active::after {
  transform: scaleX(1);
}
header .header-container div.service-nav.login a.service-menue {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01rem;
  word-spacing: 0.025rem;
  color: var(--black);
  display: inline-block;
  height: 20px;
  line-height: 1.3;
  margin: 0 calc(0.25vw + 15px) 0 calc(0.25vw + 15px);
}
header .header-container div.service-nav.login a.service-menue:after {
  display: block;
  content: "";
  border-bottom: 2px solid #000;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
}
header .header-container div.service-nav.login a.service-menue {
  text-decoration: none !important;
}
header .header-container div.service-nav.login a {
  color: var(--black);
}
header .header-container div.service-nav.login a:hover,
header .header-container div.service-nav.login a:focus {
  color: var(--black);
}
header .header-container div.service-nav.login .language-selector {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  margin-left: calc(0.25vw + 8px);
  display: flex;
}
header .header-container div.service-nav.login .language-selector:after {
  border-bottom: 2px solid #000;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
}
header .header-container div.service-nav.login .language-selector :not(:last-child):after {
  content: "|";
  display: inline;
}
header .header-container div.service-nav.login .language-selector :last-child .language-tag {
  margin-right: 0px;
}
header .header-container div.service-nav.login .language-selector .language {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  display: flex;
  height: 20px;
  line-height: 1.3;
  letter-spacing: 0.025rem;
  text-decoration: none !important;
}
header .header-container div.service-nav.login .language-selector .language .active {
  border-bottom: 2px solid rgb(234, 22, 31);
}
header .header-container div.service-nav.login .language-selector .language-tag {
  text-transform: uppercase;
  margin: 0 7px;
}

/*# sourceMappingURL=header.css.map */
