/* Error: expected ";".
 *    ,
 * 47 |   margin: 0 auto;
 *    |         ^
 *    '
 *   src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/login-page.scss 47:9  @use
 *   src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/style.scss 5:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 47 \2502    margin: 0 auto;\a    \2502          ^\a    \2575 \a   src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/login-page.scss 47:9  @use\a   src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/style.scss 5:1        root stylesheet';
}
