interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.geoservice.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?service=wfs&version=2.0.0&Request=GetFeature&typename=a42geo_a42geo_ortsangabenwfs_d_fk:DIPANU_DIPANUF&count=10&Filter=%3Cogc:Filter%3E%3Cogc:PropertyIsEqualTo%20matchCase=%22true%22%3E%3Cogc:PropertyName%3EEGRID%3C/ogc:PropertyName%3E%3Cogc:Literal%3ECH643546955207%3C/ogc:Literal%3E%3C/ogc:PropertyIsEqualTo%3E%3C/ogc:Filter%3E
  response:
    body: {string: '<wfs:FeatureCollection previous=''-1'' next=''-1'' numberMatched=''10''
        numberReturned=''10'' xsi:schemaLocation=''http://x3012app435.infra.be.ch:6080/arcgis/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer
        https://www.geoservice.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?request=DescribeFeatureType%26version=2.0.0%26typename=DIPANU_DIPANUF
        http://www.opengis.net/wfs/2.0 http://schemas.opengis.net/wfs/2.0/wfs.xsd
        http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd''
        xmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=''http://x3012app435.infra.be.ch:6080/arcgis/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer''
        xmlns:gml=''http://www.opengis.net/gml/3.2'' xmlns:wfs=''http://www.opengis.net/wfs/2.0''
        xmlns:xlink=''http://www.w3.org/1999/xlink'' xmlns:xsi=''http://www.w3.org/2001/XMLSchema-instance''><gml:boundedBy><gml:Envelope
        srsName=''urn:ogc:def:crs:EPSG:6.9:2056''><gml:lowerCorner>2556241.5010000002
        1131088.1669999999</gml:lowerCorner><gml:upperCorner>2677284.8110000002 1243834.1029999999</gml:upperCorner></gml:Envelope></gml:boundedBy><gml:member><a42geo_a42geo_ebau_kt_wfs_d_fk:DIPANU_DIPANUF
        gml:id=''F93964__430277''><a42geo_a42geo_ebau_kt_wfs_d_fk:OBJECTID>430277</a42geo_a42geo_ebau_kt_wfs_d_fk:OBJECTID><a42geo_a42geo_ebau_kt_wfs_d_fk:BFSNR>943</a42geo_a42geo_ebau_kt_wfs_d_fk:BFSNR><a42geo_a42geo_ebau_kt_wfs_d_fk:GBKR>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GBKR><a42geo_a42geo_ebau_kt_wfs_d_fk:EGRID>CH643546955207</a42geo_a42geo_ebau_kt_wfs_d_fk:EGRID><a42geo_a42geo_ebau_kt_wfs_d_fk:GSTART>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GSTART><a42geo_a42geo_ebau_kt_wfs_d_fk:GSTBEZ>42</a42geo_a42geo_ebau_kt_wfs_d_fk:GSTBEZ><a42geo_a42geo_ebau_kt_wfs_d_fk:GBFLAE>194900</a42geo_a42geo_ebau_kt_wfs_d_fk:GBFLAE><a42geo_a42geo_ebau_kt_wfs_d_fk:GZSTAT>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GZSTAT><a42geo_a42geo_ebau_kt_wfs_d_fk:PROJSTAT>0</a42geo_a42geo_ebau_kt_wfs_d_fk:PROJSTAT><a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRI>9430</a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRI><a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRN>Uebeschi</a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRN><a42geo_a42geo_ebau_kt_wfs_d_fk:SHAPE><gml:MultiSurface
        srsName="urn:ogc:def:crs:EPSG:6.9:2056"><gml:surfaceMember><gml:Polygon><gml:exterior><gml:LinearRing><gml:posList>
        2609722.3770000003 1176042.1519999988 2609725.6429999992 1176039.3830000013
        2609729.2950000018 1176036.2870000005 2609732.1039999984 1176041.0009999983
        2609757.7010000013 1176083.9549999982 2609748.8020000011 1176098.6719999984
        2609740.4930000007 1176111.7369999997 2609731.5320000015 1176124.3440000005
        2609714.6939999983 1176150.8969999999 2609701.0359999985 1176166.3920000009
        2609685.193 1176178.743999999 2609643.5190000013 1176203.9699999988 260[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature xmlns=\"http://www.opengis.net/wfs\"
      xmlns:a42geo_ebau_kt_wfs_d_fk=\"http://www.geoservice.apps.be.ch/geoservice/services/a4p/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"
      xmlns:ogc=\"http://www.opengis.net/ogc\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      xmlns:gml=\"http://www.opengis.net/gml\" service=\"WFS\" version=\"2.0.0\" outputFormat=\"GML2\"
      count=\"100\">\n    ['<Query typeName=\"a42geo_ebau_kt_wfs_d_fk:BALISKBS_KBS\"
      srsName=\"EPSG:2056\">\\n        <ogc:Filter>\\n          <ogc:Intersects>\\n
      \           <ogc:PropertyName>Shape</ogc:PropertyName>\\n            <gml:MultiSurface
      xmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=\"http://x3012app435.infra.be.ch:6080/arcgis/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"
      xmlns:wfs=\"http://www.opengis.net/wfs/2.0\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" srsName=\"urn:ogc:def:crs:EPSG:6.9:2056\"><gml:surfaceMember><gml:Polygon><gml:exterior><gml:LinearRing><gml:posList>
      2609722.377[...]
