interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.geoservice.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?service=wfs&version=2.0.0&Request=GetFeature&typename=a42geo_a42geo_ortsangabenwfs_d_fk:DIPANU_DIPANUF&count=10&Filter=%3Cogc:Filter%3E%3Cogc:PropertyIsEqualTo%20matchCase=%22true%22%3E%3Cogc:PropertyName%3EEGRID%3C/ogc:PropertyName%3E%3Cogc:Literal%3ECH851446093521%3C/ogc:Literal%3E%3C/ogc:PropertyIsEqualTo%3E%3C/ogc:Filter%3E
  response:
    body: {string: '<wfs:FeatureCollection previous=''-1'' next=''-1'' numberMatched=''10''
        numberReturned=''10'' xsi:schemaLocation=''http://x3012app437.infra.be.ch:6080/arcgis/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer
        https://www.geoservice.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?request=DescribeFeatureType%26version=2.0.0%26typename=DIPANU_DIPANUF
        http://www.opengis.net/wfs/2.0 http://schemas.opengis.net/wfs/2.0/wfs.xsd
        http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd''
        xmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=''http://x3012app437.infra.be.ch:6080/arcgis/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer''
        xmlns:gml=''http://www.opengis.net/gml/3.2'' xmlns:wfs=''http://www.opengis.net/wfs/2.0''
        xmlns:xlink=''http://www.w3.org/1999/xlink'' xmlns:xsi=''http://www.w3.org/2001/XMLSchema-instance''><gml:boundedBy><gml:Envelope
        srsName=''urn:ogc:def:crs:EPSG:6.9:2056''><gml:lowerCorner>2556241.5010000002
        1131088.1669999999</gml:lowerCorner><gml:upperCorner>2677284.8110000002 1243834.1029999999</gml:upperCorner></gml:Envelope></gml:boundedBy><gml:member><a42geo_a42geo_ebau_kt_wfs_d_fk:DIPANU_DIPANUF
        gml:id=''F93964__407014''><a42geo_a42geo_ebau_kt_wfs_d_fk:OBJECTID>407014</a42geo_a42geo_ebau_kt_wfs_d_fk:OBJECTID><a42geo_a42geo_ebau_kt_wfs_d_fk:BFSNR>929</a42geo_a42geo_ebau_kt_wfs_d_fk:BFSNR><a42geo_a42geo_ebau_kt_wfs_d_fk:GBKR>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GBKR><a42geo_a42geo_ebau_kt_wfs_d_fk:EGRID>CH851446093521</a42geo_a42geo_ebau_kt_wfs_d_fk:EGRID><a42geo_a42geo_ebau_kt_wfs_d_fk:GSTART>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GSTART><a42geo_a42geo_ebau_kt_wfs_d_fk:GSTBEZ>268</a42geo_a42geo_ebau_kt_wfs_d_fk:GSTBEZ><a42geo_a42geo_ebau_kt_wfs_d_fk:GBFLAE>9540</a42geo_a42geo_ebau_kt_wfs_d_fk:GBFLAE><a42geo_a42geo_ebau_kt_wfs_d_fk:GZSTAT>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GZSTAT><a42geo_a42geo_ebau_kt_wfs_d_fk:PROJSTAT>0</a42geo_a42geo_ebau_kt_wfs_d_fk:PROJSTAT><a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRI>9290</a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRI><a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRN>Hilterfingen</a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRN><a42geo_a42geo_ebau_kt_wfs_d_fk:SHAPE><gml:MultiSurface
        srsName="urn:ogc:def:crs:EPSG:6.9:2056"><gml:surfaceMember><gml:Polygon><gml:exterior><gml:LinearRing><gml:posList>
        2616321.9849999994 1177049.2089999989 2616318.3969999999 1177058.5320000015
        2616297.7719999999 1177022.8960000016 2616286.0329999998 1177002.629999999
        2616285.5729999989 1177001.8370000012 2616282.0540000014 1176995.7650000006
        2616272.4649999999 1176991.9780000001 2616261.0830000006 1176987.5859999992
        2616253.3949999996 1176984.6130000018 2616242.0089999996 1176979.7529999986
        2616239.0029999986 1176978.1790000014 2616225.4400000013 1176970.1979999[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature xmlns=\"http://www.opengis.net/wfs\"\
      \ xmlns:a42geo_ebau_kt_wfs_d_fk=\"http://www.geoservice.apps.be.ch/geoservice/services/a4p/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"\
      \ xmlns:ogc=\"http://www.opengis.net/ogc\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
      \ xmlns:gml=\"http://www.opengis.net/gml\" service=\"WFS\" version=\"2.0.0\"\
      \ outputFormat=\"GML2\" count=\"100\">\n    ['<Query typeName=\"a42geo_ebau_kt_wfs_d_fk:BALISKBS_KBS\"\
      \ srsName=\"EPSG:2056\">\\n        <ogc:Filter>\\n          <ogc:Intersects>\\\
      n            <ogc:PropertyName>Shape</ogc:PropertyName>\\n            <gml:MultiSurface\
      \ xmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=\"http://x3012app437.infra.be.ch:6080/arcgis/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"\
      \ xmlns:wfs=\"http://www.opengis.net/wfs/2.0\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" srsName=\"urn:ogc:def:crs:EPSG:6.9:2056\"\
      ><gml:surfaceMember><gml:Polygon><gml:exterior><gml:LinearRing><gml:posList>\[...]
