interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?service=WFS&version=2.0.0&Request=GetFeature&typename=a42geo_a42geo_ebau_kt_wfs_d_fk:DIPANU_DIPANUF&count=10&Filter=%3Cogc:Filter%3E%3Cogc:PropertyIsEqualTo%20matchCase=%22true%22%3E%3Cogc:PropertyName%3EEGRID%3C/ogc:PropertyName%3E%3Cogc:Literal%3ECH643546955207%3C/ogc:Literal%3E%3C/ogc:PropertyIsEqualTo%3E%3C/ogc:Filter%3E
    response:
      body:
        string:
          <?xml version="1.0" encoding="utf-8" ?><wfs:FeatureCollection xmlns:xs="http://www.w3.org/2001/XMLSchema"
          xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:gml="http://www.opengis.net/gml/3.2"
          xmlns:a42geo_a42geo_ebau_kt_wfs_d_fk="https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer"
          xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          timeStamp="2021-12-09T10:29:10Z" numberMatched="unknown" numberReturned="1"
          xsi:schemaLocation="http://www.opengis.net/wfs/2.0 http://schemas.opengis.net/wfs/2.0/wfs.xsd
          http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd
          https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer
          https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?service=wfs%26version=2.0.0%26request=DescribeFeatureType"><wfs:member><a42geo_a42geo_ebau_kt_wfs_d_fk:DIPANU_DIPANUF
          gml:id="DIPANU_DIPANUF.441459"><a42geo_a42geo_ebau_kt_wfs_d_fk:OBJECTID>441459</a42geo_a42geo_ebau_kt_wfs_d_fk:OBJECTID><a42geo_a42geo_ebau_kt_wfs_d_fk:BFSNR>943</a42geo_a42geo_ebau_kt_wfs_d_fk:BFSNR><a42geo_a42geo_ebau_kt_wfs_d_fk:GBKR>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GBKR><a42geo_a42geo_ebau_kt_wfs_d_fk:EGRID>CH643546955207</a42geo_a42geo_ebau_kt_wfs_d_fk:EGRID><a42geo_a42geo_ebau_kt_wfs_d_fk:GSTART>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GSTART><a42geo_a42geo_ebau_kt_wfs_d_fk:GSTBEZ>42</a42geo_a42geo_ebau_kt_wfs_d_fk:GSTBEZ><a42geo_a42geo_ebau_kt_wfs_d_fk:GBFLAE>194900</a42geo_a42geo_ebau_kt_wfs_d_fk:GBFLAE><a42geo_a42geo_ebau_kt_wfs_d_fk:GZSTAT>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GZSTAT><a42geo_a42geo_ebau_kt_wfs_d_fk:PROJSTAT>0</a42geo_a42geo_ebau_kt_wfs_d_fk:PROJSTAT><a42geo_a42geo_ebau_kt_wfs_d_fk:LETZTEAEND>30.03.2015</a42geo_a42geo_ebau_kt_wfs_d_fk:LETZTEAEND><a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRI>9430</a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRI><a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRN>Uebeschi</a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRN><a42geo_a42geo_ebau_kt_wfs_d_fk:SHAPE><gml:MultiSurface
          gml:id="DIPANU_DIPANUF.441459.pl" srsName="urn:ogc:def:crs:EPSG::2056"><gml:surfaceMember><gml:Polygon
          gml:id="DIPANU_DIPANUF.441459.pl.0"><gml:exterior><gml:LinearRing><gml:posList>1176042.15200000
          2609722.37700000 1176088.27700000 2609667.97400000 1176112.82200000 2609612.78000000
          1176114.39900000 2609582.92900000 1176080.28100000 2609547.31000000 1176044.10400000
          2609542.67800000 1175972.31300000 2609457.86100000 1176039.57200000 2609364.28000000
          1175996.60500000 2609256.24900000 1175973.36400000 2609201.17900000 1175972.01800000
          2609198.16800000 1175965.82900000 2609183.34600000 1175964.57000000 2609177.51100000
        [...]
  - request:
      body:
        "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=\"https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
        \   <Query typeName=\"a42geo_ebau_kt_wfs_d_fk:GEODB.GSK25_GSK_VW\" srsName=\"EPSG:2056\">\n
        \       <ogc:Filter>\n          <ogc:Intersects>\n            <gml:Polygon xmlns:gml=\"http://www.opengis.net/gml/3.2\"
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:wfs=\"http://www.opengis.net/wfs/2.0\"
        xmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=\"https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        gml:id=\"DIPANU_DIPANUF.441459.pl.0\"><gml:exterior><gml:LinearRing><gml:posLi[...]
