interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?service=WFS&version=2.0.0&Request=GetFeature&typename=a42geo_a42geo_ebau_kt_wfs_d_fk:DIPANU_DIPANUF&count=10&Filter=%3Cogc:Filter%3E%3Cogc:PropertyIsEqualTo%20matchCase=%22true%22%3E%3Cogc:PropertyName%3EEGRID%3C/ogc:PropertyName%3E%3Cogc:Literal%3ECH851446093521%3C/ogc:Literal%3E%3C/ogc:PropertyIsEqualTo%3E%3C/ogc:Filter%3E
    response:
      body:
        string:
          <?xml version="1.0" encoding="utf-8" ?><wfs:FeatureCollection xmlns:xs="http://www.w3.org/2001/XMLSchema"
          xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:gml="http://www.opengis.net/gml/3.2"
          xmlns:a42geo_a42geo_ebau_kt_wfs_d_fk="https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer"
          xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          timeStamp="2021-12-09T10:29:23Z" numberMatched="unknown" numberReturned="1"
          xsi:schemaLocation="http://www.opengis.net/wfs/2.0 http://schemas.opengis.net/wfs/2.0/wfs.xsd
          http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd
          https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer
          https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?service=wfs%26version=2.0.0%26request=DescribeFeatureType"><wfs:member><a42geo_a42geo_ebau_kt_wfs_d_fk:DIPANU_DIPANUF
          gml:id="DIPANU_DIPANUF.418564"><a42geo_a42geo_ebau_kt_wfs_d_fk:OBJECTID>418564</a42geo_a42geo_ebau_kt_wfs_d_fk:OBJECTID><a42geo_a42geo_ebau_kt_wfs_d_fk:BFSNR>929</a42geo_a42geo_ebau_kt_wfs_d_fk:BFSNR><a42geo_a42geo_ebau_kt_wfs_d_fk:GBKR>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GBKR><a42geo_a42geo_ebau_kt_wfs_d_fk:EGRID>CH851446093521</a42geo_a42geo_ebau_kt_wfs_d_fk:EGRID><a42geo_a42geo_ebau_kt_wfs_d_fk:GSTART>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GSTART><a42geo_a42geo_ebau_kt_wfs_d_fk:GSTBEZ>268</a42geo_a42geo_ebau_kt_wfs_d_fk:GSTBEZ><a42geo_a42geo_ebau_kt_wfs_d_fk:GBFLAE>9540</a42geo_a42geo_ebau_kt_wfs_d_fk:GBFLAE><a42geo_a42geo_ebau_kt_wfs_d_fk:GZSTAT>0</a42geo_a42geo_ebau_kt_wfs_d_fk:GZSTAT><a42geo_a42geo_ebau_kt_wfs_d_fk:PROJSTAT>0</a42geo_a42geo_ebau_kt_wfs_d_fk:PROJSTAT><a42geo_a42geo_ebau_kt_wfs_d_fk:LETZTEAEND>17.04.2009</a42geo_a42geo_ebau_kt_wfs_d_fk:LETZTEAEND><a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRI>9290</a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRI><a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRN>Hilterfingen</a42geo_a42geo_ebau_kt_wfs_d_fk:GENGBKRN><a42geo_a42geo_ebau_kt_wfs_d_fk:SHAPE><gml:MultiSurface
          gml:id="DIPANU_DIPANUF.418564.pl" srsName="urn:ogc:def:crs:EPSG::2056"><gml:surfaceMember><gml:Polygon
          gml:id="DIPANU_DIPANUF.418564.pl.0"><gml:exterior><gml:LinearRing><gml:posList>1177049.20900000
          2616321.98500000 1177018.30900000 2616303.74100000 1177019.11900000 2616302.31200000
          1177009.63100000 2616296.85100000 1177008.26800000 2616296.16260000 1177006.82630000
          2616295.65930000 1177005.33100000 2616295.35000000 1177003.80990000 2616295.21490000
          1177002.28540000 2616295.30550000 1177000.79100000 2616295.62000000 1176993.98900000
          2616296.00400000 1176987.19800000 2616290.69900000 1176982.74200000 2616291.42200000
        [...]
  - request:
      body:
        "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=\"https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
        \   <Query typeName=\"a42geo_ebau_kt_wfs_d_fk:GEODB.GSK25_GSK_VW\" srsName=\"EPSG:2056\">\n
        \       <ogc:Filter>\n          <ogc:Intersects>\n            <gml:Polygon xmlns:gml=\"http://www.opengis.net/gml/3.2\"
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:wfs=\"http://www.opengis.net/wfs/2.0\"
        xmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=\"https://www.geoservice2-test.apps.be.ch/geoservice2/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        gml:id=\"DIPANU_DIPANUF.418564.pl.0\"><gml:exterior><gml:LinearRing><gml:posLi[...]
