<div class="subnav-header">
  <span class="uk-text-bold">{{@case.dossierNumber}}</span>
  <br/>
  {{@case.form}}
  <div>
    {{#if @case.instanceState}}
      <span class="uk-label subnav-header__label subnav-header__label--primary">{{@case.instanceState}}</span>
    {{/if}}
    {{#if @case.instance.isPaper}}
      <span class="uk-label subnav-header__label">{{t "nav.paper"}}</span>
    {{/if}}
  </div>
</div>