<h4>Allgemeine Informationen zum Ausfüllen des Gesuchsformulars</h4>

{{#uk-list bullet=true as |list|}}
  {{#list.item}}
    <strong>Funktionsweise:</strong>
    {{#uk-list bullet=true as |sublist|}}
      {{#sublist.item}}
        Das Gesuchsformular ist mit einer logischen Nutzerführung hinterlegt.
      {{/sublist.item}}
      {{#sublist.item}}
        Begriffserläuterungen und Hilfestellungstexte können Sie sich durch
        Klicken auf das Hilfeicon {{uk-icon 'info' ratio=0.8 class='pointer'}}
        anzeigen lassen.
      {{/sublist.item}}
      {{#sublist.item}}
        Es gibt Pflichtfelder die zwingend auszufüllen sind. Diese sind mit
        einem Asteriks <span class="uk-text-danger">*</span> markiert.
      {{/sublist.item}}
      {{#sublist.item}}
        Durch das Ausfüllen des Gesuchsformulars werden automatisch
        Unterlagenkategorien als nötig markiert. In diesen Kategorien
        muss mindestens eine Unterlage eingereicht werden.
        Ansonsten wird das Gesuch als unvollständig zurückgewiesen.
      {{/sublist.item}}
    {{/uk-list}}
  {{/list.item}}
  {{#list.item}}
    <strong>Abspeichern:</strong> Ihre Eingaben werden automatisch
    gespeichert, sobald Sie das Feld verlassen. So haben Sie die Möglichkeit,
    jederzeit abzubrechen und zu einem beliebigen Zeitpunkt fortzufahren.
  {{/list.item}}
  {{!--#list.item}}
    <strong>Ausdrucken:</strong> Über die Funktion des Ausdruckens wird ein
    PDF-Dokument erstellt, welches ausgedruckt werden kann. Ein PDF-Dokument
    kann auch vor Versenden des Gesuchsformulars erstellt werden. Solange das
    Gesuch nicht abgeschickt wurde, erscheint auf dem PDF das „Wasserzeichen“
    Entwurf.
  {{/list.item--}}
  {{#list.item}}
    <strong>Eingabe:</strong> Erst, wenn alle Pflichtangaben gemacht wurden,
    kann das Gesuch eingereicht werden. Wenn das Gesuch eingereicht ist,
    können Sie keine Anpassungen mehr vornehmen. Im Falle nachträglich
    festgestellter Fehler müssen Sie sich an die Bauverwaltung der
    entsprechenden Gemeinde wenden.
    Begonnene wie auch eingereichte Gesuche können Sie künftig über Ihr
    Login einsehen.
  {{/list.item}}
  {{#list.item}}
    <strong>Löschen:</strong> Begonnene, aber noch nicht eingereichte Gesuche,
    können Sie löschen.
  {{/list.item}}
  {{#list.item}}
    <strong>Stand Ihres Gesuchs:</strong> Solange Sie ein Gesuch nicht
    eingereicht haben, bleibt der Status auf „Neu“. Nach Einreichung des
    Gesuchs wird sich der Status immer dem jeweiligen Verfahrensstand anpassen.
    Grundsätzlich können die folgenden Status durchlaufen werden:
    Neu / Eingereicht / Von Gemeinde angenommen / In Zirkulation / Bauentscheid ausstehend /
    Nachforderung / Bewilligt / (Abgelehnt) / Archiviert
  {{/list.item}}
  {{#list.item}}
    <strong>Probleme:</strong> Im Falle von Problemen oder Fragen, welche
    durch die hinterlegten Hilfestellungen nicht geklärt werden, können Sie
    sich an die Bauverwaltung der entsprechenden Gemeinde wenden.
  {{/list.item}}
{{/uk-list}}
