{{#if @visible}}
  <div class="overlay visible"></div>
  <div id="dialog-loading" class="visible">
    <img src="/public/images/loading.gif" alt={{t "global.loading"}}>
    {{t "global.wait"}}
  </div>
{{/if}}
