<div class="uk-alert uk-alert-{{this.type}}">
  <a href="" class="uk-alert-close" uk-close {{on "click" @onClick}}>
    <span hidden>{{t "global.close"}}</span>
  </a>
  {{@notification.message}}
</div>
