<p class="uk-text-center">
  Anwendung lädt...
</p>

<noscript>
  <div class="uk-flex uk-flex-center">
    <div class="uk-alert uk-alert-danger uk-margin-medium-top uk-width-large uk-text-center">
      <strong>Diese Anwendung benötigt JavaScript!</strong>
      <br>
      Bitte aktivieren Sie JavaScript und laden die Seite neu...
    </div>
  </div>
</noscript>
