<div class="uk-width-1-1 uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center uk-height-viewport uk-animation-fade">
  <img class="uk-margin" alt="Kanton Schwyz" src="/assets/images/logo-kanton-schwyz.svg">
  Laden...
  <noscript>
    <div class="uk-alert uk-alert-danger uk-margin-top uk-margin-left uk-margin-right">
      <strong>Diese Anwendung benötigt JavaScript!</strong>
      Bitte aktivieren Sie JavaScript und laden die Seite neu...
    </div>
  </noscript>
</div>
