.history__row__body {
  font-style: italic;
  word-break: break-word;
}

.history__row__date,
.history__row__user {
  white-space: nowrap;
}

.history__row__icon,
.history__row__toggle {
  text-align: center;
}

.history__row__toggle__button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}

hr {
  position: initial;
  left: initial;
  top: initial;
  width: initial;
  height: initial;
  overflow: initial;
  display: block;
  border: none;
  border-top: 1px solid #000000;
}
