.history__row__body {
  border-top: 1px solid #000000;
  margin-top: 5px;
  padding-top: 5px;
  font-style: italic;
  word-break: break-word;
  white-space: pre-line;
}

.history__row__date,
.history__row__user {
  white-space: nowrap;
}

.history__row__icon,
.history__row__toggle {
  text-align: center;
}

.history__row__toggle__button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
