{% extends 'admin/base.html' %}
{% load i18n %}
{% load settings_value %}

{% block welcome-msg %}{% endblock %}

{% block userlinks %}
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  {% settings_value "USE_CAMAC_ADMIN" from_application_settings=True as USE_CAMAC_ADMIN %}
  {% settings_value "INTERNAL_BASE_URL" as INTERNAL_BASE_URL %}

  {% for language in languages %}
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <input name="language" type="hidden" value="{{ language.code }}" />
      <a href="#" class="submit-link {% if language.code == LANGUAGE_CODE %} bold{% endif %}">{{ language.code }}</a>
    </form>
  {% endfor %}

  {% if USE_CAMAC_ADMIN %}
  {% else %}
    <a href="{{ INTERNAL_BASE_URL }}">{% translate 'Back to eBau' %}</a>
  {% endif %}

{% endblock %}

{% block extrahead %}
<style>
  #user-tools form {
    display: inline;
  }

  #user-tools .bold {
    font-weight: 700;
  }
</style>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script>
    const links = document.querySelectorAll(".submit-link")

    links.forEach(el => el.addEventListener("click", e => {
      e.preventDefault()
      e.target.closest("form").submit()
    }))
  </script>
{% endblock %}
