<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      {{#each columns as |node|}}
        <th>{{node.label}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rows as |row|}}
      <tr>
        {{#each row.fields as |answerField|}}
          {{#if (contains answerField.answer.question.slug displayedColumns)}}
            <td>{{cf-field-value field=answerField}}</td>
          {{/if}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
