.journal {
  margin-top: 10px;
}

.journal__new {
  display: block;
  margin-bottom: 10px;
}

.journal__row__body {
  width: 80%;
  word-break: break-word;
  white-space: pre-line;

  textarea {
    width: 99%;
    height: 80px;
  }
}

.journal__row__info {
  white-space: nowrap;
}

.journal__row__edit {
  text-align: center;
}

.journal__row__edit__buttons {
  display: flex;
  flex-direction: column;
}

.journal__row__edit__buttons button:first-child {
  margin-bottom: 3px;
}

.journal__row__edit__button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
