interactions:
- request:
    body: geometry=2645902%2C1252829%2C2645904%2C1252831&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"K\xFCttigen\",\"attributes\":{\"OBJECTID\":\"116\",\"GDENR\":\"4008\",\"GEMEINDE\":\"K\xFCttigen\",\"GEMEINDEZ\":\"K\xFCttigen\",\"GEMEINDEU\":\"Kuettigen\",\"BZNR\":\"1901\",\"BEZIRK\":\"Aarau\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11894655.005425\",\"SHAPE.STLength()\":\"15547.330685\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"9320\",\"attributes\":{\"OBJECTID\":\"60670693\",\"FILEID\":\"35\",\"GDENR\":\"4008\",\"GDENRPARZ\":\"400809320\",\"NUMMER\":\"9320\",\"EGRID\":\"CH654723825242\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"107675\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"107674.691012\",\"SHAPE.STLength()\":\"3099.331775\"}},{\"layerId\":42,\"layerName\":\"Naturschutzgebiet
        von kant. Bedeutung (NkB) Richtplan L 2.5\",\"displayFieldName\":\"RPKAP_KL\",\"value\":\"l25\",\"attributes\":{\"OBJECTID\":\"210\",\"NKB_ID\":\"Null\",\"KIN_AREAL\":\"Null\",\"RPKAP_KL\":\"l25\",\"RPKAP_LG\":\"L
        2.5 Naturschutzgebiete von kantonaler Bedeutung (NkB)\",\"Shape\":\"Polygon\",\"KATEGORIE\":\"Festsetzung\",\"RP_AUSSAGE\":\"Naturschutzgebiet
        von kant. Bedeutung (NkB)\",\"SHAPE.STArea()\":\"321542.0334\",\"SHAPE.STLength()\":\"3729.895855\",\"FlurnameAV\":\"Acheberg\",\"NKBNr\":\"150\"}},{\"layerId\":48,\"layerName\":\"Bundesinventar
        der Trockenwiesen und -weiden von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Acheberg\",\"attributes\":{\"OBJECTID\":\"2423\",\"ObjNummer\":\"4503\",\"Name\":\"Acheberg\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-trockenwiesen_trockenweiden/objectsheets/2017revision/nr4503.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"01.02.2010\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"\",\"TeilObjNummer\":\"AG1020012\",\"Bewertungseinheit\":\"4503\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"40793.541991\",\"Shape.STLength()\":\"1887.693165\"}},{\"layerId\":495,\"layerName\":\"BLN
        - Bundesinventar der Landschaften und Naturdenkm\xE4ler von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Aargauer
        und \xF6stlicher Solothurner Faltenjura\",\"attributes\":{\"OBJECTID\":\"17\",\"ObjNummer\":\"1017\",\"TeilObjNummer\":\"0\",\"Name\":\"Aargauer
        und \xF6stlicher Solothurner Faltenjura\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"V\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"70738\",\"attributes\":{\"OBJECTID\":\"70738\",\"GDENR\":\"K\xFCttigen
        4008\",\"HNCode\":\"31\",\"HNBez\":\"Schutzzonen f\xFCr Lebensr\xE4ume und
        Landschaften\",\"KTAAbk\":\"Schutzzonen\",\"KTCode\":\"3113\",\"KTAbk\":\"F\",\"KTBez\":\"Fromentalwiese\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"311301\",\"GDEBez\":\"Magerwiesen
        2-Schnitt und Fromentalwiesen\",\"GDEAbk\":\"M2\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2018-001389\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.13.173\",\"UB\":\"Null\",\"KTLabel\":\"F\",\"Geolink\":\"3812\",\"Geolink_ES\":\"3815\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3812.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"63305.351886\",\"Shape.STLength()\":\"2818.124255\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"33830914"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2645883%2C1252810%2C2645923%2C1252850&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"K\xFCttigen\",\"attributes\":{\"OBJECTID\":\"116\",\"GDENR\":\"4008\",\"GEMEINDE\":\"K\xFCttigen\",\"GEMEINDEZ\":\"K\xFCttigen\",\"GEMEINDEU\":\"Kuettigen\",\"BZNR\":\"1901\",\"BEZIRK\":\"Aarau\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11894655.005425\",\"SHAPE.STLength()\":\"15547.330685\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"9320\",\"attributes\":{\"OBJECTID\":\"62925628\",\"FILEID\":\"35\",\"GDENR\":\"4008\",\"NUMMER\":\"9320\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"9320\",\"attributes\":{\"OBJECTID\":\"60670693\",\"FILEID\":\"35\",\"GDENR\":\"4008\",\"GDENRPARZ\":\"400809320\",\"NUMMER\":\"9320\",\"EGRID\":\"CH654723825242\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"107675\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"107674.691012\",\"SHAPE.STLength()\":\"3099.331775\"}},{\"layerId\":42,\"layerName\":\"Naturschutzgebiet
        von k[...]
[...]
