interactions:
- request:
    body: geometry=2657685.795499999541789293289%2C1241575.649276695214211940765%2C2657687.795499999541789293289%2C1241577.649276695214211940765&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seengen\",\"attributes\":{\"OBJECTID\":\"64\",\"GDENR\":\"4208\",\"GEMEINDE\":\"Seengen\",\"GEMEINDEZ\":\"Seengen\",\"GEMEINDEU\":\"Seengen\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"10342936.045435\",\"SHAPE.STLength()\":\"15148.375334\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2780\",\"attributes\":{\"OBJECTID\":\"60986007\",\"FILEID\":\"204\",\"GDENR\":\"4208\",\"GDENRPARZ\":\"420802780\",\"NUMMER\":\"2780\",\"EGRID\":\"CH790595941178\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"7864\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"7863.990118\",\"SHAPE.STLength()\":\"355.548041\"}},{\"layerId\":495,\"layerName\":\"BLN
        - Bundesinventar der Landschaften und Naturdenkm\xE4ler von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Hallwilersee\",\"attributes\":{\"OBJECTID\":\"46\",\"ObjNummer\":\"1303\",\"TeilObjNummer\":\"0\",\"Name\":\"Hallwilersee\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"V\"}},{\"layerId\":497,\"layerName\":\"Landschaftsschutzdekrete
        (detailliert Legende)\",\"displayFieldName\":\"Dekretsname\",\"value\":\"HSD\",\"attributes\":{\"OBJECTID\":\"317\",\"Dekretsname\":\"HSD\",\"Ausf\xFChrlicher
        Dekretsname\":\"Dekret zum Schutze der Hallwilerseelandschaft (SAR 787.350)\",\"Zonencode
        Kanton\":\"5282\",\"Zonenbezeichnung Kanton\":\"Landschaftsschutzzone innerhalb
        Dekretsgebiet (kant. NP)\",\"Typ in Kantonaler Zone\":\"Schutzzone\",\"Verbindlichkeit\":\"Nutzungsplanfestlegung\",\"Orientierungsinhalt\":\"Null\",\"Geolink\":\"38\",\"Beschlussdatum
        \xC4nderung\":\"28.08.2007\",\"Rechtsstatus\":\"inKraft\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/38.html\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"191405.121952\",\"Shape.STLength()\":\"2578.874618\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Ao\",\"attributes\":{\"OBJECTID_1\":\"164\",\"OBJECTID\":\"152\",\"TYP\":\"Ao\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"13757191.567695\",\"SHAPE.STLength()\":\"30064.352032\"}},{\"layerId\":122,\"layerName\":\"Gefahrenkarte
        Ist-Zustand\",\"displayFieldName\":\"FARBE\",\"value\":\"geringe Gef\xE4hrdung\",\"attributes\":{\"OBJECTID\":\"22540\",\"ID\":\"52497\",\"FARBE\":\"geringe
        Gef\xE4hrdung\",\"TEILPROJEKT\":\"Aare Aarau - Brugg\",\"BEARBEITER\":\"Niederer
        + Pozzi Umwelt AG, 8730 Uznach\",\"DATUM\":\"22.03.2023\",\"Freigabe\":\"1\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"14252.75966\",\"SHAPE.STLength()\":\"1295.199152\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"20659\",\"attributes\":{\"OBJECTID\":\"20659\",\"GDENR\":\"Seengen
        4208\",\"HNCode\":\"21\",\"HNBez\":\"Allgemeine Landwirtschaftszonen\",\"KTAAbk\":\"Landwirtschaftszonen\",\"KTCode\":\"2111\",\"KTAbk\":\"AL\",\"KTBez\":\"Allgemeine
        Landwirtschaftszone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"211101\",\"GDEBez\":\"Landwirtschaftszone\",\"GDEAbk\":\"LWZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2013-000520\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.06.121\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"2609\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2609.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"264801.177762\",\"Shape.STLength()\":\"3021.905874\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"4b5e6f71"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2657666.795499999541789293289%2C1241556.649276695214211940765%2C2657706.795499999541789293289%2C1241596.649276695214211940765&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seengen\",\"attributes\":{\"OBJECTID\":\"64\",\"GDENR\":\"4208\",\"GEMEINDE\":\"Seengen\",\"GEMEINDEZ\":\"Seengen\",\"GEMEINDEU\":\"Seengen\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"10342936.045435\",\"SHAPE.STLength()\":\"15148.375334\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"2780\",\"attributes\":{\"OBJECTID\":\"63246974\",\"FILEID\":\"204\",\"GDENR\":\"4208\",\"NUMMER\":\"2780\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2780\",\"attributes\":{\"OBJECTID\":\"60986007\",\"FILEID\":\"204\",\"GDENR\":\"4208\",\"GDENRPARZ\":\"420802780\",\"NUMMER\":\"2780\",\"EGRID\":\"CH790595941178\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"7864\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"7863.990118\",\"SHAPE.STLength()\":\"355.548041\"}},{\"layerId\":495,\"layerName\":\"BLN
        - Bundesinventar der L[...]
[...]
