interactions:
- request:
    body: geometry=2654825%2C1243270%2C2654827%2C1243272&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seon\",\"attributes\":{\"OBJECTID\":\"73\",\"GDENR\":\"4209\",\"GEMEINDE\":\"Seon\",\"GEMEINDEZ\":\"Seon\",\"GEMEINDEU\":\"Seon\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"9620366.947696\",\"SHAPE.STLength()\":\"14398.720021\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2710\",\"attributes\":{\"OBJECTID\":\"61065640\",\"FILEID\":\"201\",\"GDENR\":\"4209\",\"GDENRPARZ\":\"420902710\",\"NUMMER\":\"2710\",\"EGRID\":\"CH258305071122\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"11171\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11170.594811\",\"SHAPE.STLength()\":\"549.312033\"}},{\"layerId\":41,\"layerName\":\"\xDCberlagerte
        Schutzr\xE4ume f\xFCr Lebensr\xE4ume und Landschaften (ohne Gew\xE4sserraum)\",\"displayFieldName\":\"NameNummer\",\"value\":\"21998\",\"attributes\":{\"OBJECTID\":\"21998\",\"GDENR\":\"Seon
        4209\",\"HNCode\":\"52\",\"HNBez\":\"\xDCberlagernde Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTCode\":\"5292\",\"KTAbk\":\"VN\",\"KTBez\":\"Vernetzungszone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"529201\",\"GDEBez\":\"Wildtierkorridor\",\"GDEAbk\":\"WTK\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2020-000006\",\"GeschNr\":\"BVUARE.13.35\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"S\",\"Geolink\":\"3634\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3634.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"794277.270402\",\"SHAPE.STLength()\":\"6244.479989\"}},{\"layerId\":41,\"layerName\":\"\xDCberlagerte
        Schutzr\xE4ume f\xFCr Lebensr\xE4ume und Landschaften (ohne Gew\xE4sserraum)\",\"displayFieldName\":\"NameNummer\",\"value\":\"22027\",\"attributes\":{\"OBJECTID\":\"22027\",\"GDENR\":\"Seon
        4209\",\"HNCode\":\"52\",\"HNBez\":\"\xDCberlagernde Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTCode\":\"5291\",\"KTAbk\":\"HOB\",\"KTBe[...]
[...]
