interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2606211.686890635,1230621.22757022,2606311.686890635,1230721.22757022
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2606236.686890635,1230646.22757022,2606286.686890635,1230696.22757022
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        9818, "geometry": {"type": "Polygon", "coordinates": [[[2606210.67, 1230827.467],
        [2606228.964, 1230842.889], [2606257.372, 1230710.663], [2606224.989, 1230707.618],
        [2606222.002, 1230707.337], [2606216.669, 1230696.33], [2606223.778, 1230685.874],
        [2606239.358, 1230679.773], [2606263.222, 1230679.875], [2606314.534, 1230661.358],
        [2606318.669, 1230640.2], [2606332.639, 1230635.269], [2606347.508, 1230634.75],
        [2606376.446, 1230642.582], [2606349.156, 1230580.234], [2606317.012, 1230506.797],
        [26062[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        23963, "geometry": {"type": "Polygon", "coordinates": [[[2606194.747, 1230752.629],
        [2606198.159, 1230751.692], [2606213.872, 1230725.88], [2606222.885, 1230711.0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2606236.686890635,1230646.22757022,2606286.686890635,1230696.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_linie.data/?bbox=2606236.686890635,1230646.22757022,2606286.686890635,1230696.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2606249.186890635,1230658.72757022,2606274.186890635,1230683.72757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2606236.686890635,1230646.22757022,2606286.686890635,1230696.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        13881604, "geometry": {"type": "Polygon", "coordinates": [[[2606224.179, 1230708.422],
        [2606227.104, 1230710.00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreis.data/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        904, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2604770.96, 1229933.006],
        [2604870.934, 1230019.083], [2604897.399, 1230042.621], [2604985.863, 1230120.896],
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2606236.686890635,1230646.22757022,2606286.686890635,1230696.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2606249.186890635,1230658.72757022,2606274.186890635,1230683.72757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_punkt.data/?bbox=2606211.686890635,1230621.22757022,2606311.686890635,1230721.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2606236.686890635,1230646.22757022,2606286.686890635,1230696.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        14991, "geometry": {"type": "Polygon", "coordinates": [[[2606604.289, 1230662.934],
        [2606622.965, 1230649.578], [2606625.047, 1230653.29], [2606626.451, 1230655.886],
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?filter=%5B%5B%22grundnutzungsart%22,%22ilike%22,%22Wald%22%5D%5D&bbox=2606236.686890635,1230646.22757022,2606286.686890635,1230696.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        12684, "geometry": {"type": "Polygon", "coordinates": [[[2606172.916, 1230911.127],
        [2606174.425, 12309[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        24541, "geometry": {"type": "Polygon", "coordinates": [[[2606217.318, 1230447],
        [2606212.933, 1230473.012], [2606194.169, 1230464.185], [2606166.344, 1230[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37269, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2604870.934,
        1230019.083], [2604897.399, 1230042.621], [2604985.863, 1230120.896], [2605038.348,
        1230167[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge/?bbox=2606251.686890635,1230661.22757022,2606271.686890635,1230681.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_flaeche.data/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        18457, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2593682.807,
        1226939.224], [2593641.244, 1226928.621], [2593607.527, 1226919.899], [2593569.199,
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2606236.686890635,1230646.22757022,2606286.686890635,1230696.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2606261.686890635,1230671.22757022,2606261.686890635,1230671.22757022
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15041898, "geometry": {"type": "Polygon", "coordinates": [[[2606127.697, 1230596.541],
        [2606159.45, 1230625.281], [2606196.163, 1230654.626], [2606229.208, 1230674.03],
        [2606262.235, 1230674.171], [2606293.568, 1230662.864], [2606285.632, 1230626.953],
        [2606237.017, 1230631], [2606216.716, 1230623.428], [2606203.096, 1230612.11],
        [2606149.822, 1230552.406], [2606127.697, 1230596.541]]]}, "properties": {"nummer":
        "298", "art_txt": "Liegenschaft", "egrid": "CH640632711258", "nbident": "SO0200002550"}}],
        "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}},
        "bbox": [2606127.697, 1230552.406, 2606293.568, 1230674.171]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
