interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.oereb2.apps.be.ch/extract/json?EGRID=CH968746351115&LANG=de
  response:
    body:
      string: '{"$schema": "https://raw.githubusercontent.com/openoereb/schemas/ea4fe8e696b84b923cb9aa9fb27c3ba4e2d8eb5b/extract.json",
        "GetExtractByIdResponse": {"extract": {"CreationDate": "2026-04-30T15:09:39",
        "ExtractIdentifier": "3201fd5f-d35e-4117-92de-35b85caa7689", "UpdateDateCS":
        "2026-04-21T00:00:00", "PLRCadastreAuthority": {"Name": [{"Language": "de",
        "Text": "Amt f\u00fcr Geoinformation"}], "OfficeAtWeb": [{"Language": "de",
        "Text": "https://www.be.ch/oerebk"}], "Street": "Reiterstrasse", "Number":
        "11", "PostalCode": "3013", "City": "Bern"}, "RealEstate": {"Type": {"Code":
        "RealEstate", "Text": [{"Language": "de", "Text": "Liegenschaft"}]}, "Canton":
        "BE", "MunicipalityName": "Bern", "MunicipalityCode": 351, "LandRegistryArea":
        2903, "PlanForLandRegister": {"ReferenceWMS": [{"Language": "de", "Text":
        "https://geodienste.ch/db/av_situationsplan_oereb_0/deu?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&CRS=EPSG%3A2056&BBOX=2599756.5811403063%2C1198820.239928573%2C2599967.949859693%2C1198940.2870714297&WIDTH=493&HEIGHT=280&LAYERS=daten&STYLES=%2C&EXCEPTIONS=XML&FORMAT=image%2Fpng&BGCOLOR=0xFEFFFF&TRANSPARENT=TRUE&SRS=EPSG%3A2056"}],
        "layerIndex": 0, "layerOpacity": 1.0, "min": {"type": "Point", "coordinates":
        [2599756.5811403063, 1198820.239928573], "crs": "EPSG:2056"}, "max": {"type":
        "Point", "coordinates": [2599967.949859693, 1198940.2870714297], "crs": "EPSG:2056"}},
        "PlanForLandRegisterMainPage": {"ReferenceWMS": [{"Language": "de", "Text":
        "https://geodienste.ch/db/av_situationsplan_0/deu?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&CRS=EPSG%3A2056&BBOX=2599756.5811403063%2C1198820.239928573%2C2599967.949859693%2C1198940.2870714297&WIDTH=493&HEIGHT=280&LAYERS=daten%2Cnational_maps_grey&STYLES=%2C%2C&EXCEPTIONS=XML&FORMAT=image%2Fpng&BGCOLOR=0xFEFFFF&TRANSPARENT=TRUE&SRS=EPSG%3A2056"}],
        "layerIndex": 0, "layerOpacity": 1.0, "min": {"type": "Point", "coordinates":
        [2599756.5811403063, 1198820.239928573], "crs": "EPSG:2056"}, "max": {"type":
        "Point", "coordinates": [2599967.949859693, 1198940.2870714297], "crs": "EPSG:2056"}},
        "Number": "637", "IdentDN": "BE0200000044", "EGRID": "CH968746351115", "SubunitOfLandRegister":
        "3 - Mattenhof", "RestrictionOnLandownership": [{"LegendText": [{"Language":
        "de", "Text": "Wohnzone (W)"}], "Theme": {"Code": "ch.Nutzungsplanung", "Text":
        [{"Language": "de", "Text": "Zonenfl\u00e4chen Grundnutzung (Nutzungszonen)"}],
        "SubCode": "ch.NutzungsplanungGrundnutzungNutzungszonen"}, "Lawstatus": {"Code":
        "inForce", "Text": [{"Language": "de", "Text": "Rechtskr\u00e4ftig"}]}, "ResponsibleOffice":
        {"Name": [{"Language": "de", "Text": "Stadt Bern (f\u00fcr Ausk\u00fcnfte
        zu Bauvorhaben: Bauinspektorat der Stadt Bern)"}], "OfficeAtWeb": [{"Language":
        "de", "Text": "https://www.bern.ch/politik-und-verwaltung/stadtverwaltung/sue/bauinspektorat"}]},
        "Map": {"ReferenceWMS": [{"Language": "de", "Text": "https://oerebservice.apps.be.ch/cgi-bin/mapserv.fcgi?MAP=oereb_de&VERSION=1.3.0&REQUEST=GetMap&SERVICE=WMS&CRS=EPSG%3A2056&BBOX=2599756.5811403063%2C1198820.239928573%2C2599967.949859693%2C1198940.2870714297&WIDTH=493&HEIGHT=280&EXCEPTIONS=xml&FORMAT=image%2Fpng&BGCOLOR=0xFFFFFF&TRANSPARENT=TRUE&LAYERS=geodb.nupla_gnnutzbk_nzp%2Cgeodb.nupla_gnzppueo%2Cgeodb.nupla_abgrz_zoen&SRS=EPSG%3A2056"}],
        "OtherLegend": [{"LegendText": [{"Language": "de", "Text": "Dienstleistungszone
        (D)"}], "TypeCode": "104_4", "TypeCodelist": "ab22f3af-605c-4ba8-865b-20ddda6de2b9",
        "Theme": {"Code": "ch.Nutzungsplanung", "Text": [{"Language": "de", "Text":
        "Zonenfl\u00e4chen Grundnutzung (Nutzungszonen)"}], "SubCode": "ch.NutzungsplanungGrundnutzungNutzungszonen"},
        "SymbolRef": "https://www.oereb2.apps.be.ch/image/symbol/ch.Nutzungsplanung/legend_entry.png?identifier=a554fcfc-9ea4-4e4c-a36e-7cfc26408748"},
        {"LegendText": [{"Language": "de", "Text": "Freifl\u00e4che A (Zone f\u00fcr
        \u00f6ff. Nutzungen FA)"}], "TypeCode": "106_7", "TypeCodelist": "8464f894-478f-4cfe-aced-4b78902f32d6",
        "Theme": {"Code": "ch.Nutzungsplanung", "Text": [{"Language": "de", "Text":
        "Zonenfl\u00e4chen Grundnutzung (Nutzungszonen)"}], "SubCode": "ch.Nutzungspla[...]
