interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15123582, "geometry": {"type": "Polygon", "coordinates": [[[2607134.538, 1228425.539],
        [2607159.839, 1228452.789], [2607159.626, 1228452.976], [2607163.969, 1228457.741],
        [2607181.523, 1228441.805], [2607177.022, 1228436.926], [2607151.654, 1228409.464],
        [2607134.538, 1228425.539]]]}, "properties": {"nummer": "850", "art_txt":
        "Liegenschaft", "egrid": "CH354732700648", "nbident": "SO0200002601"}}], "crs":
        {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox":
        [2607134.538, 1228409.464, 2607181.523, 1228457.741]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
