interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wps.geo.gr.ch/?service=WPS&version=1.0.0&request=Execute&storeExecuteResponse=false&lineage=false&status=false&identifier=get_info_ebbv&datainputs=geometry=POINT(2759626.1504406286%201191908.3321774867)
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wps:ExecuteResponse xmlns:wps=\"http://www.opengis.net/wps/1.0.0\"
        xmlns:ows=\"http://www.opengis.net/ows/1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.opengis.net/wps/1.0.0
        ../wpsExecute_response.xsd\" service=\"WPS\" version=\"1.0.0\" xml:lang=\"de-CH\"
        serviceInstance=\"https://wps.geo.gr.ch/?request=GetCapabilities&amp;amp;service=WPS\"
        statusLocation=\"\">\n    <wps:Process wps:processVersion=\"1.0.0\">\n        <ows:Identifier>get_info_ebbv</ows:Identifier>\n
        \       <ows:Title>Diverse Layer-Informationen fuer eBBV anhand Geometrie</ows:Title>\n
        \       <ows:Abstract></ows:Abstract>\n\t</wps:Process>\n    <wps:Status creationTime=\"2024-06-12T13:59:15Z\">\n
        \       <wps:ProcessSucceeded>PyWPS Process Diverse Layer-Informationen fuer
        eBBV anhand Geometrie finished</wps:ProcessSucceeded>\n\t</wps:Status>\n\t<wps:ProcessOutputs>\n\t\t<wps:Output>\n
        \           <ows:Identifier>folgeplanung_bau_niveaulinienplaene</ows:Identifier>\n
        \           <ows:Title>Folgeplanung - Bau Niveaulinienplanung</ows:Title>\n
        \           <ows:Abstract></ows:Abstract>\n\t\t\t<wps:Data>\n                <wps:LiteralData
        \ dataType=\"string\">&lt;?xml version=&#34;1.0&#34; encoding=&#34;UTF-8&#34;
        ?&gt;&lt;root&gt;&lt;/root&gt;</wps:LiteralData>\n\t\t\t</wps:Data>\n\t\t</wps:Output>\n\t\t<wps:Output>\n
        \           <ows:Identifier>folgeplanung_quartierplaene</ows:Identifier>\n
        \           <ows:Title>Folgeplanung - Quartierplaene</ows:Title>\n            <ows:Abstract></ows:Abstract>\n\t\t\t<wps:Data>\n
        \               <wps:LiteralData  dataType=\"string\">&lt;?xml version=&#34;1.0&#34;
        encoding=&#34;UTF-8&#34; ?&gt;&lt;root&gt;&lt;item&gt;&lt;NUPNr type=&#34;str&#34;&gt;3901&lt;/NUPNr&gt;&lt;Code
        type=&#34;int&#34;&gt;51931&lt;/Code&gt;&lt;Bezeichnung type=&#34;str&#34;&gt;Quartierplan
        Roter Turm&lt;/Bezeichnung&gt;&lt;Artikel type=&#34;str&#34;&gt;88 BauG ;
        51ff KRG&lt;/Artikel&gt;&lt;Verbindlichkeit type=&#34;str&#34;&gt;hinweisend&lt;/Verbindlichkeit&gt;&lt;Typ_Bemerkung
        type=&#34;nu[...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<eCH-0206:maddRequest xmlns:eCH-0058=\"http://www.ech.ch/xmlns/eCH-0058/5\"
      xmlns:eCH-0206=\"http://www.ech.ch/xmlns/eCH-0206/2\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      xsi:schemaLocation=\"http://www.ech.ch/xmlns/eCH-0206/2 eCH-0206-2-0-draft.xsd\">\n
      \  <eCH-0206:requestHeader>\n      <eCH-0206:messageId>myMessageId</eCH-0206:messageId>\n
      \     <eCH-0206:businessReferenceId>BFS/OFS/UST</eCH-0206:businessReferenceId>\n
      \     <eCH-0206:requestingApplication>\n         <eCH-0058:manufacturer>Adfinis</eCH-0058:manufacturer>\n
      \        <eCH-0058:product>eBau Kt. GR</eCH-0058:product>\n         <eCH-0058:productVersion>1.0.0</eCH-0058:productVersion>\n
      \     </eCH-0206:requestingApplication>\n      <eCH-0206:requestDate>2024-06-12T11:59:15.835828+00:00</eCH-0206:requestDate>\n
      \ </eCH-0206:requestHeader>\n  <eCH-0206:requestContext>building</eCH-0206:requestContext>\n
      \ <eCH-0206:requestQuery>\n    <eCH-0206:condition>\n         <eCH-0206:attributePath>/eCH-0206:maddResponse/eCH-0206:buildingList/eCH-0206:buildingItem/eCH-0206:EGID</eCH-0206:attributePath>\n
      \        <eCH-0206:operator>in</eCH-0206:operator><eCH-0206:attributeValue>400017774</eCH-0206:attributeValue>\n
      \     </eCH-0206:condition>\n  </eCH-0206:requestQuery>\n</eCH-0206:maddRequest>"
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://madd.bfs.admin.ch/eCH-0206
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <maddResponse xmlns="http://www.ech.ch/xmlns/eCH-0206/2" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5"
        xmlns:eCH-0129="http://www.ech.ch/xmlns/eCH-0129/5" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/6"><status><code>100</code><message>OK</message></status><responseHeader><messageId>312c2ad8-28b3-11ef-8f24-0242ac140006</messageId><requestMessageId>myMessageId</requestMessageId><businessReferenceId>BFS/OFS/UST</businessReferenceId><respondingApplication><eCH-0058:manufacturer>SFSO</eCH-0058:manufacturer><eCH-0058:product>MADD</eCH-0058:product><eCH-0058:productVersion>0.1</eCH-0058:productVersion></respondingApplication><comment>no
        comment</comment><responseDate>2024-06-12T11:59:16</responseDate></responseHeader><originalRequest
        xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5" xmlns:eCH-0206="http://www.ech.ch/xmlns/eCH-0206/2"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ech.ch/xmlns/eCH-0206/2
        eCH-0206-2-0-draft.xsd"><eCH-0206:requestHeader><eCH-0206:messageId>myMessageId</eCH-0206:messageId><eCH-0206:businessReferenceId>BFS/OFS/UST</eCH-0206:businessReferenceId><eCH-0206:requestingApplication><eCH-0058:manufacturer>Adfinis</eCH-0058:manufacturer><eCH-0058:product>eBau
        Kt. GR</eCH-0058:product><eCH-0058:productVersion>1.0.0</eCH-0058:productVersion></eCH-0206:requestingApplication><eCH-0206:requestDate>2024-06-12T11:59:15.835828+00:00</eCH-0206:requestDate></eCH-0206:requestHeader><eCH-0206:requestContext>building</eCH-0206:requestContext><eCH-0206:requestQuery><eCH-0206:condition><eCH-0206:attributePath>/eCH-0206:maddResponse/eCH-0206:buildingList/eCH-0206:buildingItem/eCH-0206:EGID</eCH-0206:attributePath><eCH-0206:operator>in</eCH-0206:operator><eCH-0206:attributeValue>400017774</eCH-0206:attributeValue></eCH-0206:condition></eCH-0206:requestQuery></originalRequest><maddAuthorization><maddId>anonymous</maddId><maddDataSet>3</maddDataSet></maddAuthorization><buildingList><buildingItem><EGID>400017774</EGID><building><officialBuildingNo>4-242B</officialBuildingNo><nameOfBuilding>Haus
        E</nameOfBuilding><coordinates><east>2759636.923</east><north>1191918.328</north><originOfCoordinates>901</originOfCoordinates></coordinates><buildingStatus>1004</buildingStatus><buildingCategory>1020</buildingCategory><buildingClass>1122</buildingClass><dateOfConstruction><dateOfConstruction>2003</dateOfConstruction><periodOfConstruction>8020</periodOfConstruction></dateOfConstruction><surfaceAreaOfBuilding>310</surfaceAreaOfBuilding><numberOfFloors>5</numberOfFloors><thermotechnicalDeviceForHeating1><heatGeneratorHeating>7430</heatGeneratorHeating><energySourceHeating>7520</energySourceHeating><informationSourceHeating>859</informationSourceHeating><revisionDate>2018-10-15</revisionDate></thermotechnicalDeviceForHeating1><thermotechnicalDeviceForWarmWater1><heatGeneratorHotWater>7600</heatGeneratorHotWater><energySourceHeating>7500</energySourceHeating><informationSourceHeating>859</informationSourceHeating><revisionDate>2018-10-15</revisionDate></thermotechnicalDeviceForWarmWater1><thermotechnicalDeviceForWarmWater2><heatGeneratorHotWater>7600</heatGeneratorHotWater><energySourceHeating>7500</energySourceHeating><informationSourceHeating>859</informationSourceHeating><revisionDate>2018-10-15</revisionDate></thermotechnicalDeviceForWarmWater2><recordModification><createDate>2010-07-06</createDate><updateDate>2022-01-17</updateDate></recordModification></building><buildingEntranceList><buildingEntranceItem><EDID>0</EDID><buildingEntrance><EGAID>101684567</EGAID><buildingEntranceNo>23</buildingEntranceNo><coordinates><east>2759630.715</east><north>1191917.184</north></coordinates><recordModification><createDate>2016-12-14</createDate><updateDate>2024-04-21</updateDate></recordModification><street><ESID>10123797</ESID><isOfficialDescription>1</isOfficialDescription><streetNameList><streetNameItem><language>9901</language><descriptionLong>Roterturmstrasse</descriptionLong><descriptionShort>Roterturmstr.</descriptionShort><descriptionIndex>Rot</descriptionIndex></streetNameItem></streetNameList></street><locality><swissZipCode>7000</swissZipCode><swissZipCodeAddOn>0</swissZipCodeAddOn><placeName>Chur</placeName></locality></buildingEntrance><dwellingList><dwellingItem><EWID>1</EWID><dwelling><administrativeDwellingNo>1</administrativeDwellingNo><yearOfConstruction>2003</yearOfConstruction><noOfHabitableRooms>4</noOfHabitableRooms><floor>3100</floor><multipleFloor>0</multipleFloor><locationOfDwellingOnFloor>Links</locationOfDwellingOnFloor><kitchen>1</kitchen><surfaceAreaOfDwelling>110</surfaceAreaOfDwelling><dwellingStatus>3004</dwellingStatus><recordModification><createDate>2010-07-06</createDate><updateDate>2023-11-21</updateDate></recordModification></dwelling></dwellingItem><dwellingItem><EWID>2</EWID><dwelling><administrativeDwellingNo>101</administrativeDwellingNo><yearOfConstruction>2003</yearOfConstruction><noOfHabitableRooms>4</noOfHabitableRooms><floor>3101</floor><multipleFloor>0</multipleFloor><locationOfDwellingOnFloor>Links</locationOfDwellingOnFloor><kitchen>1</kitchen><surfaceAreaOfDwelling>110</su[...]
