interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/of_planningcadastre01_de_ms_wfs/MapServer/WFSServer?service=WFS&version=2.0.0&Request=GetFeature&typename=of_planningcadastre01_de_ms_wfs:DIPANU_DIPANUF_VW_13541&count=10&Filter=%3Cogc:Filter%3E%3Cogc:PropertyIsEqualTo%20matchCase=%22true%22%3E%3Cogc:PropertyName%3EEGRID%3C/ogc:PropertyName%3E%3Cogc:Literal%3ECH643546955207%3C/ogc:Literal%3E%3C/ogc:PropertyIsEqualTo%3E%3C/ogc:Filter%3E
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?><wfs:FeatureCollection xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:wfs=\"http://www.opengis.net/wfs/2.0\" xmlns:gml=\"http://www.opengis.net/gml/3.2\"
        xmlns:of_planningcadastre01_de_ms_wfs=\"https://a4pu-www-wageo3.infra.be.ch/geoservice3/services/a42geo/of_planningcadastre01_de_ms_wfs/MapServer/WFSServer\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        timeStamp=\"2023-11-30T14:01:59Z\" numberMatched=\"1\" numberReturned=\"1\"
        xsi:schemaLocation=\"http://www.opengis.net/wfs/2.0 http://schemas.opengis.net/wfs/2.0/wfs.xsd
        http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd
        https://a4pu-www-wageo3.infra.be.ch/geoservice3/services/a42geo/of_planningcadastre01_de_ms_wfs/MapServer/WFSServer
        https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/of_planningcadastre01_de_ms_wfs/MapServer/WFSServer?service=wfs%26version=2.0.0%26request=DescribeFeatureType\"><wfs:member><of_planningcadastre01_de_ms_wfs:DIPANU_DIPANUF_VW_13541
        gml:id=\"DIPANU_DIPANUF_VW_13541.442134\"><of_planningcadastre01_de_ms_wfs:Object-Id>442134</of_planningcadastre01_de_ms_wfs:Object-Id><of_planningcadastre01_de_ms_wfs:NBIDENT>BE0200000366</of_planningcadastre01_de_ms_wfs:NBIDENT><of_planningcadastre01_de_ms_wfs:BFSNR>943</of_planningcadastre01_de_ms_wfs:BFSNR><of_planningcadastre01_de_ms_wfs:GEMNAME>Uebeschi</of_planningcadastre01_de_ms_wfs:GEMNAME><of_planningcadastre01_de_ms_wfs:GBKR>0</of_planningcadastre01_de_ms_wfs:GBKR><of_planningcadastre01_de_ms_wfs:EGRID>CH643546955207</of_planningcadastre01_de_ms_wfs:EGRID><of_planningcadastre01_de_ms_wfs:GSTNR>42</of_planningcadastre01_de_ms_wfs:GSTNR><of_planningcadastre01_de_ms_wfs:GSTART>0</of_planningcadastre01_de_ms_wfs:GSTART><of_planningcadastre01_de_ms_wfs:GSTARTT_BEZ_DE>Liegenschaft</of_planningcadastre01_de_ms_wfs:GSTARTT_BEZ_DE><of_planningcadastre01_de_ms_wfs:GSTARTT_BEZ_FR>Bien-fonds</of_planningcadastre01_de_ms_wfs:GSTARTT_BEZ_FR><of_planningcadastre01_de_ms_wfs:GSTBEZ>42</of_planningcadastre01_de_ms_wfs:GSTBEZ><of_planningcadastre01_de_ms_wfs:GBFLAE>194900</of_planningcadastre01_de_ms_wfs:GBFLAE><of_planningcadastre01_de_ms_wfs:TECHFLAE>194899.84500000</of_planningcadastre01_de_ms_wfs:TECHFLAE><of_planningcadastre01_de_ms_wfs:QV>1</of_planningcadastre01_de_ms_wfs:QV><of_planningcadastre01_de_ms_wfs:QVT_BEZ_DE>AV93</of_planningcadastre01_de_ms_wfs:QVT_BEZ_DE><of_planningcadastre01_de_ms_wfs:QVT_BEZ_FR>MO93</of_planningcadastre01_de_ms_wfs:QVT_BEZ_FR><of_planningcadastre01_de_ms_wfs:GZSTAT>0</of_planningcadastre01_de_ms_wfs:GZSTAT><of_planningcadastre01_de_ms_wfs:GZSTATT_BEZ_DE>Keine
        Land- oder Baulandumlegung in Bearbeitung</of_planningcadastre01_de_ms_wfs:GZSTATT_BEZ_DE><of_planningcadastre01_de_ms_wfs:GZSTATT_BEZ_FR>Pas
        d'am\xE9lioration fonci\xE8re ou de remaniement parcellaire de terrain \xE0
        b\xE2tir en traitement</of_planningcadastre01_de_ms_wfs:GZSTATT_BEZ_FR><of_planningcadastre01_de_ms_wfs:PROJSTAT>0</of_planningcadastre01_de_ms_wfs:PROJSTAT><of_planningcadastre01_de_ms_wfs:PROJSTAT_BEZ_DE>g\xFCltig</of_planningcadastre01_de_ms_wfs:PROJSTAT_BEZ_DE><of_planningcadastre01_de_ms_wfs:PROJSTAT_BEZ_FR>valable</of_planningcadastre01_de_ms_wfs:PROJSTAT_BEZ_FR><of_planningcadastre01_de_ms_wfs:MITGEOM>1</of_planningcadastre01_de_ms_wfs:MITGEOM><of_planningcadastre01_de_ms_wfs:MITGEOMT_BEZ_DE>Fl\xE4chengeometrie
        vorhanden</of_planningcadastre01_de_ms_wfs:MITGEOMT_BEZ_DE><of_planningcadastre01_de_ms_wfs:MITGEOMT_BEZ_FR>G\xE9om\xE9trie
        de la surface disponible</of_planningcadastre01_de_ms_wfs:MITGEOMT_BEZ_FR><of_planningcadastre01_de_ms_wfs:SPRACHE>1</of_planningcadastre01_de_ms_wfs:SPRACHE><of_planningcadastre01_de_ms_wfs:SPRACHET_BEZ_DE>Deutsch</of_planningcadastre01_de_ms_wfs:SPRACHET_BEZ_DE><of_planningcadastre01_de_ms_wfs:SPRACHET_BEZ_FR>allemand</of_planningcadastre01_de_ms_wfs:SPRACHET_BEZ_FR><of_planningcadastre01_de_ms_wfs:UNVERBI>0</of_planningcadastre01_de_ms_wfs:UNVERBI><of_planningcadastre01_de_ms_wfs:UNVERBIT_BEZ_DE>Fl\xE4che
        verbindlich</of_planningcadastre01_de_ms_wfs:UNVERBIT_BEZ_DE><of_planningcadastre01_de_ms_wfs:UNVERBIT_BEZ_FR>Surface
        avec force obligatoire</of_planningcadastre01_de_ms_wfs:UNVERBIT_BEZ_FR><of_planningcadastre01_de_ms_wfs:LETZTEAEND>30.03.2015</of_planningcadastre01_de_ms_wfs:LETZTEAEND><of_planningcadastre01_de_ms_wfs:GENGBKRI>9430</of_planningcadastre01_de_ms_wfs:GENGBKRI><of_planningcadastre01_de_ms_wfs:GENGBKRN>Uebeschi</of_planningcadastre01_de_ms_wfs:GENGBKRN><of_planningcadastre01_de_ms_wfs:SHAPE><gml:MultiSurface
        gml:id=\"DIPANU_DIPANUF_VW_13541.442134.pl\" srsName=\"urn:ogc:def:crs:EPSG::2056\"><gml:surfaceMember><gml:Polygon
        gml:id=\"DIPANU_DIPANUF_VW_13541.442134.pl.0\"><gml:exterior><gml:LinearRing><gml:posList>2609722.37700000
        1176042.15200000 2609667.97400000 1176088.27700000 2609612.78000000 1176112.82200000
        2609582.92900000 1176114.39900000 2609547.31000000 1176080.28100000 2609542.67800000
        1176044.10400000 2609457.86100000 1175972.31300000 2609364.28000000 1176039.57200000
        2609256.24900000 1175996.60500000 2609201.17900000 1175973.36400000 2609198.16800000
        1175972.01800000 2609183.34600000 1175965.82900000 2609177.51100000 1175964.57000000
        2609174.89[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:of_inlandwaters01_de_ms_wfs=\"https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/of_inlandwaters01_de_ms_wfs/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
      \   <Query typeName=\"of_inlandwaters01_de_ms_wfs:GSK25_GSK_VW_3275\" srsName=\"EPSG:2056\">\n
      \           <ogc:Filter>\n              <ogc:Intersects>\n                <gml:Polygon
      xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
      xmlns:wfs=\"http://www.opengis.net/wfs/2.0\" xmlns:of_planningcadastre01_de_ms_wfs=\"https://a4pu-www-wageo3.infra.be.ch/geoservice3/services/a42geo/of_planningcadastre01_de_ms_wfs/MapServer/WFSServer\"
      xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      gml:id=\"DIPANU_DIPANUF_VW_13541.442134.pl.0\"><gm[...]
[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:of_environment02_de_ms_wfs=\"https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/of_environment02_de_ms_wfs/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
      \   <Q[...]
[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:of_geoscientificinformation01_de_ms_wfs=\"https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/of_geoscientificinformation01_de_ms_wfs/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
      \   <Query typeName=\"of_geoscientificinformation01_de_ms_wfs:GK5_SY_VW_21534\"
      srsName=\"EPSG:2056\">\n            <ogc:Filter>\n              <ogc:Intersects>\n
      \               <gml:Polygon xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
      xmlns:wfs=\"http://www.opengis.net/wfs/2.0\" xmlns:of_planningcadastre01_de_ms_wfs=\"https://a4pu-www-wageo3.infra.be.ch/geoservice3/services/a42geo/of_planningcadastre01_de_ms_wfs/MapServer/WFSServer\"
      xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      gml:id=\"DIPANU_DIPANUF_VW_13541.442134.pl.0\"><gml:exterior><gml:LinearRing><gml:posLi[...]
[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:of_structure01_de_ms_wfs=\"https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/of_structure01_de_ms_wfs/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
      \   <Query[...]
[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:of_planningcadastre01_de_ms_wfs=\"https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/of_planningcadastre01_de_ms_wfs/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
  [...]
[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:of_society01_de_ms_wfs=\"https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/of_society01_de_ms_wfs/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
      \   <Query typ[...]
[...]
