interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_grundstueck.data/?bbox=2606257.0,1227893.0,2606257.0,1227893.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157481779,
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [[[2605935.337, 1227996.276], [2605937.892, 1227999.939], [2606260.044, 1228019.39], [2606294.622, 1227795.284], [2605972.388, 1227749.494], [2605969.655, 1227752.251], [2605935.337, 1227996.276]]]
                    },
                    "properties": {
                        "amtschreiberei": "Amtschreiberei Region Solothurn",
                        "bfsnr": 2601,
                        "gemeinde": "Solothurn",
                        "flaechenmass": 78244,
                        "art": "Liegenschaft",
                        "t_id": 157481779,
                        "egrid": "CH357932700657",
                        "grundbuchkreis": "Solothurn",
                        "nummer": "2038"
                    }
                }
            ],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 1,
            "numberReturned": 1,
            "bbox": [
                2605935.337,
                1227749.494,
                2606294.622,
                1228019.39
            ]
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_gebaeudeeingang.data/?bbox=2606247.0,1227883.0,2606267.0,1227903.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2606244.5,1227880.5,2606269.5,1227905.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2606244.5,1227880.5,2606269.5,1227905.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungGrundnutzung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.GefahrengebietSynoptisch%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Fruchtfolgeflaechen%22%5D,%22or%22[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D%5D&bbox=2606232.0,1227868.0,2606282.0,1227918.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_linien.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D%5D&bbox=2606232.0,1227868.0,2606282.0,1227918.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D%5D&bbox=2606232.0,1227868.0,2606282.0,1227918.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157684455,
                    "geome[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Wald%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2606232.0,1227868.0,2606282.0,1227918.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Gewaesser%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2606232.0,1227868.0,2606282.0,1227918.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2606257.0,1227893.0,2606257.0,1227893.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2606207.0,1227843.0,2606307.0,1227943.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2606232.0,1227868.0,2606282.0,1227918.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
