interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_grundstueck.data/?bbox=2605769.0,1224934.0,2605769.0,1224934.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157319762,
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [[[2605427.288, 1224874.039], [2605460.403, 1224913.575], [2605482.32, 1224939.684], [2605509.527, 1224964.905], [2605533.137, 1224986.516], [2605576.348, 1225025.822], [2605579.111, 1225028.222], [2605593.317, 1225048.188], [2605642.905, 1225148.862], [2605659.878, 1225175.35], [2605691.292, 1225224.424], [2605709.898, 1225253.477], [2605736.602, 1225295.044], [2605765.504, 1225340.034], [2605798.749, 1225336.246], [2605822.594, 1225353.197], [2605837.591, 1225367.634], [2605890.572, 1225431.6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_gebaeudeeingang.data/?bbox=2605759.0,1224924.0,2605779.0,1224944.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2605756.5,1224921.5,2605781.5,1224946.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2605756.5,1224921.5,2605781.5,1224946.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungGrundnutzung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.GefahrengebietSynoptisch%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Fruchtfolgeflaechen%22%5D,%22or%22[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D%5D&bbox=2605744.0,1224909.0,2605794.0,1224959.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_linien.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D%5D&bbox=2605744.0,1224909.0,2605794.0,1224959.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D%5D&bbox=2605744.0,1224909.0,2605794.0,1224959.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157685713,
                    "geome[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Wald%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2605744.0,1224909.0,2605794.0,1224959.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Gewaesser%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2605744.0,1224909.0,2605794.0,1224959.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2605769.0,1224934.0,2605769.0,1224934.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2605719.0,1224884.0,2605819.0,1224984.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2605744.0,1224909.0,2605794.0,1224959.0
  response:
    body:
      string: |
        {
            "results": [
                {
                    "layerBodId": "ch.astra.ivs-reg_loc",
                    "layerName": "IVS Regional und Lokal",
                    "featureId": 105330,
                    "id": 105330,
                    "attributes": {
                        "ivs_slaname": "Lohn/Rütifeld - Lüsslingen",
                        "ivs_nummer": "SO 563",
                        "ivs_signatur": "102",
                        "ivs_signatur_fr": "Importance locale, tracé historique avec substance",
                        "ivs_signatur_it": "Importanza locale, tracciato storico con sostanza",
                        "ivs_signatur_de": "Lokale Bedeutung, historischer Verlauf mit Substanz",
                        "ivs_kanton": "SO",
                        "ivs_sladatehist": null,
                        "ivs_sladatemorph": "20160407",
                        "ivs_slabedeutung": "1",
                        "ivs_sortsla": "SO05630000",
                        "bgdi_created": "11.10.2016",
                        "label": "SO 563"
                    }
                }
            ]
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
