interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_grundstueck.data/?bbox=2606997.0,1228295.0,2606997.0,1228295.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157380268,
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [[[2606979.022, 1228291.911], [2606996.606, 1228309.922], [2607013.486, 1228293.41], [2606997.097, 1228276.324], [2606996.148, 1228275.264], [2606979.022, 1228291.911]]]
                    },
                    "properties": {
                        "amtschreiberei": "Amtschreiberei Region Solothurn",
                        "bfsnr": 2601,
                        "gemeinde": "Solothurn",
                        "flaechenmass": 596,
                        "art": "Liegenschaft",
                        "t_id": 157380268,
                        "egrid": "CH767032065829",
                        "grundbuchkreis": "Solothurn",
                        "nummer": "3134"
                    }
                }
            ],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 1,
            "numberReturned": 1,
            "bbox": [
                2606979.022,
                1228275.264,
                2607013.486,
                1228309.922
            ]
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_gebaeudeeingang.data/?bbox=2606987.0,1228285.0,2607007.0,1228305.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157545073,
                    "geometry": {
                        "type": "Point",
                        "coordinates": [2607001.149, 1228298.055]
                    },
                    "properties": {
                        "ortschaft": "Solothurn",
                        "plz": 4500,
                        "edid": 0,
                        "egid": null,
                        "strassenname": "Obachstrasse",
                        "hausnummer": "15",
                        "t_id": 157545073
                    }
                }
            ],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 1,
            "numberReturned": 1,
            "bbox": [
                2607001.149,
                1228298.055,
                2607001.149,
                1228298.055
            ]
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2606984.5,1228282.5,2607009.5,1228307.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2606984.5,1228282.5,2607009.5,1228307.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungGrundnutzung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.GefahrengebietSynoptisch%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Fruchtfolgeflaechen%22%5D,%22or%22[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D%5D&bbox=2606972.0,1228270.0,2607022.0,1228320.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157749367,
                    "geometry": {
                        "type": "MultiPoint",
                        "coordinates": [[2607000, 1228300]]
                    },
                    "properties": {
                        "rechtsstatus": null,
                        "beschreibung": "Röm. Münze und versch. Einzelfunde, Neuzeitliche Schanze",
                        "t_id": 157749367,
                        "thema": "ch.SO.Archaeologie",
                        "artcode": "115/136"
                    }
                }
            ],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 1,
            "numberReturned": 1,
            "bbox": [
                2607000.0,
                1228300.0,
                2607000.0,
                1228300.0
            ]
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_linien.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D%5D&bbox=2606972.0,1228270.0,2607022.0,1228320.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D%5D&bbox=2606972.0,1228270.0,2607022.0,1228320.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Wald%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2606972.0,1228270.0,2607022.0,1228320.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Gewaesser%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2606972.0,1228270.0,2607022.0,1228320.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2606997.0,1228295.0,2606997.0,1228295.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2606947.0,1228245.0,2607047.0,1228345.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2606972.0,1228270.0,2607022.0,1228320.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
