interactions:
- request:
    body: geometry=2670200%2C1242282%2C2670202%2C1242284&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Unterlunkhofen\",\"attributes\":{\"OBJECTID\":\"61\",\"GDENR\":\"4079\",\"GEMEINDE\":\"Unterlunkhofen\",\"GEMEINDEZ\":\"Unterlunkhofen\",\"GEMEINDEU\":\"Unterlunkhofen\",\"BZNR\":\"1903\",\"BEZIRK\":\"Bremgarten\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4487606.054656\",\"SHAPE.STLength()\":\"15900.510936\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"5\",\"attributes\":{\"OBJECTID\":\"60540903\",\"FILEID\":\"56\",\"GDENR\":\"4079\",\"GDENRPARZ\":\"407900005\",\"NUMMER\":\"5\",\"EGRID\":\"CH191592795045\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"445478\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"445477.802754\",\"SHAPE.STLength()\":\"7226.773047\"}},{\"layerId\":45,\"layerName\":\"Auengebiete
        von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Rottenschwiler
        Moos\",\"attributes\":{\"OBJECTID\":\"66\",\"ObjNummer\":\"91\",\"Name\":\"Rottenschwiler
        Moos\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-auen/objectsheets/2017revision/nr91.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"15.11.1992\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"
        \",\"Typ\":\"3\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"769774.903749\",\"Shape.STLength()\":\"4808.88207\"}},{\"layerId\":47,\"layerName\":\"Bundesinventar
        der Wasser- und Zugvogelreservate von internationaler und nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Reuss:
        Bremgarten - Zufikon bis Br\xFCcke von Rottenschwil (AG)\",\"attributes\":{\"OBJECTID\":\"57\",\"WV_VERSION\":\"23.09.2015\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"1184548.419862\",\"SHAPE.STLength()\":\"11899.449938\",\"ObjNummer\":\"106\",\"Name\":\"Reuss:
        Bremgarten - Zufikon bis Br\xFCcke von Rottenschwil (AG)\",\"Teilgebiet\":\"II\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-vogelreservate/objectsheets/2023revision/nr106.pdf\",\"Inkraftsetzungsdatum\":\"01.08.2001\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"Null\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"TeilObjNummer\":\"2\",\"Schutzkategorie\":\"29\",\"Obj_GISFlaeche\":\"274.200012\",\"Schutzebene\":\"N\"}},{\"layerId\":495,\"layerName\":\"BLN
        - Bundesinventar der Landschaften und Naturdenkm\xE4ler von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Reusslandschaft\",\"attributes\":{\"OBJECTID\":\"48\",\"ObjNummer\":\"1305\",\"TeilObjNummer\":\"0\",\"Name\":\"Reusslandschaft\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"V\"}},{\"layerId\":497,\"layerName\":\"Landschaftsschutzdekrete
        (detailliert Legende)\",\"displayFieldName\":\"Dekretsname\",\"value\":\"RTD\",\"attributes\":{\"OBJECTID\":\"308\",\"Dekretsname\":\"RTD\",\"Ausf\xFChrlicher
        Dekretsname\":\"Dekret \xFCber den Schutz der Landschaft und die Nutzung im
        Gebiet der Reusstalsanierung (SAR 787.330) \",\"Zonencode Kanton\":\"5283\",\"Zonenbezeichnung
        Kanton\":\"Wasserzone innerhalb Dekretsgebiet (kant. NP)\",\"Typ in Kantonaler
        Zone\":\"Wasser\",\"Verbindlichkeit\":\"Nutzungsplanfestlegung\",\"Orientierungsinhalt\":\"Null\",\"Geolink\":\"40\",\"Beschlussdatum
        \xC4nderung\":\"06.03.2018\",\"Rechtsstatus\":\"inKraft\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/40.html\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"1086087.80355\",\"Shape.STLength()\":\"33569.57642\"}},{\"layerId\":75,\"layerName\":\"Gew\xE4sserraum\",\"displayFieldName\":\"NAME\",\"value\":\"Reuss\",\"attributes\":{\"OBJECTID\":\"39762\",\"NAME\":\"Reuss\",\"SBREITE\":\"Null\",\"BNUM\":\"4.00.000\",\"KLASSE\":\"Null\",\"BUFF_DIST\":\"15\",\"ART\":\"Fluss\",\"FAKTOR\":\"Null\",\"NAT_GSB\":\"Null\",\"GEWR_BREITE\":\"Null\",\"GEWR_RADIUS\":\"Null\",\"Bauzone\":\"Null\",\"GEWR_TYP\":\"Null\",\"RECHT\":\"BauG\",\"KEY\":\"Null\",\"AbschLength\":\"Null\",\"GDENR\":\"4079\",\"GEMEINDEZ\":\"Unterlunkhofen\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"424666.515622\",\"SHAPE.STLength()\":\"7136.502023\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"9de5952c"'
    status:
      code: 200
      message: OK
[...]
