interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        9578423, "geometry": {"type": "Polygon", "coordinates": [[[2617688.588, 1224530.055],
        [2617702.015, 1224597.735], [2617739.452, 1224654.5], [2617775.448, 1224702.506],
        [2617814.23, 1224719.956], [2617816.96, 1224721.103], [2617806.631, 1224625.149],
        [2617770.772, 1224292.033], [2617760.36, 1224291.672], [2617741.813, 1224317.036],
        [2617712.618, 1224411.307], [2617688.588, 1224530.055]]]}, "properties": {"bfs_nr":
        2511, "gemeinde": "Aeschi (SO)", "nummer": "544", "art_txt": "Liegenschaft",
        "egrid": "CH927751320693", "nbident": "SO0200002511", "flaechenmass": 30961}}],
        "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}},
        "bbox": [2617688.588, 1224291.672, 2617816.96, 1224721.103]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge.data/?bbox=2617742.0,1224550.0,2617762.0,1224570.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreise.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1448, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2615721.015,
        1224552.285], [2615993.321, 1224675.893], [2616105.495, 1224771.962], [2616090.166,
        1224830.093], [2616085.056, 1224852[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        732563, "geometry": {"type": "Polygon", "coordinates": [[[2617806.631, 1224625.149],
        [2617815.414, 1224706.733], [2617807.976, 1224694.178], [2617798.109, 1224681.944],
        [2617772.439, 1224644.316], [2617763.886, 1224631.497], [2617746.144, 1224606.275],
        [2617736.101, 1224594.509], [2617721.018, 1224581.044], [2617708.931, 1224561.188],
        [2617714.936, 1224547.59], [2617703.872, 1224530.927], [2617702.292, 1224523.525],
        [2617701.827, 1224506.424], [2617698.572, 1224496.468], [2617700.25, 1224479.96],
        [2617713.145, 1224468.528], [2617729.344, 1224469.919], [2617762.183, 1224498.959],
        [2617770.613, 1224518.091], [2617787.196, 1224546.415], [2617799.586, 1224559.709],
        [2617806.631, 1224625.149]]]}, "properties": {"typ_kt": "N290_weitere_Landwirtschaftszonen",
        "typ_bezeichnung": "Gebiet von besonderer Schoenheit und Eigenart"}}], "crs":
        {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox":
        [2617698.572, 1224468.528, 2617815.414, 1224706.733]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.alw.fruchtfolgeflaechen.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.naturgefahren.synoptisches_gefahrengebiet.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.altlasten.standorte.ebau.data_v2/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2617739.5,1224547.5,2617764.5,1224572.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2617739.5,1224547.5,2617764.5,1224572.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.punktfundstellen.data/?bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.flaechenfundstellen.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.bafu.bundesinventare-hochmoore", "layerName":
        "Hochmoore", "featureId": 4478, "id": 4478, "attributes": {"name": "Chlepfimoos/Burgmoos",
        "objnummer": 76, "shape_area": 6698.09695735, "hm_ke": 26, "unit_de": "Hochmoormischvegetation",
        "unit_fr": "V\u00e9g\u00e9tation mixte de tourbi\u00e8re", "unit_it": "Vegetazione
        mista di torbiera", "hochmoore_type_de": "Sekund\u00e4re Hochmoorfl\u00e4che",
        "hochmoore_type_fr": "Tourbi\u00e8res secondaires", "hochmoore_type_it": "Torbiere
        secondarie", "refobjblat": "https://data.geo.admin.ch/ch.bafu.bundesinventare-hochmoore/objectsheets/2017revision/nr76.pdf",
        "label": "Chlepfimoos/Burgmoos"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2617702.0,1224510.0,2617802.0,1224610.0
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.bafu.bundesinventare-bln", "layerName":
        "BLN", "featureId": 1276, "id": 1276, "attributes": {"bln_name": "Steineberg
        \u2013 Steinhof \u2013 Burg\u00e4schisee", "bln_obj": 1313, "bln_fl": 558.469,
        "subareanumber": 0.0, "subareaname": null, "linkurldescription": "https://data.geo.admin.ch/ch.bafu.bundesinventare-bln/objectsheets/2017revision/nr1313.pdf",
        "label": "Steineberg \u2013 Steinhof \u2013 Burg\u00e4schisee"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
