interactions:
- request:
    body: geometry=2642902%2C1240176%2C2642904%2C1240178&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Uerkheim\",\"attributes\":{\"OBJECTID\":\"39\",\"GDENR\":\"4286\",\"GEMEINDE\":\"Uerkheim\",\"GEMEINDEZ\":\"Uerkheim\",\"GEMEINDEU\":\"Uerkheim\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"7092755.628934\",\"SHAPE.STLength()\":\"13342.667668\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"587\",\"attributes\":{\"OBJECTID\":\"59949312\",\"FILEID\":\"122\",\"GDENR\":\"4286\",\"GDENRPARZ\":\"428600587\",\"NUMMER\":\"587\",\"EGRID\":\"CH669145067244\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"47066\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"47065.553536\",\"SHAPE.STLength()\":\"1218.356564\"}},{\"layerId\":41,\"layerName\":\"\xDCberlagerte
        Schutzr\xE4ume f\xFCr Lebensr\xE4ume und Landschaften (ohne Gew\xE4sserraum)\",\"displayFieldName\":\"NameNummer\",\"value\":\"37096\",\"attributes\":{\"OBJECTID\":\"37096\",\"GDENR\":\"Uerkheim
        4286\",\"HNCode\":\"52\",\"HNBez\":\"\xDCberlagernde Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTCode\":\"5211\",\"KTAbk\":\"LS\",\"KTBez\":\"Landschaftsschutzzone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"521101\",\"GDEBez\":\"Landschaftsschutzzone\",\"GDEAbk\":\"LSZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"1994-000531\",\"GeschNr\":\"BVUARE.86.410\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"S\",\"Geolink\":\"2060\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2060.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"829492.136672\",\"SHAPE.STLength()\":\"15126.871474\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":134,\"layerName\":\"Gefahrenhinweiskarte:
        Prozess permanente Rutschungen\",\"displayFieldName\":\"quelle\",\"value\":\"3\",\"attributes\":{\"OBJECTID\":\"971\",\"quelle\":\"3\",\"Klasse\":\"permanenter
        Rutsch\",\"PERMARU_ID\":\"971\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"8265.436153\",\"SHAPE.STLength()\":\"604.171206\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"154766\",\"attributes\":{\"OBJECTID\":\"154766\",\"GDENR\":\"Uerkheim
        4286\",\"HNCode\":\"21\",\"HNBez\":\"Allgemeine Landwirtschaftszonen\",\"KTAAbk\":\"Landwirtschaftszonen\",\"KTCode\":\"2111\",\"KTAbk\":\"AL\",\"KTBez\":\"Allgemeine
        Landwirtschaftszone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"211101\",\"GDEBez\":\"Landwirtschaftszone\",\"GDEAbk\":\"LWZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"1994-000531\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.86.410\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"2060\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2060.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"1899402.566248\",\"Shape.STLength()\":\"20077.277561\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"ffe8dc00"'
    status:
      code: 200
      message: OK
[...]
