interactions:
- request:
    body: geometry=2654742%2C1243771%2C2654744%2C1243773&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seon\",\"attributes\":{\"OBJECTID\":\"73\",\"GDENR\":\"4209\",\"GEMEINDE\":\"Seon\",\"GEMEINDEZ\":\"Seon\",\"GEMEINDEU\":\"Seon\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"9620366.947696\",\"SHAPE.STLength()\":\"14398.720021\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2870\",\"attributes\":{\"OBJECTID\":\"61067307\",\"FILEID\":\"201\",\"GDENR\":\"4209\",\"GDENRPARZ\":\"420902870\",\"NUMMER\":\"2870\",\"EGRID\":\"CH620778051175\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"1328\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"1328.449123\",\"SHAPE.STLength()\":\"154.335767\"}},{\"layerId\":75,\"layerName\":\"Gew\xE4sserraum\",\"displayFieldName\":\"NAME\",\"value\":\"Aabach\",\"attributes\":{\"OBJECTID\":\"35754\",\"NAME\":\"Aabach\",\"SBREITE\":\"6\",\"BNUM\":\"2.06.000\",\"KLASSE\":\"3\",\"BUFF_DIST\":\"18.5\",\"ART\":\"Bach\",\"FAKTOR\":\"2\",\"NAT_GSB\":\"12\",\"GEWR_BREITE\":\"37\",\"GEWR_RADIUS\":\"18.5\",\"Bauzone\":\"0\",\"GEWR_TYP\":\"mB\",\"RECHT\":\"GSchV\",\"KEY\":\"2.06.000-0189\",\"AbschLength\":\"120\",\"GDENR\":\"4209\",\"GEMEINDEZ\":\"Seon\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"5511.883319\",\"SHAPE.STLength()\":\"355.953046\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"64107\",\"attributes\":{\"OBJECTID\":\"64107\",\"GDENR\":\"Seon
        4209\",\"HNCode\":\"11\",\"HNBez\":\"Wohnzonen\",\"KTAAbk\":\"Wohn- und Arbeitszonen\",\"KTCode\":\"1121\",\"KTAbk\":\"W2\",\"KTBez\":\"Wohnzone
        2\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"112101\",\"GDEBez\":\"Wohnzone
        2\",\"GDEAbk\":\"W2\",\"GDEZweck\":\"max. Ausn\xFCtzungsziffer 0.6 bei Reihen
        und Terrassenh\xE4usern\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"0.5\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_II\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2020-000006\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.13.35\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"3634\",\"Geolink_ES\":\"3635\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3634.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"10081.418395\",\"Shape.STLength()\":\"690.739699\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"11e6c9e6"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2654723%2C1243752%2C2654763%2C1243792&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seon\",\"attributes\":{\"OBJECTID\":\"73\",\"GDENR\":\"4209\",\"GEMEINDE\":\"Seon\",\"GEMEINDEZ\":\"Seon\",\"GEMEINDEU\":\"Seon\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"9620366.947696\",\"SHAPE.STLength()\":\"14398.720021\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"2869\",\"attributes\":{\"OBJECTID\":\"63330104\",\"FILEID\":\"201\",\"GDENR\":\"4209\",\"NUMMER\":\"2869\",\"ART\":\"Liegenschaft\",\"ORI\":\"267.9\",\"Shape\":\"Point\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"2871\",\"attributes\":{\"OBJECTID\":\"63328459\",\"FILEID\":\"201\",\"GDENR\":\"4209\",\"NUMMER\":\"2871\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2871\",\"attributes\":{\"OBJECTID\":\"61067557\",\"FILEID\":\"201\",\"GDENR\[...]
[...]
