interactions:
- request:
    body: geometry=2652239%2C1243773%2C2652241%2C1243775&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Gr\xE4nichen\",\"attributes\":{\"OBJECTID\":\"79\",\"GDENR\":\"4006\",\"GEMEINDE\":\"Gr\xE4nichen\",\"GEMEINDEZ\":\"Gr\xE4nichen\",\"GEMEINDEU\":\"Graenichen\",\"BZNR\":\"1901\",\"BEZIRK\":\"Aarau\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"17233146.903595\",\"SHAPE.STLength()\":\"20718.396533\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"735\",\"attributes\":{\"OBJECTID\":\"60949027\",\"FILEID\":\"156\",\"GDENR\":\"4006\",\"GDENRPARZ\":\"400600735\",\"NUMMER\":\"735\",\"EGRID\":\"CH245223889563\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"3963\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"3963.247887\",\"SHAPE.STLength()\":\"275.504335\"}},{\"layerId\":36,\"layerName\":\"Arch\xE4ologische
        Fundstellen nach Typ, mit Denkmalschutz\",\"displayFieldName\":\"FST_SIGNAT\",\"value\":\"6(B)10
        b\",\"attributes\":{\"OBJECTID\":\"1174\",\"FST_SIGNAT\":\"6(B)10 b\",\"ID\":\"6267\",\"KATDENKMAL\":\"B0\",\"KATEGORIE\":\"B\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"15987.5752\",\"SHAPE.STLength()\":\"448.230851\",\"Text_Gemeinde\":\"Null\",\"Gem_2000\":\"Gr\xE4nichen\",\"Denkmalschutz\":\"0\"}},{\"layerId\":51,\"layerName\":\"Weilerzone\",\"displayFieldName\":\"NameNummer\",\"value\":\"32244\",\"attributes\":{\"OBJECTID\":\"32244\",\"GDENR\":\"Gr\xE4nichen
        4006\",\"HNCode\":\"59\",\"HNBez\":\"Weitere \xFCberlagernde Nutzungszonen
        nach Art. 18 Abs. 1 RPG\",\"KTCode\":\"5911\",\"KTAbk\":\"WZ\",\"KTBez\":\"Weilerzone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"591101\",\"GDEBez\":\"Weilerzone\",\"GDEAbk\":\"WZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2005-000328\",\"GeschNr\":\"BVUARE.02.24\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"W\",\"Geolink\":\"2938\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2938.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"18885.657436\",\"SHAPE.STLength()\":\"915.69254\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"Refental\",\"attributes\":{\"OBJECTID\":\"130964\",\"GDENR\":\"Gr\xE4nichen
        4006\",\"HNCode\":\"21\",\"HNBez\":\"Allgemeine Landwirtschaftszonen\",\"KTAAbk\":\"Landwirtschaftszonen\",\"KTCode\":\"2111\",\"KTAbk\":\"AL\",\"KTBez\":\"Allgemeine
        Landwirtschaftszone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"211102\",\"GDEBez\":\"Landwirtschaftszone
        / Weilerzone (nicht Gegenstand der Planungsvorlage)\",\"GDEAbk\":\"LWZ WZ\",\"GDEZweck\":\"Es
        gelten die Bestimmungen der Abs\xE4tze 1, 2, 4, 6 und 7 von \xA733 bis der
        BNO vom 31. August 1998.\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Refental\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2022-000220\",\"Bemerkung\":\"In
        der Gesamtrevision mit RRB-Nr. 2022-000220: nicht Gegenstand der Planungsvorlage\",\"GeschNr\":\"BVUARE.13.31\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"4326\",\"Geolink_ES\":\"2943\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/4326.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"9012.909438\",\"Shape.STLength()\":\"558.17388\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"bcc0066f"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2652220%2C1243754%2C2652260%2C1243794&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Gr\xE4nichen\",\"attributes\":{\"OBJECTID\":\"79\",\"GDENR\":\"4006\",\"GEMEINDE\":\"Gr\xE4nichen\",\"GEMEINDEZ\":\"Gr\xE4nichen\",\"GEMEINDEU\":\"Graenichen\",\"BZNR\":\"1901\",\"BEZIRK\":\"Aarau\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"17233146.903595\",\"SHAPE.STLength()\":\"20718.396533\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"736\",\"attributes\":{\"OBJECTID\":\"63209642\",\"FILEID\":\"156\",\"GDENR\":\"4006\",\"NUMMER\":\"736\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"741\",\"attributes\":{\"OBJECTID\":\"60948866\",\"FILEID\":\"156\",\"GDENR\":\"4006\",\"GDENRPARZ\":\"400600741\",\"NUMMER\":\"741\",\"EGRID\":\"CH368823529570\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"2457\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"2456.741413\",\"SHAPE.STLength()\":\"1494.800545\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFie[...]
[...]
