interactions:
- request:
    body: geometry=2650102%2C1238631%2C2650104%2C1238633&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Schlossrued\",\"attributes\":{\"OBJECTID\":\"30\",\"GDENR\":\"4142\",\"GEMEINDE\":\"Schlossrued\",\"GEMEINDEZ\":\"Schlossrued\",\"GEMEINDEU\":\"Schlossrued\",\"BZNR\":\"1905\",\"BEZIRK\":\"Kulm\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"7246092.943553\",\"SHAPE.STLength()\":\"15875.13273\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"408\",\"attributes\":{\"OBJECTID\":\"60850844\",\"FILEID\":\"80\",\"GDENR\":\"4142\",\"GDENRPARZ\":\"414200408\",\"NUMMER\":\"408\",\"EGRID\":\"CH468676397362\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"279513\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"279512.947144\",\"SHAPE.STLength()\":\"3126.274032\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":134,\"layerName\":\"Gefahrenhinweiskarte:
        Prozess permanente Rutschungen\",\"displayFieldName\":\"quelle\",\"value\":\"3\",\"attributes\":{\"OBJECTID\":\"1002\",\"quelle\":\"3\",\"Klasse\":\"permanenter
        Rutsch\",\"PERMARU_ID\":\"1002\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"154066.709084\",\"SHAPE.STLength()\":\"1734.082467\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"28215\",\"attributes\":{\"OBJECTID\":\"28215\",\"GDENR\":\"Schlossrued
        4142\",\"HNCode\":\"44\",\"HNBez\":\"Wald\",\"KTAAbk\":\"Wald\",\"KTCode\":\"4491\",\"KTAbk\":\"Wa\",\"KTBez\":\"Wald\",\"KTVerb\":\"Orientierungsinhalt\",\"GDECode\":\"449101\",\"GDEBez\":\"Wald\",\"GDEAbk\":\"Wald\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"orientierend\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2000-001317\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.97.1548\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"975\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/975.html\",\"OEREBexport\":\"nein\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"301597.213293\",\"Shape.STLength()\":\"3604.894913\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"45289c0e"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2650083%2C1238612%2C2650123%2C1238652&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Schlossrued\",\"attributes\":{\"OBJECTID\":\"30\",\"GDENR\":\"4142\",\"GEMEINDE\":\"Schlossrued\",\"GEMEINDEZ\":\"Schlossrued\",\"GEMEINDEU\":\"Schlossrued\",\"BZNR\":\"1905\",\"BEZIRK\":\"Kulm\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"7246092.943553\",\"SHAPE.STLength()\":\"15875.13273\"}},{\"layerId\":1,\"layerName\":\"Gemeinden
        (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Oberkulm\",\"attributes\":{\"OBJECTID\":\"36\",\"GDENR\":\"4140\",\"GEMEINDE\":\"Oberkulm\",\"GEMEINDEZ\":\"Oberkulm\",\"GEMEINDEU\":\"Oberkulm\",\"BZNR\":\"1905\",\"BEZIRK\":\"Kulm\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"9413301.319156\",\"SHAPE.STLength()\":\"15224.789428\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"14\",\"attributes\":{\"OBJECTID\":\"63105061\",\"FILEID\":\"175\",\"GDENR\":\"4140\",\"NUMMER\":\"14\",\"ART\":\"Liegenschaft\",\"ORI\":\"334.8\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"408\",\"attributes\":{\"OBJECTID\":\"60850844\",\"FILEID\":\"80\",\"GDENR\":\"4142\",\"GDENRPARZ\":\"414200408\",\"NUMMER\":\"408\",\"EGRID\":\"CH468676397362\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"279513\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"279512.947144\",\"SHAPE.STLength()\":\"3126.274032\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"dis[...]
[...]
