interactions:
- request:
    body: geometry=2655776%2C1242132%2C2655778%2C1242134&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Hallwil\",\"attributes\":{\"OBJECTID\":\"58\",\"GDENR\":\"4197\",\"GEMEINDE\":\"Hallwil\",\"GEMEINDEZ\":\"Hallwil\",\"GEMEINDEU\":\"Hallwil\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"2180067.073073\",\"SHAPE.STLength()\":\"7014.497176\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"726\",\"attributes\":{\"OBJECTID\":\"60647683\",\"FILEID\":\"192\",\"GDENR\":\"4197\",\"GDENRPARZ\":\"419700726\",\"NUMMER\":\"726\",\"EGRID\":\"CH707611700515\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"1482\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"1482.010921\",\"SHAPE.STLength()\":\"164.698231\"}},{\"layerId\":24,\"layerName\":\"AV:
        Assekuranznummern\",\"displayFieldName\":\"ART\",\"value\":\"Gebaeude\",\"attributes\":{\"OBJECTID\":\"50858010\",\"FILEID\":\"192\",\"GDENR\":\"4197\",\"ART\":\"Gebaeude\",\"ASSNR\":\"55\",\"ORI\":\"19.8\",\"Shape\":\"Point\",\"EGID\":\"589311\"}},{\"layerId\":35,\"layerName\":\"Kurzinventar
        Denkmalpflege\",\"displayFieldName\":\"Signatur\",\"value\":\"KI-HAW904\",\"attributes\":{\"OBJECTID\":\"148\",\"Signatur\":\"KI-HAW904\",\"Titel\":\"Alte
        Post\",\"E_Koord\":\"2655777\",\"N_Koord\":\"1242133\",\"Adresse\":\"Bahnhofstrasse
        55\",\"Gemeinde\":\"Hallwil\",\"Nutzungstyp\":\"Wohnhaus Nr. 55 (\xF6stl.
        Geb\xE4udeh\xE4lfte)\",\"Shape\":\"Point\"}},{\"layerId\":141,\"layerName\":\"Bereiche
        rechtsg\xFCltiger Sondernutzungspl\xE4ne\",\"displayFieldName\":\"NameNummer\",\"value\":\"22708\",\"attributes\":{\"OBJECTID\":\"22708\",\"GDENR\":\"Hallwil
        4197\",\"HNCode\":\"61\",\"HNBez\":\"Bereiche rechtsg\xFCltiger Sondernutzungspl\xE4ne\",\"KTCode\":\"6111\",\"KTAbk\":\"EP\",\"KTBez\":\"Bereich
        rechtsg\xFCltiger Erschliessungspl\xE4ne\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"611101\",\"GDEBez\":\"Erschliessungsplan
        R\xFCchlig\",\"GDEAbk\":\"EP\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2007-000581\",\"GeschNr\":\"BVUARE.06.10\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"SNP\",\"Geolink\":\"3631\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3631.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"20898.225429\",\"SHAPE.STLength()\":\"835.28862\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"170700\",\"attributes\":{\"OBJECTID\":\"170700\",\"GDENR\":\"Hallwil
        4197\",\"HNCode\":\"14\",\"HNBez\":\"Zentrumszonen\",\"KTAAbk\":\"Wohn- und
        Arbeitszonen\",\"KTCode\":\"1411\",\"KTAbk\":\"D\",\"KTBez\":\"Dorfkernzone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"141101\",\"GDEBez\":\"Dorfkernzone\",\"GDEAbk\":\"D\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"0.65\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000476\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.10.91\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"5185\",\"Geolink_ES\":\"3633\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5185.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"7288.137634\",\"Shape.STLength()\":\"538.771527\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"6b300b6"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2655757%2C1242113%2C2655797%2C1242153&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Hallwil\",\"attributes\":{\"OBJECTID\":\"58\",\"GDENR\":\"4197\",\"GEMEINDE\":\"Hallwil\",\"GEMEINDEZ\":\"Hallwil\",\"GEMEINDEU\":\"Hallwil\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"2180067.073073\",\"SHAPE.STLength()\":\"7014.497176\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"957\",\"attributes\":{\"OBJECTID\":\"62899106\",\"FILEID\":\"192\",\"GDENR\":\"4197\",\"NUMMER\":\"957\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"723\",\"attributes\":{\"OBJECTID\":\"62899267\",\"FILEID\":\"192\",\"GDENR\":\"4197\",\"NUMMER\":\"723\",\"ART\":\"Liegenschaft\",\"ORI\":\"31.3\"[...]
[...]
