interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2607326.2625398953,1230121.7275696846,2607426.2625398953,1230221.7275696846
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2607351.2625398953,1230146.7275696846,2607401.2625398953,1230196.7275696846
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.astra.ivs-reg_loc", "layerName": "IVS
        Regional und Lokal", "featureId": 106820, "id": 106820, "attributes": {"ivs_slaname":
        "Solothurn/H\u00fcbeli - Kreuzen - Einsiedelei", "ivs_nummer": "SO 441", "ivs_signatur":
        "201", "ivs_signatur_fr": "Importance r\u00e9gionale, trac\u00e9 historique",
        "ivs_signatur_it": "Importanza regionale, tracciato storico", "ivs_signatur_de":
        "Regionale Bedeutung, historischer Verlauf", "ivs_kanton": "SO", "ivs_sladatehist":
        null, "ivs_sladatemorph": "20160407", "ivs_slabedeutung": "2", "ivs_sortsla":
        "SO04410000", "bgdi_created": "11.10.2016", "label": "SO 441"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2607351.2625398953,1230146.7275696846,2607401.2625398953,1230196.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_linie.data/?bbox=2607351.2625398953,1230146.7275696846,2607401.2625398953,1230196.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2607363.7625398953,1230159.2275696846,2607388.7625398953,1230184.2275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        9837, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2607367.795191194,
        1230172.502639503], [2607367.797990581, 1230172.51332079], [2607377.947289235,
        1230176.100568513], [2607377.958202931, 1230176.097660208], [2607381.5540098,
        1230164.882328595], [2607381.55106842, 1230164.871747175], [2607371.575478943,
        1230161.445255155], [2607371.564724985, 1230161.448105493], [2607367.795191194,
        1230172.502639503]]]]}, "properties": {"objektname": "Sigristenhaus zu Kreuzen",
        "schutzstufe_code": "geschuetzt", "schutzstufe_text": "gesch\u00fctzt"}},
        {"type": "Feature", "id": 9525, "geometry": {"type": "MultiPolygon", "coordinates":
        [[[[2607245.367035415, 1230337.053931836], [2607245.372353531, 1230337.06427134],
        [2607273.669663531, 1230351.62920134], [2607273.680977704, 1230351.627699408],
        [2607282.005263717, 1230333.315607914], [2607283.255981954, 1230316.243278642],
        [2607284.504344244, 1230306.255258648], [2607331.553529569, 1230280.01926426],
        [2607364.446373112, 1230256[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2607351.2625398953,1230146.7275696846,2607401.2625398953,1230196.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        13679218, "geometry": {"type": "Polygon", "coordinates": [[[2607242.243, 1230345.908],
        [2607242.743, 1230[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreis.data/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        909, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2605582.31, 1233591.881],
        [2605833.38, 1234016.025], [2605873.591, 1234084.13], [2606060.624, 1234363.279][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2607351.2625398953,1230146.7275696846,2607401.2625398953,1230196.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2607363.7625398953,1230159.2275696846,2607388.7625398953,1230184.2275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_punkt.data/?bbox=2607326.2625398953,1230121.7275696846,2607426.2625398953,1230221.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2607351.2625398953,1230146.7275696846,2607401.2625398953,1230196.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        12622, "geometry": {"type": "Polygon", "coordinates": [[[2606487.742, 1231475.029],
        [2606490.012, 1231475.151], [2606496.299, 1231482.535], [2606498.851, 1231484.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?filter=%5B%5B%22grundnutzungsart%22,%22ilike%22,%22Wald%22%5D%5D&bbox=2607351.2625398953,1230146.7275696846,2607401.2625398953,1230196.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        12622, "geometry": {"type": "Polygon", "coordinates": [[[2606487.742, 1231475.029],
        [2606490.012,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37273, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2606615.442,
        1230525.235], [2606615.552, 1230526.09], [2606615.655, 1230526.947], [2606615.752,
        12[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge/?bbox=2607366.2625398953,1230161.7275696846,2607386.2625398953,1230181.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        14236590, "geometry": {"type": "Point", "coordinates": [2607369.566, 1230169.477]},
        "properties": {"edid": 0, "plz": 4500, "hausnummer": "6", "strassenname":
        "Kreuzen", "egid": null, "ortschaft": "Solothurn"}}], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox": [2607369.566,
        1230169.477, 2607369.566, 1230169.477]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_flaeche.data/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2607351.2625398953,1230146.7275696846,2607401.2625398953,1230196.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2607376.2625398953,1230171.7275696846,2607376.2625398953,1230171.7275696846
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15047368, "geometry": {"type": "Polygon", "coordinates": [[[2607341.206, 1230181.67],
        [2607366.293, 1230188.41], [2607381.249, 1230176.659], [2607434.782, 1230163.451],
        [2607438.095, 1230117.038], [2607381.082, 1230092.502], [2607360.632, 1230114.107],
        [2607361.003, 1230129.467], [2607357.321, 1230145.411], [2607341.206, 1230181.67]]]},
        "properties": {"nummer": "99", "art_txt": "Liegenschaft", "egrid": "CH227060320651",
        "nbident": "SO0200002555"}}], "crs": {"type": "name", "properties": {"name":
        "urn:ogc:def:crs:EPSG::2056"}}, "bbox": [2607341.206, 1230092.502, 2607438.095,
        1230188.41]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
