interactions:
- request:
    body: geometry=2650228%2C1238860%2C2650230%2C1238862&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Oberkulm\",\"attributes\":{\"OBJECTID\":\"36\",\"GDENR\":\"4140\",\"GEMEINDE\":\"Oberkulm\",\"GEMEINDEZ\":\"Oberkulm\",\"GEMEINDEU\":\"Oberkulm\",\"BZNR\":\"1905\",\"BEZIRK\":\"Kulm\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"9413301.319156\",\"SHAPE.STLength()\":\"15224.789428\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"83\",\"attributes\":{\"OBJECTID\":\"60849975\",\"FILEID\":\"175\",\"GDENR\":\"4140\",\"GDENRPARZ\":\"414000083\",\"NUMMER\":\"83\",\"EGRID\":\"CH768176397001\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"16564\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"16564.033629\",\"SHAPE.STLength()\":\"631.315566\"}},{\"layerId\":41,\"layerName\":\"\xDCberlagerte
        Schutzr\xE4ume f\xFCr Lebensr\xE4ume und Landschaften (ohne Gew\xE4sserraum)\",\"displayFieldName\":\"NameNummer\",\"value\":\"37167\",\"attributes\":{\"OBJECTID\":\"37167\",\"GDENR\":\"Oberkulm
        4140\",\"HNCode\":\"52\",\"HNBez\":\"\xDCberlagernde Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTCode\":\"5211\",\"KTAbk\":\"LS\",\"KTBez\":\"Landschaftsschutzzone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"521101\",\"GDEBez\":\"Landschaftsschutzzone\",\"GDEAbk\":\"LSZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"1994-000492\",\"GeschNr\":\"BVUARE.86.440\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"S\",\"Geolink\":\"3111\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3111.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"1258957.915253\",\"SHAPE.STLength()\":\"21543.157655\"}},{\"layerId\":43,\"layerName\":\"Gesch\xFCtzte
        Naturobjekte im Kulturlandplan\",\"displayFieldName\":\"NameNummer\",\"value\":\"Baum,
        Baumgruppe, Allee\",\"attributes\":{\"OBJECTID\":\"2763\",\"GDENR\":\"Oberkulm
        4140\",\"HNCode\":\"81\",\"HNBez\":\"Naturobjekte\",\"KTCode\":\"8121\",\"KTAbk\":\"EBkl\",\"KTBez\":\"Einzelbaum,
        gesch\xFCtzt\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"812101\",\"GDEBez\":\"Einzelbaum
        ausserhalb Baugebiet\",\"GDEAbk\":\"EKl\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Baum,
        Baumgruppe, Allee\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"1994-000492\",\"GeschNr\":\"BVUARE.86.440\",\"Bemerkungen\":\"Null\",\"SHAPE\":\"Point\",\"KTLabel\":\"Null\",\"KTAAbk\":\"NO\",\"Geolink\":\"3111\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3111.html\",\"OEREBexport\":\"ja\"}},{\"layerId\":92,\"layerName\":\"Grundwasserschutzzonen\",\"displayFieldName\":\"NUMMER\",\"value\":\"030.089\",\"attributes\":{\"OBJECTID\":\"2230\",\"NUMMER\":\"030.089\",\"TYP\":\"S2\",\"TYPKANT\":\"S2\",\"ISTARECHT\":\"falsch\",\"RECHTSSTAT\":\"inKraft\",\"RECHTDATUM\":\"14.11.2022\",\"BEMSTATUS\":\"Null\",\"GEOLINK\":\"514\",\"BEZEICHNUNG\":\"Quellwasserfassungen
        Fornen, Stammling, Br\xF6nni, Beidel, R\xFCti, Cheeslih\xFCbel, Untere Br\xFCel,
        Hintere Br\xFCel und Obere Br\xFCel\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"45365.32645\",\"SHAPE.STLength()\":\"1203.928626\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"154659\",\"attributes\":{\"OBJECTID\":\"154659\",\"GDENR\":\"Oberkulm
        4140\",\"HNCode\":\"21\",\"HNBez\":\"Allgemeine Landwirtschaftszonen\",\"KTAAbk\":\"Landwirtschaftszonen\",\"KTCode\":\"2111\",\"KTAbk\":\"AL\",\"KTBez\":\"Allgemeine
        Landwirtschaftszone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"211101\",\"GDEBez\":\"Landwirtschaftszone
        I\",\"GDEAbk\":\"LWZI\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"1994-000492\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.86.440\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"3111\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3111.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"1964426.408708\",\"Shape.STLength()\":\"28852.084518\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"15bb80cb"'
    status:
      code: 200
      message: OK
[...]
