interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_grundstueck.data/?bbox=2607278.0,1228635.0,2607278.0,1228635.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157391049,
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [[[2607268.326, 1228632.325], [2607268.30982541, 1228632.599757344], [2607268.301044221, 1228632.874850249], [2607268.299662783, 1228633.150079803], [2607268.305682094, 1228633.425246995], [2607268.319097802, 1228633.70015286], [2607268.339900207, 1228633.974598621], [2607268.368074267, 1228634.248385834], [2607268.403599609, 1228634.521316531], [2607268.446450548, 1228634.793193365], [2607268.496596098, 1228635.063819749], [2607268.554, 1228635.333], [2607268.618623383, 1228635.600549784], [26[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_gebaeudeeingang.data/?bbox=2607268.0,1228625.0,2607288.0,1228645.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2607265.5,1228622.5,2607290.5,1228647.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157589688,
                    "geometry": {
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2607265.5,1228622.5,2607290.5,1228647.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungGrundnutzung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.GefahrengebietSynoptisch%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Fruchtfolgeflaechen%22%5D,%22or%22[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D%5D&bbox=2607253.0,1228610.0,2607303.0,1228660.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157748839,
                    "geometry": {
                        "type": "MultiPoint",
                        "coordinates": [[2607280, 1228630]]
                    },
                    "properties": {
                        "rechtsstatus": null,
                        "beschreibung": "Vorgängerturm (undat.); römische Münzen",
                        "t_id": 157748839,
                        "thema": "ch.SO.Archaeologie",
                        "artcode": "115/180"
                    }
                },
                {
                    "type": "Feature",
                    "id": 157749542,
                    "geometry": {
                        "type": "MultiPoint",
                        "coordinates": [[2607290, 1228655]]
                    },
                    "properties": {
                        "rechtsstatus": null,
                        "beschreibung": "Neuzeitliche Schanze",
                        "t_id": 157749542,
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_linien.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D%5D&bbox=2607253.0,1228610.0,2607303.0,1228660.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D%5D&bbox=2607253.0,1228610.0,2607303.0,1228660.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Wald%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2607253.0,1228610.0,2607303.0,1228660.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Gewaesser%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2607253.0,1228610.0,2607303.0,1228660.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2607278.0,1228635.0,2607278.0,1228635.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2607228.0,1228585.0,2607328.0,1228685.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2607253.0,1228610.0,2607303.0,1228660.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
