interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        9556255, "geometry": {"type": "Polygon", "coordinates": [[[2596260.007, 1230102.423],
        [2596266.028, 1230172.575], [2596269.776, 1230236.556], [2596346.605, 1230297.524],
        [2596394.6, 1230336.233], [2596457.509, 1230385.893], [2596512.377, 1230428.074],
        [2596554.199, 1230454.305], [2596612.485, 1230493.898], [2596617.791, 1230497.502],
        [2596616.472, 1230498.438], [2596611.302, 1230500.978], [2596580.353, 1230535.218],
        [2596574.203, 1230541.418], [2596547.853, 1230558.969], [2596549.463, 1230569.338],
        [25[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge.data/?bbox=2596737.0,1230170.0,2596757.0,1230190.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreise.data/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1471, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2596260.007,
        1230102.423], [2596266.028, 1230172.575], [2596269.776, 1230236.556], [2596346.605,
        1230297.524], [2596394.6, 1230336.2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1432010, "geometry": {"type": "Polygon", "coordinates": [[[2596311.461, 1229926.751],
        [2596305.193, 1229928.453], [2596303.276, 1229933.425], [2596268.822, 1230067.37],
        [2596260.007, 1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.alw.fruchtfolgeflaechen.data/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.naturgefahren.synoptisches_gefahrengebiet.data/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1897, "geometry": {"type": "Polygon", "coordinates": [[[2596185.919, 1228501.543],
        [2596151.015, 1228491.515], [2596130.63, 1228480.631], [2596123.328, 1228462.821],
        [2596103.79, 12[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2596734.5,1230167.5,2596759.5,1230192.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2596734.5,1230167.5,2596759.5,1230192.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.punktfundstellen.data/?bbox=2596722.0,1230155.0,2596772.0,1230205.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.flaechenfundstellen.data/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2596722.0,1230155.0,2596772.0,1230205.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2596722.0,1230155.0,2596772.0,1230205.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2596722.0,1230155.0,2596772.0,1230205.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2596722.0,1230155.0,2596772.0,1230205.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2596722.0,1230155.0,2596772.0,1230205.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2596747.0,1230180.0,2596747.0,1230180.0
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.bafu.bundesinventare-trockenwiesen_trockenweiden",
        "layerName": "Trockenwiesen und -weiden (TWW)", "featureId": 176544, "id":
        176544, "attributes": {"bewertung": 10616, "name": "B\u00fctzen", "refobjblat":
        "https://data.geo.admin.ch/ch.bafu.bundesinventare-trockenwiesen_trockenweiden/objectsheets/2021revision/nr10616.pdf",
        "shape_area": 70593.7956189433, "objnummer": 10616, "teilobjnummer": "SO3070049",
        "singularitaet": "Nein - Non", "label": "B\u00fctzen"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2596697.0,1230130.0,2596797.0,1230230.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2596722.0,1230155.0,2596772.0,1230205.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
