interactions:
- request:
    body: geometry=2634846%2C1238634%2C2634848%2C1238636&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Rothrist\",\"attributes\":{\"OBJECTID\":\"37\",\"GDENR\":\"4282\",\"GEMEINDE\":\"Rothrist\",\"GEMEINDEZ\":\"Rothrist\",\"GEMEINDEU\":\"Rothrist\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11854117.234707\",\"SHAPE.STLength()\":\"15809.536697\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"489\",\"attributes\":{\"OBJECTID\":\"60506732\",\"FILEID\":\"241\",\"GDENR\":\"4282\",\"GDENRPARZ\":\"428200489\",\"NUMMER\":\"489\",\"EGRID\":\"CH594583860676\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"22023\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"22022.728355\",\"SHAPE.STLength()\":\"645.030715\"}},{\"layerId\":493,\"layerName\":\"Hecke
        im Kulturlandplan\",\"displayFieldName\":\"NameNummer\",\"value\":\"01.97\",\"attributes\":{\"OBJECTID\":\"32582\",\"GDENR\":\"Rothrist
        4282\",\"HNCode\":\"79\",\"HNBez\":\"Weitere linienbezogene Festlegungen\",\"KTCode\":\"7921\",\"KTAbk\":\"Hkl\",\"KTBez\":\"Hecke,
        Feldgeh\xF6lz, Ufergeh\xF6lz, Allee ausserhalb der Bauzonen\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"792101\",\"GDEBez\":\"Hecke
        mit Pufferstreifen\",\"GDEAbk\":\"H+P\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"01.97\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000511\",\"GeschNr\":\"BVUARE.16.96\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"H\",\"Geolink\":\"5175\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5175.html\",\"OEREBexport\":\"ja\",\"OEREBexport_WL\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polyline\",\"SHAPE.STLength()\":\"430.845706\"}},{\"layerId\":75,\"layerName\":\"Gew\xE4sserraum\",\"displayFieldName\":\"NAME\",\"value\":\"Pfaffnern\",\"attributes\":{\"OBJECTID\":\"31826\",\"NAME\":\"Pfaffnern\",\"SBREITE\":\"6\",\"BNUM\":\"2.17.000\",\"KLASSE\":\"3\",\"BUFF_DIST\":\"18.5\",\"ART\":\"Bach\",\"FAKTOR\":\"2\",\"NAT_GSB\":\"12\",\"GEWR_BREITE\":\"37\",\"GEWR_RADIUS\":\"18.5\",\"Bauzone\":\"0\",\"GEWR_TYP\":\"mB\",\"RECHT\":\"GSchV\",\"KEY\":\"2.17.000-0028\",\"AbschLength\":\"40\",\"GDENR\":\"4282\",\"GEMEINDEZ\":\"Rothrist\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"2553.9017\",\"SHAPE.STLength()\":\"196.17119\"}},{\"layerId\":113,\"layerName\":\"Belastete
        Standorte (KBS)\",\"displayFieldName\":\"Katasternummer\",\"value\":\"AA4282.0019-1\",\"attributes\":{\"OBJECTID\":\"3867669\",\"FILEID\":\"101\",\"Katasternummer\":\"AA4282.0019-1\",\"Standorttyp\":\"Ablagerungsstandort\",\"InBetrieb\":\"Nein\",\"Nachsorge\":\"Nein\",\"Deponietyp\":\"Null\",\"Untersuchungsmassnahmen\":\"Keine\",\"StatusAltlV\":\"Belastet,
        keine sch\xE4dlichen oder l\xE4stigen Einwirkungen zu erwarten\",\"Ersteintrag\":\"01.06.2009\",\"LetzteAnpassung\":\"17.03.2016\",\"Rechtsstatus\":\"inKraft\",\"ZustaendigeBehoerde\":\"Abteilung
        f\xFCr Umwelt\",\"geolink\":\"184\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"1457.633063\",\"Shape.STLength()\":\"192.64125\"}},{\"layerId\":141,\"layerName\":\"Bereiche
        rechtsg\xFCltiger Sondernutzungspl\xE4ne\",\"displayFieldName\":\"NameNummer\",\"value\":\"7419\",\"attributes\":{\"OBJECTID\":\"7419\",\"GDENR\":\"Rothrist
        4282\",\"HNCode\":\"61\",\"HNBez\":\"Bereiche rechtsg\xFCltiger Sondernutzungspl\xE4ne\",\"KTCode\":\"6112\",\"KTAbk\":\"GP\",\"KTBez\":\"Bereich
        rechts[...]
[...]
