interactions:
- request:
    body: geometry=2636718%2C1239491%2C2636720%2C1239493&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Oftringen\",\"attributes\":{\"OBJECTID\":\"54\",\"GDENR\":\"4280\",\"GEMEINDE\":\"Oftringen\",\"GEMEINDEZ\":\"Oftringen\",\"GEMEINDEU\":\"Oftringen\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"12852391.28334\",\"SHAPE.STLength()\":\"20470.353585\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2302\",\"attributes\":{\"OBJECTID\":\"61122185\",\"FILEID\":\"203\",\"GDENR\":\"4280\",\"GDENRPARZ\":\"428002302\",\"NUMMER\":\"2302\",\"EGRID\":\"CH194589080604\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"643\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"644.370011\",\"SHAPE.STLength()\":\"292.740849\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"363\",\"attributes\":{\"OBJECTID\":\"61122186\",\"FILEID\":\"203\",\"GDENR\":\"4280\",\"GDENRPARZ\":\"428000363\",\"NUMMER\":\"363\",\"EGRID\":\"CH759045890632\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"1903\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"1902.001978\",\"SHAPE.STLength()\":\"838.246133\"}},{\"layerId\":74,\"layerName\":\"Bachkataster\",\"displayFieldName\":\"NAME\",\"value\":\"M\xFChletych\",\"attributes\":{\"OBJECTID\":\"8177\",\"NAME\":\"M\xFChletych\",\"BNUM\":\"2.00.500\",\"MUTDATUM\":\"20.02.2019\",\"BENUTZER\":\"rbsj\",\"Shape\":\"Polyline\",\"SHAPE.STLength()\":\"3823.120226\"}},{\"layerId\":75,\"layerName\":\"Gew\xE4sserraum\",\"displayFieldName\":\"NAME\",\"value\":\"Oberstr.
        Pritschenwuhr-Bach\",\"attributes\":{\"OBJECTID\":\"29717\",\"NAME\":\"Oberstr.
        Pritschenwuhr-Bach\",\"SBREITE\":\"Null\",\"BNUM\":\"2.16.005\",\"KLASSE\":\"Null\",\"BUFF_DIST\":\"6\",\"ART\":\"Kanal\",\"FAKTOR\":\"Null\",\"NAT_GSB\":\"Null\",\"GEWR_BREITE\":\"Null\",\"GEWR_RADIUS\":\"Null\",\"Bauzone\":\"Null\",\"GEWR_TYP\":\"Null\",\"RECHT\":\"BauG\",\"KEY\":\"Null\",\"AbschLength\":\"Null\",\"GDENR\":\"4280\",\"GEMEINDEZ\":\"Oftringen\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"15491.937145\",\"SHAPE.STLength()\":\"2718.368945\"}},{\"layerId\":75,\"layerName\":\"Gew\xE4sserraum\",\"displayFieldName\":\"NAME\",\"value\":\"M\xFChletych\",\"attributes\":{\"OBJECTID\":\"29714\",\"NAME\":\"M\xFChletych\",\"SBREITE\":\"Null\",\"BNUM\":\"2.00.500\",\"KLASSE\":\"Null\",\"BUFF_DIST\":\"6\",\"ART\":\"Kanal\",\"FAKTOR\":\"Null\",\"NAT_GSB\":\"Null\",\"GEWR_BREITE\":\"Null\",\"GEWR_RADIUS\":\"Null\",\"Bauzone\":\"Null\",\"GEWR_TYP\":\"Null\",\"RECHT\":\"BauG\",\"KEY\":\"Null\",\"AbschLength\":\"Null\",\"GDENR\":\"4280\",\"GEMEINDEZ\":\"Oftringen\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"28209.187369\",\"SHAPE.STLength()\":\"5324.412703\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"60\",\"OBJECTID\":\"75\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"21324645.167261\",\"SHAPE.STLength()\":\"43090.421232\"}},{\"layerId\":115,\"layerName\":\"Risikokataster:
        Konsultationsbereich Betriebsareal\",\"displayFieldName\":\"LIMSNR\",\"value\":\"12915\",\"attributes\":{\"OBJECTID\":\"42\",\"LIMSNR\":\"12915\",\"Konsultationsbereich_in_Meter\":\"100\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"101511.806798\",\"SHAPE.STLength()\":\"1159.84608\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Nationalstrasse\",\"attributes\":{\"OBJECTID\":\"214\",\"Mask_Type\":\"Nationalstrasse\",\"Mask_Priority\":\"2\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"7629641.436101\",\"SHAPE.STLength()\":\"76610.334231\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Nationalstrasse\",\"attributes\":{\"OBJECTID\":\"368\",\"Mask_Type\":\"Nationalstrasse\",\"Mask_Priority\":\"2\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"7629232.849279\",\"SHAPE.STLength()\":\"76606.85381\"}},{\"layerId\":11937,\"layerName\":\"Siedlungsgebiete
        und Industrie sowie Gewerbe\",\"displayFieldName\":\"Verursacher\",\"value\":\"Siedlungsgebiet
        mit Industrie- und Gewerbezonen\",\"attributes\":{\"OBJECTID\":\"69\",\"Verursacher\":\"Siedlungsgebiet
        mit Industrie- und Gewerbezonen\",\"Trennkriterium\":\"Gebiete \\u003e 10'000
        Einwohner\",\"Ausdehnung der Belastungsfl\xE4che\":\"Fl\xE4chenausdehnung
        des Siedlungsgebietes 1955 sowie Industrie- und Gewerbezonen mit bebauten
        Fl\xE4chen 1998\",\"Belastungsursache\":\"Emissionen von Gewerbe, Industrie
        und Hausfeuerungen sowie Gartenhilfsstoffe\",\"PRIMAERE_S\":\"Pb, Cd, Cu,
        Zn, PAK\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"122653.029349\",\"SHAPE.STLength()\":\"2763.626961\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"172836\",\"attributes\":{\"OBJECTID\":\"172836\",\"GDENR\":\"Oftringen
        4280\",\"HNCode\":\"12\",\"HNBez\":\"Arbeitszonen\",\"KTAAbk\":\"Arbeitszonen\",\"KTCode\":\"1221\",\"KTAbk\":\"A2\",\"KTBez\":\"Arbeitszone
        II\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"122101\",\"GDEBez\":\"Arbeitszone
        2\",\"GDEAbk\":\"A2\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"0.1\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_IV\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000563\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.16.14\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"5191\",\"Geolink_ES\":\"3212\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5191.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"234307.386683\",\"Shape.STLength()\":\"5564.334671\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"172846\",\"attributes\":{\"OBJECTID\":\"172846\",\"GDENR\":\"Oftringen
        4280\",\"HNCode\":\"16\",\"HNBez\":\"Eingeschr\xE4nkte Bauzonen\",\"KTAAbk\":\"Gr\xFCnfl\xE4chen
        und Freihaltezonen\",\"KTCode\":\"1629\",\"KTAbk\":\"Gbz\",\"KTBez\":\"Gew\xE4sser
        innerhalb Bauzone\",\"KTVerb\":\"Orientierungsinhalt\",\"GDECode\":\"162901\",\"GDEBez\":\"Gew\xE4sser\",\"GDEAbk\":\"GW\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"orientierend\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000563\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.16.14\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"5191\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5191.html\",\"OEREBexport\":\"nein\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"1004.316173\",\"Shape.STLength()\":\"498.128935\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"fa531691"'
    status:
      code: 200
      message: OK
[...]
