interactions:
- request:
    body: geometry=2654405%2C1243183%2C2654407%2C1243185&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seon\",\"attributes\":{\"OBJECTID\":\"73\",\"GDENR\":\"4209\",\"GEMEINDE\":\"Seon\",\"GEMEINDEZ\":\"Seon\",\"GEMEINDEU\":\"Seon\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"9620366.947696\",\"SHAPE.STLength()\":\"14398.720021\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"487\",\"attributes\":{\"OBJECTID\":\"61066899\",\"FILEID\":\"201\",\"GDENR\":\"4209\",\"GDENRPARZ\":\"420900487\",\"NUMMER\":\"487\",\"EGRID\":\"CH490507031181\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"13074\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"13074.433152\",\"SHAPE.STLength()\":\"623.973331\"}},{\"layerId\":32,\"layerName\":\"Kantonale
        Denkmalschutzobjekte\",\"displayFieldName\":\"Signatur\",\"value\":\"DSI-SEO006\",\"attributes\":{\"Signatur\":\"DSI-SEO006\",\"URL\":\"https://www.ag.ch/denkmalpflege/suche/detail.aspx?id=25866\",\"Titel\":\"Retterswil
        8, Meierhof\",\"E_KOORD\":\"2654406\",\"N_KOORD\":\"1243184\",\"Adresse\":\"Retterswil
        8\",\"Gemeinde\":\"Seon\",\"Ent_Zeit\":\"16. Jh.\",\"DSI_SOLARKAT\":\"ja\",\"OBJECTID\":\"406\",\"SHAPE\":\"Point\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"64239\",\"attributes\":{\"OBJECTID\":\"64239\",\"GDENR\":\"Seon
        4209\",\"HNCode\":\"14\",\"HNBez\":\"Zentrumszonen\",\"KTAAbk\":\"Wohn- und
        Arbeitszonen\",\"KTCode\":\"1411\",\"KTAbk\":\"D\",\"KTBez\":\"Dorfkernzone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"141102\",\"GDEBez\":\"Dorfzone
        Retterswil\",\"GDEAbk\":\"DR\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2020-000006\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.13.35\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"3634\",\"Geolink_ES\":\"3635\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3634.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"5484.470879\",\"Shape.STLength()\":\"344.661728\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"d11d85ad"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2654386%2C1243164%2C2654426%2C1243204&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seon\",\"attributes\":{\"OBJECTID\":\"73\",\"GDENR\":\"4209\",\"GEMEINDE\":\"Seon\",\"GEMEINDEZ\":\"Seon\",\"GEMEINDEU\":\"Seon\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"9620366.947696\",\"SHAPE.STLength()\":\"14398.720021\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"358\",\"attributes\":{\"OBJECTID\":\"63330873\",\"FILEID\":\"201\",\"GDENR\":\"4209\",\"NUMMER\":\"358\",\"ART\":\"Liegenschaft\",\"ORI\":\"5.3\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"487\",\"attributes\":{\"OBJECTID\":\"61066899\",\"FILEID\":\"201\",\"GDENR\":\"4209\",\"GDENRPARZ\":\"420900487\",\"NUMMER\":\"487\",\"EGRID\":\"CH490507031181\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"13074\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"13074.433152\",\"SHAPE.STLength()\":\"623.973331\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"display[...]
[...]
