interactions:
- request:
    body: geometry=2654390%2C1241376%2C2654392%2C1241378&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"D\xFCrren\xE4sch\",\"attributes\":{\"OBJECTID\":\"53\",\"GDENR\":\"4134\",\"GEMEINDE\":\"D\xFCrren\xE4sch\",\"GEMEINDEZ\":\"D\xFCrren\xE4sch\",\"GEMEINDEU\":\"Duerrenaesch\",\"BZNR\":\"1905\",\"BEZIRK\":\"Kulm\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"5907471.038385\",\"SHAPE.STLength()\":\"13241.917925\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"92\",\"attributes\":{\"OBJECTID\":\"60837642\",\"FILEID\":\"173\",\"GDENR\":\"4134\",\"GDENRPARZ\":\"413400092\",\"NUMMER\":\"92\",\"EGRID\":\"CH637672397754\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"12506\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"12507.366095\",\"SHAPE.STLength()\":\"572.932611\"}},{\"layerId\":34,\"layerName\":\"Geb\xE4ude
        unter Schutz\",\"displayFieldName\":\"NameNummer\",\"value\":\"DUR908 Schulhaus\",\"attributes\":{\"OBJECTID\":\"36817\",\"GDENR\":\"D\xFCrren\xE4sch
        4134\",\"HNCode\":\"69\",\"HNBez\":\"Weitere fl\xE4chenbezogene Festlegungen\",\"KTCode\":\"6931\",\"KTAbk\":\"GSS\",\"KTBez\":\"Geb\xE4ude
        mit Substanzschutz\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"693101\",\"GDEBez\":\"Geb\xE4ude
        mit Substanzschutz\",\"GDEAbk\":\"SUB\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"DUR908
        Schulhaus\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2023-000045\",\"GeschNr\":\"BVUARE.13.8\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"DIV\",\"Geolink\":\"4666\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/4666.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"448.324123\",\"SHAPE.STLength()\":\"95.000048\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"152749\",\"attributes\":{\"OBJECTID\":\"152749\",\"GDENR\":\"D\xFCrren\xE4sch
        4134\",\"HNCode\":\"15\",\"HNBez\":\"Zonen f\xFCr \xF6ffentliche Nutzungen\",\"KTAAbk\":\"Zonen
        f\xFCr \xF6ffentliche Bauten und Anlagen\",\"KTCode\":\"1511\",\"KTAbk\":\"OeBA\",\"KTBez\":\"Zone
        f\xFCr \xF6ffentliche Bauten und Anlagen\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"151101\",\"GDEBez\":\"Zone
        f\xFCr \xF6ffentliche Bauten und Anlagen\",\"GDEAbk\":\"OEBA\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2023-000045\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.13.8\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"4666\",\"Geolink_ES\":\"2958\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/4666.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"22480.332851\",\"Shape.STLength()\":\"839.183175\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"6cb2ae79"'
    status:
      code: 200
      message: OK
[...]
