interactions:
- request:
    body: geometry=2635081.564072412904351949692%2C1241235.536643672036007046700%2C2635083.564072412904351949692%2C1241237.536643672036007046700&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Aarburg\",\"attributes\":{\"OBJECTID\":\"63\",\"GDENR\":\"4271\",\"GEMEINDE\":\"Aarburg\",\"GEMEINDEZ\":\"Aarburg\",\"GEMEINDEU\":\"Aarburg\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4413009.373837\",\"SHAPE.STLength()\":\"11599.96735\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"646\",\"attributes\":{\"OBJECTID\":\"60123184\",\"FILEID\":\"236\",\"GDENR\":\"4271\",\"GDENRPARZ\":\"427100646\",\"NUMMER\":\"646\",\"EGRID\":\"CH607706874573\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"1428\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"1428.207122\",\"SHAPE.STLength()\":\"155.975542\"}},{\"layerId\":24,\"layerName\":\"AV:
        Assekuranznummern\",\"displayFieldName\":\"ART\",\"value\":\"Gebaeude\",\"attributes\":{\"OBJECTID\":\"50428876\",\"FILEID\":\"236\",\"GDENR\":\"4271\",\"ART\":\"Gebaeude\",\"ASSNR\":\"503\",\"ORI\":\"18.7\",\"Shape\":\"Point\",\"EGID\":\"1646288\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"60\",\"OBJECTID\":\"75\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"21324645.167261\",\"SHAPE.STLength()\":\"43090.421232\"}},{\"layerId\":11937,\"layerName\":\"Siedlungsgebiete
        und Industrie sowie Gewerbe\",\"displayFieldName\":\"Verursacher\",\"value\":\"Siedlungsgebiet
        mit Industrie- und Gewerbezonen\",\"attributes\":{\"OBJECTID\":\"1\",\"Verursacher\":\"Siedlungsgebiet
        mit Industrie- und Gewerbezonen\",\"Trennkriterium\":\"Gebiete \\u003e 10'000
        Einwohner\",\"Ausdehnung der Belastungsfl\xE4che\":\"Fl\xE4chenausdehnung
        des Siedlungsgebietes 1955 sowie Industrie- und Gewerbezonen mit bebauten
        Fl\xE4chen 1998\",\"Belastungsursache\":\"Emissionen von Gewerbe, Industrie
        und Hausfeuerungen sowie Gartenhilfsstoffe\",\"PRIMAERE_S\":\"Pb, Cd, Cu,
        Zn, PAK\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"22697342.592763\",\"SHAPE.STLength()\":\"264770.785682\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"11832\",\"attributes\":{\"OBJECTID\":\"11832\",\"GDENR\":\"Aarburg
        4271\",\"HNCode\":\"13\",\"HNBez\":\"Mischzonen\",\"KTAAbk\":\"Wohn- und Arbeitszonen\",\"KTCode\":\"1331\",\"KTAbk\":\"WA3\",\"KTBez\":\"Wohn-
        und Arbeitszone 3\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"133102\",\"GDEBez\":\"Wohn-
        und Gewerbezone WG 3B\",\"GDEAbk\":\"WG3B\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"1\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2015-000693\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.14.141\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"225\",\"Geolink_ES\":\"232\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/225.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"14182.279629\",\"Shape.STLength()\":\"628.753748\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"6d03d68b"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2635062.564072412904351949692%2C1241216.536643672036007046700%2C2635102.564072412904351949692%2C1241256.536643672036007046700&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Aarburg\",\"attributes\":{\"OBJECTID\":\"63\",\"GDENR\":\"4271\",\"GEMEINDE\":\"Aarburg\",\"GEMEINDEZ\":\"Aarburg\",\"GEMEINDEU\":\"Aarburg\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4413009.373837\",\"SHAPE.STLength()\":\"11599.96735\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"566\",\"attributes\":{\"OBJECTID\":\"62358409\",\"FILEID\":\"236\",\"GDENR\":\"4271\",\"NUMMER\":\"566\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"646\",\"attributes\":{\"OBJECTID\":\"62358521\",\"FILEID\":\"236\",\"GDENR\":\"4271\",\"NUMMER\":\"646\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"[...]
[...]
