interactions:
- request:
    body: geometry=2647142%2C1250752%2C2647144%2C1250754&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Aarau\",\"attributes\":{\"OBJECTID\":\"100\",\"GDENR\":\"4001\",\"GEMEINDE\":\"Aarau\",\"GEMEINDEZ\":\"Aarau\",\"GEMEINDEU\":\"Aarau\",\"BZNR\":\"1901\",\"BEZIRK\":\"Aarau\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"12338155.787902\",\"SHAPE.STLength()\":\"23581.308837\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"3893\",\"attributes\":{\"OBJECTID\":\"61039603\",\"FILEID\":\"163\",\"GDENR\":\"4001\",\"GDENRPARZ\":\"400103893\",\"NUMMER\":\"3893\",\"EGRID\":\"CH759923775274\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"51448\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"51447.577009\",\"SHAPE.STLength()\":\"1193.127534\"}},{\"layerId\":41,\"layerName\":\"\xDCberlagerte
        Schutzr\xE4ume f\xFCr Lebensr\xE4ume und Landschaften (ohne Gew\xE4sserraum)\",\"displayFieldName\":\"NameNummer\",\"value\":\"25455\",\"attributes\":{\"OBJECTID\":\"25455\",\"GDENR\":\"Aarau
        4001\",\"HNCode\":\"52\",\"HNBez\":\"\xDCberlagernde Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTCode\":\"5299\",\"KTAbk\":\"wSZ\",\"KTBez\":\"Weitere
        \xFCberlagerte Schutzzone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"529901\",\"GDEBez\":\"Zone
        Auenschutzpark\",\"GDEAbk\":\"\xFCAP\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2019-001549\",\"GeschNr\":\"BVUARE.10.156\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"S\",\"Geolink\":\"3752\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3752.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"596976.07804\",\"SHAPE.STLength()\":\"5575.396086\"}},{\"layerId\":45,\"layerName\":\"Auengebiete
        von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Aarau-Rupperswil\",\"attributes\":{\"OBJECTID\":\"245\",\"ObjNummer\":\"401\",\"Name\":\"Aarau-Rupperswil\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-auen/objectsheets/2017revision/nr401.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"01.11.2017\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"
        \",\"Typ\":\"3\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"2714966.024181\",\"Shape.STLength()\":\"18984.058166\"}},{\"layerId\":491,\"layerName\":\"Bundesinventar
        der Amphibienlaichgebiete von nationaler Bedeutung: ortsfeste Objekte\",\"displayFieldName\":\"Name\",\"value\":\"Zurlindeninsel\",\"attributes\":{\"OBJECTID\":\"1\",\"ObjNummer\":\"AG3\",\"Name\":\"Zurlindeninsel\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-amphibien/objectsheets/2017revision/ag3.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"01.08.2001\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"
        \",\"Bereich\":\"A\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"170214.484542\",\"SHAPE.STLength()\":\"3429.310543\"}},{\"layerId\":63,\"layerName\":\"Waldnaturschutzinventar
        (Fl\xE4chen)\",\"displayFieldName\":\"FLNAM\",\"value\":\"Zurlindeninsel\",\"attributes\":{\"OBJECTID\":\"500\",\"OBJNR\":\"400104\",\"FLUSSTALID\":\"1\",\"GDENR\":\"4001\",\"FKREIS\":\"4\",\"WALDFLA\":\"248\",\"WALDPRIV\":\"0\",\"AUFDAT\":\"18.09.1990\",\"AUTOR\":\"4\",\"OBJFLA\":\"10\",\"FLNAM\":\"Zurlindeninsel\",\"HVON\":\"360\",\"HBIS\":\"365\",\"ANOBJNR1\":\"0\",\"ANOBJNR2\":\"0\",\"ANOBJNR3\":\"0\",\"REFER\":\"4007-4008-4009-4010\",\"WP1\":\"0\",\"WP2\":\"0\",\"WP3\":\"0\",\"BEKA\":\"3\",\"VEGKA\":\"2\",\"NATRAUMZI\":\"2\",\"E1NDH\":\"0\",\"TOTLST15\":\"3\",\"TOTLST30\":\"3\",\"TOTLI15\":\"3\",\"TOTLI30\":\"2\",\"AE1\":\"0\",\"HW2\":\"0\",\"AENDH\":\"0\",\"TOT2ST15\":\"0\",\"TOT2ST30\":\"0\",\"TOT2LI15\":\"0\",\"TOT2LI30\":\"0\",\"WGRENZ\":\"3200\",\"AUFSTUF\":\"0\",\"VERZFG\":\"1\",\"VERZMW\":\"0\",\"VERZVK\":\"0\",\"STRASSE\":\"0\",\"ARTPFL\":\"1\",\"ARTAMPH\":\"1\",\"ARTREPT\":\"0\",\"ARTVOEG\":\"1\",\"ARTSAEUG\":\"0\",\"ARTORG\":\"1\",\"ELGEOM\":\"0\",\"ELBACH\":\"0\",\"ELTOB\":\"0\",\"ELWEIH\":\"0\",\"ELQUEL\":\"0\",\"ELTUFF\":\"0\",\"ELFEUCHT\":\"0\",\"ELFELS\":\"0\",\"ELGEROE\":\"0\",\"ELRUTSCH\":\"0\",\"ELDOL\":\"0\",\"ELMAUR\":\"0\",\"ELRAS\":\"1\",\"ELWEIT\":\"1\",\"WALDRES\":\"
        \",\"HIR12A\":\"3\",\"HIR2B\":\"0\",\"HIR3\":\"4\",\"HIR4\":\"0\",\"HIRUEB\":\"0\",\"KUM12A\":\"3\",\"KUM2B\":\"3\",\"KUM3\":\"6\",\"KUM4\":\"6\",\"KATEGORIE\":\"C\",\"E29G\":\"0\",\"E29H\":\"0\",\"E1\":\"0\",\"E2\":\"0\",\"E9\":\"0\",\"E10W\":\"0\",\"E10\":\"0\",\"E11\":\"0\",\"E12\":\"0\",\"E13NS\":\"0\",\"E14W\":\"0\",\"E14\":\"0\",\"E15\":\"0\",\"E16\":\"0\",\"E17\":\"0\",\"E20\":\"0\",\"E22\":\"0\",\"E22X\":\"0\",\"E25\":\"0\",\"E26\":\"0\",\"E27\":\"0\",\"E28\":\"70\",\"E29\":\"0\",\"E30\":\"0\",\"E31\":\"40\",\"E35\":\"0\",\"E38\":\"0\",\"E39\":\"0\",\"E41\":\"0\",\"E43\":\"160\",\"E44\":\"0\",\"E45\":\"0\",\"E46\":\"0\",\"E48\":\"0\",\"E61\":\"0\",\"E62\":\"0\",\"E65\":\"0\",\"E66\":\"0\",\"E2NDH\":\"0\",\"E9NDH\":\"0\",\"E10WNDH\":\"0\",\"E10NDH\":\"0\",\"E11NDH\":\"0\",\"E12NDH\":\"0\",\"E13NSNDH\":\"0\",\"E14NDH\":\"0\",\"E15NDH\":\"0\",\"E16NDH\":\"0\",\"E17NDH\":\"0\",\"E20NDH\":\"0\",\"E22NDH\":\"0\",\"E22XNDH\":\"0\",\"E25NDH\":\"0\",\"E26NDH\":\"0\",\"E27NDH\":\"0\",\"E28NDH\":\"0\",\"E29NDH\":\"0\",\"E30NDH\":\"0\",\"E31NDH\":\"0\",\"E35NDH\":\"0\",\"E38NDH\":\"0\",\"E39NDH\":\"0\",\"E41NDH\":\"0\",\"E43NDH\":\"0\",\"E44NDH\":\"0\",\"E45NDH\":\"0\",\"E46NDH\":\"0\",\"E48NDH\":\"0\",\"E61NDH\":\"0\",\"E62NDH\":\"0\",\"E65NDH\":\"0\",\"E66NDH\":\"0\",\"NATNAH1\":\"0.5\",\"BESTJ\":\"0\",\"BESTBH\":\"6\",\"BESTA\":\"0\",\"MWNW1\":\"0\",\"AE6\":\"0\",\"AE7\":\"0\",\"AE8\":\"0\",\"AE9\":\"0\",\"AE10\":\"0\",\"AE11\":\"0\",\"AE12\":\"0\",\"AE13A\":\"0\",\"AE14\":\"0\",\"AE46\":\"0\",\"MNW2\":\"0\",\"ALTHWVON\":\"0\",\"ALTHWBIS\":\"0\",\"ALTMNWVON\":\"0\",\"ALTMNWBIS\":\"0\",\"OSNDHFI\":\"0\",\"OSNDHFOE\":\"0\",\"OSNDHTA\":\"0\",\"OSNDHUEB\":\"0\",\"UHNDHFI\":\"0\",\"UHNDHFOE\":\"0\",\"UHNDHTA\":\"0\",\"UHNDHUEB\":\"0\",\"OSLBHAH\":\"0\",\"OSLBHBU\":\"0\",\"OSLBHEI\":\"0\",\"OSLBHES\":\"0\",\"OSLBHKI\":\"0\",\"OSLBHLI\":\"0\",\"OSLBHUL\":\"0\",\"OSLBHUESH\":\"0\",\"OSLBHUESF\":\"0\",\"UHLBHAH\":\"0\",\"UHLBHEI\":\"0\",\"UHLBHES\":\"0\",\"UHLBHKI\":\"0\",\"UHLBHLI\":\"0\",\"UHLBHUL\":\"0\",\"UHLBHUESH\":\"0\",\"UHLBHUESF\":\"0\",\"NATRAH2\":\"0\",\"ST50\":\"0\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"105464.361065\",\"SHAPE.STLength()\":\"3170.795687\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"FW2
        Zurlindeninsel\",\"attributes\":{\"OBJECTID\":\"155251\",\"GDENR\":\"Aarau
        4001\",\"HNCode\":\"31\",\"HNBez\":\"Schutzzonen f\xFCr Lebensr\xE4ume und
        Landschaften\",\"KTAAbk\":\"Schutzzonen\",\"KTCode\":\"3113\",\"KTAbk\":\"F\",\"KTBez\":\"Fromentalwiese\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"311301\",\"GDEBez\":\"Schutzbereich
        Fromentalwiesen\",\"GDEAbk\":\"FW\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"FW2
        Zurlindeninsel\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2019-001549\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.10.156\",\"UB\":\"Null\",\"KTLabel\":\"F\",\"Geolink\":\"3752\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/3752.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"6307.883816\",\"Shape.STLength()\":\"561.381092\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"d4082c6b"'
    status:
      code: 200
      message: OK
[...]
