interactions:
- request:
    body: geometry=2657748%2C1240977%2C2657750%2C1240979&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seengen\",\"attributes\":{\"OBJECTID\":\"64\",\"GDENR\":\"4208\",\"GEMEINDE\":\"Seengen\",\"GEMEINDEZ\":\"Seengen\",\"GEMEINDEU\":\"Seengen\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"10342936.045435\",\"SHAPE.STLength()\":\"15148.375334\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"1561\",\"attributes\":{\"OBJECTID\":\"60985706\",\"FILEID\":\"204\",\"GDENR\":\"4208\",\"GDENRPARZ\":\"420801561\",\"NUMMER\":\"1561\",\"EGRID\":\"CH787705119563\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"30768\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"30768.17268\",\"SHAPE.STLength()\":\"749.610193\"}},{\"layerId\":36,\"layerName\":\"Arch\xE4ologische
        Fundstellen nach Typ, mit Denkmalschutz\",\"displayFieldName\":\"FST_SIGNAT\",\"value\":\"154(A)1\",\"attributes\":{\"OBJECTID\":\"911\",\"FST_SIGNAT\":\"154(A)1\",\"ID\":\"5742\",\"KATDENKMAL\":\"A0\",\"KATEGORIE\":\"A\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"17253.685887\",\"SHAPE.STLength()\":\"465.641188\",\"Text_Gemeinde\":\"Null\",\"Gem_2000\":\"Seengen\",\"Denkmalschutz\":\"0\"}},{\"layerId\":41,\"layerName\":\"\xDCberlagerte
        Schutzr\xE4ume f\xFCr Lebensr\xE4ume und Landschaften (ohne Gew\xE4sserraum)\",\"displayFieldName\":\"NameNummer\",\"value\":\"2812\",\"attributes\":{\"OBJECTID\":\"2812\",\"GDENR\":\"Seengen
        4208\",\"HNCode\":\"52\",\"HNBez\":\"\xDCberlagernde Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTCode\":\"5221\",\"KTAbk\":\"NaWa\",\"KTBez\":\"Naturwaldgem\xE4sse
        Bestockung\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"522101\",\"GDEBez\":\"NATURSCHUTZZONE
        WALD\",\"GDEAbk\":\"NSZW\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2013-000520\",\"GeschNr\":\"BVUARE.06.121\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"NB\",\"KTAAbk\":\"S\",\"Geolink\":\"2609\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2609.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"11002.504113\",\"SHAPE.STLength()\":\"401.17284\"}},{\"layerId\":42,\"layerName\":\"Naturschutzgebiet
        von kant. Bedeutung (NkB) Richtplan L 2.5\",\"displayFieldName\":\"RPKAP_KL\",\"value\":\"l25\",\"attributes\":{\"OBJECTID\":\"154\",\"NKB_ID\":\"Null\",\"KIN_AREAL\":\"Null\",\"RPKAP_KL\":\"l25\",\"RPKAP_LG\":\"L
        2.5 Naturschutzgebiete von kantonaler Bedeutung (NkB)\",\"Shape\":\"Polygon\",\"KATEGORIE\":\"Festsetzung\",\"RP_AUSSAGE\":\"Naturschutzgebiet
        von kant. Bedeutung (NkB)\",\"SHAPE.STArea()\":\"560579.306505\",\"SHAPE.STLength()\":\"6393.148109\",\"FlurnameAV\":\"Boniswiler-
        /Seenger Moos\",\"NKBNr\":\"60\"}},{\"layerId\":491,\"layerName\":\"Bundesinventar
        der Amphibienlaichgebiete von nationaler Bedeutung: ortsfeste Objekte\",\"displayFieldName\":\"Name\",\"value\":\"Moos\",\"attributes\":{\"OBJECTID\":\"5\",\"ObjNummer\":\"AG96\",\"Name\":\"Moos\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-amphibien/objectsheets/2017revision/ag96.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"01.08.2001\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"
        \",\"Bereich\":\"A\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"476548.605559\",\"SHAPE.STLength()\":\"5162.979496\"}},{\"layerId\":495,\"layerName\":\"BLN
        - Bundesinventar der Landschaften und Naturdenkm\xE4ler von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Hallwilersee\",\"attributes\":{\"OBJECTID\":\"46\",\"ObjNummer\":\"1303\",\"TeilObjNummer\":\"0\",\"Name\":\"Hallwilersee\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"V\"}},{\"layerId\":497,\"layerName\":\"Landschaftsschutzdekrete
        (detailliert Legende)\",\"displayFieldName\":\"Dekretsname\",\"value\":\"HSD\",\"attributes\":{\"OBJECTID\":\"329\",\"Dekretsname\":\"HSD\",\"Ausf\xFChrlicher
        Dekretsname\":\"Dekret zum Schutze der Hallwilerseelandschaft (SAR 787.350)\",\"Zonencode
        Kanton\":\"5281\",\"Zonenbezeichnung Kanton\":\"Naturschutzzone innerhalb
        Dekretsgebiet (kant. NP)\",\"Typ in Kantonaler Zone\":\"Reservatszone\",\"Verbindlichkeit\":\"Nutzungsplanfestlegung\",\"Orientierungsinhalt\":\"mittelfristig
        Umbenennung in Naturschutzzone vorgesehen\",\"Geolink\":\"38\",\"Beschlussdatum
        \xC4nderung\":\"28.08.2007\",\"Rechtsstatus\":\"inKraft\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/38.html\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"32262.417611\",\"Shape.STLength()\":\"731.922676\"}},{\"layerId\":63,\"layerName\":\"Waldnaturschutzinventar
        (Fl\xE4chen)\",\"displayFieldName\":\"FLNAM\",\"value\":\"Moordorf Risle\",\"attributes\":{\"OBJECTID\":\"1028\",\"OBJNR\":\"420801\",\"FLUSSTALID\":\"1\",\"GDENR\":\"4208\",\"FKREIS\":\"4\",\"WALDFLA\":\"295\",\"WALDPRIV\":\"0\",\"AUFDAT\":\"05.09.1991\",\"AUTOR\":\"4\",\"OBJFLA\":\"1\",\"FLNAM\":\"Moordorf
        Risle\",\"HVON\":\"449\",\"HBIS\":\"449\",\"ANOBJNR1\":\"0\",\"ANOBJNR2\":\"0\",\"ANOBJNR3\":\"0\",\"REFER\":\"4071-4072-4073-4074\",\"WP1\":\"0\",\"WP2\":\"0\",\"WP3\":\"0\",\"BEKA\":\"3\",\"VEGKA\":\"1\",\"NATRAUMZI\":\"2\",\"E1NDH\":\"0\",\"TOTLST15\":\"2\",\"TOTLST30\":\"0\",\"TOTLI15\":\"2\",\"TOTLI30\":\"0\",\"AE1\":\"0\",\"HW2\":\"0\",\"AENDH\":\"0\",\"TOT2ST15\":\"0\",\"TOT2ST30\":\"0\",\"TOT2LI15\":\"0\",\"TOT2LI30\":\"0\",\"WGRENZ\":\"400\",\"AUFSTUF\":\"1\",\"VERZFG\":\"1\",\"VERZMW\":\"0\",\"VERZVK\":\"0\",\"STRASSE\":\"0\",\"ARTPFL\":\"0\",\"ARTAMPH\":\"0\",\"ARTREPT\":\"0\",\"ARTVOEG\":\"1\",\"ARTSAEUG\":\"0\",\"ARTORG\":\"0\",\"ELGEOM\":\"0\",\"ELBACH\":\"0\",\"ELTOB\":\"0\",\"ELWEIH\":\"0\",\"ELQUEL\":\"0\",\"ELTUFF\":\"0\",\"ELFEUCHT\":\"1\",\"ELFELS\":\"0\",\"ELGEROE\":\"0\",\"ELRUTSCH\":\"0\",\"ELDOL\":\"0\",\"ELMAUR\":\"0\",\"ELRAS\":\"0\",\"ELWEIT\":\"0\",\"WALDRES\":\"
        \",\"HIR12A\":\"6\",\"HIR2B\":\"0\",\"HIR3\":\"0\",\"HIR4\":\"0\",\"HIRUEB\":\"0\",\"KUM12A\":\"6\",\"KUM2B\":\"6\",\"KUM3\":\"6\",\"KUM4\":\"6\",\"KATEGORIE\":\"A\",\"E29G\":\"0\",\"E29H\":\"0\",\"E1\":\"0\",\"E2\":\"0\",\"E9\":\"0\",\"E10W\":\"0\",\"E10\":\"0\",\"E11\":\"0\",\"E12\":\"0\",\"E13NS\":\"0\",\"E14W\":\"0\",\"E14\":\"0\",\"E15\":\"0\",\"E16\":\"0\",\"E17\":\"0\",\"E20\":\"0\",\"E22\":\"0\",\"E22X\":\"0\",\"E25\":\"0\",\"E26\":\"0\",\"E27\":\"0\",\"E28\":\"0\",\"E29\":\"0\",\"E30\":\"0\",\"E31\":\"0\",\"E35\":\"0\",\"E38\":\"0\",\"E39\":\"0\",\"E41\":\"0\",\"E43\":\"0\",\"E44\":\"90\",\"E45\":\"0\",\"E46\":\"0\",\"E48\":\"0\",\"E61\":\"0\",\"E62\":\"0\",\"E65\":\"0\",\"E66\":\"0\",\"E2NDH\":\"0\",\"E9NDH\":\"0\",\"E10WNDH\":\"0\",\"E10NDH\":\"0\",\"E11NDH\":\"0\",\"E12NDH\":\"0\",\"E13NSNDH\":\"0\",\"E14NDH\":\"0\",\"E15NDH\":\"0\",\"E16NDH\":\"0\",\"E17NDH\":\"0\",\"E20NDH\":\"0\",\"E22NDH\":\"0\",\"E22XNDH\":\"0\",\"E25NDH\":\"0\",\"E26NDH\":\"0\",\"E27NDH\":\"0\",\"E28NDH\":\"0\",\"E29NDH\":\"0\",\"E30NDH\":\"0\",\"E31NDH\":\"0\",\"E35NDH\":\"0\",\"E38NDH\":\"0\",\"E39NDH\":\"0\",\"E41NDH\":\"0\",\"E43NDH\":\"0\",\"E44NDH\":\"0\",\"E45NDH\":\"0\",\"E46NDH\":\"0\",\"E48NDH\":\"0\",\"E61NDH\":\"0\",\"E62NDH\":\"0\",\"E65NDH\":\"0\",\"E66NDH\":\"0\",\"NATNAH1\":\"0\",\"BESTJ\":\"0\",\"BESTBH\":\"6\",\"BESTA\":\"0\",\"MWNW1\":\"6\",\"AE6\":\"0\",\"AE7\":\"0\",\"AE8\":\"0\",\"AE9\":\"0\",\"AE10\":\"0\",\"AE11\":\"0\",\"AE12\":\"0\",\"AE13A\":\"0\",\"AE14\":\"0\",\"AE46\":\"0\",\"MNW2\":\"0\",\"ALTHWVON\":\"0\",\"ALTHWBIS\":\"0\",\"ALTMNWVON\":\"0\",\"ALTMNWBIS\":\"0\",\"OSNDHFI\":\"0\",\"OSNDHFOE\":\"0\",\"OSNDHTA\":\"0\",\"OSNDHUEB\":\"0\",\"UHNDHFI\":\"0\",\"UHNDHFOE\":\"0\",\"UHNDHTA\":\"0\",\"UHNDHUEB\":\"0\",\"OSLBHAH\":\"0\",\"OSLBHBU\":\"0\",\"OSLBHEI\":\"0\",\"OSLBHES\":\"0\",\"OSLBHKI\":\"0\",\"OSLBHLI\":\"0\",\"OSLBHUL\":\"0\",\"OSLBHUESH\":\"0\",\"OSLBHUESF\":\"0\",\"UHLBHAH\":\"0\",\"UHLBHEI\":\"0\",\"UHLBHES\":\"0\",\"UHLBHKI\":\"0\",\"UHLBHLI\":\"0\",\"UHLBHUL\":\"0\",\"UHLBHUESH\":\"0\",\"UHLBHUESF\":\"0\",\"NATRAH2\":\"0\",\"ST50\":\"0\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11387.766558\",\"SHAPE.STLength()\":\"407.085874\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Ao\",\"attributes\":{\"OBJECTID_1\":\"164\",\"OBJECTID\":\"152\",\"TYP\":\"Ao\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"13757191.567695\",\"SHAPE.STLength()\":\"30064.352032\"}},{\"layerId\":122,\"layerName\":\"Gefahrenkarte
        Ist-Zustand\",\"displayFieldName\":\"FARBE\",\"value\":\"mittlere Gef\xE4hrdung\",\"attributes\":{\"OBJECTID\":\"22377\",\"ID\":\"19999\",\"FARBE\":\"mittlere
        Gef\xE4hrdung\",\"TEILPROJEKT\":\"Seetal/Aabach\",\"BEARBEITER\":\"AF Colenco
        AG, Baden\",\"DATUM\":\"22.11.2010\",\"Freigabe\":\"1\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"568659.913656\",\"SHAPE.STLength()\":\"10911.238944\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"29545\",\"attributes\":{\"OBJECTID\":\"29545\",\"GDENR\":\"Seengen
        4208\",\"HNCode\":\"44\",\"HNBez\":\"Wald\",\"KTAAbk\":\"Wald\",\"KTCode\":\"4491\",\"KTAbk\":\"Wa\",\"KTBez\":\"Wald\",\"KTVerb\":\"Orientierungsinhalt\",\"GDECode\":\"449101\",\"GDEBez\":\"Wald\",\"GDEAbk\":\"Wald\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"orientierend\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2013-000520\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.06.121\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"2609\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2609.html\",\"OEREBexport\":\"nein\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"11002.504113\",\"Shape.STLength()\":\"401.17284\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"d733a2a2"'
    status:
      code: 200
      message: OK
[...]
