interactions:
- request:
    body: geometry=2657307%2C1241299%2C2657309%2C1241301&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Boniswil\",\"attributes\":{\"OBJECTID\":\"42\",\"GDENR\":\"4192\",\"GEMEINDE\":\"Boniswil\",\"GEMEINDEZ\":\"Boniswil\",\"GEMEINDEU\":\"Boniswil\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"2787560.932747\",\"SHAPE.STLength()\":\"10200.803219\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"273\",\"attributes\":{\"OBJECTID\":\"60798586\",\"FILEID\":\"188\",\"GDENR\":\"4192\",\"GDENRPARZ\":\"419200273\",\"NUMMER\":\"273\",\"EGRID\":\"CH658705781150\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"224141\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"224141.344517\",\"SHAPE.STLength()\":\"3045.186237\"}},{\"layerId\":42,\"layerName\":\"Naturschutzgebiet
        von kant. Bedeutung (NkB) Richtplan L 2.5\",\"displayFieldName\":\"RPKAP_KL\",\"value\":\"l25\",\"attributes\":{\"OBJECTID\":\"154\",\"NKB_ID\":\"Null\",\"KIN_AREAL\":\"Null\",\"RPKAP_KL\":\"l25\",\"RPKAP_LG\":\"L
        2.5 Naturschutzgebiete von kantonaler Bedeutung (NkB)\",\"Shape\":\"Polygon\",\"KATEGORIE\":\"Festsetzung\",\"RP_AUSSAGE\":\"Naturschutzgebiet
        von kant. Bedeutung (NkB)\",\"SHAPE.STArea()\":\"560579.306505\",\"SHAPE.STLength()\":\"6393.148109\",\"FlurnameAV\":\"Boniswiler-
        /Seenger Moos\",\"NKBNr\":\"60\"}},{\"layerId\":494,\"layerName\":\"Wildtierkorridore:
        Perimeter und Warter\xE4ume\",\"displayFieldName\":\"WTK_Nr\",\"value\":\"AG-R12\",\"attributes\":{\"OBJECTID\":\"21\",\"WTK_Nr\":\"AG-R12\",\"Zustand\":\"2\",\"Zustand_D\":\"beeintr\xE4chtigt\",\"Zustand_F\":\"perturb\xE9\",\"Lokalitaet\":\"Seengen-Boniswil\",\"WTK_Typ\":\"Perimeter\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"728853.552826\",\"Shape.STLength()\":\"4351.711757\"}},{\"layerId\":494,\"layerName\":\"Wildtierkorridore:
        Perimeter und Warter\xE4ume\",\"displayFieldName\":\"WTK_Nr\",\"value\":\"AG-R12\",\"attributes\":{\"OBJECTID\":\"139\",\"WTK_Nr\":\"AG-R12\",\"Zustand\":\"Null\",\"Zustand_D\":\"Null\",\"Zustand_F\":\"Null\",\"Lokalitaet\":\"Seengen-Boniswil\",\"WTK_Typ\":\"Warteraum\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"33695.24521\",\"Shape.STLength()\":\"1151.064267\"}},{\"layerId\":495,\"layerName\":\"BLN
        - Bundesinventar der Landschaften und Naturdenkm\xE4ler von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Hallwilersee\",\"attributes\":{\"OBJECTID\":\"46\",\"ObjNummer\":\"1303\",\"TeilObjNummer\":\"0\",\"Name\":\"Hallwilersee\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"V\"}},{\"layerId\":497,\"layerName\":\"Landschaftsschutzdekrete
        (detailliert Legende)\",\"displayFieldName\":\"Dekretsname\",\"value\":\"HSD\",\"attributes\":{\"OBJECTID\":\"320\",\"Dekretsname\":\"HSD\",\"Ausf\xFChrlicher
        Dekretsname\":\"Dekret zum Schutze der Hallwilerseelandschaft (SAR 787.350)\",\"Zonencode
        Kanton\":\"5282\",\"Zonenbezeichnung Kanton\":\"Landschaftsschutzzone innerhalb
        Dekretsgebiet (kant. NP)\",\"Typ in Kantonaler Zone\":\"Sperrzone\",\"Verbindlichkeit\":\"Nutzungsplanfestlegung\",\"Orientierungsinhalt\":\"Null\",\"Geolink\":\"38\",\"Beschlussdatum
        \xC4nderung\":\"28.08.2007\",\"Rechtsstatus\":\"inKraft\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/38.html\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"13781.150022\",\"Shape.STLength()\":\"581.78367\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Ao\",\"attributes\":{\"OBJECTID_1\":\"164\",\"OBJECTID\":\"152\",\"TYP\":\"Ao\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"13757191.567695\",\"SHAPE.STLength()\":\"30064.352032\"}},{\"layerId\":113,\"layerName\":\"Belastete
        Standorte (KBS)\",\"displayFieldName\":\"Katasternummer\",\"value\":\"AA4192.0004-1\",\"attributes\":{\"OBJECTID\":\"3866202\",\"FILEID\":\"101\",\"Katasternummer\":\"AA4192.0004-1\",\"Standorttyp\":\"Ablagerungsstandort\",\"InBetrieb\":\"Nein\",\"Nachsorge\":\"Nein\",\"Deponietyp\":\"Null\",\"Untersuchungsmassnahmen\":\"Technische
        Untersuchung \",\"StatusAltlV\":\"Belastet, weder \xFCberwachungs- noch sanierungsbed\xFCrftig\",\"Ersteintrag\":\"01.06.2009\",\"LetzteAnpassung\":\"17.03.2016\",\"Rechtsstatus\":\"inKraft\",\"ZustaendigeBehoerde\":\"Abteilung
        f\xFCr Umwelt\",\"geolink\":\"184\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"10230.807397\",\"Shape.STLength()\":\"412.630137\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"29297\",\"attributes\":{\"OBJECTID\":\"29297\",\"GDENR\":\"Boniswil
        4192\",\"HNCode\":\"44\",\"HNBez\":\"Wald\",\"KTAAbk\":\"Wald\",\"KTCode\":\"4491\",\"KTAbk\":\"Wa\",\"KTBez\":\"Wald\",\"KTVerb\":\"Orientierungsinhalt\",\"GDECode\":\"449104\",\"GDEBez\":\"HSD:
        Sperrzone im Wald\",\"GDEAbk\":\"HSD\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"orientierend\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2018-000073\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.08.154\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"547\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/547.html\",\"OEREBexport\":\"nein\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"9850.66904\",\"Shape.STLength()\":\"464.790746\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"a0176d9f"'
    status:
      code: 200
      message: OK
[...]
