interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        9593035, "geometry": {"type": "Polygon", "coordinates": [[[2606484.163, 1227598.887],
        [2606491.209, 1227603.841], [2606495.902, 1227605.973], [2606511.272, 1227613.658],
        [2606511.708974338, 1227613.848915683], [2606512.148956924, 1227614.032792528],
        [2606512.591834385, 1227614.209583154], [2606513.037492599, 1227614.379242006],
        [2606513.485816732, 1227614.541725366], [2606513.936691259, 1227614.696991367],
        [2606514.39, 1227614.845], [2606514.845704825, 1227614.985736734], [2606515.303610389,
        1227615.11[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge.data/?bbox=2606554.0,1227434.0,2606574.0,1227454.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreise.data/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1500, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2605354.868,
        1228655.399], [2605355.062, 1228668.441], [2605356.471, 1228670.908], [2605357.49,
        1228673.569], [2605357.878, 1228674.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1449441, "geometry": {"type": "Polygon", "coordinates": [[[2606566.806, 1227451.615],
        [2606595.953, 1227469.516], [2606647.808, 1227503.58], [2606660.9, 1227512.211],
        [2606691.374, 122[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.alw.fruchtfolgeflaechen.data/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.naturgefahren.synoptisches_gefahrengebiet.data/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.altlasten.standorte.ebau.data_v2/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2606551.5,1227431.5,2606576.5,1227456.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2606551.5,1227431.5,2606576.5,1227456.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.punktfundstellen.data/?bbox=2606539.0,1227419.0,2606589.0,1227469.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.flaechenfundstellen.data/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2606539.0,1227419.0,2606589.0,1227469.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2606539.0,1227419.0,2606589.0,1227469.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2606539.0,1227419.0,2606589.0,1227469.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1451210, "geometry": {"type": "Polygon", "coordinates": [[[2606573.576, 1227438.182],
        [2606573.587, 1227438.176], [2606565.029, 1227432.92], [2606554.007, 1227429.009],
        [2606547.526, 1227442.547], [2606530.937, 1227477.196], [2606526.641, 1227486.277],
        [2606515.99, 1227508.794], [2606485.782, 1227571.895], [2606484.252, 1227575.091],
        [2606483.623, 1227576.405], [2606475.175, 1227596.544], [2606484.163, 1227598.887],
        [2606491.209, 1227603.841], [2606492.795, 1227604.562], [2606499.793, 1227583.995],
        [2606533.431, 1227517.838], [2606573.576, 1227438.182]]]}, "properties": {"typ_kt":
        "N699_weitere_flaechenbezogene_Festlegungen_NP", "typ_bezeichnung": "Feuchtgebiete
        (Ufervegetation gem. Art. 21 NHG)"}}], "crs": {"type": "name", "properties":
        {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox": [2606475.175, 1227429.009,
        2606573.587, 1227604.562]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2606539.0,1227419.0,2606589.0,1227469.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        8157704, "geometry": {"type": "Polygon", "coordinates": [[[2606461.145, 1227519.141],
        [2606468.323, 1227545.835], [2606485.618, 1227571.65], [2606485.782, 1227571.895],
        [2606487.849, 1227574.67], [2606497.955, 1227552.251], [2606509.229, 1227529.731],
        [2606519.057, 1227509.003], [2606529.35, 1227487.37], [2606530.622, 1227484.714],
        [2606541.091, 1227462.857], [2606549.899, 1227444.278], [2606556.686, 1227429.961],
        [2606554.38, 1227427.639], [2606550.824, 1227425.786], [2606543.527, 1227421.984],
        [2606536.468, 1227418.738], [2606526.818, 1227421.731], [2606525.865, 1227437.923],
        [2606533.803, 1227440.939], [2606532.056, 1227448.559], [2606525.548, 1227449.512],
        [2606521.579, 1227473.642], [2606525.468, 1227482.188], [2606524.199, 1227485.191],
        [2606488.822, 1227493.73], [2606461.145, 1227519.141]]]}, "properties": {"art_txt":
        "geschlossener_Wald"}}], "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}},
        "bbox": [2606461.145, 1227418.738, 2606556.686, 1227574.67]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2606539.0,1227419.0,2606589.0,1227469.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        8154132, "geometry": {"type": "Polygon", "coordinates": [[[2605616.532, 1227342.989],
        [2605617.025, 1227343.039], [2605617.633, 1227342.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2606564.0,1227444.0,2606564.0,1227444.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2606514.0,1227394.0,2606614.0,1227494.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2606539.0,1227419.0,2606589.0,1227469.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
