interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2607322.235299003,1230162.5463196996,2607422.235299003,1230262.5463196996
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2607347.235299003,1230187.5463196996,2607397.235299003,1230237.5463196996
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.astra.ivs-nat", "layerName": "IVS National",
        "featureId": 103305, "id": 103305, "attributes": {"ivs_slaname": "St. Niklaus
        - Einsiedelei; Verenaschlucht", "ivs_nummer": "SO 365.0.1", "ivs_signatur":
        "303", "ivs_signatur_fr": "Importance nationale, trac\u00e9 historique avec
        beaucoup de substance", "ivs_signatur_it": "Importanza nazionale, tracciato
        storico con molta sostanza", "ivs_signatur_de": "Nationale Bedeutung, historischer
        Verlauf mit viel Substanz", "ivs_kanton": "SO", "ivs_sladatehist": "19961115",
        "ivs_sladatemorph": "19990607", "ivs_slabedeutung": "3", "ivs_sortsla": "SO03650001",
        "label": 103305}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2607347.235299003,1230187.5463196996,2607397.235299003,1230237.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_linie.data/?bbox=2607347.235299003,1230187.5463196996,2607397.235299003,1230237.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        11122, "geometry": {"type": "MultiLineString", "coordinates": [[[2607223.922,
        1230371.33], [2607241.423, 1230383.205], [2607245.173, 1230381.955], [2607251.424,
        1230371.955], [2607259.549, 1230357.579], [2607261.425, 1230348.204], [2607262.05,
        1230318.827], [2607262.05, 1230303.827], [2607263.925, 1230298.201], [2607269.55,
        1230294.451], [2607293.926, 1230282.575], [2607319.552, 1230267.574], [2607337.053,
        1230254.448], [2607359.554, 1230233.197], [2607387.68, 1230205.695], [2607397.056,
        1230199.444], [2607408.931, 1230196.944], [2607434.558, 1230193.818], [2607450.184,
        1230189.443], [2607467.059, 1230180.067], [2607510.186, 1230149.44], [2607525.812,
        1230135.689], [2607536.32, 1230121.369], [2607548.938, 1230100.687], [2607554.563,
        1230088.811], [2607558.313, 1230071.31], [2607558.32, 1230052.369], [2607559.563,
        1230035.683], [2607563.938, 1230023.807], [2607572.063, 1230016.307], [2607589.32,
        1230010.368], [2607608.371, 1230001.868], [2607622.066, 1229991.305], [2607635.191,
        1229983.804], [2607633.316, 1229970.678], [2607663.318, 1229965.678], [2607687.694,
        1229961.302], [2607699.321, 1229957.366], [2607709.57, 1229950.051], [2607747.071,
        1229911.299], [2607760.197, 1229900.673], [2607775.823, 1229891.297]]]}, "properties":
        {"objekttyp": "Historischer_Verkehrsweg"}}], "crs": {"type": "name", "properties":
        {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox": [2607223.922, 1229891.297,
        2607775.823, 1230383.205]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2607359.735299003,1230200.0463196996,2607384.735299003,1230225.0463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        9525, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2607245.367035415,
        1230337.053931836], [2607245.372353531, 1230337.06427134], [2607273.669663531[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2607347.235299003,1230187.5463196996,2607397.235299003,1230237.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        13679218, "geometry": {"type": "Polygon", "coordinates": [[[2607242.243, 1230345.908],
        [2607242.743, 123034[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreis.data/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        909, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2605582.31, 1233591.881],
        [2605833.38, 1234016.025], [2605873.591, 1234084.13], [2606060.624, 1234363.279],
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2607347.235299003,1230187.5463196996,2607397.235299003,1230237.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2607359.735299003,1230200.0463196996,2607384.735299003,1230225.0463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        7245, "geometry": {"type": "MultiPoint", "coordinates": [[2607376.318156863,
        1230206.371604696]]}, "properties": {"objektname": "Gedenkstein f\u00fcr Amanz
        Gressly", "schutzstufe_code": "geschuetzt", "schutzstufe_text": "gesch\u00fctzt"}}],
        "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}},
        "bbox": [2607376.3181568626, 1230206.371604696, 2607376.3181568626, 1230206.371604696]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_punkt.data/?bbox=2607322.235299003,1230162.5463196996,2607422.235299003,1230262.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2607347.235299003,1230187.5463196996,2607397.235299003,1230237.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        13679219, "geometry": {"type": "Polygon", "coordinates": [[[2607395.039, 1230200.671],
        [2607395.437, 1230205.082], [2607402.96, 1230203.635], [2607411.55, 1230199.967],
        [2607422.444, 1230198.542], [2607417.768, 1230194.741], [2607409.708, 1230195.232],
        [2607395.039, 1230200.671]]]}, "properties": {"art_txt": "fliessendes Gewaesser"}},
        {"type": "Feature", "id": 13679220, "geometry": {"type": "Polygon", "coordinates":
        [[[2607262.644, 1230299.517], [2607267.746, 1230296.534], [2607273.977, 1230287.252],
        [2607277.434, 1230288.032], [2607282.758, 1230285.321], [2607304.266, 1230270.141],
        [2607312.723, 1230265.496], [2607321.673, 1230262.442], [2607330.146, 1230256.199],
        [2607333.267, 1230247.483], [2607347.04, 1230239.02], [2607364.607, 1230222.113],
        [2607393.558, 1230206.074], [2607393.136, 1230201.113], [2607382.059, 1230207.006],
        [2607371.532, 1230209.645], [2607357.061, 1230217.857], [2607343.176, 1230234.681],
        [2607330.168, 1230243.511], [2607323.436, 1230251.884], [2607311.359, 1230262.241],
        [2607302.373, 1230266.402], [2607279.844, 1230280.739], [2607271.401, 1230283.402],
        [2607265.028, 1230290.516], [2607262.644, 1230299.517]]]}, "properties": {"art_txt":
        "fliessendes Gewaesser"}}], "crs": {"type": "name", "properties": {"name":
        "urn:ogc:def:crs:EPSG::2056"}}, "bbox": [2607262.644, 1230194.741, 2607422.444,
        1230299.517]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        12622, "geometry": {"type": "Polygon", "coordinates": [[[2606487.742, 1231475.029],
        [2606490.012, 1231475.151], [2606496.299, 1231482.535], [2606498.851, 1231484.62[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?filter=%5B%5B%22grundnutzungsart%22,%22ilike%22,%22Wald%22%5D%5D&bbox=2607347.235299003,1230187.5463196996,2607397.235299003,1230237.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        12622, "geometry": {"type": "Polygon", "coordinates": [[[2606487.742, 1231475.029],
        [2606490.012, 1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        643214, "geometry": {"type": "Polygon", "coordinates": [[[2607481.085, 1230798.546],
        [2607489.502, 1230784.099], [2607495.614, 1230784.654], [2607501.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37273, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2606615.442,
        1230525.235], [2606615.552, 1230526.09], [2606615.655, 1230526.947], [2606615.752,
        1230[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge/?bbox=2607362.235299003,1230202.5463196996,2607382.235299003,1230222.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_flaeche.data/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        18446, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2607489.502,
        1230784.099], [2607495.614, 1230784.654], [2607501.726, 1230784.734], [2607503.5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2607347.235299003,1230187.5463196996,2607397.235299003,1230237.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2607372.235299003,1230212.5463196996,2607372.235299003,1230212.5463196996
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15012862, "geometry": {"type": "Polygon", "coordinates": [[[2607193.722, 1230455.736],
        [2607194.206, 1230456.527], [2607194.688, 1230457.317], [2607198.49, [...]
