interactions:
- request:
    body: geometry=2657644.368723304476588964462%2C1241676.088616523426026105881%2C2657646.368723304476588964462%2C1241678.088616523426026105881&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seengen\",\"attributes\":{\"OBJECTID\":\"64\",\"GDENR\":\"4208\",\"GEMEINDE\":\"Seengen\",\"GEMEINDEZ\":\"Seengen\",\"GEMEINDEU\":\"Seengen\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"10342936.045435\",\"SHAPE.STLength()\":\"15148.375334\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2747\",\"attributes\":{\"OBJECTID\":\"60986874\",\"FILEID\":\"204\",\"GDENR\":\"4208\",\"GDENRPARZ\":\"420802747\",\"NUMMER\":\"2747\",\"EGRID\":\"CH509511790528\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"4552\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4551.865402\",\"SHAPE.STLength()\":\"277.196637\"}},{\"layerId\":41,\"layerName\":\"\xDCberlagerte
        Schutzr\xE4ume f\xFCr Lebensr\xE4ume und Landschaften (ohne Gew\xE4sserraum)\",\"displayFieldName\":\"NameNummer\",\"value\":\"305\",\"attributes\":{\"OBJECTID\":\"305\",\"GDENR\":\"Seengen
        4208\",\"HNCode\":\"52\",\"HNBez\":\"\xDCberlagernde Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTCode\":\"5211\",\"KTAbk\":\"LS\",\"KTBez\":\"Landschaftsschutzzone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"521101\",\"GDEBez\":\"Landschaftsschutzzone\",\"GDEAbk\":\"LSZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2013-000520\",\"GeschNr\":\"BVUARE.06.121\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"S\",\"Geolink\":\"2609\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2609.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"65387.96798\",\"SHAPE.STLength()\":\"1533.159353\"}},{\"layerId\":495,\"layerName\":\"BLN
        - Bundesinventar der Landschaften und Naturdenkm\xE4ler von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Hallwilersee\",\"attributes\":{\"OBJECTID\":\"46\",\"ObjNummer\":\"1303\",\"TeilObjNummer\":\"0\",\"Name\":\"Hallwilersee\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"V\"}},{\"layerId\":122,\"layerName\":\"Gefahrenkarte
        Ist-Zustand\",\"displayFieldName\":\"FARBE\",\"value\":\"mittlere Gef\xE4hrdung\",\"attributes\":{\"OBJECTID\":\"22412\",\"ID\":\"52269\",\"FARBE\":\"mittlere
        Gef\xE4hrdung\",\"TEILPROJEKT\":\"Aare Aarau - Brugg\",\"BEARBEITER\":\"Niederer
        + Pozzi Umwelt AG, 8730 Uznach\",\"DATUM\":\"22.03.2023\",\"Freigabe\":\"1\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"74608.359489\",\"SHAPE.STLength()\":\"13198.166589\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"20659\",\"attributes\":{\"OBJECTID\":\"20659\",\"GDENR\":\"Seengen
        4208\",\"HNCode\":\"21\",\"HNBez\":\"Allgemeine Landwirtschaftszonen\",\"KTAAbk\":\"Landwirtschaftszonen\",\"KTCode\":\"2111\",\"KTAbk\":\"AL\",\"KTBez\":\"Allgemeine
        Landwirtschaftszone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"211101\",\"GDEBez\":\"Landwirtschaftszone\",\"GDEAbk\":\"LWZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2013-000520\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.06.121\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"2609\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2609.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"264801.177762\",\"Shape.STLength()\":\"3021.905874\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"6f970b9e"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2657625.368723304476588964462%2C1241657.088616523426026105881%2C2657665.368723304476588964462%2C1241697.088616523426026105881&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Seengen\",\"attributes\":{\"OBJECTID\":\"64\",\"GDENR\":\"4208\",\"GEMEINDE\":\"Seengen\",\"GEMEINDEZ\":\"Seengen\",\"GEMEINDEU\":\"Seengen\",\"BZNR\":\"1907\",\"BEZIRK\":\"Lenzburg\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"10342936.045435\",\"SHAPE.STLength()\":\"15148.375334\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"2747\",\"attributes\":{\"OBJECTID\":\"63244796\",\"FILEID\":\"204\",\"GDENR\":\"4208\",\"NUMMER\":\"2747\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2747\",\"attributes\":{\"OBJECTID\":\"60986874\",\"FILEID\":\"204\",\"GDENR\":\"4208\",\"GDENRPARZ\":\"420802747\",\"NUMMER\":\"2747\",\"EGRID\":\"CH509511790528\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"4552\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4551.865402\",\"SHAPE.STLength()\":\"277.196637\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFi[...]
[...]
