interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        9456696, "geometry": {"type": "Polygon", "coordinates": [[[2595863.823, 1223685.885],
        [2595876.481, 1223726.521], [2595881.081, 1223728.15], [2595970.436, 1223671.692],
        [2596052.505, 1223619.817], [2596139.94, 1223564.561], [2596040.173, 1223502.244],
        [2595938.642, 1223438.823], [2595900.637, 1223502.959], [2595879.668, 1223553.47],
        [2595864.117, 1223613.561], [2595863.823, 1223685.885]]]}, "properties": {"bfs_nr":
        2546, "gemeinde": "Grenchen", "nummer": "1", "art_txt": "Liegenschaft", "egrid":
        "CH527268320617", "nbident": "SO0200002546", "flaechenmass": 40373}}], "crs":
        {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox":
        [2595863.823, 1223438.823, 2596139.94, 1223728.15]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge.data/?bbox=2595893.0,1223693.0,2595913.0,1223713.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreise.data/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1474, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2592560.719,
        1229631.553], [2592772.041, 1229671.222], [2592911.166, 1229749.036], [2593009.212,
        1229807.819], [2593091.628, 1229812[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        794030, "geometry": {"type": "Polygon", "coordinates": [[[2596275.409, 1223314.543],
        [2596198.337, 1223273.516], [2596193.713, 1223273.559], [2596116.506, 1223315.763],
        [2596035.031, 1223360.452], [2595965.85, 1223398.32], [2595957.992, 1223406.16],
        [2595938.642, 1223438.823], [2595900.637, 1223502.959], [2595879.668, 1223553.47],
        [2595864.117, 1223613.561], [2595863.823, 1223685.885], [2595876.481, 1223726.521],
        [2595881.081, 1223728.15], [2595970.436, 1223671.692], [2596052.505, 1223619.817],
        [2596139.94, 1223564.561], [2596199.092, 1223527.207], [2596250.674, 1223494.609],
        [2596333.24, 1223442.404], [2596392.838, 1223404.753], [2596451.855, 1223367.466],
        [2596451.223, 1223364.927], [2596444.226, 1223364.115], [2596359.38, 1223343.063],
        [2596275.409, 1223314.543]]]}, "properties": {"typ_kt": "N210_Landwirtschaftszone",
        "typ_bezeichnung": "Landwirtschaftszone"}}], "crs": {"type": "name", "properties":
        {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox": [2595863.823, 1223273.516,
        2596451.855, 1223728.15]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.alw.fruchtfolgeflaechen.data/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        74819, "geometry": {"type": "Polygon", "coordinates": [[[2596231.01, 1223292.02],
        [2596231, 1223292.02], [2596221.23, 1223287.64], [2596220.45, 1223287.27],
        [2596195.87, 1223274.52], [2596195.8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.naturgefahren.synoptisches_gefahrengebiet.data/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2595890.5,1223690.5,2595915.5,1223715.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2595890.5,1223690.5,2595915.5,1223715.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.punktfundstellen.data/?bbox=2595878.0,1223678.0,2595928.0,1223728.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.flaechenfundstellen.data/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2595878.0,1223678.0,2595928.0,1223728.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2595878.0,1223678.0,2595928.0,1223728.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2595878.0,1223678.0,2595928.0,1223728.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1396342, "geometry": {"type": "Polygon", "coordinates": [[[2600227.182, 1227356.019],
        [2600242.468, 1227328.973], [2600264.811, 1227304.278], [2600293.033, 1227293.695],
        [26003[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2595878.0,1223678.0,2595928.0,1223728.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2595878.0,1223678.0,2595928.0,1223728.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2595903.0,1223703.0,2595903.0,1223703.0
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.bafu.bundesinventare-amphibien", "layerName":
        "Amphibien Ortsfeste Objekte", "featureId": 4236, "id": 4236, "attributes":
        {"objnummer": "SO177", "name": "Grenchner Witi", "refobjblat": "https://data.geo.admin.ch/ch.bafu.bundesinventare-amphibien/objectsheets/2017revision/so177.pdf",
        "shape_area": 5397023.86489, "site": "B", "site_de": "Bereich B (N\u00e4hrstoffpufferzone
        und engerer Landlebensraum angrenzend an das Fortpflanzungsgew\u00e4sser)",
        "site_fr": "Secteur B (zone tampon et habitat terrestre attenant au plan d''eau
        de reproduction)", "site_it": "Settore B (zona cuscinetto per i nutrienti
        e superficie confinante con i corpi d\u2019acqua idonei alla riproduzione)",
        "label": "Grenchner Witi"}}, {"layerBodId": "ch.bafu.bundesinventare-vogelreservate",
        "layerName": "Wasser- und Zugvogelreservate", "featureId": 49, "id": 49, "attributes":
        {"name": "Witi (BE,SO)", "objnummer": 102, "teilgebiet": "III", "schutzkategorie_de":
        "Jagd verboten; Schifffahrt nicht eingeschr\u00e4nkt; weitere Bestimmungen
        gem\u00e4ss Objektblatt", "schutzkategorie_fr": "Chasse interdite, pas de
        restrictions pour la navigation; autres dispositions selon description d''objet",
        "schutzkategorie_it": "Divieto di caccia; nessuna restrizione alla navigazione;
        altre disposizioni secondo descrizione dell''oggetto", "schutzebene_de": "National",
        "schutzebene_fr": "National", "schutzebene_it": "Nazionale", "refobjblatt":
        "https://data.geo.admin.ch/ch.bafu.bundesinventare-vogelreservate/objectsheets/2023revision/nr102.pdf",
        "shape_area": 4235153.08231868, "obj_gisflaeche": 423.5, "label": "Witi (BE,SO)"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2595853.0,1223653.0,2595953.0,1223753.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2595878.0,1223678.0,2595928.0,1223728.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
