interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2607110.642708333,1228384.884375,2607210.642708333,1228484.884375
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2607135.642708333,1228409.884375,2607185.642708333,1228459.884375
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        472854, "geometry": {"type": "Polygon", "coordinates": [[[2607218.879, 1228407.871],
        [2607188.694, 1228375.128], [2607169.644, 1228392.787], [2607151.654, 1228409.464],
        [2607134.538, 1228425.539], [2607109.256, 1228448.584], [2607134.35, 1228476.072],
        [2607159.626, 1228452.976], [2607163.969, 1228457.741], [2607181.523, 1228441.805],
        [2607199.224, 1228425.723], [2607218.879, 1228407.871]]]}, "properties": {"typ_kt":
        "N140_Kernzone", "typ_bezeichnung": "Kernzone, offene Bauweise, 3-geschossig
        AZ max. 1.0"}}], "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}},
        "bbox": [2607109.256, 1228375.128, 2607218.879, 1228476.072]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2607135.642708333,1228409.884375,2607185.642708333,1228459.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_linie.data/?bbox=2607135.642708333,1228409.884375,2607185.642708333,1228459.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2607148.142708333,1228422.384375,2607173.142708333,1228447.384375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2607135.642708333,1228409.884375,2607185.642708333,1228459.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreis.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        926, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2605354.868,
        1228655.399], [2605355.062, 1228668.441], [2605356.471, 1228670.908], [2605357.49,
        1228673.569][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2607135.642708333,1228409.884375,2607185.642708333,1228459.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2607148.142708333,1228422.384375,2607173.142708333,1228447.384375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_punkt.data/?bbox=2607110.642708333,1228384.884375,2607210.642708333,1228484.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2607135.642708333,1228409.884375,2607185.642708333,1228459.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        16122, "geometry": {"type": "Polygon", "coordinates": [[[2605190.778, 1228954.515],
        [2605219.004, 1228966.747], [2605246.89, 1228978.145], [2605254.059, 1228980.504],
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?filter=%5B%5B%22grundnutzungsart%22,%22ilike%22,%22Wald%22%5D%5D&bbox=2607135.642708333,1228409.884375,2607185.642708333,1228459.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37286, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2605355.062,
        1228668.441], [2605356.471, 1228670.908], [2605357.49, 1228673.569], [2605357.878,
        1228674.389][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge/?bbox=2607150.642708333,1228424.884375,2607170.642708333,1228444.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_flaeche.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2607135.642708333,1228409.884375,2607185.642708333,1228459.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15123582, "geometry": {"type": "Polygon", "coordinates": [[[2607134.538, 1228425.539],
        [2607159.839, 1228452.789], [2607159.626, 1228452.976], [2607163.969, 1228457.741],
        [2607181.523, 1228441.805], [2607177.022, 1228436.926], [2607151.654, 1228409.464],
        [2607134.538, 1228425.539]]]}, "properties": {"nummer": "850", "art_txt":
        "Liegenschaft", "egrid": "CH354732700648", "nbident": "SO0200002601"}}], "crs":
        {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox":
        [2607134.538, 1228409.464, 2607181.523, 1228457.741]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
