interactions:
- request:
    body: geometry=2634416%2C1240018%2C2634418%2C1240020&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Rothrist\",\"attributes\":{\"OBJECTID\":\"37\",\"GDENR\":\"4282\",\"GEMEINDE\":\"Rothrist\",\"GEMEINDEZ\":\"Rothrist\",\"GEMEINDEU\":\"Rothrist\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11854117.234707\",\"SHAPE.STLength()\":\"15809.536697\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"243\",\"attributes\":{\"OBJECTID\":\"60508736\",\"FILEID\":\"241\",\"GDENR\":\"4282\",\"GDENRPARZ\":\"428200243\",\"NUMMER\":\"243\",\"EGRID\":\"CH834583067945\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"3842\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"3842.434738\",\"SHAPE.STLength()\":\"256.217885\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"60\",\"OBJECTID\":\"75\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"21324645.167261\",\"SHAPE.STLength()\":\"43090.421232\"}},{\"layerId\":116,\"layerName\":\"Risokokataster:
        Konsultationsbereich Eisenbahn\",\"displayFieldName\":\"Shape.STArea()\",\"value\":\"42972577.6175083\",\"attributes\":{\"OBJECTID\":\"1\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"42972577.617508\",\"Shape.STLength()\":\"430382.922636\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Kantonsstrasse\",\"attributes\":{\"OBJECTID\":\"10\",\"Mask_Type\":\"Kantonsstrasse\",\"Mask_Priority\":\"3\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"149897.284061\",\"SHAPE.STLength()\":\"1814.043119\"}},{\"layerId\":11926,\"layerName\":\"Strassen\",\"displayFieldName\":\"Verursacher\",\"value\":\"Strassen\",\"attributes\":{\"OBJECTID\":\"30\",\"Verursacher\":\"Strassen\",\"Trennkriterium\":\"\\u003e
        20'000 DTV\",\"Ausdehnung der Belastungsfl\xE4che\":\"Die Darstellung ist
        nicht lagegenau. Massgebend ist der Pr\xFCfperimeter von je 15m seitlich ab
        Fahrbahnrand.\",\"Belastungsursache\":\"Treibstoffverbrennung, Abgasemission,
        Abrieb von Strassenbelag, Bremsbelag und Pneu\",\"PRIMAERE_S\":\"Pb, PAK\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"6478772.509283\",\"SHAPE.STLength()\":\"259756.596835\"}},{\"layerId\":11934,\"layerName\":\"Stahlbr\xFCcken\",\"displayFieldName\":\"Verursacher\",\"value\":\"Korrosionsschutzobjekte\",\"attributes\":{\"OBJECTID\":\"2\",\"Verursacher\":\"Korrosionsschutzobjekte\",\"Trennkriterium\":\"Stahlbr\xFCcke
        ausserhalb Siedlungsgebiet\",\"Ausdehnung der Belastungsfl\xE4che\":\"Radius
        20m um Objekt\",\"Belastungsursache\":\"Korrosionsschutzanstrich, Verwitterung,
        Abrieb\",\"PRIMAERE_S\":\"Pb, Cd, Cr, Zn, PAK\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"3499.2719\",\"SHAPE.STLength()\":\"220.944181\"}},{\"layerId\":122,\"layerName\":\"Gefahrenkarte
        Ist-Zustand\",\"displayFieldName\":\"FARBE\",\"value\":\"Restgef\xE4hrdung\",\"attributes\":{\"OBJECTID\":\"661\",\"ID\":\"52775\",\"FARBE\":\"Restgef\xE4hrdung\",\"TEILPROJEKT\":\"Aare/Pfaffnern\",\"BEARBEITER\":\"Niederer
        + Pozzi Umwelt AG, Nachf\xFChrung\",\"DATUM\":\"14.08.2023\",\"Freigabe\":\"1\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"88768.585272\",\"SHAPE.STLength()\":\"6069.73419\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"173215\",\"attributes\":{\"OBJECTID\":\"173215\",\"GDENR\":\"Rothrist
        4282\",\"HNCode\":\"12\",\"HNBez\":\"Arbeitszonen\",\"KTAAbk\":\"Arbeitszonen\",\"KTCode\":\"1211\",\"KTAbk\":\"A1\",\"KTBez\":\"Arbeitszone
        I\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"121101\",\"GDEBez\":\"Arbeitszone
        1\",\"GDEAbk\":\"A1\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"0.1\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000511\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.16.96\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"5174\",\"Geolink_ES\":\"1535\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5174.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"16953.957017\",\"Shape.STLength()\":\"658.100064\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"7356f85a"'
    status:
      code: 200
      message: OK
[...]
