interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        9548604, "geometry": {"type": "Polygon", "coordinates": [[[2610081.953, 1229680.644],
        [2610082.34, 1229701.652], [2610101.287, 1229766.886], [2610122.517, 1229827.024],
        [2610152.95, 1229880.793], [2610176.674, 1229916.211], [2610178.438, 1229904.788],
        [2610169.949, 1229838.3], [2610168.795, 1229809.681], [2610174.762, 1229779.141],
        [2610205.157, 1229582.976], [2610248.119, 1229388.571], [2610261.81, 1229321.601],
        [2610183.961, 1229407.568], [2610170.739, 1229421.629], [2610170.25, 1229437.444],
        [2610166.69, 1229456.908], [2610154.575, 1229495.459], [2610142.565, 1229519.613],
        [2610136.03, 1229537.66], [2610129.318, 1229559.045], [2610119.81, 1229578.283],
        [2610102.225, 1229610.25], [2610091.742, 1229638.118], [2610084.76, 1229661.023],
        [2610081.953, 1229680.644]]]}, "properties": {"bfs_nr": 2527, "gemeinde":
        "Luterbach", "nummer": "722", "art_txt": "Liegenschaft", "egrid": "CH407706683217",
        "nbident": "SO0200002527", "flaechenmass": 39346}}], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox": [2610081.953,
        1229321.601, 2610261.81, 1229916.211]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge.data/?bbox=2610166.0,1229496.0,2610186.0,1229516.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreise.data/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1461, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2610006.354,
        1229807.9], [2610052.161, 1229855.14], [2610083.262, 1229930.94], [2610204.265,
        1230086.34], [2610256.167, 1230166.84],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        1394473, "geometry": {"type": "Polygon", "coordinates": [[[2610125.936, 1229595.333],
        [2610111.16, 1229608.637], [2610104.866, 1229614.877], [2610096.346, 1229631.644],
        [2610093.674, 1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.alw.fruchtfolgeflaechen.data/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.naturgefahren.synoptisches_gefahrengebiet.data/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        2053462, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2610117.218,
        1229567.01], [2610118.802, 1229565.854], [2610120.266, 1229564.487], [2610121.478,
        1229563.21[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.altlasten.standorte.ebau.data_v2/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2610163.5,1229493.5,2610188.5,1229518.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2610163.5,1229493.5,2610188.5,1229518.5
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.punktfundstellen.data/?bbox=2610151.0,1229481.0,2610201.0,1229531.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.archaeologie.flaechenfundstellen.data/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2610151.0,1229481.0,2610201.0,1229531.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2610151.0,1229481.0,2610201.0,1229531.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2610151.0,1229481.0,2610201.0,1229531.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2610151.0,1229481.0,2610201.0,1229531.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        8182080, "geometry": {"type": "Polygon", "coordinates": [[[2610086.617, 1229707.487],
        [2610088.601, 1229718.679], [2610095.344, 1229736.326],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2610151.0,1229481.0,2610201.0,1229531.0
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        8182116, "geometry": {"type": "Polygon", "coordinates": [[[2610006.354, 1229807.9],
        [2610052.161, 1229855.14], [2610083.262, 1229930.94][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2610176.0,1229506.0,2610176.0,1229506.0
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.bafu.bundesinventare-auen", "layerName":
        "Auengebiete", "featureId": 686, "id": 686, "attributes": {"name": "Emmenschachen",
        "objnummer": 45, "refobjblat": "https://data.geo.admin.ch/ch.bafu.bundesinventare-auen/objectsheets/2017revision/nr45.pdf",
        "auen_type": 3, "auen_type_de": "Fliessgew\u00e4sser", "auen_type_fr": "Cours
        d''eau", "auen_type_it": "Corso d''aqua", "shape_area": 149976.249018, "label":
        "Emmenschachen"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2610126.0,1229456.0,2610226.0,1229556.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2610151.0,1229481.0,2610201.0,1229531.0
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
