interactions:
- request:
    body: geometry=2635316%2C1238614%2C2635318%2C1238616&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Rothrist\",\"attributes\":{\"OBJECTID\":\"37\",\"GDENR\":\"4282\",\"GEMEINDE\":\"Rothrist\",\"GEMEINDEZ\":\"Rothrist\",\"GEMEINDEU\":\"Rothrist\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11854117.234707\",\"SHAPE.STLength()\":\"15809.536697\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"1315\",\"attributes\":{\"OBJECTID\":\"60507774\",\"FILEID\":\"241\",\"GDENR\":\"4282\",\"GDENRPARZ\":\"428201315\",\"NUMMER\":\"1315\",\"EGRID\":\"CH989745068392\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"16828\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"16824.597716\",\"SHAPE.STLength()\":\"644.721803\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"635\",\"attributes\":{\"OBJECTID\":\"60506297\",\"FILEID\":\"241\",\"GDENR\":\"4282\",\"GDENRPARZ\":\"428200635\",\"NUMMER\":\"635\",\"EGRID\":\"CH658145830636\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"1996\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"2000.645643\",\"SHAPE.STLength()\":\"770.255458\"}},{\"layerId\":61,\"layerName\":\"Waldgrenze\",\"displayFieldName\":\"Gemeinde\",\"value\":\"Rothrist\",\"attributes\":{\"OBJECTID\":\"2808822\",\"FILEID\":\"241\",\"GDENR\":\"4282\",\"Gemeinde\":\"Rothrist\",\"Rechtskrft\":\"19981207\",\"Status\":\"gueltig\",\"LinArt\":\"ausgezogen\",\"ArtWG\":\"in_Bauzonen\",\"Code\":\"1\",\"Bezeich\":\"4282\",\"Verbindl\":\"Nutzungsplanfestlegung\",\"NWaldstr\":\"nein\",\"Geolink\":\"75\",\"OEREBexport\":\"ja\",\"Shape\":\"Polyline\",\"Shape.STLength()\":\"366.876013\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"173027\",\"attributes\":{\"OBJECTID\":\"173027\",\"GDENR\":\"Rothrist
        4282\",\"HNCode\":\"11\",\"HNBez\":\"Wohnzonen\",\"KTAAbk\":\"Wohn- und Arbeitszonen\",\"KTCode\":\"1121\",\"KTAbk\":\"W2\",\"KTBez\":\"Wohnzone
        2\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"112101\",\"GDEBez\":\"Wohnzone
        2\",\"GDEAbk\":\"W2\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"0.4\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_II\",\"ES_aufgest\":\"nein\",\"Strasse\":\"ja\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000511\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.16.96\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"5174\",\"Geolink_ES\":\"1535\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5174.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"3412.410229\",\"Shape.STLength()\":\"1497.707687\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"173352\",\"attributes\":{\"OBJECTID\":\"173352\",\"GDENR\":\"Rothrist
        4282\",\"HNCode\":\"44\",\"HNBez\":\"Wald\",\"KTAAbk\":\"Wald\",\"KTCode\":\"4491\",\"KTAbk\":\"Wa\",\"KTBez\":\"Wald\",\"KTVerb\":\"Orientierungsinhalt\",\"GDECode\":\"449101\",\"GDEBez\":\"Wald\",\"GDEAbk\":\"W\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"orientierend\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000511\",\"Bemerkung\":\"\\u003cNull\\u003e\",\"GeschNr\":\"BVUARE.16.96\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"5175\",\"Geolink_ES\":\"1535\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5175.html\",\"OEREBexport\":\"nein\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"17429.252064\",\"Shape.STLength()\":\"661.562582\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"280c3509"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2635297%2C1238595%2C2635337%2C1238635&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Rothrist\",\"attributes\":{\"OBJECTID\":\"37\",\"GDENR\":\"4282\",\"GEMEINDE\":\"Rothrist\",\"GEMEINDEZ\":\"Rothrist\",\"GEMEINDEU\":\"Rothrist\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11854117.234707\",\"SHAPE.STLength()\":\"15809.536697\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"2188\",\"attributes\":{\"OBJECTID\":\"62755566\",\"FILEID\":\"241\",\"GDENR\":\"4282\",\"NUMMER\":\"2188\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"1315\",\"attributes\":{\"OBJECTID\":\"60507774\",\"FILEID\":\"241\",\"GDENR\":\"4282\",\"GDENRPARZ\":\"428201315\",\"NUMMER\":\"1315\",\"EGRID\":\"CH989745068392\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"16828\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"16824.597716\",\"SHAPE.STLength()\":\"644.721803\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"display[...]
[...]
