interactions:
- request:
    body: geometry=2636544%2C1239083%2C2636546%2C1239085&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Rothrist\",\"attributes\":{\"OBJECTID\":\"37\",\"GDENR\":\"4282\",\"GEMEINDE\":\"Rothrist\",\"GEMEINDEZ\":\"Rothrist\",\"GEMEINDEU\":\"Rothrist\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"11854117.234707\",\"SHAPE.STLength()\":\"15809.536697\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"2865\",\"attributes\":{\"OBJECTID\":\"60508334\",\"FILEID\":\"241\",\"GDENR\":\"4282\",\"GDENRPARZ\":\"428202865\",\"NUMMER\":\"2865\",\"EGRID\":\"CH940645837828\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"37948\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"37950.114196\",\"SHAPE.STLength()\":\"859.825618\"}},{\"layerId\":92,\"layerName\":\"Grundwasserschutzzonen\",\"displayFieldName\":\"NUMMER\",\"value\":\"001.226\",\"attributes\":{\"OBJECTID\":\"2114\",\"NUMMER\":\"001.226\",\"TYP\":\"S2\",\"TYPKANT\":\"S2\",\"ISTARECHT\":\"falsch\",\"RECHTSSTAT\":\"inKraft\",\"RECHTDATUM\":\"22.02.2021\",\"BEMSTATUS\":\"Null\",\"GEOLINK\":\"606\",\"BEZEICHNUNG\":\"Grundwasserfassung
        R\xE4gelerhof\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"57755.678686\",\"SHAPE.STLength()\":\"1228.32685\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"60\",\"OBJECTID\":\"75\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"21324645.167261\",\"SHAPE.STLength()\":\"43090.421232\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Nationalstrasse\",\"attributes\":{\"OBJECTID\":\"2\",\"Mask_Type\":\"Nationalstrasse\",\"Mask_Priority\":\"2\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"150924.922809\",\"SHAPE.STLength()\":\"1816.679424\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Nationalstrasse\",\"attributes\":{\"OBJECTID\":\"123\",\"Mask_Type\":\"Nationalstrasse\",\"Mask_Priority\":\"2\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"1586552.644908\",\"SHAPE.STLength()\":\"16180.631025\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Nationalstrasse\",\"attributes\":{\"OBJECTID\":\"430\",\"Mask_Type\":\"Nationalstrasse\",\"Mask_Priority\":\"2\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"1488703.185063\",\"SHAPE.STLength()\":\"15202.137474\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"173395\",\"attributes\":{\"OBJECTID\":\"173395\",\"GDENR\":\"Rothrist
        4282\",\"HNCode\":\"21\",\"HNBez\":\"Allgemeine Landwirtschaftszonen\",\"KTAAbk\":\"Landwirtschaftszonen\",\"KTCode\":\"2111\",\"KTAbk\":\"AL\",\"KTBez\":\"Allgemeine
        Landwirtschaftszone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"211101\",\"GDEBez\":\"Landwirtschaftszone\",\"GDEAbk\":\"LSZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000511\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.16.96\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"5175\",\"Geolink_ES\":\"1535\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5175.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"212569.701539\",\"Shape.STLength()\":\"4157.556013\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"9501ef1"'
    status:
      code: 200
      message: OK
[...]
