interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://oereb.geo.sg.ch/ktsg/wsgi/oereb/extract/json?EGRID=CH538777599655&LANG=de
  response:
    body:
      string: '{"$schema": "https://raw.githubusercontent.com/openoereb/schemas/ea4fe8e696b84b923cb9aa9fb27c3ba4e2d8eb5b/extract.json",
        "GetExtractByIdResponse": {"extract": {"CreationDate": "2026-04-30T15:09:38",
        "ExtractIdentifier": "440839e4-48a2-40ab-80cc-25f83fecf3cc", "UpdateDateCS":
        "2026-04-30T15:09:38", "PLRCadastreAuthority": {"Name": [{"Language": "de",
        "Text": "Amt f\u00fcr Raumentwicklung und Geoinformation"}], "OfficeAtWeb":
        [{"Language": "de", "Text": "https://www.sg.ch/bauen/raumentwicklung.html"}],
        "Street": "L\u00e4mmlisbrunnenstrasse", "Number": "54", "PostalCode": "9001",
        "City": "St.Gallen"}, "RealEstate": {"Type": {"Code": "RealEstate", "Text":
        [{"Language": "de", "Text": "Liegenschaft"}]}, "Canton": "SG", "MunicipalityName":
        "St. Gallen", "MunicipalityCode": 3203, "LandRegistryArea": 100345, "PlanForLandRegister":
        {"ReferenceWMS": [{"Language": "de", "Text": "http://platform-live-service.platform-live.svc.cluster.local:8080/services/wms/ktsg/oereb_sg?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=ch.geoportal.basiskarten_landschaftsmodelle.1492.0.hk_oereb&MAPID=1492&CRS=EPSG%3A2056&WIDTH=493&HEIGHT=280&BBOX=2746132.6061693877%2C1253155.650142857%2C2746852.4948306126%2C1253564.511857143&SRS=EPSG%3A2056"}],
        "layerIndex": 0, "layerOpacity": 1.0, "min": {"type": "Point", "coordinates":
        [2746132.6061693877, 1253155.650142857], "crs": "EPSG:2056"}, "max": {"type":
        "Point", "coordinates": [2746852.4948306126, 1253564.511857143], "crs": "EPSG:2056"}},
        "PlanForLandRegisterMainPage": {"ReferenceWMS": [{"Language": "de", "Text":
        "http://platform-live-service.platform-live.svc.cluster.local:8080/services/wms/ktsg/oereb_sg?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=ch.geoportal.basiskarten_landschaftsmodelle.2916.0.hk_oereb_titelseite&MAPID=2916&MAPID=81&CRS=EPSG%3A2056&WIDTH=493&HEIGHT=280&BBOX=2746132.6061693877%2C1253155.650142857%2C2746852.4948306126%2C1253564.511857143&SRS=EPSG%3A2056"}],
        "layerIndex": 0, "layerOpacity": 1.0, "min": {"type": "Point", "coordinates":
        [2746132.6061693877, 1253155.650142857], "crs": "EPSG:2056"}, "max": {"type":
        "Point", "coordinates": [2746852.4948306126, 1253564.511857143], "crs": "EPSG:2056"}},
        "Number": "F2180", "IdentDN": "SG0200320300", "EGRID": "CH538777599655", "SubunitOfLandRegister":
        "St. Gallen", "MetadataOfGeographicalBaseData": "whatisthat?", "RestrictionOnLandownership":
        [{"LegendText": [{"Language": "de", "Text": "BauG Skiabfahrts- und Ski\u00fcbungsgel\u00e4nde"}],
        "Theme": {"Code": "ch.Nutzungsplanung", "Text": [{"Language": "de", "Text":
        "Nutzungsplanung Zonenplan"}]}, "Lawstatus": {"Code": "inForce", "Text": [{"Language":
        "de", "Text": "Rechtskr\u00e4ftig"}]}, "ResponsibleOffice": {"Name": [{"Language":
        "de", "Text": "Stadt St.Gallen"}], "OfficeAtWeb": [{"Language": "de", "Text":
        "https://www.stadt.sg.ch"}], "Street": "Rathaus", "Number": "nan", "PostalCode":
        "9001", "City": "St.Gallen"}, "Map": {"ReferenceWMS": [{"Language": "de",
        "Text": "http://platform-live-service.platform-live.svc.cluster.local:8080/services/wms/ktsg/oereb_sg?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=ch.geoportal.raumplanung_grundstueckskataster.1784.0.oereb_zonenplan_kt_sg&MAPID=1784&CRS=EPSG%3A2056&WIDTH=493&HEIGHT=280&BBOX=2746132.6061693877%2C1253155.650142857%2C2746852.4948306126%2C1253564.511857143&AUTHENTICATE=true&EPOCH=2026-04-29T23%3A03%3A52&SRS=EPSG%3A2056"}],
        "OtherLegend": [{"LegendText": [{"Language": "de", "Text": "BauG Gr\u00fcnzone
        Freihaltung"}], "TypeCode": "1608001", "TypeCodelist": "https://models.geo.sg.ch/1_Grundlagen_und_Planung/E_Raumplanung_Grundstueckskataster/SG_Nutzungsplanung_gd_V21_ILI23_LV95.ili",
        "Theme": {"Code": "ch.Nutzungsplanung", "Text": [{"Language": "de", "Text":
        "Nutzungsplanung Zonenplan"}]}, "SymbolRef": "https://oereb.geo.sg.ch/ktsg/wsgi/oereb/image/symbol/ch.Nutzungsplanung/legend_entry.png?identifier=1608001"},
        {"LegendText": [{"Language": "de", "Text": "BauG Gr\u00fcnzone Naturschutz"}],
        "TypeCode": "1609001", "TypeCodelist": "https://models.geo.sg.ch/1_Grundlagen_und_Planung/E_Raumplanung_Grundstueckskataster/SG_Nutzungsplanung_gd_V21_ILI23_LV95.ili",
        "Theme": {"Code": "ch.Nutzungsplanung", "Text": [{"Language": "de", "Text":
        "Nutzungsplanung Zonenplan"}]}, [...]
