interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_grundstueck.data/?bbox=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157385067,
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [[[2617688.588, 1224530.055], [2617702.015, 1224597.735], [2617739.452, 1224654.5], [2617775.448, 1224702.506], [2617814.23, 1224719.956], [2617816.96, 1224721.103], [2617806.631, 1224625.149], [2617770.772, 1224292.033], [2617760.36, 1224291.672], [2617741.813, 1224317.036], [2617712.618, 1224411.307], [2617688.588, 1224530.055]]]
                    },
                    "properties": {
                        "amtschreiberei": "Amtschreiberei Region Solothurn",
                        "bfsnr": 2511,
                        "gemeinde": "Aeschi (SO)",
                        "flaechenmass": 30961,
                        "art": "Liegenschaft",
                        "t_id": 157385067,
                        "egrid": "CH927751320693",
                        "grundbuchkreis": "Aeschi",
                        "nummer": "544"
                    }
                },
                {
                    "type": "Feature",
                    "id": 157385068,
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [[[2617688.588, 1224530.055], [2617702.015, 1224597.735], [2617739.452, 1224654.5], [2617775.448, 1224702.506], [2617814.23, 1224719.956], [2617816.96, 1224721.103], [2617806.631, 1224625.149], [2617770.772, 1224292.033], [2617760.36, 1224291.672], [2617741.813, 1224317.036], [2617712.618, 1224411.307], [2617688.588, 1224530.055]]]
                    },
                    "properties": {
                        "amtschreiberei": "Amtschreiberei Region Solothurn",
                        "bfsnr": 2511,
                        "gemeinde": "Aeschi (SO)",
                        "flaechenmass": 30961,
                        "art": "Liegenschaft",
                        "t_id": 157385068,
                        "egrid": "CH927751320693",
                        "grundbuchkreis": "Aeschi",
                        "nummer": "544"
                    }
                }
            ],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 2,
            "numberReturned": 2,
            "bbox": [
                2617688.588,
                1224291.672,
                2617816.96,
                1224721.103
            ]
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_gebaeudeeingang.data/?bbox=2617742.0,1224550.0,2617762.0,1224570.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2617739.5,1224547.5,2617764.5,1224572.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2617739.5,1224547.5,2617764.5,1224572.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungGrundnutzung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.GefahrengebietSynoptisch%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Fruchtfolgeflaechen%22%5D,%22or%22[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D%5D&bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_linien.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D%5D&bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D%5D&bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Wald%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Gewaesser%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2617752.0,1224560.0,2617752.0,1224560.0
  response:
    body:
      string: |
        {
            "results": [
                {
                    "layerBodId": "ch.bafu.bundesinventare-hochmoore",
                    "layerName": "Hochmoore",
                    "featureId": 13131,
                    "id": 13131,
                    "attributes": {
                        "name": "Chlepfimoos/Burgmoos",
                        "objnummer": 76,
                        "shape_area": 7619.9571013737,
                        "hm_ke": 26,
                        "unit_de": "Hochmoormischvegetation",
                        "unit_fr": "Végétation mixte de tourbière",
                        "unit_it": "Vegetazione mista di torbiera",
                        "hochmoore_type_de": "Sekundäre Hochmoorfläche",
                        "hochmoore_type_fr": "Tourbières secondaires",
                        "hochmoore_type_it": "Torbiere secondarie",
                        "refobjblat": "https://api3.geo.admin.ch/featureattachments/ch.bafu.bundesinventare-hochmoore/objectsheets/2025revision/nr76.pdf",
                        "label": "Chlepfimoos/Burgmoos"
                    }
                }
            ]
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2617702.0,1224510.0,2617802.0,1224610.0
  response:
    body:
      string: |
        {
            "results": [
                {
                    "layerBodId": "ch.bafu.bundesinventare-bln",
                    "layerName": "BLN",
                    "featureId": 1276,
                    "id": 1276,
                    "attributes": {
                        "bln_name": "Steineberg – Steinhof – Burgäschisee",
                        "bln_obj": 1313,
                        "bln_fl": 558.469,
                        "subareanumber": 0.0,
                        "subareaname": null,
                        "linkurldescription": "https://api3.geo.admin.ch/featureattachments/ch.bafu.bundesinventare-bln/objectsheets/2017revision/nr1313.pdf",
                        "label": "Steineberg – Steinhof – Burgäschisee"
                    }
                }
            ]
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2617727.0,1224535.0,2617777.0,1224585.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
