interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2611053.2977669733,1228691.4541305029,2611153.2977669733,1228791.4541305029
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2611078.2977669733,1228716.4541305029,2611128.2977669733,1228766.4541305029
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2611078.2977669733,1228716.4541305029,2611128.2977669733,1228766.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_linie.data/?bbox=2611078.2977669733,1228716.4541305029,2611128.2977669733,1228766.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        10227, "geometry": {"type": "MultiLineString", "coordinates": [[[2580598.205,
        1226715.95], [2580638.658, 1226634.2], [2580686.344, 1226556.168], [2580721.025,
        1226508.482], [2580790.387, 1226456.461], [2580812.062, 1226430.45]], [[2580902.859,
        1227409.598], [2580760.031, 1227271.448], [2580638.648, 1227137.06]], [[2580981.131,
        1226374.094], [2581089.508, 1226335.078], [2581197.886, 1226326.408], [2581470.996,
        1226326.408], [2581939.184, 1226326.409], [2582077.906, 1226326.409]], [[2582093.903,
        1229590.163], [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2611090.7977669733,1228728.9541305029,2611115.7977669733,1228753.9541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2611078.2977669733,1228716.4541305029,2611128.2977669733,1228766.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreis.data/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        887, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2610006.354,
        1229807.9], [2610052.161, 1229855.14], [2610083.262, 1229930.94], [2610204.265,
        12300[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2611078.2977669733,1228716.4541305029,2611128.2977669733,1228766.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2611090.7977669733,1228728.9541305029,2611115.7977669733,1228753.9541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_punkt.data/?bbox=2611053.2977669733,1228691.4541305029,2611153.2977669733,1228791.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2611078.2977669733,1228716.4541305029,2611128.2977669733,1228766.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        14214, "geometry": {"type": "Polygon", "coordinates": [[[2609821.663, 1227851.035],
        [2609830.148, 1227859.001], [2609830.254, 1227859.008], [2609855.207, 1227882.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?filter=%5B%5B%22grundnutzungsart%22,%22ilike%22,%22Wald%22%5D%5D&bbox=2611078.2977669733,1228716.4541305029,2611128.2977669733,1228766.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37362, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2610083.262,
        1229930.94], [2610204.265, 1230086.34], [2610256.167, 1230166.84], [2610315.669,
        1230[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge/?bbox=2611093.2977669733,1228731.4541305029,2611113.2977669733,1228751.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_flaeche.data/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2611078.2977669733,1228716.4541305029,2611128.2977669733,1228766.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2611103.2977669733,1228741.4541305029,2611103.2977669733,1228741.4541305029
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15000652, "geometry": {"type": "Polygon", "coordinates": [[[2610630.926, 1228590.899],
        [2610673.046, 1228611.42], [2610680.582, 1228614.132], [2610840.163[...]
