interactions:
- request:
    body: geometry=2663414%2C1247091%2C2663416%2C1247093&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Niederwil\",\"attributes\":{\"OBJECTID\":\"91\",\"GDENR\":\"4072\",\"GEMEINDE\":\"Niederwil\",\"GEMEINDEZ\":\"Niederwil
        (AG)\",\"GEMEINDEU\":\"Niederwil\",\"BZNR\":\"1903\",\"BEZIRK\":\"Bremgarten\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"6147876.259663\",\"SHAPE.STLength()\":\"12591.076572\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"630\",\"attributes\":{\"OBJECTID\":\"60531032\",\"FILEID\":\"164\",\"GDENR\":\"4072\",\"GDENRPARZ\":\"407200630\",\"NUMMER\":\"630\",\"EGRID\":\"CH228174155023\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"531599\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"531599.46332\",\"SHAPE.STLength()\":\"4010.369763\"}},{\"layerId\":42,\"layerName\":\"Naturschutzgebiet
        von kant. Bedeutung (NkB) Richtplan L 2.5\",\"displayFieldName\":\"RPKAP_KL\",\"value\":\"l25\",\"attributes\":{\"OBJECTID\":\"241\",\"NKB_ID\":\"Null\",\"KIN_AREAL\":\"Null\",\"RPKAP_KL\":\"l25\",\"RPKAP_LG\":\"L
        2.5 Naturschutzgebiete von kantonaler Bedeutung (NkB)\",\"Shape\":\"Polygon\",\"KATEGORIE\":\"Festsetzung\",\"RP_AUSSAGE\":\"Naturschutzgebiet
        von kant. Bedeutung (NkB)\",\"SHAPE.STArea()\":\"81795.697995\",\"SHAPE.STLength()\":\"1280.669038\",\"FlurnameAV\":\"Ruetermoos\",\"NKBNr\":\"204\"}},{\"layerId\":44,\"layerName\":\"Bundesinventar
        der Flachmoore von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"R\xFCtermoos\",\"attributes\":{\"OBJECTID\":\"912\",\"ObjNummer\":\"2768\",\"Name\":\"R\xFCtermoos\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-flachmoore/objectsheets/2020revision/nr2768.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"01.10.1994\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"31254.485998\",\"Shape.STLength()\":\"860.500047\"}},{\"layerId\":491,\"layerName\":\"Bundesinventar
        der Amphibienlaichgebiete von nationaler Bedeutung: ortsfeste Objekte\",\"displayFieldName\":\"Name\",\"value\":\"R\xFCtermoos\",\"attributes\":{\"OBJECTID\":\"97\",\"ObjNummer\":\"AG525\",\"Name\":\"R\xFCtermoos\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-amphibien/objectsheets/2017revision/ag525.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"01.08.2001\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"
        \",\"Bereich\":\"A\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"74516.185073\",\"SHAPE.STLength()\":\"1223.432761\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"S\",\"attributes\":{\"OBJECTID\":\"23947\",\"GDENR\":\"Niederwil
        (AG) 4072\",\"HNCode\":\"31\",\"HNBez\":\"Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTAAbk\":\"Schutzzonen\",\"KTCode\":\"3112\",\"KTAbk\":\"S\",\"KTBez\":\"Streuwiese
        / Feuchtstandort\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"311201\",\"GDEBez\":\"Feuchtgebiete
        mit offenen Wasserfl\xE4chen\",\"GDEAbk\":\"FSOW\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"S\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2009-000098\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.06.86\",\"UB\":\"Null\",\"KTLabel\":\"S\",\"Geolink\":\"1617\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/1617.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"27790.164919\",\"Shape.STLength()\":\"967.933933\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"f8d9f0a7"'
    status:
      code: 200
      message: OK
[...]
