interactions:
- request:
    body: geometry=2650118%2C1244360%2C2650120%2C1244362&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Gr\xE4nichen\",\"attributes\":{\"OBJECTID\":\"79\",\"GDENR\":\"4006\",\"GEMEINDE\":\"Gr\xE4nichen\",\"GEMEINDEZ\":\"Gr\xE4nichen\",\"GEMEINDEU\":\"Graenichen\",\"BZNR\":\"1901\",\"BEZIRK\":\"Aarau\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"17233146.903595\",\"SHAPE.STLength()\":\"20718.396533\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"173\",\"attributes\":{\"OBJECTID\":\"60949684\",\"FILEID\":\"156\",\"GDENR\":\"4006\",\"GDENRPARZ\":\"400600173\",\"NUMMER\":\"173\",\"EGRID\":\"CH208852082348\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"4043\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4043.146269\",\"SHAPE.STLength()\":\"313.496026\"}},{\"layerId\":493,\"layerName\":\"Hecke
        im Kulturlandplan\",\"displayFieldName\":\"NameNummer\",\"value\":\"358\",\"attributes\":{\"OBJECTID\":\"27986\",\"GDENR\":\"Gr\xE4nichen
        4006\",\"HNCode\":\"79\",\"HNBez\":\"Weitere linienbezogene Festlegungen\",\"KTCode\":\"7921\",\"KTAbk\":\"Hkl\",\"KTBez\":\"Hecke,
        Feldgeh\xF6lz, Ufergeh\xF6lz, Allee ausserhalb der Bauzonen\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"792101\",\"GDEBez\":\"Hecken,
        Feld- und Ufergeh\xF6lze\",\"GDEAbk\":\"HFU\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"358\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2022-000220\",\"GeschNr\":\"BVUARE.13.31\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"H\",\"Geolink\":\"4326\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/4326.html\",\"OEREBexport\":\"ja\",\"OEREBexport_WL\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polyline\",\"SHAPE.STLength()\":\"553.896948\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"131081\",\"attributes\":{\"OBJECTID\":\"131081\",\"GDENR\":\"Gr\xE4nichen
        4006\",\"HNCode\":\"49\",\"HNBez\":\"Weitere Zonen nach Art. 18 Abs. 1 RPG
        ausserhalb der Bauzonen\",\"KTAAbk\":\"Materialabbau und Deponie\",\"KTCode\":\"4921\",\"KTAbk\":\"M\",\"KTBez\":\"Materialabbau
        und Rekultivierung\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"492101\",\"GDEBez\":\"Materialabbauzone\",\"GDEAbk\":\"M\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_IV\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2022-000220\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.13.31\",\"UB\":\"Null\",\"KTLabel\":\"M\",\"Geolink\":\"4326\",\"Geolink_ES\":\"2943\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/4326.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"43885.047809\",\"Shape.STLength()\":\"1038.600219\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"6eb3e95a"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2650099%2C1244341%2C2650139%2C1244381&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Gr\xE4nichen\",\"attributes\":{\"OBJECTID\":\"79\",\"GDENR\":\"4006\",\"GEMEINDE\":\"Gr\xE4nichen\",\"GEMEINDEZ\":\"Gr\xE4nichen\",\"GEMEINDEU\":\"Graenichen\",\"BZNR\":\"1901\",\"BEZIRK\":\"Aarau\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"17233146.903595\",\"SHAPE.STLength()\":\"20718.396533\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"173\",\"attributes\":{\"OBJECTID\":\"63209867\",\"FILEID\":\"156\",\"GDENR\":\"4006\",\"NUMMER\":\"173\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"173\",\"attributes\":{\"OBJECTID\":\"60949684\",\"FILEID\":\"156\",\"GDENR\":\"4006\",\"GDENRPARZ\":\"400600173\",\"NUMMER\":\"173\",\"EGRID\":\"CH208852082348\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"4043\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4043.146269\",\"SHAPE.STLength()\":\"313.496026\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFiel[...]
[...]
