interactions:
- request:
    body: geometry=2635665%2C1240641%2C2635667%2C1240643&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Aarburg\",\"attributes\":{\"OBJECTID\":\"63\",\"GDENR\":\"4271\",\"GEMEINDE\":\"Aarburg\",\"GEMEINDEZ\":\"Aarburg\",\"GEMEINDEU\":\"Aarburg\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4413009.373837\",\"SHAPE.STLength()\":\"11599.96735\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"1455\",\"attributes\":{\"OBJECTID\":\"60122795\",\"FILEID\":\"236\",\"GDENR\":\"4271\",\"GDENRPARZ\":\"427101455\",\"NUMMER\":\"1455\",\"EGRID\":\"CH207706974582\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"1984\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"1984.570805\",\"SHAPE.STLength()\":\"840.020388\"}},{\"layerId\":26,\"layerName\":\"AV:
        Strassenachsen\",\"displayFieldName\":\"STRNAME\",\"value\":\"R\xFCtliweg\",\"attributes\":{\"FILEID\":\"236\",\"GDENR\":\"4271\",\"ART\":\"Strasse\",\"NUMPRINZIP\":\"ungeradelinks\",\"ISTOFF\":\"ja\",\"STRNAME\":\"R\xFCtliweg\",\"OBJECTID\":\"11494757\",\"SHAPE\":\"Polyline\",\"SHAPE.STLength()\":\"54.99682\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"60\",\"OBJECTID\":\"75\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"21324645.167261\",\"SHAPE.STLength()\":\"43090.421232\"}},{\"layerId\":116,\"layerName\":\"Risokokataster:
        Konsultationsbereich Eisenbahn\",\"displayFieldName\":\"Shape.STArea()\",\"value\":\"42972577.6175083\",\"attributes\":{\"OBJECTID\":\"1\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"42972577.617508\",\"Shape.STLength()\":\"430382.922636\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"5936\",\"attributes\":{\"OBJECTID\":\"5936\",\"GDENR\":\"Aarburg
        4271\",\"HNCode\":\"11\",\"HNBez\":\"Wohnzonen\",\"KTAAbk\":\"Wohn- und Arbeitszonen\",\"KTCode\":\"1121\",\"KTAbk\":\"W2\",\"KTBez\":\"Wohnzone
        2\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"112101\",\"GDEBez\":\"Wohnzone
        W 2A\",\"GDEAbk\":\"W2A\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"0.4\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_II\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2015-000693\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.14.141\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"225\",\"Geolink_ES\":\"232\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/225.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"24246.105012\",\"Shape.STLength()\":\"742.109683\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"ae523c5d"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2635646%2C1240622%2C2635686%2C1240662&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Aarburg\",\"attributes\":{\"OBJECTID\":\"63\",\"GDENR\":\"4271\",\"GEMEINDE\":\"Aarburg\",\"GEMEINDEZ\":\"Aarburg\",\"GEMEINDEU\":\"Aarburg\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4413009.373837\",\"SHAPE.STLength()\":\"11599.96735\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"1581\",\"attributes\":{\"OBJECTID\":\"62357581\",\"FILEID\":\"236\",\"GDENR\":\"4271\",\"NUMMER\":\"1581\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"1874\",\"attributes\":{\"OBJECTID\":\"60122854\",\"FILEID\":\"236\",\"GDENR\":\"4271\",\"GDENRPARZ\":\"427101874\",\"NUMMER\":\"1874\",\"EGRID\":\"CH270677834559\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"813\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"812.5904\",\"SHAPE.STLength()\":\"142.22136\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldNa[...]
[...]
