interactions:
- request:
    body: geometry=2670174%2C1242186%2C2670176%2C1242188&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Rottenschwil\",\"attributes\":{\"OBJECTID\":\"51\",\"GDENR\":\"4238\",\"GEMEINDE\":\"Rottenschwil\",\"GEMEINDEZ\":\"Rottenschwil\",\"GEMEINDEU\":\"Rottenschwil\",\"BZNR\":\"1908\",\"BEZIRK\":\"Muri\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"4493471.35088\",\"SHAPE.STLength()\":\"10580.555874\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"234\",\"attributes\":{\"OBJECTID\":\"60807263\",\"FILEID\":\"108\",\"GDENR\":\"4238\",\"GDENRPARZ\":\"423800234\",\"NUMMER\":\"234\",\"EGRID\":\"CH335697327707\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"37800\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"37799.750031\",\"SHAPE.STLength()\":\"1664.568038\"}},{\"layerId\":45,\"layerName\":\"Auengebiete
        von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Rottenschwiler
        Moos\",\"attributes\":{\"OBJECTID\":\"66\",\"ObjNummer\":\"91\",\"Name\":\"Rottenschwiler
        Moos\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-auen/objectsheets/2017revision/nr91.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"15.11.1992\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"
        \",\"Typ\":\"3\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"769774.903749\",\"Shape.STLength()\":\"4808.88207\"}},{\"layerId\":47,\"layerName\":\"Bundesinventar
        der Wasser- und Zugvogelreservate von internationaler und nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Reuss:
        Bremgarten - Zufikon bis Br\xFCcke von Rottenschwil (AG)\",\"attributes\":{\"OBJECTID\":\"57\",\"WV_VERSION\":\"23.09.2015\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"1184548.419862\",\"SHAPE.STLength()\":\"11899.449938\",\"ObjNummer\":\"106\",\"Name\":\"Reuss:
        Bremgarten - Zufikon bis Br\xFCcke von Rottenschwil (AG)\",\"Teilgebiet\":\"II\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-vogelreservate/objectsheets/2023revision/nr106.pdf\",\"Inkraftsetzungsdatum\":\"01.08.2001\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"Null\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"TeilObjNummer\":\"2\",\"Schutzkategorie\":\"29\",\"Obj_GISFlaeche\":\"274.200012\",\"Schutzebene\":\"N\"}},{\"layerId\":491,\"layerName\":\"Bundesinventar
        der Amphibienlaichgebiete von nationaler Bedeutung: ortsfeste Objekte\",\"displayFieldName\":\"Name\",\"value\":\"Rottenschwiler
        Moos\",\"attributes\":{\"OBJECTID\":\"146\",\"ObjNummer\":\"AG815\",\"Name\":\"Rottenschwiler
        Moos\",\"RefObjBlatt\":\"https://data.geo.admin.ch/ch.bafu.bundesinventare-amphibien/objectsheets/2017revision/ag815.pdf\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"IV\",\"Inkraftsetzungsdatum\":\"01.08.2001\",\"Mutationsdatum\":\"Null\",\"Mutationsgrund\":\"
        \",\"Bereich\":\"A\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"321759.874355\",\"SHAPE.STLength()\":\"2685.394913\"}},{\"layerId\":495,\"layerName\":\"BLN
        - Bundesinventar der Landschaften und Naturdenkm\xE4ler von nationaler Bedeutung\",\"displayFieldName\":\"Name\",\"value\":\"Reusslandschaft\",\"attributes\":{\"OBJECTID\":\"48\",\"ObjNummer\":\"1305\",\"TeilObjNummer\":\"0\",\"Name\":\"Reusslandschaft\",\"DesignatType\":\"NDA\",\"IUCNCategory\":\"V\"}},{\"layerId\":497,\"layerName\":\"Landschaftsschutzdekrete
        (detailliert Legende)\",\"displayFieldName\":\"Dekretsname\",\"value\":\"RTD\",\"attributes\":{\"OBJECTID\":\"451\",\"Dekretsname\":\"RTD\",\"Ausf\xFChrlicher
        Dekretsname\":\"Dekret \xFCber den Schutz der Landschaft und die Nutzung im
        Gebiet der Reusstalsanierung (SAR 787.330) \",\"Zonencode Kanton\":\"5284\",\"Zonenbezeichnung
        Kanton\":\"\xDCbrige Zonen innerhalb Dekretsgebiet (kant. NP)\",\"Typ in Kantonaler
        Zone\":\"\xDCbriges Gebiet\",\"Verbindlichkeit\":\"Nutzungsplanfestlegung\",\"Orientierungsinhalt\":\"Null\",\"Geolink\":\"40\",\"Beschlussdatum
        \xC4nderung\":\"06.03.2018\",\"Rechtsstatus\":\"inKraft\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/40.html\",\"OEREBexport\":\"ja\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"18462312.30872\",\"Shape.STLength()\":\"63205.452869\"}},{\"layerId\":122,\"layerName\":\"Gefahrenkarte
        Ist-Zustand\",\"displayFieldName\":\"FARBE\",\"value\":\"Restgef\xE4hrdung\",\"attributes\":{\"OBJECTID\":\"24010\",\"ID\":\"35378\",\"FARBE\":\"Restgef\xE4hrdung\",\"TEILPROJEKT\":\"Oberes
        Reusstal\",\"BEARBEITER\":\"Basler & Hofmann, Esslingen\",\"DATUM\":\"06.07.2010\",\"Freigabe\":\"1\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"7418.591303\",\"SHAPE.STLength()\":\"926.046691\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"H\",\"attributes\":{\"OBJECTID\":\"23394\",\"GDENR\":\"Rottenschwil
        4238\",\"HNCode\":\"31\",\"HNBez\":\"Schutzzonen f\xFCr Lebensr\xE4ume und
        Landschaften\",\"KTAAbk\":\"Schutzzonen\",\"KTCode\":\"3111\",\"KTAbk\":\"MT\",\"KTBez\":\"Magerwiese
        / Trockenstandort\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"311101\",\"GDEBez\":\"Magerwiese\",\"GDEAbk\":\"MW\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"H\",\"ES\":\"keine_ES\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2000-001905\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.96.1189\",\"UB\":\"Null\",\"KTLabel\":\"M\",\"Geolink\":\"2622\",\"Geolink_ES\":\"Null\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2622.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"nein\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"28566.719219\",\"Shape.STLength()\":\"2773.489184\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"403f0dd7"'
    status:
      code: 200
      message: OK
[...]
