interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?bbox=2606227.261979167,1230734.5796875001,2606277.261979167,1230784.5796875001&filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        13883743, "geometry": {"type": "Polygon", "coordinates": [[[2606190.211, 1230790.266],
        [2606190.171765033, 1230790.682167111], [2606190.140006537, 1230791.098971435],
        [2606190.115734745, 1230791.516278668], [2606190.09895748, 1230791.933954344],
        [2606190.089680146, 1230792.351863877], [2606190.087905732, 1230792.769872607],
        [2606190.093634813, 1230793.187845841], [2606190.10686554, 1230793.605648898],
        [2606190.12759365, 1230794.023147152], [2606190.155812465, 1230794.440206075],
        [2606190.191512892, 1230[...]
