interactions:
- request:
    body: geometry=2635721%2C1239842%2C2635723%2C1239844&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Oftringen\",\"attributes\":{\"OBJECTID\":\"54\",\"GDENR\":\"4280\",\"GEMEINDE\":\"Oftringen\",\"GEMEINDEZ\":\"Oftringen\",\"GEMEINDEU\":\"Oftringen\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"12852391.28334\",\"SHAPE.STLength()\":\"20470.353585\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"1720\",\"attributes\":{\"OBJECTID\":\"61122067\",\"FILEID\":\"203\",\"GDENR\":\"4280\",\"GDENRPARZ\":\"428001720\",\"NUMMER\":\"1720\",\"EGRID\":\"CH270689944515\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"44329\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"44326.462484\",\"SHAPE.STLength()\":\"880.33173\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"60\",\"OBJECTID\":\"75\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"21324645.167261\",\"SHAPE.STLength()\":\"43090.421232\"}},{\"layerId\":144,\"layerName\":\"Kantonaler
        Nutzungsplan Verkehr\",\"displayFieldName\":\"KNPName\",\"value\":\"KNP K204
        Wiggertalstrasse Aarburg Oftringen Zofingen\",\"attributes\":{\"OBJECTID\":\"27\",\"KNPName\":\"KNP
        K204 Wiggertalstrasse Aarburg Oftringen Zofingen\",\"DOKId\":\"030\",\"DOKTitel\":\"Oftringen
        KNP K204 Wiggertalstrasse Plan Abschnitt 2, K235 Bernstrasse bis Nigglish\xFCser
        GR 05.06.2012\",\"Rechtsstatus\":\"inKraft\",\"GenUrInstanz\":\"GR\",\"GenUrDatum\":\"05.06.2012\",\"PubliAb\":\"01.10.2019\",\"TeilRevision\":\"Null\",\"Geolink\":\"130\",\"DOKLink\":\"https://oereblex.ag.ch/api/attachments/164\",\"OEREBlex\":\"https://oereblex.ag.ch/api/geolinks/130\",\"OEREBexport\":\"ja\",\"HNCode\":\"61\",\"HNBez\":\"Bereiche
        rechtsg\xFCltiger Sondernutzungspl\xE4ne\",\"KTCode\":\"6122\",\"KTBez\":\"Kantonaler
        Nutzungsplan Verkehr\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"6122030\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"103659.724442\",\"Shape.STLength()\":\"3502.314454\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"172508\",\"attributes\":{\"OBJECTID\":\"172508\",\"GDENR\":\"Oftringen
        4280\",\"HNCode\":\"12\",\"HNBez\":\"Arbeitszonen\",\"KTAAbk\":\"Arbeitszonen\",\"KTCode\":\"1221\",\"KTAbk\":\"A2\",\"KTBez\":\"Arbeitszone
        II\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"122101\",\"GDEBez\":\"Arbeitszone
        2\",\"GDEAbk\":\"A2\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"0.1\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_IV\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2024-000563\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.16.14\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"5191\",\"Geolink_ES\":\"3212\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/5191.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"41815.826124\",\"Shape.STLength()\":\"843.583572\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"606d95ae"'
    status:
      code: 200
      message: OK
[...]
