interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?service=WFS&version=2.0.0&Request=GetFeature&typename=a42geo_a42geo_ebau_kt_wfs_d_fk:DIPANU_DIPANUF&count=10&Filter=%3Cogc:Filter%3E%3Cogc:PropertyIsEqualTo%20matchCase=%22true%22%3E%3Cogc:PropertyName%3EEGRID%3C/ogc:PropertyName%3E%3Cogc:Literal%3ECH673533354667%3C/ogc:Literal%3E%3C/ogc:PropertyIsEqualTo%3E%3C/ogc:Filter%3E
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8" ?><wfs:FeatureCollection xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:a42geo_ebau_kt_wfs_d_fk="https://a4pu-www-wageo3.infra.be.ch/geoservice3/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer"
        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        timeStamp="2023-09-22T15:18:36Z" numberMatched="1" numberReturned="1" xsi:schemaLocation="http://www.opengis.net/wfs/2.0
        http://schemas.opengis.net/wfs/2.0/wfs.xsd http://www.opengis.net/gml/3.2
        http://schemas.opengis.net/gml/3.2.1/gml.xsd https://a4pu-www-wageo3.infra.be.ch/geoservice3/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer
        https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer?service=wfs%26version=2.0.0%26request=DescribeFeatureType"><wfs:member><a42geo_ebau_kt_wfs_d_fk:DIPANU_DIPANUF
        gml:id="DIPANU_DIPANUF.973"><a42geo_ebau_kt_wfs_d_fk:OBJECTID>973</a42geo_ebau_kt_wfs_d_fk:OBJECTID><a42geo_ebau_kt_wfs_d_fk:BFSNR>301</a42geo_ebau_kt_wfs_d_fk:BFSNR><a42geo_ebau_kt_wfs_d_fk:GBKR>0</a42geo_ebau_kt_wfs_d_fk:GBKR><a42geo_ebau_kt_wfs_d_fk:EGRID>CH673533354667</a42geo_ebau_kt_wfs_d_fk:EGRID><a42geo_ebau_kt_wfs_d_fk:GSTART>0</a42geo_ebau_kt_wfs_d_fk:GSTART><a42geo_ebau_kt_wfs_d_fk:GSTBEZ>77</a42geo_ebau_kt_wfs_d_fk:GSTBEZ><a42geo_ebau_kt_wfs_d_fk:GBFLAE>86172</a42geo_ebau_kt_wfs_d_fk:GBFLAE><a42geo_ebau_kt_wfs_d_fk:GZSTAT>0</a42geo_ebau_kt_wfs_d_fk:GZSTAT><a42geo_ebau_kt_wfs_d_fk:PROJSTAT>0</a42geo_ebau_kt_wfs_d_fk:PROJSTAT><a42geo_ebau_kt_wfs_d_fk:MITGEOM>1</a42geo_ebau_kt_wfs_d_fk:MITGEOM><a42geo_ebau_kt_wfs_d_fk:LETZTEAEND>02.04.2015</a42geo_ebau_kt_wfs_d_fk:LETZTEAEND><a42geo_ebau_kt_wfs_d_fk:GENGBKRI>3010</a42geo_ebau_kt_wfs_d_fk:GENGBKRI><a42geo_ebau_kt_wfs_d_fk:GENGBKRN>Aarberg</a42geo_ebau_kt_wfs_d_fk:GENGBKRN><a42geo_ebau_kt_wfs_d_fk:SHAPE><gml:MultiSurface
        gml:id="DIPANU_DIPANUF.973.pl" srsName="urn:ogc:def:crs:EPSG::2056"><gml:surfaceMember><gml:Polygon
        gml:id="DIPANU_DIPANUF.973.pl.0"><gml:exterior><gml:LinearRing><gml:posList>2587843.66300000
        1211216.79200000 2587977.52500000 1211076.48900000 2587986.01700000 1211083.76900000
        2587989.03100000 1211080.60500000 2587980.41500000 1211073.45800000 2587901.02700000
        1211005.31500000 2587927.58800000 1210978.73200000 2587933.99400000 1210972.31700000
        2587901.07400000 1210903.24900000 2587898.87800000 1210898.63300000 2587875.21700000
        1210836.59100000 2587806.11100000 1210913.28700000 2587771.51900000 1210910.06500000
        2587700.96[...]
- request:
    body: "<?xml version=\"1.0\"?>\n<GetFeature\n\txmlns=\"http://www.opengis.net/wfs\"\n\txmlns:a42geo_a42geo_ebau_kt_wfs_d_fk=\"https://www.geoservice2-test.apps.be.ch/geoservice3/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"\n\txmlns:ogc=\"http://www.opengis.net/ogc\"\n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n\txmlns:gml=\"http://www.opengis.net/gml\"\n\tservice=\"WFS\"\n\tversion=\"2.0.0\"\n\toutputFormat=\"GML2\"\n\tcount=\"100\"\n>\n
      \   <Query typeName=\"a42geo_ebau_kt_wfs_d_fk:GEODB.GSK25_GSK_VW\" srsName=\"EPSG:2056\">\n
      \       <ogc:Filter>\n          <ogc:Intersects>\n            <gml:Polygon xmlns:gml=\"http://www.opengis.net/gml/3.2\"
      xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:wfs=\"http://www.opengis.net/wfs/2.0\"
      xmlns:a42geo_ebau_kt_wfs_d_fk=\"https://a4pu-www-wageo3.infra.be.ch/geoservice3/services/a42geo/a42geo_ebau_kt_wfs_d_fk/MapServer/WFSServer\"
      xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      gml:id=\"DIPANU_DIPANUF.973.pl.0\"><gml:exterior><gml:LinearRing><gml:posList>2587843.66300000
  [...]
