interactions:
- request:
    body: geometry=2643608%2C1241662%2C2643610%2C1241664&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"K\xF6lliken\",\"attributes\":{\"OBJECTID\":\"67\",\"GDENR\":\"4276\",\"GEMEINDE\":\"K\xF6lliken\",\"GEMEINDEZ\":\"K\xF6lliken\",\"GEMEINDEU\":\"Koelliken\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"8885832.004058\",\"SHAPE.STLength()\":\"15946.803295\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"1890\",\"attributes\":{\"OBJECTID\":\"60812365\",\"FILEID\":\"124\",\"GDENR\":\"4276\",\"GDENRPARZ\":\"427601890\",\"NUMMER\":\"1890\",\"EGRID\":\"CH267445067554\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"617\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"617.371546\",\"SHAPE.STLength()\":\"103.552912\"}},{\"layerId\":24,\"layerName\":\"AV:
        Assekuranznummern\",\"displayFieldName\":\"ART\",\"value\":\"Gebaeude\",\"attributes\":{\"OBJECTID\":\"50989263\",\"FILEID\":\"124\",\"GDENR\":\"4276\",\"ART\":\"Gebaeude\",\"ASSNR\":\"754\",\"ORI\":\"15.9\",\"Shape\":\"Point\",\"EGID\":\"613891\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":11,\"layerName\":\"Risikokataster:
        Konsultationsbereich Gasleitung\",\"displayFieldName\":\"Shape.STArea()\",\"value\":\"71231391.4456356\",\"attributes\":{\"OBJECTID\":\"1\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"71231391.445636\",\"Shape.STLength()\":\"411604.947132\"}},{\"layerId\":146,\"layerName\":\"Bauzonen:
        Grundnutzung\",\"displayFieldName\":\"NameNummer\",\"value\":\"10845\",\"attributes\":{\"OBJECTID\":\"10845\",\"GDENR\":\"K\xF6lliken
        4276\",\"HNCode\":\"13\",\"HNBez\":\"Mischzonen\",\"KTAAbk\":\"Wohn- und Arbeitszonen\",\"KTCode\":\"1321\",\"KTAbk\":\"WA2\",\"KTBez\":\"Wohn-
        und Arbeitszone 2\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"132101\",\"GDEBez\":\"Wohn-
        und Arbeitszone WA2\",\"GDEAbk\":\"WA2\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"0.5\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2011-001045\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.05.234\",\"UB\":\"\xFCberbaut\",\"KTLabel\":\"Null\",\"Geolink\":\"2052\",\"Geolink_ES\":\"2056\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/2052.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"11669.442328\",\"Shape.STLength()\":\"901.798954\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"230775d6"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2643589%2C1241643%2C2643629%2C1241683&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"K\xF6lliken\",\"attributes\":{\"OBJECTID\":\"67\",\"GDENR\":\"4276\",\"GEMEINDE\":\"K\xF6lliken\",\"GEMEINDEZ\":\"K\xF6lliken\",\"GEMEINDEU\":\"Koelliken\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"8885832.004058\",\"SHAPE.STLength()\":\"15946.803295\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"1890\",\"attributes\":{\"OBJECTID\":\"63068453\",\"FILEID\":\"124\",\"GDENR\":\"4276\",\"NUMMER\":\"1890\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\",\"Shape\":\"Point\"}},{\"layerId\":21,\"layerName\":\"Amtliche
        Vermessung: Parzellennummern\",\"displayFieldName\":\"NUMMER\",\"value\":\"3160\",\"attributes\":{\"OBJECTID\":\"63069398\",\"FILEID\":\"124\",\"GDENR\":\"4276\",\"NUMMER\":\"3160\",\"ART\":\"Liegenschaft\",\"ORI\":\"0\[...]
[...]
