interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2599146.9568125005,1227656.570833333,2599246.9568125005,1227756.570833333
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2599171.9568125005,1227681.570833333,2599221.9568125005,1227731.570833333
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        480896, "geometry": {"type": "Polygon", "coordinates": [[[2599161.151, 1227709.403],
        [2599175.417, 1227717.64], [2599176.168, 1227718.074], [2599183.122, 1227723.007],
        [2599186.403, 1227725.334], [2599186.504, 1227725.404], [2599186.607, 1227725.471],
        [2599186.711, 1227725.536], [2599186.817, 1227725.598], [2599186.924, 1227725.657],
        [2599187.033, 1227725.714], [2599187.143, 1227725.769], [2599187.254, 1227725.82],
        [2599187.367, 1227725.869], [2599187.481, 1227725.915], [2599187.596, 1227725.958],
        [25[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2599171.9568125005,1227681.570833333,2599221.9568125005,1227731.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_linie.data/?bbox=2599171.9568125005,1227681.570833333,2599221.9568125005,1227731.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2599184.4568125005,1227694.070833333,2599209.4568125005,1227719.070833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2599171.9568125005,1227681.570833333,2599221.9568125005,1227731.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreis.data/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        897, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2596260.007,
        1230102.423], [2596266.028, 1230172.575], [2596269.776, 1230236.556], [2596346.605,
        123[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2599171.9568125005,1227681.570833333,2599221.9568125005,1227731.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2599184.4568125005,1227694.070833333,2599209.4568125005,1227719.070833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_punkt.data/?bbox=2599146.9568125005,1227656.570833333,2599246.9568125005,1227756.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2599171.9568125005,1227681.570833333,2599221.9568125005,1227731.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15974, "geometry": {"type": "Polygon", "coordinates": [[[2597682.807, 1226016.984],
        [2597684.664, 1226013.24], [2597699.101, 1225967.372], [2597699.614, 1225964.253[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?filter=%5B%5B%22grundnutzungsart%22,%22ilike%22,%22Wald%22%5D%5D&bbox=2599171.9568125005,1227681.570833333,2599221.9568125005,1227731.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37307, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2596269.776,
        1230236.556], [2596346.605, 1230297.524], [2596394.6, 1230336.233], [2596457.509,
        12303[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge/?bbox=2599186.9568125005,1227696.570833333,2599206.9568125005,1227716.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        14174855, "geometry": {"type": "Point", "coordinates": [2599188.96, 1227700.412]},
        "properties": {"edid": 0, "plz": 2544, "hausnummer": "19", "strassenname":
        "S\u00e4gereiweg", "egid": null, "ortschaft": "Bettlach"}}, {"type": "Feature",
        "id": 14234187, "geometry": {"type": "Point", "coordinates": [2599191.682,
        1227701.629]}, "properties": {"edid": 0, "plz": 2544, "hausnummer": "19a",
        "strassenname": "S\u00e4gereiweg", "egid": null, "ortschaft": "Bettlach"}},
        {"type": "Feature", "id": 14234188, "geometry": {"type": "Point", "coordinates":
        [2599194.381, 1227702.934]}, "properties": {"edid": 0, "plz": 2544, "hausnummer":
        "19b", "strassenname": "S\u00e4gereiweg", "egid": null, "ortschaft": "Bettlach"}},
        {"type": "Feature", "id": 14234189, "geometry": {"type": "Point", "coordinates":
        [2599197.192, 1227704.196]}, "properties": {"edid": 0, "plz": 2544, "hausnummer":
        "19c", "strassenname": "S\u00e4gereiweg", "egid": null, "ortschaft": "Bettlach"}},
        {"type": "Feature", "id": 14234190, "geometry": {"type": "Point", "coordinates":
        [2599199.803, 1227705.391]}, "properties": {"edid": 0, "plz": 2544, "hausnummer":
        "19d", "strassenname": "S\u00e4gereiweg", "egid": null, "ortschaft": "Bettlach"}}],
        "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}},
        "bbox": [2599188.96, 1227700.412, 2599199.803, 1227705.391]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_flaeche.data/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2599171.9568125005,1227681.570833333,2599221.9568125005,1227731.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2599196.9568125005,1227706.570833333,2599196.9568125005,1227706.570833333
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15025788, "geometry": {"type": "Polygon", "coordinates": [[[2599183.122, 1227723.007],
        [2599186.403, 1227725.334], [2599186.565336906, 1227725.444431229], [[...]
