interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2607160.642708333,1228434.884375,2607160.642708333,1228434.884375
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37286, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2605355.062,
        1228668.441], [2605356.471, 1228670.908], [2605357.49, 1228673.569], [2605357.878,
        1228674.389], [2605362.435, 1228677.076], [2605405.585, 1228693.132], [2605434.818,
        1228701.291], [2605467.547, 1228715.246], [2605490.177, 1228721.529], [2605510.535,
        1228729.04], [2605529.017, 1228733.301], [2605594.621, 1228755.144], [2605610.791,
        1228757.073], [2605640.611, 1228764.13], [2605661.12, 1228772.584], [2605672.623,
        1228779.189], [260[...]
