interactions:
- request:
    body: geometry=2636624%2C1239425%2C2636626%2C1239427&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Oftringen\",\"attributes\":{\"OBJECTID\":\"54\",\"GDENR\":\"4280\",\"GEMEINDE\":\"Oftringen\",\"GEMEINDEZ\":\"Oftringen\",\"GEMEINDEU\":\"Oftringen\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"12852391.28334\",\"SHAPE.STLength()\":\"20470.353585\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"3926\",\"attributes\":{\"OBJECTID\":\"61122093\",\"FILEID\":\"203\",\"GDENR\":\"4280\",\"GDENRPARZ\":\"428003926\",\"NUMMER\":\"3926\",\"EGRID\":\"CH308906854551\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"13213\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"13213.289391\",\"SHAPE.STLength()\":\"675.304026\"}},{\"layerId\":81,\"layerName\":\"Kantons-
        und Nationalstrassennetz\",\"displayFieldName\":\"AxisLabel\",\"value\":\"A1\",\"attributes\":{\"OBJECTID\":\"112\",\"Netz\":\"Nationalstrassennetz\",\"StrTyp\":\"HLS\",\"AxisLabel\":\"A1\",\"StrFuehr\":\"offen\",\"SHAPE\":\"Polyline\",\"SHAPE.STLength()\":\"33205.836447\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"60\",\"OBJECTID\":\"75\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"21324645.167261\",\"SHAPE.STLength()\":\"43090.421232\"}},{\"layerId\":115,\"layerName\":\"Risikokataster:
        Konsultationsbereich Betriebsareal\",\"displayFieldName\":\"LIMSNR\",\"value\":\"12915\",\"attributes\":{\"OBJECTID\":\"42\",\"LIMSNR\":\"12915\",\"Konsultationsbereich_in_Meter\":\"100\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"101511.806798\",\"SHAPE.STLength()\":\"1159.84608\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Nationalstrasse\",\"attributes\":{\"OBJECTID\":\"2\",\"Mask_Type\":\"Nationalstrasse\",\"Mask_Priority\":\"2\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"150924.922809\",\"SHAPE.STLength()\":\"1816.679424\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Nationalstrasse\",\"attributes\":{\"OBJECTID\":\"214\",\"Mask_Type\":\"Nationalstrasse\",\"Mask_Priority\":\"2\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"7629641.436101\",\"SHAPE.STLength()\":\"76610.334231\"}},{\"layerId\":117,\"layerName\":\"Risikokataster:
        Konsultationsbereich Strasse\",\"displayFieldName\":\"Mask_Type\",\"value\":\"Nationalstrasse\",\"attributes\":{\"OBJECTID\":\"368\",\"Mask_Type\":\"Nationalstrasse\",\"Mask_Priority\":\"2\",\"LIMSNR\":\"Null\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"7629232.849279\",\"SHAPE.STLength()\":\"76606.85381\"}},{\"layerId\":11926,\"layerName\":\"Strassen\",\"displayFieldName\":\"Verursacher\",\"value\":\"Strassen\",\"attributes\":{\"OBJECTID\":\"30\",\"Verursacher\":\"Strassen\",\"Trennkriterium\":\"\\u003e
        20'000 DTV\",\"Ausdehnung der Belastungsfl\xE4che\":\"Die Darstellung ist
        nicht lagegenau. Massgebend ist der Pr\xFCfperimeter von je 15m seitlich ab
        Fahrbahnrand.\",\"Belastungsursache\":\"Treibstoffverbrennung, Abgasemission,
        Abrieb von Strassenbelag, Bremsbelag und Pneu\",\"PRIMAERE_S\":\"Pb, PAK\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"6478772.509283\",\"SHAPE.STLength()\":\"259756.596835\"}},{\"layerId\":122,\"layerName\":\"Gefahrenkarte
        Ist-Zustand\",\"displayFieldName\":\"FARBE\",\"value\":\"mittlere Gef\xE4hrdung\",\"attributes\":{\"OBJECTID\":\"284\",\"ID\":\"30413\",\"FARBE\":\"mittlere
        Gef\xE4hrdung\",\"TEILPROJEKT\":\"Unteres Wiggertal\",\"BEARBEITER\":\"Hunziker,
        Zarn & Partner, Aarau\",\"DATUM\":\"10.03.2011\",\"Freigabe\":\"1\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"2495.318407\",\"SHAPE.STLength()\":\"282.752247\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"be47ee4a"'
    status:
      code: 200
      message: OK
- request:
    body: geometry=2636605%2C1239406%2C2636645%2C1239446&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"Oftringen\",\"attributes\":{\"OBJECTID\":\"54\",\"GDENR\":\"4280\",\"GEMEINDE\":\"Oftringen\",\"GEMEINDEZ\":\"Oftringen\",\"GEMEINDEU\":\"Oftringen\",\"BZNR\":\"1910\",\"BEZIRK\":\"Zofingen\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"12852391.28334\",\"SHAPE.STLength()\":\"20470.353585\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"3926\",\"attributes\":{\"OBJECTID\":\"61122093\",\"FILEID\":\"203\",\"GDENR\":\"4280\",\"GDENRPARZ\":\"428003926\",\"NUMMER\":\"3926\",\"EGRID\":\"CH308906854551\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"13213\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"13213.289391\",\"SHAPE.STLength()\":\"675.304026\"}},{\"layerId\":26,\"layerName\":\"AV:
        Strassenachsen\",\"displayFieldName\":\"STRNAME\",\"value\":\"A1\",\"attributes\":{\"FILEID\":\"203\",\"GDENR\":\"4280\",\"ART\":\"Strasse\",\"NUMPRINZIP\":\"keineNummern\",\"ISTOFF\":\"ja\",\"STRNAME\":\"A1\",\"OBJECTID\":\"11747245\",\"SHAPE\":\"Polyline\",\"SHAPE.STLength()\":\"324.815972\"}},{\"layerId\":26,\"layerName\":\"AV:
        Strassenachsen\",\"displayFieldName\":\"STRNAME\",\"value\":\"A1\",\"attributes\":{\"FILEID\":\"203\",\"GDENR\":\"4280\",\"ART\":\"Strasse\",\"NUMPRINZIP\":\"keineNummern\",\"ISTOFF\":\"ja\",\"STRNAME\":\"A1\",\"OBJECTID\":\"11747192\",\"SHAPE\":\"Polyline\",\"SHAPE.STLength()\":\"449.814248\"}},{\"layerId\":27,\"layerName\":\"AV:
        Strassennamen\",\"displayFieldName\":\"STRNAME\",\"value\":\"A1\",\"attributes\":{\"OBJECTID\":\"7849130\",\"FILEID\":\"203\",\"GDENR\":\"4280\",\"ART\":\"Strasse\",\"STRNAME\":\"A1\",\"ORI\":\"12.3\",\"Shape\":\"Point\"}},{\"layerId\":75,\"layerName\":\"Gew\xE4sserraum\",\"displayFieldName\":\"NAME\",\"value\":\"Oberstr.
        Pritschenwuhr-Bach\",\"attributes\":{\"OBJECTID\":\"29717\",\"NAME\":\"Oberstr.
        Pritschenwuhr-Bach\",\"SBREITE\":\"Null\",\"BNUM\":\"2.16.005\",\"KLASSE\":\"Null\",\"BUFF_DIST\":\"6\",\"ART\":\"Kanal\",\"FAKTOR\":\"Null\",\"NAT_GSB\":\"Null\",\"GEWR_BREITE\":\"Null\",\"GEWR_RADIUS\":\"Null\",\"Bauzone\":\"Null\",\"GEWR_TYP\":\"Null\",\"RECHT\":\"BauG\",\"KEY\":\"Null\",\"AbschLength\":\"Null\",\"GDENR\":\"4280\",\"GEMEINDEZ\":\"Oftringen\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"15491.937145\",\"SHAPE.STLength()\":\"2718.368945\"}},{\"layerId\":81,\"layerName\":\"Kantons-
        und Nationalstrassennetz\",\"displayFieldName\":\"AxisLabel\",\"value\":\"A1\",\"attributes\":{\"OBJECTID\":\"112\",\"Netz\":\"Nationalstrassennetz\",\"StrTyp\":\"HLS\",\"AxisLabel\":\"A1\",\"StrFuehr\":\"offen\",\"SHAPE\":\"Polyline\",\"SHAPE.STLength()\":\"33205.836447\"}},{\"layerId\":81,\"laye[...]
[...]
