interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2603863.165006131,1227584.5322569455,2603963.165006131,1227684.5322569455
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2603888.165006131,1227609.5322569455,2603938.165006131,1227659.5322569455
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        454200, "geometry": {"type": "Polygon", "coordinates": [[[2604147.172, 1227701.344],
        [2604162.883, 1227677.165], [2604169.157, 1227667.508], [2604202.965, 1227615.479],
        [2604201.87, 1227612.607], [2604197.524, 1227601.21], [2604189.776, 1227598.278],
        [2604122.977, 1227573.002], [2604076.763, 1227555.475], [2604061.337, 1227549.625],
        [2604050.449, 1227545.496], [2604000.084, 1227526.614], [2603995.009, 1227524.688],
        [2603957.714, 1227510.535], [2603905.07, 1227490.558], [2603873.832, 1227478.759],
        [260[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2603888.165006131,1227609.5322569455,2603938.165006131,1227659.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_linie.data/?bbox=2603888.165006131,1227609.5322569455,2603938.165006131,1227659.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2603900.665006131,1227622.0322569455,2603925.665006131,1227647.0322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2603888.165006131,1227609.5322569455,2603938.165006131,1227659.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreis.data/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        839, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2603458.421,
        1227816.076], [2603496.521, 1227900.375], [2603546.821, 1227982.174], [2603607.92,
        1228[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2603888.165006131,1227609.5322569455,2603938.165006131,1227659.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2603900.665006131,1227622.0322569455,2603925.665006131,1227647.0322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_punkt.data/?bbox=2603863.165006131,1227584.5322569455,2603963.165006131,1227684.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2603888.165006131,1227609.5322569455,2603938.165006131,1227659.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        12664, "geometry": {"type": "Polygon", "coordinates": [[[2604894.941, 1226570.362],
        [2604876.407, 1226581.578], [2604868.019, 1226587.655], [2604859.361, 1226599.01[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?filter=%5B%5B%22grundnutzungsart%22,%22ilike%22,%22Wald%22%5D%5D&bbox=2603888.165006131,1227609.5322569455,2603938.165006131,1227659.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        454921, "geometry": {"type": "Polygon", "coordinates": [[[2604298.639, 1227960.369],
        [2604295.16, 1227957.36], [2604294.051, 1227958.325], [2604292.91[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37328, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2602757.017,
        1225789.569], [2602768.455, 1225785.135], [2602771.852, 1225786.411], [2602759.231,
        122[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge/?bbox=2603903.165006131,1227624.5322569455,2603923.165006131,1227644.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_flaeche.data/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        4227, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2603659.212,
        1227679.343], [2603660.987, 1227679.883], [2603660.601, 1227681.025], [2603668.75[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_linie.data/?bbox=2603888.165006131,1227609.5322569455,2603938.165006131,1227659.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundstuecke.rechtskraeftig.data/?bbox=2603913.165006131,1227634.5322569455,2603913.165006131,1227634.5322569455
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        15109728, "geometry": {"type": "Polygon", "coordinates": [[[2603695.725, 1227624.02],
        [2603711.32, 1227630.241], [2603743.344, 1227643.069], [2603791.388, 1227662.205],
        [2603881.668, 1227698.291], [2603889.955, 1227693.169], [2604000.084, 1227526.614],
        [2603905.07, 1227490.558], [2603808.754, 1227454.178], [2603753.969, 1227536.333],
        [2603695.725, 1227624.02]]]}, "properties": {"nummer": "9", "art_txt": "Liegenschaft",
        "egrid": "CH727351320675", "nbident": "SO0200002454"}}], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}, "bbox": [2603695.725,
        1227454.178, 2604000.084, 1227698.291]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
