interactions:
- request:
    body: geometry=2654372%2C1242469%2C2654374%2C1242471&layers=all&tolerance=0&mapExtent=2608986%2C1211613%2C2690520%2C1288912&geometryType=esriGeometryEnvelope&imageDisplay=10%2C10%2C96&returnGeometry=false&f=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.ag.ch/geoportal/rest/services/afb_gischeck_diba/MapServer/identify
  response:
    body:
      string: "{\"results\":[{\"layerId\":1,\"layerName\":\"Gemeinden (Einzelfl\xE4chen)\",\"displayFieldName\":\"GEMEINDE\",\"value\":\"D\xFCrren\xE4sch\",\"attributes\":{\"OBJECTID\":\"53\",\"GDENR\":\"4134\",\"GEMEINDE\":\"D\xFCrren\xE4sch\",\"GEMEINDEZ\":\"D\xFCrren\xE4sch\",\"GEMEINDEU\":\"Duerrenaesch\",\"BZNR\":\"1905\",\"BEZIRK\":\"Kulm\",\"KTNR\":\"19\",\"KANTON\":\"Aargau\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"5907471.038385\",\"SHAPE.STLength()\":\"13241.917925\"}},{\"layerId\":22,\"layerName\":\"AV:
        Parzellen\",\"displayFieldName\":\"NUMMER\",\"value\":\"226\",\"attributes\":{\"OBJECTID\":\"60838135\",\"FILEID\":\"173\",\"GDENR\":\"4134\",\"GDENRPARZ\":\"413400226\",\"NUMMER\":\"226\",\"EGRID\":\"CH413975767283\",\"ART\":\"Liegenschaft\",\"FLAECHE\":\"5092\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"5091.86626\",\"SHAPE.STLength()\":\"387.88026\"}},{\"layerId\":36,\"layerName\":\"Arch\xE4ologische
        Fundstellen nach Typ, mit Denkmalschutz\",\"displayFieldName\":\"FST_SIGNAT\",\"value\":\"100(A)3\",\"attributes\":{\"OBJECTID\":\"1211\",\"FST_SIGNAT\":\"100(A)3\",\"ID\":\"6325\",\"KATDENKMAL\":\"A0\",\"KATEGORIE\":\"A\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"70962.680357\",\"SHAPE.STLength()\":\"944.333616\",\"Text_Gemeinde\":\"Null\",\"Gem_2000\":\"D\xFCrren\xE4sch\",\"Denkmalschutz\":\"0\"}},{\"layerId\":41,\"layerName\":\"\xDCberlagerte
        Schutzr\xE4ume f\xFCr Lebensr\xE4ume und Landschaften (ohne Gew\xE4sserraum)\",\"displayFieldName\":\"NameNummer\",\"value\":\"37643\",\"attributes\":{\"OBJECTID\":\"37643\",\"GDENR\":\"D\xFCrren\xE4sch
        4134\",\"HNCode\":\"52\",\"HNBez\":\"\xDCberlagernde Schutzzonen f\xFCr Lebensr\xE4ume
        und Landschaften\",\"KTCode\":\"5211\",\"KTAbk\":\"LS\",\"KTBez\":\"Landschaftsschutzzone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"521101\",\"GDEBez\":\"Landschaftsschutzzone\",\"GDEAbk\":\"LSZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"NameNummer\":\"Null\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2023-000045\",\"GeschNr\":\"BVUARE.13.8\",\"Bemerkungen\":\"Null\",\"KTLabel\":\"Null\",\"KTAAbk\":\"S\",\"Geolink\":\"4665\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/4665.html\",\"OEREBexport\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"SHAPE\":\"Polygon\",\"SHAPE.STArea()\":\"808247.045667\",\"SHAPE.STLength()\":\"7881.625831\"}},{\"layerId\":93,\"layerName\":\"Gew\xE4sserschutzbereich
        Au\",\"displayFieldName\":\"TYP\",\"value\":\"Au\",\"attributes\":{\"OBJECTID_1\":\"45\",\"OBJECTID\":\"6\",\"TYP\":\"Au\",\"Shape\":\"Polygon\",\"SHAPE.STArea()\":\"418252121.725739\",\"SHAPE.STLength()\":\"942348.004738\"}},{\"layerId\":147,\"layerName\":\"Kulturlandplan:
        zusammengefasste Legende (6 Kategorien)\",\"displayFieldName\":\"NameNummer\",\"value\":\"152885\",\"attributes\":{\"OBJECTID\":\"152885\",\"GDENR\":\"D\xFCrren\xE4sch
        4134\",\"HNCode\":\"21\",\"HNBez\":\"Allgemeine Landwirtschaftszonen\",\"KTAAbk\":\"Landwirtschaftszonen\",\"KTCode\":\"2111\",\"KTAbk\":\"AL\",\"KTBez\":\"Allgemeine
        Landwirtschaftszone\",\"KTVerb\":\"Nutzungsplanfestlegung\",\"GDECode\":\"211101\",\"GDEBez\":\"Landwirtschaftszone\",\"GDEAbk\":\"LWZ\",\"GDEZweck\":\"Null\",\"GDEVerb\":\"Nutzungsplanfestlegung\",\"AZmin\":\"Null\",\"AZmax\":\"Null\",\"BMZmin\":\"Null\",\"BMZmax\":\"Null\",\"GFZmin\":\"Null\",\"GFZmax\":\"Null\",\"UEZmin\":\"Null\",\"UEZmax\":\"Null\",\"GZ\":\"Null\",\"WNZ\":\"Null\",\"NameNummer\":\"Null\",\"ES\":\"ES_III\",\"ES_aufgest\":\"nein\",\"Strasse\":\"nein\",\"Rechtsstatus\":\"inKraft\",\"RRBNr\":\"2023-000045\",\"Bemerkung\":\"Null\",\"GeschNr\":\"BVUARE.13.8\",\"UB\":\"Null\",\"KTLabel\":\"Null\",\"Geolink\":\"4665\",\"Geolink_ES\":\"2958\",\"Link\":\"https://oereblex.ag.ch/api/geolinks/4665.html\",\"OEREBexport\":\"ja\",\"OEREBexport_ES\":\"ja\",\"OEREBexport_GWR\":\"nein\",\"Shape\":\"Polygon\",\"Shape.STArea()\":\"38820.523452\",\"Shape.STLength()\":\"922.611919\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"e8add45a"'
    status:
      code: 200
      message: OK
[...]
