interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"results": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2606215.992581233,1235072.657259761,2606315.992581233,1235172.657259761
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.bafu.bundesinventare-bln", "layerName":
        "BLN", "featureId": 1230, "id": 1230, "attributes": {"bln_name": "Weissenstein",
        "bln_obj": 1010, "bln_fl": 3496.777, "subareanumber": 0.0, "subareaname":
        null, "linkurldescription": "https://data.geo.admin.ch/ch.bafu.bundesinventare-bln/objectsheets/2017revision/nr1010.pdf",
        "label": "Weissenstein"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2606240.992581233,1235097.657259761,2606290.992581233,1235147.657259761
  response:
    body:
      string: '{"results": [{"layerBodId": "ch.astra.ivs-reg_loc", "layerName": "IVS
        Regional und Lokal", "featureId": 106589, "id": 106589, "attributes": {"ivs_slaname":
        "H\u00e4chler - Schitterwald", "ivs_nummer": "SO 421", "ivs_signatur": "102",
        "ivs_signatur_fr": "Importance locale, trac\u00e9 historique avec substance",
        "ivs_signatur_it": "Importanza locale, tracciato storico con sostanza", "ivs_signatur_de":
        "Lokale Bedeutung, historischer Verlauf mit Substanz", "ivs_kanton": "SO",
        "ivs_sladatehist": null, "ivs_sladatemorph": "20160407", "ivs_slabedeutung":
        "1", "ivs_sortsla": "SO04210000", "bgdi_created": "11.10.2016", "label": "SO
        421"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.afu.gewaesserschutz.zonen_areale.data_v2/?bbox=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.erschliessungsplanung_flaeche.data/?bbox=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.grundnutzung.data/?bbox=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        10788, "geometry": {"type": "Polygon", "coordinates": [[[2606484.094, 1235764.766],
        [2606489.148, 1235763.567], [2606506.524, 1235769.392], [2606514.201, 1235766.808],
        [2606515.8, 1235755.731], [2606512.073, 1235750.425], [2606503.005, 1235749.921],
        [2606481.075, 1235751.24], [2606478.432, 1235745.826], [2606480.494, 1235731.738],
        [2606483.961, 1235723.495], [2606495.745, 1235724.223], [2606506.486, 1235724.727],
        [2606514.149, 1235719.159], [2606519.933, 1235704.178], [2606519.642, 1235688.984],
        [260[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_punkt.data/?bbox=2606240.992581233,1235097.657259761,2606290.992581233,1235147.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_linie.data/?bbox=2606240.992581233,1235097.657259761,2606290.992581233,1235147.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        10988, "geometry": {"type": "MultiLineString", "coordinates": [[[2605823.248,
        1234994.676], [2605918.875, 1235020.927], [2605990.127, 1235039.678], [2606027.628,
        1235047.178], [2606081.379, 1235063.428], [2606115.13, 1235070.928], [2606188.882,
        1235082.179], [2606230.133, 1235090.304], [2606278.884, 1235106.554], [2606335.136,
        1235132.805], [2606385.137, 1235152.806], [2606426.389, 1235165.307], [2606463.891,
        1235174.057], [2606485.142, 1235177.807]]]}, "properties": {"objekttyp": "Historischer_Verkehrsweg"}}],
        "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}},
        "bbox": [2605823.248, 1234994.676, 2606485.142, 1235177.807]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.flaechenobjekt.data/?bbox=2606253.492581233,1235110.157259761,2606278.492581233,1235135.157259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Wald%25%22%5D%5D&bbox=2606240.992581233,1235097.657259761,2606290.992581233,1235147.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        13798781, "geometry": {"type": "Polygon", "coordinates": [[[2604868.379, 1233782.848],
        [2604878.138, 1233788.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.grundbuchkreis.data/?bbox=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        828, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2603590.576,
        1236657.613], [2603590.954, 1236676.989], [2603613.683, 1236753.228], [2603639.891,
        12367[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_linie.data/?bbox=2606240.992581233,1235097.657259761,2606290.992581233,1235147.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.ada.denkmalschutz.punktobjekt.data/?bbox=2606253.492581233,1235110.157259761,2606278.492581233,1235135.157259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_punkt.data/?bbox=2606215.992581233,1235072.657259761,2606315.992581233,1235172.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.bodenbedeckung.data/?filter=%5B%5B%22art_txt%22,%22ilike%22,%22%25Gewaesser%25%22%5D%5D&bbox=2606240.992581233,1235097.657259761,2606290.992581233,1235147.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?bbox=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        12268, "geometry": {"type": "Polygon", "coordinates": [[[2608268.113, 1236532.427],
        [2608270.72, 1236532.814], [2608307.798, 1236541.053], [2608314.665, 1236603.192],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.grundnutzung.data/?filter=%5B%5B%22grundnutzungsart%22,%22ilike%22,%22Wald%22%5D%5D&bbox=2606240.992581233,1235097.657259761,2606290.992581233,1235147.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        12268, "geometry": {"type": "Polygon", "coordinates": [[[2608268.113, 1236532.427],
        [2608270.72, 1236[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.nutzungsplanung.ueberlagernd_flaeche.data/?bbox=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.gemeindegrenzen.data/?bbox=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        37306, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2598321.735,
        1233486.271], [2598331.462, 1233500.043], [2598344.223, 1233537.415], [2598354.024,
        12335[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.agi.av.gebaeudeadressen.gebaeudeeingaenge/?bbox=2606255.992581233,1235112.657259761,2606275.992581233,1235132.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [], "crs": {"type": "name",
        "properties": {"name": "urn:ogc:def:crs:EPSG::2056"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.arp.richtplan.ueberlagernd_flaeche.data/?bbox=2606265.992581233,1235122.657259761,2606265.992581233,1235122.657259761
  response:
    body:
      string: '{"type": "FeatureCollection", "features": [{"type": "Feature", "id":
        16357, "geometry": {"type": "MultiPolygon", "coordinates": [[[[2624354.753,
        1239793.579], [2624348.495, 1239788.464], [2624340.179, 1239786.396], [2624295.799[...]
