interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_grundstueck.data/?bbox=2607345.0,1228110.0,2607345.0,1228110.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157334297,
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [[[2607323.728, 1228115.44], [2607327.554, 1228137.342], [2607329.353, 1228147.816], [2607329.173, 1228158.477], [2607340.594, 1228147.747], [2607339.558, 1228146.78], [2607364.06, 1228125.393], [2607366.614, 1228123.144], [2607364.576, 1228119.067], [2607364.185, 1228118.334], [2607353.05, 1228095.431], [2607327.606, 1228108.049], [2607327.405534471, 1228108.11373933], [2607327.207526551, 1228108.185645326], [2607327.012232354, 1228108.264624981], [2607326.819904489, 1228108.350576137], [26073[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_lokalisation_gebaeudeeingang.data/?bbox=2607335.0,1228100.0,2607355.0,1228120.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "id": 157488072,
                    "geometry": {
                        "type": "Point",
                        "coordinates": [2607344.209, 1228109.589]
                    },
                    "properties": {
                        "ortschaft": "Solothurn",
                        "plz": 4500,
                        "edid": 0,
                        "egid": null,
                        "strassenname": "Krummturmstrasse",
                        "hausnummer": "3",
                        "t_id": 157488072
                    }
                }
            ],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 1,
            "numberReturned": 1,
            "bbox": [
                2607344.209,
                1228109.589,
                2607344.209,
                1228109.589
            ]
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2607332.5,1228097.5,2607357.5,1228122.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.Denkmalschutz%22%5D%5D&bbox=2607332.5,1228097.5,2607357.5,1228122.5
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungGrundnutzung%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.GefahrengebietSynoptisch%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Fruchtfolgeflaechen%22%5D,%22or%22[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_punkte.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.Archaeologie%22%5D%5D&bbox=2607320.0,1228085.0,2607370.0,1228135.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_linien.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D,%22or%22,%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungErschliessung%22%5D%5D&bbox=2607320.0,1228085.0,2607370.0,1228135.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22thema%22,%22=%22,%22ch.SO.NutzungsplanungUeberlagernd%22%5D%5D&bbox=2607320.0,1228085.0,2607370.0,1228135.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Wald%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2607320.0,1228085.0,2607370.0,1228135.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://geo-i.so.ch/api/data/v1/ch.so.dsbjd.ebauso_fachthemen_flaechen.data/?filter=%5B%5B%22artcode%22,%22ilike%22,%22%25Gewaesser%25%22%5D,%22and%22,%5B%22thema%22,%22=%22,%22ch.SO.Bodenbedeckung%22%5D%5D&bbox=2607320.0,1228085.0,2607370.0,1228135.0
  response:
    body:
      string: |
        {
            "type": "FeatureCollection",
            "features": [],
            "crs": {
                "type": "name",
                "properties": {
                    "name": "urn:ogc:def:crs:EPSG::2056"
                }
            },
            "numberMatched": 0,
            "numberReturned": 0
        }
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-amphibien,ch.bafu.bundesinventare-amphibien_wanderobjekte,ch.bafu.bundesinventare-vogelreservate,ch.bafu.bundesinventare-auen,ch.bafu.bundesinventare-auen_anhang2,ch.bafu.bundesinventare-auen_vegetation_alpin,ch.bafu.bundesinventare-flachmoore,ch.bafu.bundesinventare-hochmoore,ch.bafu.bundesinventare-moorlandschaften,ch.bafu.bundesinventare-jagdbanngebiete,ch.bafu.bundesinventare-trockenwiesen_trockenweiden,ch.bafu.bundesinventare-trockenwiesen_trockenweiden_anhang2&geometryType=esriGeometryEnvelope&geometry=2607345.0,1228110.0,2607345.0,1228110.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.bafu.bundesinventare-bln&geometryType=esriGeometryEnvelope&geometry=2607295.0,1228060.0,2607395.0,1228160.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/MapServer/identify?returnGeometry=False&sr=2056&mapExtent=0,0,0,0&tolerance=0&imageDisplay=0,0,0&layers=all:ch.astra.ivs-nat,ch.astra.ivs-reg_loc&geometryType=esriGeometryEnvelope&geometry=2607320.0,1228085.0,2607370.0,1228135.0
  response:
    body:
      string: |
        {
            "results": []
        }
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
