interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wps.geo.gr.ch/?service=WPS&version=1.0.0&request=Execute&storeExecuteResponse=false&lineage=false&status=false&identifier=get_info_ebbv&datainputs=geometry=POINT(2757567.75%201192209.3312499998)
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wps:ExecuteResponse xmlns:wps=\"http://www.opengis.net/wps/1.0.0\"
        xmlns:ows=\"http://www.opengis.net/ows/1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.opengis.net/wps/1.0.0
        ../wpsExecute_response.xsd\" service=\"WPS\" version=\"1.0.0\" xml:lang=\"de-CH\"
        serviceInstance=\"http://wps.geo.gr.ch/?request=GetCapabilities&amp;amp;service=WPS\"
        statusLocation=\"\">\n    <wps:Process wps:processVersion=\"1.0.0\">\n        <ows:Identifier>get_info_ebbv</ows:Identifier>\n
        \       <ows:Title>Diverse Layer-Informationen fuer eBBV anhand Geometrie</ows:Title>\n
        \       <ows:Abstract></ows:Abstract>\n\t</wps:Process>\n    <wps:Status creationTime=\"2023-10-16T10:48:34Z\">\n
        \       <wps:ProcessSucceeded>PyWPS Process Diverse Layer-Informationen fuer
        eBBV anhand Geometrie finished</wps:ProcessSucceeded>\n\t</wps:Status>\n\t<wps:ProcessOutputs>\n\t\t<wps:Output>\n
        \           <ows:Identifier>folgeplanung_bau_niveaulinienplaene</ows:Identifier>\n
        \           <ows:Title>Folgeplanung - Bau Niveaulinienplanung</ows:Title>\n
        \           <ows:Abstract></ows:Abstract>\n\t\t\t<wps:Data>\n                <wps:LiteralData
        \ dataType=\"string\">&lt;?xml version=&#34;1.0&#34; encoding=&#34;UTF-8&#34;
        ?&gt;&lt;root&gt;&lt;/root&gt;</wps:LiteralData>\n\t\t\t</wps:Data>\n\t\t</wps:Output>\n\t\t<wps:Output>\n
        \           <ows:Identifier>folgeplanung_quartierplaene</ows:Identifier>\n
        \           <ows:Title>Folgeplanung - Quartierplaene</ows:Title>\n            <ows:Abstract></ows:Abstract>\n\t\t\t<wps:Data>\n
        \               <wps:LiteralData  dataType=\"string\">&lt;?xml version=&#34;1.0&#34;
        encoding=&#34;UTF-8&#34; ?&gt;&lt;root&gt;&lt;/root&gt;</wps:LiteralData>\n\t\t\t</wps:Data>\n\t\t</wps:Output>\n\t\t<wps:Output>\n
        \           <ows:Identifier>folgeplanung_arealplaene</ows:Identifier>\n            <ows:Title>Folgeplanung
        - Arealplaene</ows:Title>\n            <ows:Abstract></ows:Abstract>\n\t\t\t<wps:Data>\n
        \               <wps:LiteralData  dataType=\"string\">&lt;?xml version=&#34;1.0&#34;
   [...]
