{{! template-lint-disable no-bare-strings}}
{{page-title "Ebau"}}
{{! template-lint-enable }}

<MainNavigation />

{{#if this.hasSidebar}}
  {{outlet}}
{{else}}
  <div class="uk-container main-content">
    {{outlet}}
  </div>
{{/if}}