<h2 id="title">Welcome to Ember</h2>
<h3>Modules</h3>
<div class="uk-width-1-2@s uk-width-2-5@m">
  <ul class="uk-nav uk-nav-default">
    <li>
      <LinkTo @route="communications">
        Communications
      </LinkTo>
    </li>
  </ul>
</div>
