.be-navbar {
  padding-top: 20px;
  border-bottom: 1px solid $global-border;

  .be-navbar-internal-link {
    color: $navbar-nav-item-color;
    text-transform: uppercase;
    font-size: 0.85rem;
    transition: 300ms ease color;

    &:hover {
      color: $navbar-nav-item-hover-color;
      text-decoration: none;
    }
  }

  .main-logo-be,
  .main-logo-demo {
    display: block;
    height: 2rem;
  }

  .main-logo-ur {
    display: block;
    height: 67px;
  }

  .secondary-logo {
    height: 45px;
  }

  .logo-gr .aside-languages {
    margin-top: -2px;
  }

  .uk-navbar-left ul > li > a {
    transition: 300ms ease box-shadow, 300ms ease color;
  }

  .uk-navbar-left ul > li.uk-active > a {
    box-shadow: inset 0 -1px 0 0 $global-primary-background,
      0 1px 0 0 $global-primary-background;
  }
}
