$global-primary-background: #f00;
$modal-z-index: 1;
$global-font-family: Arial, Helvetica, sans-serif;
$global-font-size: 14px;

@import "ember-uikit";
@import "ember-caluma";
@import "ember-power-select";

@import "embedded";
@import "gis";

// Make help-icons more eye-catchy as requested by the client.
button.uk-icon[uk-icon="info"] {
  background-color: transparent;

  svg {
    color: $global-primary-background;
  }
}
