@import "variables";

@import "ember-uikit";
@import "@projectcaluma/ember-form";
@import "@projectcaluma/ember-form-builder";
@import "ember-power-select";

@import "a11y";
@import "be-dashboard";
@import "be-gis";
@import "be-navbar";
@import "embedded";
@import "instances";
@import "pikaday";
@import "visibility";

@import "components/ur-gis";

$badge-in-tab-ratio: 0.85;

.uk-tab > li > a .uk-badge {
  min-width: $badge-size * $badge-in-tab-ratio;
  height: $badge-size * $badge-in-tab-ratio;
  padding: $badge-padding-vertical * $badge-in-tab-ratio
    $badge-padding-horizontal * $badge-in-tab-ratio;
  border-radius: $badge-border-radius * $badge-in-tab-ratio;
  font-size: $badge-font-size * $badge-in-tab-ratio;
}

.uk-table .uk-icon {
  min-width: 20px;
  min-height: 20px;
}

.white-space-pre-line {
  white-space: pre-line;
}
