$global-primary-background: #f00;
$modal-z-index: 1;
$global-font-family: Arial, Helvetica, sans-serif;
$global-font-size: 14px;

@import "ember-uikit";
@import "ember-caluma";
@import "ember-power-select";

@import "embedded";
@import "gis";
@import "be-claims";

// Make help-icons more eye-catchy as requested by the client.
button.uk-icon[uk-icon="info"] {
  background-color: transparent;

  svg {
    color: $global-primary-background;
  }
}

$badge-in-tab-ratio: 0.85;

.uk-tab > li > a .uk-badge {
  min-width: $badge-size * $badge-in-tab-ratio;
  height: $badge-size * $badge-in-tab-ratio;
  padding: $badge-padding-vertical * $badge-in-tab-ratio
    $badge-padding-horizontal * $badge-in-tab-ratio;
  border-radius: $badge-border-radius * $badge-in-tab-ratio;
  font-size: $badge-font-size * $badge-in-tab-ratio;
}
