{{#camac-form instance=model.instance meta=model.meta as |form|}}
  {{#form.input 'bezeichnung'}}
    <h4>Bezeichung und Lokalisierung des Vorhabens</h4>
  {{/form.input}}
{{/camac-form}}

{{camac-property-selector
  readonly  = model.instance.identifier
  selected  = (hash
    points  = points.value
    parcels = parcels.value
  )
  on-submit = (perform saveLocation)
}}
