<div class="uk-padding">
  <button {{action (perform submit)}}>Einreichen</button>
</div>
<div class="uk-padding">
  {{#if model.data.value}}
    {{cf-navigation
      documentId=(atob model.data.value.document.id)
      section=section
      subSection=subSection
    }}
  {{/if}}
</div>