<div class="uk-padding">
  {{#let model.data.value.firstObject.node as |case|}}
    {{cf-navigation
      documentId=(atob case.document.id)
      disabled=(or (eq case.status "COMPLETED") isEmbedded)
      section=section
      subSection=subSection
      context=(hash
        caseId=case.id
        headers=headers
      )
    }}
  {{/let}}
</div>