<div class="uk-padding">
  {{cf-navigation
    documentId=(atob model.data.value.firstObject.node.document.id)
    disabled=(eq model.data.value.status "COMPLETED")
    section=section
    subSection=subSection
    context=(hash
      caseId=model.data.value.firstObject.node.id
    )
  }}
</div>