<div class="uk-padding">
  {{cf-navigation
    documentId=(atob model.data.value.firstObject.node.document.id)
    disabled=(or (eq model.data.value.status "COMPLETED") isEmbedded)
    section=section
    subSection=subSection
    context=(hash
      caseId=model.data.value.firstObject.node.id
      group=group
      role=role
    )
  }}
</div>