<html>
<head>
	<meta charset="utf-8">
	<title>I-Web-Portal-Mock</title>
</head>
<body>
	<h2>I-Web-Portal-Mock</h2>

	{{{body}}}

	<div id="last_element" style="display: none;"></div>
</body>
</html>

