.dossier-import__upload-divider {
  height: 50px !important;
}

.dossier-import__margin-small {
  margin-top: 3px;
}

.dossier-import__icon-box {
  margin-top: 2px;
  margin-right: 5px;
  width: 17px;
  height: 16px;
}

.dossier-import__icon {
  width: 13px;
  height: 13px;
  border-radius: 26px !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  stroke-width: 5;
  polyline,
  circle,
  path {
    stroke-width: 3;
  }

  &--success {
    background: rgb(12, 192, 12) !important;
    color: white !important;
  }

  &--warning {
    background: rgb(253, 189, 93) !important;
    color: white !important;
    width: 17px;
    height: 16px;
    margin-top: -1px !important;
    margin-left: -2px !important;
  }

  &--error {
    background: #ff6e6e !important;
    color: white !important;
  }
}
