[run]
source=.

[report]
fail_under=100

exclude_lines =
    pragma: no cover
    pragma: todo cover
    def __str__
    def __unicode__
    def __repr__

omit=
    */postgresql_dbdefaults/*
    */migrations/*
    */apps.py
    */admin.py
    manage.py
    setup.py
    camac/settings_*.py
    camac/wsgi.py
    # TODO: write tests for the following
    camac/core/management/commands/importmunis.py
    camac/core/management/commands/importrsta.py
    camac/core/management/commands/importservices.py
    camac/core/management/commands/sequencenamespace.py
    gisbern/confederation.py

show_missing = True
