[run]
source=.

[report]
fail_under=100

exclude_lines =
    pragma: no cover
    pragma: todo cover
    def __str__
    def __unicode__
    def __repr__

omit=
    */postgresql_dbdefaults/*
    */migrations/*
    */apps.py
    */admin.py
    camac/echbern/schema/*
    manage.py
    setup.py
    form_json_helper.py
    camac/settings_*.py
    camac/wsgi.py
    # TODO: write tests for the following
    camac/core/dataimport.py
    camac/core/management/commands/clean_caluma_config.py
    camac/core/management/commands/importmunis.py
    camac/core/management/commands/importrsta.py
    camac/core/management/commands/importservices.py
    camac/core/management/commands/sequencenamespace.py
    camac/core/management/commands/duplicate-instance.py
    # Temporary entries for landing !2391 into master
    camac/caluma/extensions/permissions.py
    camac/caluma/extensions/validations.py
    # Temporary exlusions, remove when publication permission endpoint is reenabled
    # revert !2353 to remove
    camac/core/views.py
    camac/core/tests/test_publication_permissions.py
    camac/core/serializers.py

show_missing = True
