Babel==2.17.0
backoff==2.2.1
boto3==1.40.26
caluma==12.2.2
caluma-alexandria==8.0.1
celery==5.5.3
codetiming==1.4.0
cryptography==44.0.2
dataclasses-json==0.6.7
deepmerge==2.0
defusedxml==0.7.1
# check camac/admin.py MultilingualAdminMixin.get_search_result before updating
Django==5.2.7
django-admin-sortable2==2.2.8
django-celery-beat==2.8.1
django-clamd==1.0.0
django-environ==0.12.0
django-excel==0.0.10
django-filter==25.1
django-generic-api-permissions==2.0.0
django-ipware==7.0.1
django-json-widget==2.0.3
django-presigned-url==0.1.1
# might be able to switch back to main fork https://github.com/Koed00/django-q/issues/735
django-q2==1.8.0
django-reversion==5.1.0
django-simple-captcha==0.6.2
django-storages==1.14.6
# check camac/filter.py MultilingualSearchFilter.filter_queryset before updating
djangorestframework==3.16.1
djangorestframework-jsonapi==8.0.0
djangorestframework-xml==2.0.0
docxtpl==0.20.1
drf-extra-fields==3.7.0
drf-yasg==1.21.10
ebau-gwr==0.8.2
gunicorn==23.0.0
hdbcli==2.25.31
holidays==0.80
Jinja2==3.1.6
jsonpath-ng==1.7.0
jwcrypto==1.5.6
lxml==6.0.1
manabi==2.0.1
mozilla-django-oidc==4.0.1
openpyxl==3.1.5
Pillow==11.3.0
psycopg==3.2.10
pydantic==2.11.7
pyexcel-io==0.6.7
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.1
PyJWT==2.10.1
pymemcache==4.0.0
pypdf==6.0.0
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-keycloak==5.8.1
PyXB-X==1.2.6.3
qrcode==8.2
rapidfuzz==3.14.1
redis==6.4.0
requests==2.32.5
requests_oauthlib==2.0.0
requests-toolbelt==1.0.0
# TODO: When updating sorl-thumbnail to a version that includes
# https://github.com/jazzband/sorl-thumbnail/pull/778, you can remove the
# monkeypatch in camac/document/apps.py
sorl-thumbnail==12.11.0
tabulate==0.9.0
tqdm==4.67.1
urllib3==2.5.0
uWSGI==2.0.30
whitenoise==6.9.0
WsgiDAV==4.3.3
xmlschema==4.1.0
