Babel==2.10.3
caluma==9.3.0
dataclasses-json==0.5.7
deepmerge==1.0.1
Django==3.2.19
django-admin-sortable2==1.0.4
django-clamd==0.4.0
django-environ==0.10.0
django-excel==0.0.10
django-extra-fields==3.0.2
django-filter==23.2
django-json-widget==1.1.1
django-q==1.3.9
django-reversion==5.0.2
djangorestframework==3.13.1
djangorestframework-jsonapi==5.0.0
djangorestframework-xml==2.0.0
docxtpl==0.16.4
drf-yasg==1.21.3
ebau_gwr==0.6.2
Jinja2==3.1.2
manabi==1.2.0
mozilla-django-oidc==2.0.0
openpyxl==3.0.10
Pillow==9.2.0
psycopg2-binary==2.9.3
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
PyJWT==2.4.0
PyPDF2==2.10.5
pyproj==3.3.1
python-dateutil==2.8.2
python-keycloak==2.5.0
python-memcached==1.59
PyXB-X==1.2.6.1
qrcode==7.3.1
requests==2.31.0
requests-toolbelt==0.9.1
sorl-thumbnail==12.9.0
tabulate==0.8.10
tqdm==4.64.1
uWSGI==2.0.20
whitenoise==6.2.0
xmlschema==2.0.4
caluma-alexandria==2.2.0
