django==1.11.9 # pyup: >=1.11,<1.12
django-environ==0.4.4
django-filter==1.1.0
djangorestframework==3.7.7
djangorestframework-jsonapi==2.4.0
djangorestframework-jwt==1.10.0
psycopg2==2.7.3.2
python-memcached==1.59
Pillow==5.0.0
sorl-thumbnail==12.4.1

# move back to main release once following PR is released:
# https://github.com/benoitbryon/django-downloadview/pull/142
git+https://github.com/adfinis-forks/django-downloadview.git@django_middleware
