<CamacForm @instance={{@model.instance}} @meta={{@model.meta}} as |form|>
  <form.input @identifier="energie-art"/>
  <form.input @identifier="energie-dachaufstellung"/>
  <form.input @identifier="energie-uberragt-rechter-winkel"/>
  <form.input @identifier="energie-uberragt"/>
  <form.input @identifier="energie-reflexionsarm"/>
  <form.input @identifier="energie-kompakt"/>
  <form.input @identifier="energie-thermisch-kollektorenart">
    <h4>
      Thermische Solaranlage
    </h4>
  </form.input>
  <form.input @identifier="energie-thermisch-aufbereitung"/>
  <form.input @identifier="energie-thermisch-grosse"/>
  <form.input @identifier="energie-photovoltaik-technologie">
    <h4>
      Photovoltaikanlage
    </h4>
  </form.input>
  <form.input @identifier="energie-photovoltaik-gesamtleistung"/>
  <form.input @identifier="energie-photovoltaik-jahresertrag"/>
  <form.input @identifier="energie-photovoltaik-flache"/>
  <form.input @identifier="energie-inbetriebnahme"/>
  <form.input @identifier="datenverschnitt-energie"/>
</CamacForm>