$expired-color: #cc0000;
$expiring-color: #ff8800;

.work-item-list {
  tr.highlight {
    th:first-child,
    td:first-child {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    th:nth-child(2),
    td:nth-child(2) {
      border-left: none !important;
    }

    td:first-child {
      text-align: center;

      &::before {
        content: "";
        display: inline-flex;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 0 0 0 5px;
        padding: 0;
        border: 1px solid lightgrey;
      }
    }

    &--not-viewed {
      font-weight: 700;
    }

    &--expired td:first-child::before {
      background-color: $expired-color;
      border-color: darken($expired-color, 10%);
    }

    &--expiring td:first-child::before {
      background-color: $expiring-color;
      border-color: darken($expiring-color, 10%);
    }
  }

  td:last-child {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  td {
    white-space: nowrap;
  }

  td.task,
  td.responsible {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
  }
}

@import "custom";
