@use "sass:color";

$expired-color: #c00;
$expiring-color: #f80;

.highlight {
  width: 20px;

  &::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
    border: 1px solid lightgrey;
  }

  &--expired::before {
    background-color: $expired-color;
    border-color: color.adjust($expired-color, $lightness: -10%);
  }

  &--expiring::before {
    background-color: $expiring-color;
    border-color: color.adjust($expiring-color, $lightness: -10%);
  }
}
