$expired-color: #cc0000;
$expiring-color: #ff8800;

.highlight {
  width: 20px;

  &::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
    border: 1px solid lightgrey;
  }

  &--expired::before {
    background-color: $expired-color;
    border-color: darken($expired-color, 10%);
  }

  &--expiring::before {
    background-color: $expiring-color;
    border-color: darken($expiring-color, 10%);
  }
}
