$global-primary-background: rgb(225, 10, 22);

$global-link-color: darken($global-primary-background, 10%);
$global-link-hover-color: darken($global-link-color, 10%);

$global-font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Helvetica Neue', Arial, sans-serif;
$global-font-size: 18px;

$base-body-font-weight: 300;
$base-heading-font-weight: 300;

$form-focus-border: rgb(87, 87, 87);

@import 'ember-uikit';
@import 'source-sans-pro';
@import 'ember-power-select-custom';

@import 'pod-styles';

.pointer {
  cursor: pointer;
}
