{{#camac-form instance=model.instance meta=model.meta as |form|}}
  <div uk-grid class="uk-child-width-1-1 uk-child-width-1-2@m">
    {{form.document 'dokument-grundstucksangaben'}}
    {{form.document 'dokument-gutachten-nachweise-begrundungen'}}
    {{form.document 'dokument-projektplane-projektbeschrieb'}}
    {{form.document 'dokument-weitere-gesuchsunterlagen'}}
  </div>
{{/camac-form}}
