<div class="uk-grid-collapse" uk-grid>
  <div class="uk-width-1-6 uk-first-column">
    <span class="uk-text-large">
      {{@sectionTitle}}
    </span>
  </div>
  <div class="uk-width-5-6">
    <table class="uk-table uk-table-justify uk-table-small unstyled">
      <tbody>
        {{yield}}
      </tbody>
    </table>
  </div>
</div>
