.work-item-list-instance-title {
  margin-bottom: 0;
}

.work-item-list-instance-table {
  margin: 10px 0;
}

.project-sz {
  .new-work-item {
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
