.work-item-attributes {
  display: flex;
  flex-wrap: wrap;

  .work-item-attribute {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    margin: 1em 0;

    &__title {
      font-weight: bold;
    }
  }
}

.pika-table td {
  padding: 0 !important;
  height: 0 !important;
}

.project-sz {
  .work-item-form {
    .label {
      margin: 10px 0 2px;
    }

    .ember-basic-dropdown,
    input[type="text"],
    textarea {
      box-sizing: border-box;
      width: 50%;
    }
  }
}
