<div class="uk-width-1-3">
  <label for={{@filterName}} class="uk-form-label">
    {{t (concat "cases.filters." @filterName)}}
  </label>
  <div class="uk-form-controls uk-margin-small-bottom">
    {{yield}}
  </div>
</div>
