tr.activation-warning {
  &.nfd {
    td:first-child {
      &::before {
        content: "";
        display: inline-flex;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 1px 0 0 5px;
        padding: 0;
        border: 1px solid darken($activation-warning-nfd, 10%);
        background-color: $activation-warning-nfd;
      }
    }
  }

  &.expired {
    td:first-child {
      &::before {
        content: "";
        display: inline-flex;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 1px 0 0 5px;
        padding: 0;
        border: 1px solid darken($activation-warning-expired, 10%);
        background-color: $activation-warning-expired;
      }
    }
  }

  &.due-shortly {
    td:first-child {
      &::before {
        content: "";
        display: inline-flex;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 1px 0 0 5px;
        padding: 0;
        border: 1px solid darken($activation-warning-due-shortly, 10%);
        background-color: $activation-warning-due-shortly;
      }
    }
  }
}

.activation-warning {
  &::before {
    content: "";
    display: inline-flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 1px 0 0 5px;
    padding: 0;
  }

  &.nfd {
    &::before {
      border: 1px solid darken($activation-warning-nfd, 10%);
      background-color: $activation-warning-nfd;
    }
  }

  &.expired {
    &::before {
      content: "";
      border: 1px solid darken($activation-warning-expired, 10%);
      background-color: $activation-warning-expired;
    }
  }

  &.completed {
    &::before {
      content: "";
      border: 1px solid darken($activation-warning-completed, 10%);
      background-color: $activation-warning-completed;
    }
  }
}