<div class="uk-flex uk-margin-bottom">
  <div
    class="uk-width-1-6 uk-width-small@m uk-margin-medium-right uk-margin-remove-right@m uk-flex-none uk-text-uppercase"
  >
    {{@title}}
  </div>
  <div class="uk-width-expand">
    {{yield}}
  </div>
</div>