<div>
  {{#if this.content.isRunning}}
    <UkSpinner />
  {{else if this.content.value}}
    <p>{{t "service-content.notice"}}</p>
    <MarkdownToHtml
      class="markdown-content service-content uk-background-muted uk-padding-small"
      @markdown={{this.content.value}}
      @openLinksInNewWindow={{true}}
    />
  {{/if}}
</div>