{{#if (has-feature "watermark")}}
  <div
    class="watermark {{if @isPortal 'watermark--portal' 'watermark--internal'}}"
  >
    <div class="watermark__badge">{{this.watermark}}</div>
  </div>
{{/if}}
