{{#a11y-landmark tagName='main'}}
  {{#service-worker-update-notify}}
    <div class="uk-text-center uk-padding-small uk-background-secondary uk-light">
      <a class="service-worker-update-notify" href="">
        Es existiert eine neue Version der Anwendung, klicken Sie hier um sie zu laden.
      </a>
    </div>
  {{/service-worker-update-notify}}

  {{focusing-outlet}}
{{/a11y-landmark}}
