{{#service-worker-update-notify}}
  <div class="uk-alert uk-alert-primary uk-text-center uk-animation-slide-top-medium">
    <a class="service-worker-update-notify" href="">
      Es existiert eine neue Version der Applikation, klicken Sie hier um sie zu laden.
    </a>
  </div>
{{/service-worker-update-notify}}

{{outlet}}
