{{#if (gt @numberOfPersons 1)}}
  <div>
    <a
      class="uk-link"
      href={{t "dashboard.linkToForm" instanceId=@instanceId instanceResourceId=this.formInstanceResourceId}}
    >
      {{ t "dashboard.furtherPeople" numberOfPersons=(sub @numberOfPersons 1)}}
    </a>
  </div>
{{/if}}
