<div>
  <a
    class="uk-link"
    href={{t "dashboard.linkToForm" instanceId=@instanceId instanceResourceId=@formInstanceResourceId}}
  >
    {{ t "dashboard.furtherPeople" numberOfPersons=(sub @numberOfPersons 1)}}
  </a>
</div>
