<CamacForm @instance={{@model.instance}} @meta={{@model.meta}} as |form|>
  <form.input @identifier="innerhalb-oder-ausserhalb-bauzonen">
    <h4>
      Kategorisierung des Vorhabens
    </h4>
  </form.input>
  <form.input @identifier="betrifft-landwirtschaftlichen-betrieb"/>
  <form.input @identifier="betrifft-wohngebaeude"/>
  <form.input @identifier="vorabklaerung-hinweis-1"/>
  <form.input @identifier="landwirtschaft-sak-wert"/>
  <form.input @identifier="landwirtschaft-gebietskategorie"/>
  <form.input @identifier="vorabklaerung-hinweis-2"/>
  <form.input @identifier="vorabklaerung-hinweis-3"/>
  <form.input @identifier="vorabklaerung-hinweis-4"/>
</CamacForm>