{{#if invalidFields.length}}
  <div class="uk-alert uk-alert-warning">
    <strong>{{t "submit.warning"}}</strong>
    <br>
    <ul class="uk-list uk-list-bullet">
      {{#each invalidFields as |field|}}
        <li>
          {{#link-to (query-params displayedForm=field.fieldset.form.slug)}}{{field.question.label}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{uk-button disabled=buttonDisabled label=field.question.label loading=submit.isRunning on-click=(perform submit)}}

{{#if submit.isRunning}}
  <span class="uk-text-muted uk-margin-small-left uk-animation-fade">Ihr Dossier wird geprüft. Bitte haben Sie einen Moment Geduld.</span>
{{/if}}