<CamacForm @instance={{@model.instance}} @meta={{@model.meta}} as |form|>
  <form.input @identifier="arbeitssicherheit-planbesprechung"/>
  <form.input @identifier="arbeitssicherheit-tangiert"/>
  <form.input @identifier="arbeitssicherheit-arbeitnehmer-raumen">
    <h4>
      Arbeitnehmer
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-arbeitnehmer-betrieb"/>
  <form.input @identifier="arbeitssicherheit-arbeitsraume-hohe">
    <h4>
      Arbeitsräume
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-arbeitsraume-fensterflache"/>
  <form.input @identifier="arbeitssicherheit-arbeitsraume-bodenflache-fensterflache"/>
  <form.input @identifier="arbeitssicherheit-arbeitsraume-brustungshohen"/>
  <form.input @identifier="arbeitssicherheit-ausgange-lage-treppenhause">
    <h4>
      Ausgänge
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-ausgange-laufbreite"/>
  <form.input @identifier="arbeitssicherheit-ausgange-material"/>
  <form.input @identifier="arbeitssicherheit-ausgange-fluchtwege"/>
  <form.input @identifier="arbeitssicherheit-ausgange-arten"/>
  <form.input @identifier="arbeitssicherheit-ausgange-schliessystem"/>
  <form.input @identifier="arbeitssicherheit-luftung-art">
    <h4>
      Lüftung
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-luftung-absaugungen"/>
  <form.input @identifier="arbeitssicherheit-luftung-verunreinigte-luft"/>
  <form.input @identifier="arbeitssicherheit-beleuchtung-raumbeleuchtung">
    <h4>
      Beleuchtung
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-beleuchtung-not-und-markierungsbeleuchtung"/>
  <form.input @identifier="arbeitssicherheit-innerbetriebliche-emissionen-raumklima">
    <h4>
      Innerbetriebliche Emissionen
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-innerbetriebliche-emissionen-erschütterungen"/>
  <form.input @identifier="arbeitssicherheit-innerbetriebliche-emissionen-larm"/>
  <form.input @identifier="arbeitssicherheit-innerbetriebliche-emissionen-nachweis"/>
  <form.input @identifier="arbeitssicherheit-betriebseinrichtungen-arbeitsmittel">
    <h4>
      Betriebseinrichtungen
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-betriebseinrichtungen-produktionsanlagen"/>
  <form.input @identifier="arbeitssicherheit-betriebseinrichtungen-aufstellungsplan"/>
  <form.input @identifier="arbeitssicherheit-betriebseinrichtungen-ergonomie"/>
  <form.input @identifier="arbeitssicherheit-gesundheitsschadliche-stoffe-auflistung">
    <h4>
      Gesundheitsschädliche, ätzende, brand- oder explosionsgefährliche Stoffe
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-gesundheitsschadliche-stoffe-verwendung"/>
  <form.input @identifier="arbeitssicherheit-gesundheitsschadliche-stoffe-uberwachung"/>
  <form.input @identifier="arbeitssicherheit-gesundheitsschadliche-stoffe-ex-zonen"/>
  <form.input @identifier="arbeitssicherheit-gesundheitsschadliche-stoffe-ort-menge-luftung"/>
  <form.input @identifier="arbeitssicherheit-schweissanlagen-art">
    <h4>
      Schweissanlagen
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-schweissanlagen-abschirmung"/>
  <form.input @identifier="arbeitssicherheit-schweissanlagen-absaugung"/>
  <form.input @identifier="arbeitssicherheit-forderanlagen-aufzuge">
    <h4>
      Förderanlagen, Fördermittel
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-forderanlagen-krane"/>
  <form.input @identifier="arbeitssicherheit-forderanlagen-hebebuhnen"/>
  <form.input @identifier="arbeitssicherheit-forderanlagen-anpassrampen"/>
  <form.input @identifier="arbeitssicherheit-forderanlagen-fordereinrichtungen"/>
  <form.input @identifier="arbeitssicherheit-forderanlagen-stapeleinrichtungen"/>
  <form.input @identifier="arbeitssicherheit-lager-gefrierraume">
    <h4>
      Lager und Lagereinrichtungen
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-lager-silos"/>
  <form.input @identifier="arbeitssicherheit-lager-lagersysteme"/>
  <form.input @identifier="arbeitssicherheit-lager-chemikalien"/>
  <form.input @identifier="arbeitssicherheit-oberflachenbehandlungsanlagen-vorbehandeln">
    <h4>
      Oberflächenbehandlungsanlagen
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-oberflachenbehandlungsanlagen-galvanisieren"/>
  <form.input @identifier="arbeitssicherheit-oberflachenbehandlungsanlagen-farbspritzen"/>
  <form.input @identifier="arbeitssicherheit-oberflachenbehandlungsanlagen-pulverbeschichten"/>
  <form.input @identifier="arbeitssicherheit-sozialraume-anzahl">
    <h4>
      Sozialräume
    </h4>
  </form.input>
  <form.input @identifier="arbeitssicherheit-sozialraume-waschanlagen"/>
  <form.input @identifier="arbeitssicherheit-sozialraume-garderoben"/>
  <form.input @identifier="arbeitssicherheit-sozialraume-toiletten-duschen"/>
  <form.input @identifier="arbeitssicherheit-sozialraume-sanitare-anlagen"/>
  <form.input @identifier="arbeitssicherheit-sozialraume-ess-und-aufenthaltsraume"/>
  <form.input @identifier="arbeitssicherheit-sozialraume-pause-und-ruheraume"/>
</CamacForm>