@font-face {
  font-family: Frutiger;
  font-weight: 400;
  src: url("../fonts/FrutigerRomanRegular.woff") format("woff");
}

@font-face {
  font-family: Frutiger;
  font-weight: 700;
  src: url("../fonts/FrutigerRomanBold.woff") format("woff");
}
