.billing-table tfoot {
  .billing-table__divider:first-child {
    display: none;
  }

  tr:not(:nth-child(2), .billing-table__divider) td {
    padding-top: 0;
  }

  tr:not(:last-child, .billing-table__divider) td {
    padding-bottom: 0;
  }

  tr:last-child {
    text-decoration-line: underline;
    text-decoration-style: double;
  }
}
