.watermark {
  z-index: 9999;
  width: 150px;
  position: absolute;
  top: 15px;
  left: -45px;
  font-size: 1.2em;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
  transform: rotate(-45deg);
  background-color: #a9a9a9;
  text-transform: uppercase;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.so-navbar .watermark {
  left: -40px;
}

@media (max-width: $breakpoint-xsmall-max) {
  .so-navbar .watermark {
    font-size: 0.8em;
    line-height: 20px;
    top: 12px;
    left: -53px;
  }
}
