<h2 class="uk-text-center uk-margin-large-bottom">
  Technischer Support
</h2>

<div class="uk-width-1-1 uk-flex uk-flex-center">
  <div uk-grid class="uk-width-1-1 uk-width-1-2@l">
    <div class="uk-width-1-2">
      <a href="mailto:servicedesk@bedag.ch" class="uk-flex uk-flex-column uk-background-muted uk-padding uk-text-center uk-link-reset">
        {{uk-icon "mail" ratio=3 class="uk-margin"}}
        servicedesk@bedag.ch
      </a>
    </div>
    <div class="uk-width-1-2">
      <a href="tel:+41313067254" class="uk-flex uk-flex-column uk-background-muted uk-padding uk-text-center uk-link-reset">
        {{uk-icon "receiver" ratio=3 class="uk-margin"}}
        031 306 72 54
      </a>
    </div>
    <div class="uk-width-1-1">
      <div class="uk-text-meta uk-text-center">
        Für fachliche Fragen wenden Sie sich bitte an die zuständige Gemeinde.
      </div>
    </div>
  </div>
</div>