{{#unless @hide}}
  <div class="uk-flex uk-flex-top" ...attributes>
    {{#if this.iconOptions}}
      <div class="dossier-import__icon-box uk-flex-none">
        <div
          uk-icon={{this.iconOptions}}
          class="dossier-import__icon dossier-import__icon--{{@status}}"
        ></div>
      </div>
    {{/if}}
    <div class="white-space-pre-wrap">{{@content}}</div>
  </div>
{{/unless}}
