{{page-title (t "global.page-title")}}
<main class={{if (is-application "so") "fill"}}>
  {{#if (is-application "so")}}
    <SoNavbar />
  {{else}}
    <BeNavbar />
  {{/if}}
  <section class="uk-container uk-container-large uk-padding">{{outlet}}</section>
</main>
{{#if (is-application "so")}}
  <SoFooter />
{{/if}}