{{page-title (t (concat "global.page-title-" (application-name)))}}
<main>
  <BeNavbar />
  <section class="uk-padding {{if (is-application 'ur') 'uk-container uk-padding-remove-horizontal'}}">{{outlet}}</section>
</main>